<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
  <!-- <div class="app-container"> -->
    <el-form :model="dataForm" ref="dataForm" label-width="190px">
    <el-form-item label="講座名:" prop="courseTitle">
        <div class="detail-div-line" >{{dataForm.courseTitle}}</div>
    </el-form-item>
    <el-form-item label="所属グループ名:" prop="groupName">
        <div class="detail-div-line" >{{dataForm.groupName}}</div>
    </el-form-item>
    <el-form-item label="講座画像:" prop="courseImagePath" v-if="loginGroupType ==='1'">
        <div class="detail-div-line" >{{dataForm.courseImagePath}}</div>
    </el-form-item>
    <!-- <el-form-item label="AWS S3 BUCKET名:" prop="courseS3BucketName" v-if="loginGroupType ==='1'">
        <div class="detail-div-line" >{{dataForm.courseS3BucketName}}</div>
    </el-form-item>
    <el-form-item label="AWS S3 オブジェクトキー:" prop="courseS3ObjectKey" v-if="loginGroupType ==='1'">
        <div class="detail-div-line" >{{dataForm.courseS3ObjectKey}}</div>
    </el-form-item> -->
    <!-- <el-form-item label="講座類別:" prop="courseType">
      <el-select v-model="dataForm.courseType" placeholder="選択してください">
        <el-option
          v-for="item in optionsType"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <el-input v-model="dataForm.courseType" placeholder="講座類別"></el-input>
    </el-form-item> -->
    <el-form-item label="講座類別:" prop="courseType">
      <el-tag v-if="dataForm.courseType === '00'" size="small" type="primary">類別無し</el-tag>
      <el-tag v-if="dataForm.courseType === '01'" size="small" type="primary">文化</el-tag>
      <el-tag v-if="dataForm.courseType === '02'" size="small" type="primary">福祉</el-tag>
      <el-tag v-if="dataForm.courseType === '03'" size="small" type="primary">教育</el-tag>
    </el-form-item>
    <!-- <el-form-item v-if="dataForm.courseType === '01'" label="講座類別:" prop="courseType">
      文化
    </el-form-item>
    <el-form-item v-if="dataForm.courseType === '02'" label="講座類別:" prop="courseType">
      福祉
    </el-form-item>
    <el-form-item v-if="dataForm.courseType === '03'" label="講座類別:" prop="courseType">
      教育
    </el-form-item> -->
    <!-- <el-form-item label="講座タグ:" prop="courseTag">
      <el-select v-model="dataForm.courseTag" placeholder="選択してください">
        <el-option
          v-for="item in optionsTag"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <el-input v-model="dataForm.courseTag" placeholder="講座タグ"></el-input>
    </el-form-item> -->
    <el-form-item label="講座タグ:" prop="courseTag">
      <el-tag v-if="dataForm.courseTag === '00'" size="small" type="primary">タグ１</el-tag>
      <el-tag v-if="dataForm.courseTag === '01'" size="small" type="primary">タグ２</el-tag>
      <el-tag v-if="dataForm.courseTag === '02'" size="small" type="primary">タグ３</el-tag>
    </el-form-item>

    <el-form-item label="講座概要:" prop="courseOutline">
      <!-- <el-input v-model="dataForm.courseOutline" placeholder="講座概要" type="textarea" autosize　disabled></el-input> -->
      <div class="detail-div-line" >{{dataForm.courseOutline}}</div>
      <!-- <div class="detail-div-line" v-html="dataForm.courseOutline"></div>  -->
    </el-form-item>
    <el-form-item label="講座説明:" prop="courseDetail" >
      <div class="detail-div-line" >{{dataForm.courseDetail}}</div>
      <!-- <div class="detail-div-line" v-html="dataForm.courseDetail"></div>  -->
        <!-- <div>{{dataForm.courseDetail}}</div> -->
    </el-form-item>
    <!-- <el-form-item label="受講申請フラグ" prop="courseRegFlag">
      <el-radio-group v-model="dataForm.courseRegFlag">
        <el-radio label="0">要</el-radio>
        <el-radio label="1">不要</el-radio>
      </el-radio-group>
    </el-form-item> -->
    <el-form-item label="受講申請フラグ:" prop="courseRegFlag">
      <el-tag v-if="dataForm.courseRegFlag === '0'" size="small" type="primary">要</el-tag>
      <el-tag v-if="dataForm.courseRegFlag === '1'" size="small" type="danger">不要</el-tag>
    </el-form-item>

    <el-form-item label="講座ステータス:" prop="courseStatus">
      <el-tag v-if="dataForm.courseStatus === '0'" size="small" type="primary">公開</el-tag>
      <el-tag v-if="dataForm.courseStatus === '1'" size="small" type="danger">非公開</el-tag>
    </el-form-item>
    <el-form-item label="公開開始日時:" prop="openStartTime" v-if="loginGroupType ==='1'">
        {{dataForm.openStartTime}}
    </el-form-item>
    <el-form-item label="公開終了日時:" prop="openEndTime" v-if="loginGroupType ==='1'">
        {{dataForm.openEndTime}}
    </el-form-item>
    <!-- <el-form-item label="作成者:" prop="createUserId">
        {{dataForm.createUserId}}
    </el-form-item> -->
    <el-form-item label="作成日時:" prop="createTime">
        {{dataForm.createTime}}
    </el-form-item>
    <hr>
    <el-form-item label="タイトル:" prop="certificateTitle">
        {{dataForm.certificateTitle}}
    </el-form-item>
    <el-form-item label="本文:" prop="certificateContent">
        {{dataForm.certificateContent}}
    </el-form-item>
    <el-form-item label="発行機関名:" prop="issuerName">
        {{dataForm.issuerName}}
    </el-form-item>
    <el-form-item label="発行機関サブ名:" prop="issuerNameSub">
        {{dataForm.issuerNameSub}}
    </el-form-item>
    <el-form-item label="発行機関責任者肩書:" prop="issuerResponsiblePartyTitle">
        {{dataForm.issuerResponsiblePartyTitle}}
    </el-form-item>
    <el-form-item label="発行機関責任者名:" prop="issuerResponsiblePartyName">
        {{dataForm.issuerResponsiblePartyName}}
    </el-form-item>
    <el-form-item label="終了証テンプレートPATH:" prop="certificateTemplatePath" v-if="loginGroupType ==='1'">
        {{dataForm.certificateTemplatePath}}
    </el-form-item>
    <!-- <el-form-item label="予備１:" prop="reserve1">
        {{dataForm.reserve1}}
    </el-form-item>
    <el-form-item label="予備２:" prop="reserve2">
        {{dataForm.reserve2}}
    </el-form-item>
    <el-form-item label="予備３:" prop="reserve3">
        {{dataForm.reserve3}}
    </el-form-item>
    <el-form-item label="予備４:" prop="reserve4">
        {{dataForm.reserve4}}
    </el-form-item>
    <el-form-item label="予備５:" prop="reserve5">
        {{dataForm.reserve5}}
    </el-form-item>
    <el-form-item label="予備６:" prop="reserve6">
        {{dataForm.reserve6}}
    </el-form-item> -->

    </el-form>
    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span> -->
  <!-- </div> -->
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loginGroupType: '',
        dataForm: {
          courseId: 0,
          courseTitle: '',
          courseImagePath: '',
          // courseS3BucketName: '',
          // courseS3ObjectKey: '',
          courseType: '',
          courseTag: '',
          courseOutline: '',
          courseDetail: '',
          courseRegFlag: '',
          courseStatus: '',
          openStartTime: '',
          openEndTime: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: '',
          groupName: '',
          courseCertificateTemplateId: '',
          certificateTitle: '',
          certificateContent: '',
          issuerName: '',
          issuerNameSub: '',
          issuerResponsiblePartyTitle: '',
          issuerResponsiblePartyName: '',
          certificateTemplatePath: ''
          // reserve1: '',
          // reserve2: '',
          // reserve3: '',
          // reserve4: '',
          // reserve5: '',
          // reserve6: ''
          // versionNo: '',
          // delFlag: ''
        },
        optionsType: [{
          value: '00',
          label: '類別無し'
        }, {
          value: '01',
          label: '文化'
        }, {
          value: '02',
          label: '福祉'
        }, {
          value: '03',
          label: '教育'
        }],
        optionsTag: [{
          value: '00',
          label: 'タグ１'
        }, {
          value: '01',
          label: 'タグ2'
        }, {
          value: '02',
          label: 'タグ3'
        }]
      }
    },
    methods: {
      init (id) {
        this.loginGroupType = this.$store.state.user.loginGroupType
        this.dataForm.courseId = id || 0
        this.visible = true
        this.$nextTick(() => {
          if (this.dataForm.courseId) {
            this.$http({
              url: this.$http.adornUrl(`/service/course/info/${this.dataForm.courseId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.courseTitle = data.course.courseTitle
                this.dataForm.courseImagePath = data.course.courseImagePath
                // this.dataForm.courseS3BucketName = data.course.courseS3BucketName
                // this.dataForm.courseS3ObjectKey = data.course.courseS3ObjectKey
                this.dataForm.courseType = data.course.courseType
                this.dataForm.courseTag = data.course.courseTag
                this.dataForm.courseOutline = data.course.courseOutline
                this.dataForm.courseDetail = data.course.courseDetail
                this.dataForm.courseRegFlag = data.course.courseRegFlag
                this.dataForm.courseStatus = data.course.courseStatus
                this.dataForm.openStartTime = data.course.openStartTime
                this.dataForm.openEndTime = data.course.openEndTime
                this.dataForm.createUserId = data.course.createUserId
                this.dataForm.createTime = data.course.createTime
                this.dataForm.updateUserId = data.course.updateUserId
                this.dataForm.updateTime = data.course.updateTime
                this.dataForm.groupName = data.course.groupName
                this.dataForm.courseCertificateTemplateId = data.course.courseCertificateTemplateId
                this.dataForm.certificateTitle = data.course.certificateTitle
                this.dataForm.certificateContent = data.course.certificateContent
                this.dataForm.issuerName = data.course.issuerName
                this.dataForm.issuerNameSub = data.course.issuerNameSub
                this.dataForm.issuerResponsiblePartyTitle = data.course.issuerResponsiblePartyTitle
                this.dataForm.issuerResponsiblePartyName = data.course.issuerResponsiblePartyName
                this.dataForm.certificateTemplatePath = data.course.certificateTemplatePath
                // this.dataForm.reserve1 = data.course.reserve1
                // this.dataForm.reserve2 = data.course.reserve2
                // this.dataForm.reserve3 = data.course.reserve3
                // this.dataForm.reserve4 = data.course.reserve4
                // this.dataForm.reserve5 = data.course.reserve5
                // this.dataForm.reserve6 = data.course.reserve6
                // this.dataForm.versionNo = data.course.versionNo
                // this.dataForm.delFlag = data.course.delFlag
              }
            })
          }
        })
      }
    }
  }
</script>
