<template>
<div class="mod-config">
  <el-form :inline="true" :model="dataForm" >
    <el-row>
      <el-col :span=8>
        <el-form-item label="講座ID">
          <el-input v-model="dataForm.courseId" placeholder="講座ID" size="mini"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span=8>
        <el-form-item label="講座名">
         <el-input v-model="dataForm.courseName" placeholder="講座名" size="mini"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span=8>
        <el-form-item>
        <el-button @click="getDataList()">検索</el-button>
      </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <!-- <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle" style="width: 100%;"> -->
  <el-table :data="dataList" border v-loading="dataListLoading" style="width: 100%;">
    <el-table-column type="index" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="groupId" header-align="center" align="center" label="クラスID">
    </el-table-column>
    <el-table-column prop="groupName" header-align="center" align="center" label="クラス名">
    </el-table-column>
    <el-table-column prop="courseId" header-align="center" align="center" label="講座ID">
    </el-table-column>
    <el-table-column prop="courseTitle" header-align="center" align="center" label="講座名">
    </el-table-column>
    <el-table-column prop="studyStatus" header-align="center" align="center" label="受講状態">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.studyStatus === '0'" size="small" type="primary">受講申請中</el-tag>
        <el-tag v-if="scope.row.studyStatus === '1'" size="small" type="primary">受講申請承認済</el-tag>
        <el-tag v-if="scope.row.studyStatus === '2'" size="small" type="primary">受講中</el-tag>
        <el-tag v-if="scope.row.studyStatus === '3'" size="small" type="primary">受講終了 </el-tag>
        <el-tag v-if="scope.row.studyStatus === '4'" size="small" type="primary">受講申請拒否 </el-tag>
        <el-tag v-if="scope.row.studyStatus === '5'" size="small" type="primary">キャンセル申請中 </el-tag>
        <el-tag v-if="scope.row.studyStatus === '6'" size="small" type="primary">キャンセル承認済 </el-tag>
      </template>
    </el-table-column>
    <el-table-column prop="studyCount" header-align="center" align="center" label="受講者数">
    </el-table-column>
    <el-table-column prop="studyCountAll" header-align="center" align="center" label="受講者総数">
    </el-table-column>
    <el-table-column prop="studyCountPercent" header-align="center" align="center" label="受講者総数の割合">
        <template slot-scope="props">
            {{ props.row.studyCountPercent | toPercent }}
        </template>
    </el-table-column>
    <!-- <el-table-column fixed="right" header-align="center" align="center" width="150" label="詳細確認">
      <template slot-scope="scope">
        <el-button type="text" size="small" @click="toTextBootStatInfo(scope.row)">詳細へ</el-button>
      </template>
    </el-table-column> -->
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
</div>
</template>

<script>
export default {
  data () {
    return {
      dataForm: {
        courseId: '',
        courseName: ''
      },
      optionsType: [{
        value: '0',
        label: '新規講座開講のお知らせ'
      }, {
        value: '1',
        label: '講座内容の訂正'
      }, {
        value: '2',
        label: '講座内容の追加'
      }, {
        value: '3',
        label: '講座内容の削除'
      }],
      optionStatus: [{
        value: '0',
        label: '公開'
      },
      {
        value: '1',
        label: '非公開'
      }
      ],
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false
    }
  },
  activated () {
    this.getDataList()
  },
  filters: {
    toPercent (point) {
      var str = Number(point * 100).toFixed(2)
      str += '%'
      return str
    }
  },
  methods: {
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/studentcoursemanage/stalist'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'courseId': this.dataForm.courseId,
          'courseName': this.dataForm.courseName
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    toTextBootStatInfo (row) {
      this.$router.push(
        {
          name: 'textbook-stat-info',
          query:
          {
            data: row
          }
        })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    }
  }
}
</script>
