<template>
  <el-dialog
    :title="!dataForm.courseId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="190px">
    <el-form-item label="講座名" prop="courseTitle">
      <el-input v-model="dataForm.courseTitle" placeholder="講座名" maxlength="50" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="講座画像" prop="courseImagePath">
      <el-input v-model="dataForm.courseImagePath" placeholder="講座画像" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <!-- <el-form-item label="AWS S3 BUCKET名" prop="courseS3BucketName">
      <el-input v-model="dataForm.courseS3BucketName" placeholder="AWS S3 BUCKET名" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="AWS S3 オブジェクトキー" prop="courseS3ObjectKey">
      <el-input v-model="dataForm.courseS3ObjectKey" placeholder="AWS S3 オブジェクトキー" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item> -->
    <el-form-item label="講座類別" prop="courseType">
      <el-select v-model="dataForm.courseType" placeholder="選択してください">
        <el-option
          v-for="item in optionsType"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- <el-input v-model="dataForm.courseType" placeholder="講座類別"></el-input> -->
    </el-form-item>
    <!-- <el-form-item label="講座タグ" prop="courseTag">
      <el-select v-model="dataForm.courseTag" placeholder="選択してください" clearable>
        <el-option
          v-for="item in optionsTag"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <el-input v-model="dataForm.courseTag" placeholder="講座タグ"></el-input>
    </el-form-item> -->
    <el-form-item label="講座概要" prop="courseOutline">
      <!-- <Ueditor @ready="editorReady1" v-if='visible'/> -->
      <el-input v-model="dataForm.courseOutline" placeholder="講座概要" type="textarea" autosize maxlength="500" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="講座説明" prop="courseDetail">
      <!-- <Ueditor @ready="editorReady2" v-if='visible'/> -->
      <el-input v-model="dataForm.courseDetail" placeholder="講座説明" type="textarea" autosize maxlength="1000" show-word-limit></el-input>
    </el-form-item>
    <el-row>
      <el-col :span="8">
        <el-form-item label="講座期間" prop="openStartTime">
          <el-date-picker
            v-model="dataForm.openStartTime"
            type="date"
            placeholder="講座公開開始日付"
            value-format="yyyy-MM-dd"
            size="10"
            :picker-options="pickerOptionsBefore">
          </el-date-picker>
        </el-form-item>
      </el-col>
      <el-col :span="1">
        <el-form-item>
          ～
        </el-form-item>
     </el-col>
      <el-col :span="8">
        <el-form-item label="" prop="openEndTime">
          <el-date-picker
            v-model="dataForm.openEndTime"
            type="date"
            placeholder="講座公開終了日付"
            value-format="yyyy-MM-dd"
            size="10"
            :picker-options="pickerOptionsAfter">
          </el-date-picker>
      </el-form-item>
    </el-col>
   </el-row>
    <el-form-item label="受講申請フラグ" prop="courseRegFlag">
      <el-radio-group v-model="dataForm.courseRegFlag">
        <el-radio label="0">要</el-radio>
        <el-radio label="1">不要</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="講座ステータス" prop="courseStatus">
      <el-radio-group v-model="dataForm.courseStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
    </el-form-item>
    <hr>
    <el-form-item label="タイトル" prop="certificateTitle">
      <el-input v-model="dataForm.certificateTitle" placeholder="タイトル"></el-input>
    </el-form-item>
    <el-form-item label="本文" prop="certificateContent">
      <el-input v-model="dataForm.certificateContent" placeholder="本文" type="textarea" autosize maxlength="256" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="発行機関名" prop="issuerName">
      <el-input v-model="dataForm.issuerName" placeholder="発行機関名"></el-input>
    </el-form-item>
    <el-form-item label="発行機関サブ名" prop="issuerNameSub">
      <el-input v-model="dataForm.issuerNameSub" placeholder="発行機関サブ名"></el-input>
    </el-form-item>
    <el-form-item label="発行機関責任者肩書" prop="issuerResponsiblePartyTitle">
      <el-input v-model="dataForm.issuerResponsiblePartyTitle" placeholder="発行機関責任者肩書"></el-input>
    </el-form-item>
    <el-form-item label="発行機関責任者名" prop="issuerResponsiblePartyName">
      <el-input v-model="dataForm.issuerResponsiblePartyName" placeholder="発行機関責任者名"></el-input>
    </el-form-item>
    <el-form-item label="終了証テンプレートPATH" prop="certificateTemplatePath">
      <el-input v-model="dataForm.certificateTemplatePath" placeholder="/s3/sample_path/sample_template.pdf"></el-input>
    </el-form-item>
    <!-- <el-form-item label="予備１" prop="reserve1">
      <el-input v-model="dataForm.reserve1" placeholder="予備１"></el-input>
    </el-form-item>
    <el-form-item label="予備２" prop="reserve2">
      <el-input v-model="dataForm.reserve2" placeholder="予備２"></el-input>
    </el-form-item>
    <el-form-item label="予備３" prop="reserve3">
      <el-input v-model="dataForm.reserve3" placeholder="予備３"></el-input>
    </el-form-item>
    <el-form-item label="予備４" prop="reserve4">
      <el-input v-model="dataForm.reserve4" placeholder="予備４"></el-input>
    </el-form-item>
    <el-form-item label="予備５" prop="reserve5">
      <el-input v-model="dataForm.reserve5" placeholder="予備５"></el-input>
    </el-form-item>
    <el-form-item label="予備６" prop="reserve6">
      <el-input v-model="dataForm.reserve6" placeholder="予備６"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="公開開始日時" prop="openStartTime">
      <el-input v-model="dataForm.openStartTime" placeholder="公開開始日時"></el-input>
    </el-form-item>
    <el-form-item label="公開終了日時" prop="openEndTime">
      <el-input v-model="dataForm.openEndTime" placeholder="公開終了日時"></el-input>
    </el-form-item>
    <el-form-item label="作成者" prop="createUserId">
      <el-input v-model="dataForm.createUserId" placeholder="作成者"></el-input>
    </el-form-item>
    <el-form-item label="作成日時" prop="createTime">
      <el-input v-model="dataForm.createTime" placeholder="作成日時"></el-input>
    </el-form-item>
    <el-form-item label="更新者" prop="updateUserId">
      <el-input v-model="dataForm.updateUserId" placeholder="更新者"></el-input>
    </el-form-item>
    <el-form-item label="更新日時" prop="updateTime">
      <el-input v-model="dataForm.updateTime" placeholder="更新日時"></el-input>
    </el-form-item>
    <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <!-- <el-dialog  :visible.sync="richEditor.dialogVisible"  append-to-body :close-on-click-modal="false" style="width: 100%;height: 100%"   :show-close="false" center>
      <Ueditor @ready="editorReady"/>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="editorConfirm">确 定</el-button>
        <el-button @click="richEditor.dialogVisible = false">取 消</el-button>
      </span>
    </el-dialog> -->
    <span slot="footer" class="dialog-footer">
      <el-button @click="courseReturn()" >キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import Ueditor from '../../demo/ueditor'
  import moment from 'moment'
  export default {
    components: {
      Ueditor
    },
    data () {
      return {
        visible: false,
        dataForm: {
          courseId: 0,
          courseTitle: '',
          courseImagePath: '',
          // courseS3BucketName: '',
          // courseS3ObjectKey: '',
          courseType: '',
          courseTag: '',
          courseOutline: '',
          courseDetail: '',
          courseRegFlag: '0',
          courseStatus: '0',
          openStartTime: '',
          openEndTime: '',
          courseCertificateTemplateId: '',
          certificateTitle: '',
          certificateContent: '',
          issuerName: '',
          issuerNameSub: '',
          issuerResponsiblePartyTitle: '',
          issuerResponsiblePartyName: '',
          certificateTemplatePath: ''
          // createUserId: ''
          // createTime: '',
          // updateUserId: '',
          // updateTime: '',
          // versionNo: '',
          // delFlag: ''
        },
        optionsType: [{
          value: '00',
          label: '類別無し'
        }, {
          value: '01',
          label: '文化'
        }, {
          value: '02',
          label: '福祉'
        }, {
          value: '03',
          label: '教育'
        }],
        optionsTag: [{
          value: '00',
          label: 'タグ１'
        }, {
          value: '01',
          label: 'タグ2'
        }, {
          value: '02',
          label: 'タグ3'
        }],
        dataRule: {
          courseTitle: [
            { required: true, message: '講座名を入力してください', trigger: 'blur' }
          ],
          // courseImagePath: [
          //   { required: true, message: '講座画像を入力してください', trigger: 'blur' }
          // ],
          // courseS3BucketName: [
          //   { required: true, message: 'AWS S3 BUCKET名不能为空', trigger: 'blur' }
          // ],
          // courseS3ObjectKey: [
          //   { required: true, message: 'AWS S3 オブジェクトキー不能为空', trigger: 'blur' }
          // ],
          courseType: [
            { required: true, message: '講座類別を選択してください', trigger: 'blur' }
          ],
          // courseTag: [
          //   { required: true, message: '講座タグを選択してください', trigger: 'blur' }
          // ],
          // courseOutline: [
          //   { required: true, message: '講座概要を入力してください', trigger: 'blur' }
          // ],
          // courseDetail: [
          //   { required: true, message: '講座説明を入力してください', trigger: 'blur' }
          // ],
          courseRegFlag: [
            { required: true, message: '受講申請フラグを選択してください', trigger: 'blur' }
          ],
          courseStatus: [
            { required: true, message: '講座ステータスを選択してください', trigger: 'blur' }
          ],
          openStartTime: [
            { required: true, message: '公開開始日時不能为空', trigger: 'blur' }
          ],
          openEndTime: [
            { required: true, message: '公開終了日時不能为空', trigger: 'blur' }
          ]
          // createUserId: [
          //   { required: true, message: '作成者不能为空', trigger: 'blur' }
          // ],
          // createTime: [
          //   { required: true, message: '作成日時不能为空', trigger: 'blur' }
          // ],
          // updateUserId: [
          //   { required: true, message: '更新者不能为空', trigger: 'blur' }
          // ],
          // updateTime: [
          //   { required: true, message: '更新日時不能为空', trigger: 'blur' }
          // ],
          // versionNo: [
          //   { required: true, message: 'バージョン番号不能为空', trigger: 'blur' }
          // ],
          // delFlag: [
          //   { required: true, message: '削除フラグ不能为空', trigger: 'blur' }
          // ]
        },
        // 结束时间不能大于开始时间
        pickerOptionsBefore: {
          disabledDate: (time) => {
            if (this.dataForm.openEndTime) {
              return time.getTime() > new Date(this.dataForm.openEndTime).getTime() || time.getTime() < Date.now() - 8.64e7
            } else {
              // 还没有选择结束时间的时候，让他只能选择今天之后的时间包括今天
              return time.getTime() < Date.now() - 8.64e7
            }
          }
        },
        pickerOptionsAfter: {
          disabledDate: (time) => {
            if (this.dataForm.openStartTime) {
              // 可以选择同一天
              return time.getTime() < new Date(this.dataForm.openStartTime).getTime()
            } else {
              return time.getTime() < Date.now()
            }
          }
        }
        // richEditor1: {
        //   instance: null
        // },
        // richEditor2: {
        //   instance: null
        // }
      }
    },
    created () {
      this.dataForm.openStartTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
      // let sysDate = new Date()
      // sysDate.setMonth(sysDate.getMonth() + 3)
      this.dataForm.openEndTime = moment((new Date()).setMonth((new Date()).getMonth() + 3)).format('YYYY-MM-DD HH:mm:ss')
    },
    methods: {
      // editorReady1 (instance) {
      //   this.richEditor1.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   console.log(this.dataForm.courseOutline)
      //   this.richEditor1.instance.setContent(this.dataForm.courseOutline)
      // },
      // editorReady2 (instance) {
      //   this.richEditor2.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   this.richEditor2.instance.setContent(this.dataForm.courseDetail)
      // },
      courseReturn () {
        // this.$options.methods.removeTextArea()
        this.visible = false
      },
      // handleClose (done) {
      //   this.$options.methods.removeTextArea()
      //   done()
      // },
      // removeTextArea () {
      //   let editorTextArea = document.getElementsByName('editorValue')
      //   let length = editorTextArea.length
      //   for (let i = 0; i < length; i++) {
      //     document.getElementsByName('editorValue')[0].remove()
      //   }
      // },
      // inputClick (object, parameterName) {
      //   this.richEditor.object = object
      //   this.richEditor.parameterName = parameterName
      //   this.richEditor.dialogVisible = true
      // },
      // editorConfirm () {
      //   let content = this.richEditor.instance.getContent()
      //   this.richEditor.object[this.richEditor.parameterName] = content
      //   // this.dataForm.courseOutline = content
      //   // this.dataForm.courseOutline = this.richEditor.instance.getContentTxt()
      //   this.richEditor.dialogVisible = false
      // },
      init (id) {
        this.dataForm.courseId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.courseId) {
            this.$http({
              url: this.$http.adornUrl(`/service/course/info/${this.dataForm.courseId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.courseTitle = data.course.courseTitle
                this.dataForm.courseImagePath = data.course.courseImagePath
                // this.dataForm.courseS3BucketName = data.course.courseS3BucketName
                // this.dataForm.courseS3ObjectKey = data.course.courseS3ObjectKey
                this.dataForm.courseType = data.course.courseType
                this.dataForm.courseTag = data.course.courseTag
                this.dataForm.courseOutline = data.course.courseOutline
                this.dataForm.courseDetail = data.course.courseDetail
                this.dataForm.courseRegFlag = data.course.courseRegFlag
                this.dataForm.courseStatus = data.course.courseStatus
                this.dataForm.openStartTime = data.course.openStartTime
                this.dataForm.openEndTime = data.course.openEndTime
                this.dataForm.courseCertificateTemplateId = data.course.courseCertificateTemplateId
                this.dataForm.certificateTitle = data.course.certificateTitle
                this.dataForm.certificateContent = data.course.certificateContent
                this.dataForm.issuerName = data.course.issuerName
                this.dataForm.issuerNameSub = data.course.issuerNameSub
                this.dataForm.issuerResponsiblePartyTitle = data.course.issuerResponsiblePartyTitle
                this.dataForm.issuerResponsiblePartyName = data.course.issuerResponsiblePartyName
                this.dataForm.certificateTemplatePath = data.course.certificateTemplatePath
                // this.dataForm.createUserId = data.course.createUserId
                // this.dataForm.createTime = data.course.createTime
                // this.dataForm.updateUserId = data.course.updateUserId
                // this.dataForm.updateTime = data.course.updateTime
                // this.dataForm.versionNo = data.course.versionNo
                // this.dataForm.delFlag = data.course.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        // this.dataForm.courseOutline = this.richEditor1.instance.getContent()
        // this.dataForm.courseDetail = this.richEditor2.instance.getContent()
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/course/${!this.dataForm.courseId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'courseId': this.dataForm.courseId || undefined,
                'courseTitle': this.dataForm.courseTitle,
                'courseImagePath': this.dataForm.courseImagePath,
                'courseType': this.dataForm.courseType,
                'courseTag': this.dataForm.courseTag,
                'courseOutline': this.dataForm.courseOutline,
                'courseDetail': this.dataForm.courseDetail,
                'courseRegFlag': this.dataForm.courseRegFlag,
                'courseStatus': this.dataForm.courseStatus,
                'openStartTime': this.dataForm.openStartTime,
                'openEndTime': this.dataForm.openEndTime,
                'courseCertificateTemplateId': this.dataForm.courseCertificateTemplateId,
                'certificateTitle': this.dataForm.certificateTitle,
                'certificateContent': this.dataForm.certificateContent,
                'issuerName': this.dataForm.issuerName,
                'issuerNameSub': this.dataForm.issuerNameSub,
                'issuerResponsiblePartyTitle': this.dataForm.issuerResponsiblePartyTitle,
                'issuerResponsiblePartyName': this.dataForm.issuerResponsiblePartyName,
                'certificateTemplatePath': this.dataForm.certificateTemplatePath
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作は成功しました。',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    // this.$options.methods.removeTextArea()
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
