<template>
<div class="mod-config">
  <el-form :inline="true" :model="dataForm" >
    <el-row>
      <el-col :span=8>
        <el-form-item label="インフォメーション件名">
          <el-input v-model="dataForm.infoName" placeholder="インフォメーション件名" size="mini"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span=8>
        <el-form-item label="インフォメーション種別">
          <el-select v-model="dataForm.infoType" placeholder="選択してください" clearable size="mini">
            <el-option v-for="item in optionsType" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span=8>
        <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('service:courseinfo:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button>
        <el-button v-if="isAuth('service:courseinfo:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle" style="width: 100%;">
    <el-table-column type="selection" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="infoId" header-align="center" align="center" label="ID">
    </el-table-column>
    <el-table-column prop="courseId" header-align="center" align="center" label="対象講座Id">
    </el-table-column>
   <!-- <el-table-column prop="courseName" header-align="center" align="center" label="対象講座名">
    </el-table-column> -->
    <el-table-column prop="infoType" header-align="center" align="center" label="種別">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.infoType === '0'" size="small" type="primary">新規講座開講のお知らせ</el-tag>
        <el-tag v-if="scope.row.infoType === '1'" size="small" type="primary">講座内容の訂正</el-tag>
        <el-tag v-if="scope.row.infoType === '2'" size="small" type="primary">講座内容の追加</el-tag>
        <el-tag v-if="scope.row.infoType === '3'" size="small" type="primary">講座内容の削除</el-tag>
      </template>
    </el-table-column>
    <el-table-column prop="infoName" header-align="center" align="center" label="件名">
    </el-table-column>
    <el-table-column prop="infoStatus" header-align="center" align="center" label="状態">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.infoStatus === '1'" size="small" type="danger">非公開</el-tag>
        <el-tag v-else size="small">公開</el-tag>
      </template>
    </el-table-column>
    <el-table-column prop="openStartTime" header-align="center" align="center" label="公開日時">
    </el-table-column>
    <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
      <template slot-scope="scope">
        <el-button type="text" size="small" @click="addOrUpdateHandle(scope.row.infoId)">変更</el-button>
        <el-button type="text" size="small" @click="deleteHandle(scope.row.infoId)">削除</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
</div>
</template>

<script>
import AddOrUpdate from './courseinfo-add-or-update'
export default {
  data () {
    return {
      dataForm: {
        infoType: '',
        courseId: '',
        courseName: '',
        infoId: '',
        infoName: '',
        infoStatus: '',
        openStartTime: ''
      },
      optionsType: [{
        value: '0',
        label: '新規講座開講のお知らせ'
      }, {
        value: '1',
        label: '講座内容の訂正'
      }, {
        value: '2',
        label: '講座内容の追加'
      }, {
        value: '3',
        label: '講座内容の削除'
      }],
      optionStatus: [{
        value: '0',
        label: '公開'
      },
      {
        value: '1',
        label: '非公開'
      }
      ],
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false
    }
  },
  components: {
    AddOrUpdate
  },
  activated () {
    this.getDataList()
  },
  methods: {
    getDataListSearch () {
      this.dataListLoading = true
      this.pageIndex = 1
      this.pageSize = 10
      this.getDataList()
    },
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/courseinfo/list'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'infoName': this.dataForm.infoName,
          'infoType': this.dataForm.infoType
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    },
    selectionChangeHandle (val) {
      this.dataListSelections = val
    },
    addOrUpdateHandle (id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs.addOrUpdate.init(id)
      })
    },
    deleteHandle (id) {
      var ids = id ? [id] : this.dataListSelections.map(item => {
        return item.infoId
      })
      this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
        confirmButtonText: '確定',
        cancelButtonText: 'キャンセル',
        type: 'warning'
      }).then(() => {
        this.$http({
          url: this.$http.adornUrl('/service/courseinfo/delete'),
          method: 'post',
          data: this.$http.adornData(ids, false)
        }).then(({ data }) => {
          if (data && data.code === 0) {
            this.$message({
              message: '操作は成功しました。',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.getDataList()
              }
            })
          } else {
            this.$message.error(data.msg)
          }
        })
      })
    }
  }
}
</script>
