<template>
<el-dialog :title="!dataForm.infoId ? '追加' : '変更'" :close-on-click-modal="false" :visible.sync="visible">
  <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="220px">
    <!-- <el-form-item label="対象講座" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID"></el-input>
    </el-form-item>  -->
    <el-form-item label="対象講座" prop="courseId">  
      <el-select v-model="dataForm.courseId" placeholder="選択してください" clearable filterable>
        <el-option
          v-for="item in courseSelect"
          :key="item.courseId"
          :label="item.courseTitle"
          :value="item.courseId">
        </el-option>  
      </el-select>
    </el-form-item>
    <el-form-item label="種別" prop="infoType">
      <el-select v-model="dataForm.infoType" placeholder="選択してください">
        <el-option v-for="item in optionsType" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="件名" prop="infoName">
      <el-input v-model="dataForm.infoName" placeholder="インフォメーション名"></el-input>
    </el-form-item>
    <el-form-item label="概要" prop="infoOverview">
      <el-input v-model="dataForm.infoOverview" placeholder="インフォメーション概要" type="textarea" autosize maxlength="1000" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="詳細" prop="infoDetail">
      <el-input v-model="dataForm.infoDetail" placeholder="インフォメーション詳細" type="textarea" autosize maxlength="1000" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="状態" prop="infoStatus">
      <el-radio-group v-model="dataForm.infoStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="メール送信有無" prop="sendMailFlag">
      <el-radio-group v-model="dataForm.sendMailFlag">
        <el-radio label="0">無</el-radio>
        <el-radio label="1">有</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="サイト内プッシュ通知有無" prop="sendMessageFlag">
      <el-radio-group v-model="dataForm.sendMailFlag">
        <el-radio label="0">無</el-radio>
        <el-radio label="1">有</el-radio>
      </el-radio-group>
    </el-form-item>

  </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="visible = false">キャンセル</el-button>
    <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
  </span>
</el-dialog>
</template>

<script>
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        infoId: 0,
        courseId: '',
        infoType: '',
        infoName: '',
        infoOverview: '',
        infoDetail: '',
        infoStatus: '0',
        sendMailFlag: '0',
        sendMessageFlag: '0',
        courseSelect: []
      },
      optionsType: [{
        value: '0',
        label: '新規講座開講のお知らせ'
      }, {
        value: '1',
        label: '講座内容の訂正'
      }, {
        value: '2',
        label: '講座内容の追加'
      }, {
        value: '3',
        label: '講座内容の削除'
      }],
      dataRule: {
        courseId: [
          { required: true, message: '講座IDを入力してください', trigger: 'blur' }
        ],
        infoType: [
          { required: true, message: 'インフォメーション種別を入力してください', trigger: 'blur' }
        ],
        infoName: [
          { required: true, message: 'インフォメーション件名を入力してください', trigger: 'blur' }
        ],
        infoOverview: [
          { required: false, message: 'インフォメーション概要を入力してください', trigger: 'blur' }
        ],
        infoDetail: [
          { required: true, message: 'インフォメーション詳細を入力してください', trigger: 'blur' }
        ],
        infoStatus: [
          { required: true, message: 'インフォメーションステータスを入力してください', trigger: 'blur' }
        ],
        sendMailFlag: [
          { required: true, message: 'メール送信有無を入力してください', trigger: 'blur' }
        ],
        sendMessageFlag: [
          { required: true, message: 'サイト内プッシュ通知有無を入力してください', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init (id) {
      this.dataForm.infoId = id || 0
      this.visible = true
      this.$http({
        url: this.$http.adornUrl(`/service/course/courseSelect`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.courseSelect = data.courseSelect
        } else {
          this.$message.error(data.msg)
        }
      })
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.infoId) {
          this.$http({
            url: this.$http.adornUrl(`/service/courseinfo/info/${this.dataForm.infoId}`),
            method: 'get',
            params: this.$http.adornParams()
          }).then(({ data }) => {
            if (data && data.code === 0) {
              this.dataForm.courseId = data.courseInfo.courseId
              this.dataForm.infoType = data.courseInfo.infoType
              this.dataForm.infoName = data.courseInfo.infoName
              this.dataForm.infoOverview = data.courseInfo.infoOverview
              this.dataForm.infoDetail = data.courseInfo.infoDetail
              this.dataForm.infoStatus = data.courseInfo.infoStatus
              this.dataForm.openStartTime = data.courseInfo.openStartTime
              this.dataForm.openEndTime = data.courseInfo.openEndTime
              this.dataForm.sendMailFlag = data.courseInfo.sendMailFlag
              this.dataForm.sendMessageFlag = data.courseInfo.sendMessageFlag
              this.dataForm.createUserId = data.courseInfo.createUserId
              this.dataForm.createTime = data.courseInfo.createTime
              this.dataForm.updateUserId = data.courseInfo.updateUserId
              this.dataForm.updateTime = data.courseInfo.updateTime
              this.dataForm.versionNo = data.courseInfo.versionNo
              this.dataForm.delFlag = data.courseInfo.delFlag
            }
          })
        }
      })
    },
    // 表单提交
    dataFormSubmit () {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.$http({
            url: this.$http.adornUrl(`/service/courseinfo/${!this.dataForm.infoId ? 'save' : 'update'}`),
            method: 'post',
            data: this.$http.adornData({
              'infoId': this.dataForm.infoId || undefined,
              'courseId': this.dataForm.courseId,
              'infoType': this.dataForm.infoType,
              'infoName': this.dataForm.infoName,
              'infoOverview': this.dataForm.infoOverview,
              'infoDetail': this.dataForm.infoDetail,
              'infoStatus': this.dataForm.infoStatus,
              'openStartTime': this.dataForm.openStartTime,
              'openEndTime': this.dataForm.openEndTime,
              'sendMailFlag': this.dataForm.sendMailFlag,
              'sendMessageFlag': this.dataForm.sendMessageFlag,
              'createUserId': this.dataForm.createUserId,
              'createTime': this.dataForm.createTime,
              'updateUserId': this.dataForm.updateUserId,
              'updateTime': this.dataForm.updateTime,
              'versionNo': this.dataForm.versionNo,
              'delFlag': this.dataForm.delFlag
            })
          }).then(({ data }) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.visible = false
                  this.$emit('refreshDataList')
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }
      })
    }
  }
}
</script>
