<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item>
        <el-input v-model="dataForm.courseName" placeholder="講座名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('service:course:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button>
        <el-button v-if="isAuth('service:course:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        >
      </el-table-column>
      <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID"
        width="70px">
      </el-table-column>
      <el-table-column
        prop="courseTitle"
        header-align="center"
        align="center"
        label="講座名"
      width="180px">
      </el-table-column>
      <el-table-column
        prop="groupName"
        header-align="center"
        align="center"
        label="所属グループ名">
      </el-table-column>
      <!-- <el-table-column
        prop="courseImagePath"
        header-align="center"
        align="center"
        label="講座画像PATH">
      </el-table-column>
      <el-table-column
        prop="courseS3BucketName"
        header-align="center"
        align="center"
        label="AWS S3 BUCKET名">
      </el-table-column>
      <el-table-column
        prop="courseS3ObjectKey"
        header-align="center"
        align="center"
        label="AWS S3 オブジェクトキー">
      </el-table-column> -->
      <el-table-column
        prop="courseType"
        header-align="center"
        align="center"
        label="講座類別"
        >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.courseType === '00'" size="small" type="primary">類別無し</el-tag>
          <el-tag v-if="scope.row.courseType === '01'" size="small" type="primary">文化</el-tag>          
          <el-tag v-if="scope.row.courseType === '02'" size="small" type="primary">福祉</el-tag>
          <el-tag v-if="scope.row.courseType === '03'" size="small" type="primary">教育</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="courseTag"
        header-align="center"
        align="center"
        label="講座タグ"
        >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.courseTag === '00'" size="small" type="primary">タグ１</el-tag>
          <el-tag v-if="scope.row.courseTag === '01'" size="small" type="primary">タグ２</el-tag>          
          <el-tag v-if="scope.row.courseTag === '02'" size="small" type="primary">タグ３</el-tag>
        </template>
      </el-table-column> -->
      <!-- <el-table-column
        prop="courseOutline"
        header-align="center"
        align="center"
        label="講座概要">
      </el-table-column>
      <el-table-column
        prop="courseDetail"
        header-align="center"
        align="center"
        label="講座説明">
      </el-table-column> -->
      <el-table-column
        prop="courseRegFlag"
        header-align="center"
        align="center"
        label="受講申請フラグ"
        >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.courseRegFlag === '1'" size="small" type="danger">不要</el-tag>
          <el-tag v-else size="small">要</el-tag>
        </template>
      </el-table-column> 
      <el-table-column
        prop="courseStatus"
        header-align="center"
        align="center"
        label="講座ステータス"
        >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.courseStatus === '1'" size="small" type="danger">非公開</el-tag>
          <el-tag v-else size="small">公開</el-tag>
        </template>
      </el-table-column>     
      <!-- <el-table-column
        v-if="courseStatus ==='0'"
        prop="openStartTime"
        header-align="center"
        align="center"
        label="公開開始日時">
      </el-table-column>
      <el-table-column
        v-if="courseStatus ==='1'"
        prop="openEndTime"
        header-align="center"
        align="center"
        label="公開終了日時">
      </el-table-column> -->
      <!-- <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者ID"
      >
      </el-table-column> -->
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時"
        >
      </el-table-column>
      <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column> -->
      <!-- <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="250px"
        label="操作">
        <template slot-scope="scope">
          <el-button v-if="isAuth('service:subject:list')" type="primary" size="small" @click="$router.push({ name: 'suject-page' ,query:{courseId:scope.row.courseId,courseTitle:scope.row.courseTitle}})">教科管理</el-button>
          <el-button type="text" size="small" @click="courseDetailHandle(scope.row.courseId)">詳細</el-button>
          <el-button v-if="isAuth('service:course:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.courseId)">変更</el-button>
          <el-button v-if="isAuth('service:course:delete')" type="text" size="small" @click="deleteHandle(scope.row.courseId)">削除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <course-detail v-if="courseDetailVisible" ref="courseDetail"></course-detail>

  </div>
</template>

<script>
  import AddOrUpdate from './course-add-or-update'
  import CourseDetail from './course-detail'
  export default {
    data () {
      return {
        dataForm: {
          courseName: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        courseDetailVisible: false,
        loginGroupId: '',
        loginGroupType: ''
      }
    },
    components: {
      AddOrUpdate,
      CourseDetail
    },
    activated () {
      this.getDataList()
    },
    created () {
      this.loginGroupType = this.$store.state.user.loginGroupType
      // this.$http({
      //   url: this.$http.adornUrl(`/service/usergroup/groupId`),
      //   method: 'get',
      //   params: this.$http.adornParams()
      // }).then(({data}) => {
      //   if (data && data.code === 0) {
      //     this.loginGroupId = data.groupId
      //     console.log(data.groupId)
      //   } else {
      //     this.$message.error(data.msg)
      //   }
      // })
    },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/course/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'courseName': this.dataForm.courseName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      addOrUpdateHandle (id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(id)
        })
      },
      courseDetailHandle (id) {
        this.courseDetailVisible = true
        this.$nextTick(() => {
          this.$refs.courseDetail.init(id)
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.courseId
        })
        this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/course/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      }
    }
  }
</script>