<template>
  <el-dialog :title="dataForm.inquiryName" :close-on-click-modal="false" :visible.sync="visible">
    <div v-for="o in dataList" :key="o.inquiryMessageId" class="text item">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>from: {{ o.fromUserId }} to: {{ o.toUserId }} status: <el-tag size="small" type="primary">{{ o.messageStatus == '0' ? "未開封" : "開封済" }}</el-tag> </span>
          <span style="float: right; padding: 3px 0" type="text">{{ o.messageTime }}</span>
        </div>
        <div class="text item">
          {{ o.messageContent }}
        </div>
      </el-card>
      <br/>
    </div>
    <br />
    <el-input type="textarea" :rows="2" placeholder="内容を入力してください" v-model="dataForm.messageContent">
    </el-input>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="dataFormSubmit()">返事</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import main from '../../main.vue'
  export default {
    components: {
      main
    },
    data () {
      return {
        visible: false,
        dataForm: {
          inquiryId: '',
          inquiryName: '',
          messageContent: ''
        },
        dataList: [],
        initFromUserId: '',
        initFromUserType: '',
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    computed: {
      userName: {
        get () {
          return this.$store.state.user.name
        }
      },
      userId: {
        get () { return this.$store.state.user.id },
        set (val) { this.$store.commit('user/updateId', val) }
      }
    },
    methods: {
      init (id, name, fromUserId, fromUserType) {
        this.dataForm.inquiryId = id || 0
        this.dataForm.inquiryName = name
        this.dataForm.messageContent = ''
        this.initFromUserId = fromUserId
        this.initFromUserType = fromUserType
        this.visible = true
        this.$nextTick(() => {
          if (this.dataForm.inquiryId) {
            this.$http({
              url: this.$http.adornUrl(`/service/inquirymessage/changeStatus`),
              method: 'get',
              params: this.$http.adornParams({
                inquiryId: parseInt(this.dataForm.inquiryId),
                userId: this.userId
              })
            }).then(({
              data
            }) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作は成功しました。',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.getDataList()
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
        this.$nextTick(() => {
          if (this.dataForm.inquiryId) {
            this.$http({
              url: this.$http.adornUrl(`/service/inquirymessage/list`),
              method: 'get',
              params: this.$http.adornParams({
                inquiryId: parseInt(this.dataForm.inquiryId)
              })
            }).then(({
              data
            }) => {
              if (data && data.code === 0) {
                this.dataList = data.page.list
              }
            })
          }
        })
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/inquirymessage/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'inquiryId': this.dataForm.inquiryId
          })
        }).then(({
          data
        }) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      addOrUpdateHandle (id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(id)
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.inquiryMessageId
        })
        this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/inquirymessage/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({
            data
          }) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      dataFormSubmit () {
        this.$http({
          url: this.$http.adornUrl(`/service/inquirymessage/save`),
          method: 'post',
          data: this.$http.adornData({
            'inquiryId': this.dataForm.inquiryId,
            'fromUserId': this.userId,
            'fromUserType': '0',
            'toUserId': this.dataList.length !== 0 ? this.dataList[this.dataList.length - 1].fromUserId : this.initFromUserId,
            'toUserType': this.dataList.length !== 0 ? this.dataList[this.dataList.length - 1].fromUserType : this.initFromUserType,
            'createUserId': this.userId,
            'messageContent': this.dataForm.messageContent
          })
        }).then(({
          data
        }) => {
          if (data && data.code === 0) {
            this.$message({
              message: '操作成功',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.visible = false
                this.$emit('getDataList')
              }
            })
          } else {
            this.$message.error(data.msg)
          }
        })
      }

    }
  }
</script>
