<template>
<div class="mod-config">
  <el-form :inline="true" :model="dataForm" >
    <el-form-item>
      <el-input v-model="dataForm.inquiryName" placeholder="問い合わせ件名" clearable></el-input>
    </el-form-item>
    <el-form-item>
      <el-button @click="getDataList()">検索</el-button>
      <!-- <el-button v-if="isAuth('service:inquiry:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button> -->
      <el-button v-if="isAuth('service:inquiry:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
    </el-form-item>
  </el-form>
  <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle" style="width: 100%;">
    <el-table-column type="selection" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="inquiryId" header-align="center" align="center" label="問い合わせID">
    </el-table-column>
    <el-table-column prop="inquiryType" header-align="center" align="center" label="問い合わせ種類">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.inquiryType === '01'" size="small" type="primary">ログインについて</el-tag>
        <el-tag v-if="scope.row.inquiryType === '02'" size="small" type="primary">講座内容のお質問</el-tag>
        <el-tag v-if="scope.row.inquiryType === '03'" size="small" type="primary">講座内容のお意見</el-tag>
        <el-tag v-if="scope.row.inquiryType === '04'" size="small" type="primary">受講について</el-tag>
        <el-tag v-if="scope.row.inquiryType === '05'" size="small" type="primary">確認テストについて</el-tag>
        <el-tag v-if="scope.row.inquiryType === '06'" size="small" type="primary">アンケートについて</el-tag>
        <el-tag v-if="scope.row.inquiryType === '07'" size="small" type="primary">機能要望</el-tag>
        <el-tag v-if="scope.row.inquiryType === '08'" size="small" type="primary">不具合の報告</el-tag>
        <el-tag v-if="scope.row.inquiryType === '09'" size="small" type="primary">退会したい</el-tag>
        <el-tag v-if="scope.row.inquiryType === '10'" size="small" type="primary">その他</el-tag>
      </template>
    </el-table-column>
    <el-table-column prop="courseId" header-align="center" align="center" label="講座ID">
    </el-table-column>
    <el-table-column prop="inquiryName" header-align="center" align="center" label="問い合わせ件名">
    </el-table-column>
    <el-table-column prop="fromUserId" header-align="center" align="center" label="FROMユーザーID">
    </el-table-column>
    <el-table-column prop="fromUserType" header-align="center" align="center" label="FROMユーザー種別">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.fromUserType === '0'" size="small" type="primary">一般ユーザー</el-tag>
        <el-tag v-if="scope.row.fromUserType === '1'" size="small" type="primary">グループユーザー</el-tag>
      </template>
    </el-table-column>
    <el-table-column prop="createUserId" header-align="center" align="center" label="作成者">
    </el-table-column>
    <el-table-column prop="createTime" header-align="center" align="center" label="作成日時">
    </el-table-column>
    <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
      <template slot-scope="scope">
        <el-button type="text" size="small" @click="viewDetail(scope.row.inquiryId, scope.row.inquiryName,
         scope.row.fromUserId, scope.row.fromUserType)">詳細</el-button>
        <!-- <el-button type="text" size="small" @click="addOrUpdateHandle(scope.row.inquiryId)">変更</el-button> -->
        <el-button type="text" size="small" @click="deleteHandle(scope.row.inquiryId)">削除</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
  <inquiry-message v-if="detailVisible" ref="inquiryMessage" @refreshDataList="getDataList"></inquiry-message>
</div>
</template>

<script>
import AddOrUpdate from './inquiry-add-or-update'
import InquiryMessage from './inquirymessage'

export default {
  data () {
    return {
      dataForm: {
        inquiryName: ''
      },
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false,
      detailVisible: false
    }
  },
  components: {
    AddOrUpdate,
    InquiryMessage
  },
  activated () {
    this.getDataList()
  },
  methods: {
    getDataListSearch () {
      this.dataListLoading = true
      this.pageIndex = 1
      this.pageSize = 10
      this.getDataList()
    },
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/inquiry/list'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'inquiryName': this.dataForm.inquiryName
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    },
    selectionChangeHandle (val) {
      this.dataListSelections = val
    },
    addOrUpdateHandle (id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs.addOrUpdate.init(id)
      })
    },
    viewDetail (id, name, fromUserId, fromUserType) {
      this.detailVisible = true
      this.$nextTick(() => {
        this.$refs.inquiryMessage.init(id, name, fromUserId, fromUserType)
      })
    },
    deleteHandle (id) {
      var ids = id ? [id] : this.dataListSelections.map(item => {
        return item.inquiryId
      })
      this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
        confirmButtonText: '確定',
        cancelButtonText: 'キャンセル',
        type: 'warning'
      }).then(() => {
        this.$http({
          url: this.$http.adornUrl('/service/inquiry/delete'),
          method: 'post',
          data: this.$http.adornData(ids, false)
        }).then(({ data }) => {
          if (data && data.code === 0) {
            this.$message({
              message: '操作は成功しました。',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.getDataList()
              }
            })
          } else {
            this.$message.error(data.msg)
          }
        })
      })
    }
  }
}
</script>
