<template>
<el-dialog :title="!dataForm.inquiryId ? '追加' : '変更'" :close-on-click-modal="false" :visible.sync="visible">
  <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="180px">
    <el-form-item label="問い合わせ種類" prop="inquiryType">
      <el-select v-model="dataForm.inquiryType" placeholder="選択してください">
        <el-option v-for="item in optionsType" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="講座ID" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID" type="number"></el-input>
    </el-form-item>
    <el-form-item label="問い合わせ件名" prop="inquiryName">
      <el-input v-model="dataForm.inquiryName" placeholder="問い合わせ件名"></el-input>
    </el-form-item>
    <el-form-item label="FROMユーザーID" prop="fromUserId">
      <el-input v-model="dataForm.fromUserId" placeholder="FROMユーザーID" type="number"></el-input>
    </el-form-item>
    <el-form-item label="FROMユーザー種別" prop="fromUserType">
      <el-select v-model="dataForm.fromUserType" placeholder="選択してください">
        <el-option v-for="item in optionsFromUserType" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </el-form-item>
  </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="visible = false">キャンセル</el-button>
    <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
  </span>
</el-dialog>
</template>

<script>
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        inquiryId: 0,
        courseId: '',
        inquiryType: '',
        inquiryName: '',
        fromUserId: '',
        fromUserType: '',
        fromGroupId: '',
        toGroupId: '',
        createUserId: '',
        createTime: '',
        updateUserId: '',
        updateTime: '',
        versionNo: '',
        delFlag: ''
      },
      optionsType: [{
        value: '01',
        label: 'ログインについて'
      },
      {
        value: '02',
        label: '講座内容のお質問'
      },
      {
        value: '03',
        label: '講座内容のお意見'
      },
      {
        value: '04',
        label: '受講について'
      },
      {
        value: '05',
        label: '確認テストについて'
      },
      {
        value: '06',
        label: 'アンケートについて'
      },
      {
        value: '07',
        label: '機能要望'
      },
      {
        value: '08',
        label: '不具合の報告'
      },
      {
        value: '09',
        label: '退会したい'
      },
      {
        value: '10',
        label: 'その他'
      }
      ],
      optionsFromUserType: [{
        value: '0',
        label: '一般ユーザー'
      },
      {
        value: '1',
        label: 'グループユーザー'
      }
      ],
      dataRule: {
        inquiryType: [
          { required: true, message: '問い合わせ種類を入力してください', trigger: 'blur' }
        ],
        inquiryName: [
          { required: true, message: '問い合わせ件名を入力してください', trigger: 'blur' }
        ],
        fromUserId: [
          { required: true, message: 'FROMユーザーIDを入力してください', trigger: 'blur' }
        ],
        fromUserType: [
          { required: true, message: 'FROMユーザー種別を入力してください', trigger: 'blur' }
        ],
        fromGroupId: [
          { required: true, message: 'FROMグループIDを入力してください', trigger: 'blur' }
        ],
        toGroupId: [
          { required: true, message: 'TOグループIDを入力してください', trigger: 'blur' }
        ],
        createUserId: [
          { required: true, message: '作成者を入力してください', trigger: 'blur' }
        ],
        createTime: [
          { required: true, message: '作成日時を入力してください', trigger: 'blur' }
        ],
        updateUserId: [
          { required: true, message: '更新者を入力してください', trigger: 'blur' }
        ],
        updateTime: [
          { required: true, message: '更新日時を入力してください', trigger: 'blur' }
        ],
        versionNo: [
          { required: true, message: 'バージョン番号を入力してください', trigger: 'blur' }
        ],
        delFlag: [
          { required: true, message: '削除フラグを入力してください', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init (id) {
      this.dataForm.inquiryId = id || 0
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.inquiryId) {
          this.$http({
            url: this.$http.adornUrl(`/service/inquiry/info/${this.dataForm.inquiryId}`),
            method: 'get',
            params: this.$http.adornParams()
          }).then(({ data }) => {
            if (data && data.code === 0) {
              this.dataForm.inquiryType = data.inquiry.inquiryType
              this.dataForm.inquiryName = data.inquiry.inquiryName
              this.dataForm.courseId = data.inquiry.courseId
              this.dataForm.fromUserId = data.inquiry.fromUserId
              this.dataForm.fromUserType = data.inquiry.fromUserType
              this.dataForm.fromGroupId = data.inquiry.fromGroupId
              this.dataForm.toGroupId = data.inquiry.toGroupId
              this.dataForm.createUserId = data.inquiry.createUserId
              this.dataForm.createTime = data.inquiry.createTime
              this.dataForm.updateUserId = data.inquiry.updateUserId
              this.dataForm.updateTime = data.inquiry.updateTime
              this.dataForm.versionNo = data.inquiry.versionNo
              this.dataForm.delFlag = data.inquiry.delFlag
            }
          })
        }
      })
    },
    // 表单提交
    dataFormSubmit () {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.$http({
            url: this.$http.adornUrl(`/service/inquiry/${!this.dataForm.inquiryId ? 'save' : 'update'}`),
            method: 'post',
            data: this.$http.adornData({
              'inquiryId': this.dataForm.inquiryId || undefined,
              'inquiryType': this.dataForm.inquiryType,
              'courseId': this.dataForm.courseId,
              'inquiryName': this.dataForm.inquiryName,
              'fromUserId': this.dataForm.fromUserId,
              'fromUserType': this.dataForm.fromUserType,
              'fromGroupId': this.dataForm.fromGroupId,
              'toGroupId': this.dataForm.toGroupId,
              'createUserId': this.dataForm.createUserId,
              'createTime': this.dataForm.createTime,
              'updateUserId': this.dataForm.updateUserId,
              'updateTime': this.dataForm.updateTime,
              'versionNo': this.dataForm.versionNo,
              'delFlag': this.dataForm.delFlag
            })
          }).then(({ data }) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.visible = false
                  this.$emit('refreshDataList')
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }
      })
    }
  }
}
</script>
