<template>
  <el-dialog
    :title="!dataForm.id ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="170px">
    <el-form-item label="講座ID" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID"></el-input>
    </el-form-item>
    <el-form-item label="アンケート種別" prop="questionNaireType">
      <el-select v-model="dataForm.questionNaireType" placeholder="選択してください">
        <el-option v-for="item in optionsType" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="アンケート件名" prop="questionNaireName">
      <el-input v-model="dataForm.questionNaireName" placeholder="アンケート件名"></el-input>
    </el-form-item>
    <el-form-item label="アンケート概要" prop="questionNaireOverview">
      <el-input v-model="dataForm.questionNaireOverview" type="textarea" placeholder="アンケート概要"></el-input>
    </el-form-item>
    <el-form-item label="アンケート詳細説明" prop="questionNaireDetail">
      <el-input v-model="dataForm.questionNaireDetail" type="textarea" placeholder="アンケート詳細説明"></el-input>
    </el-form-item>
    <el-form-item label="アンケートステータス" prop="questionNaireStatus">
      <el-radio-group v-model="dataForm.questionNaireStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          questionNaireId: 0,
          courseId: '',
          questionNaireType: '',
          questionNaireName: '',
          questionNaireOverview: '',
          questionNaireDetail: '',
          questionNaireStatus: '',
          questionNaireOpenTime: '',
          questionNaireEndTime: '',
          sendMailFlag: '',
          sendMessageFlag: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: '',
          versionNo: '',
          delFlag: ''
        },
        optionsType: [
          {
            value: '0',
            label: '不明'
          },
          {
            value: '1',
            label: 'コース満足度調査'
          },
          {
            value: '2',
            label: '開講希望講座内容'
          }
        ],
        dataRule: {
          courseId: [
            { required: true, message: '講座IDを入力してください', trigger: 'blur' }
          ],
          questionNaireType: [
            { required: true, message: 'アンケート種別を入力してください', trigger: 'blur' }
          ],
          questionNaireName: [
            { required: true, message: 'アンケート件名を入力してください', trigger: 'blur' }
          ],
          questionNaireOverview: [
            { required: true, message: 'アンケート概要を入力してください', trigger: 'blur' }
          ],
          questionNaireDetail: [
            { required: true, message: 'アンケート詳細説明を入力してください', trigger: 'blur' }
          ],
          questionNaireStatus: [
            { required: true, message: 'アンケートステータスを入力してください', trigger: 'blur' }
          ],
          questionNaireOpenTime: [
            { required: true, message: 'アンケート公開日時を入力してください', trigger: 'blur' }
          ],
          questionNaireEndTime: [
            { required: true, message: 'アンケート非公開日時を入力してください', trigger: 'blur' }
          ],
          sendMailFlag: [
            { required: true, message: 'メール送信有無を入力してください', trigger: 'blur' }
          ],
          sendMessageFlag: [
            { required: true, message: 'サイト内プッシュ通知有無を入力してください', trigger: 'blur' }
          ],
          createUserId: [
            { required: true, message: '作成者を入力してください', trigger: 'blur' }
          ],
          createTime: [
            { required: true, message: '作成日時を入力してください', trigger: 'blur' }
          ],
          updateUserId: [
            { required: true, message: '更新者を入力してください', trigger: 'blur' }
          ],
          updateTime: [
            { required: true, message: '更新日時を入力してください', trigger: 'blur' }
          ],
          versionNo: [
            { required: true, message: 'バージョン番号を入力してください', trigger: 'blur' }
          ],
          delFlag: [
            { required: true, message: '削除フラグを入力してください', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.questionNaireId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.questionNaireId) {
            this.$http({
              url: this.$http.adornUrl(`/service/questionnaire/info/${this.dataForm.questionNaireId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.courseId = data.questionNaire.courseId
                this.dataForm.questionNaireType = data.questionNaire.questionNaireType
                this.dataForm.questionNaireName = data.questionNaire.questionNaireName
                this.dataForm.questionNaireOverview = data.questionNaire.questionNaireOverview
                this.dataForm.questionNaireDetail = data.questionNaire.questionNaireDetail
                this.dataForm.questionNaireStatus = data.questionNaire.questionNaireStatus
                this.dataForm.questionNaireOpenTime = data.questionNaire.questionNaireOpenTime
                this.dataForm.questionNaireEndTime = data.questionNaire.questionNaireEndTime
                this.dataForm.sendMailFlag = data.questionNaire.sendMailFlag
                this.dataForm.sendMessageFlag = data.questionNaire.sendMessageFlag
                this.dataForm.createUserId = data.questionNaire.createUserId
                this.dataForm.createTime = data.questionNaire.createTime
                this.dataForm.updateUserId = data.questionNaire.updateUserId
                this.dataForm.updateTime = data.questionNaire.updateTime
                this.dataForm.versionNo = data.questionNaire.versionNo
                this.dataForm.delFlag = data.questionNaire.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/questionnaire/${!this.dataForm.questionNaireId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'questionNaireId': this.dataForm.questionNaireId || undefined,
                'courseId': this.dataForm.courseId,
                'questionNaireType': this.dataForm.questionNaireType,
                'questionNaireName': this.dataForm.questionNaireName,
                'questionNaireOverview': this.dataForm.questionNaireOverview,
                'questionNaireDetail': this.dataForm.questionNaireDetail,
                'questionNaireStatus': this.dataForm.questionNaireStatus,
                'questionNaireOpenTime': this.dataForm.questionNaireOpenTime,
                'questionNaireEndTime': this.dataForm.questionNaireEndTime,
                'sendMailFlag': this.dataForm.sendMailFlag,
                'sendMessageFlag': this.dataForm.sendMessageFlag,
                'createUserId': this.dataForm.createUserId,
                'createTime': this.dataForm.createTime,
                'updateUserId': this.dataForm.updateUserId,
                'updateTime': this.dataForm.updateTime,
                'versionNo': this.dataForm.versionNo,
                'delFlag': 0
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作は成功しました。',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
