<template>
<div class="mod-config">
  <el-form :inline="true" :model="dataForm" >
    <el-form-item>
      <el-input v-model="dataForm.key" placeholder="アンケート件名" clearable></el-input>
    </el-form-item>
    <el-form-item>
      <el-button @click="getDataListSearch()">検索</el-button>
      <el-button v-if="isAuth('service:questionnaire:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button>
      <el-button v-if="isAuth('service:questionnaire:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
    </el-form-item>
  </el-form>
  <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle" style="width: 100%;">
    <el-table-column type="selection" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="questionNaireId" header-align="center" align="center" label="アンケートID">
    </el-table-column>
    <el-table-column prop="courseId" header-align="center" align="center" label="講座ID">
    </el-table-column>
    <el-table-column prop="questionNaireType" header-align="center" align="center" label="アンケート種別">
      <template slot-scope="scope">
          <el-tag v-if="scope.row.questionNaireType === '0'" size="small" type="primary">不明</el-tag>
          <el-tag v-if="scope.row.questionNaireType === '1'" size="small" type="primary">コース満足度調査</el-tag>
          <el-tag v-if="scope.row.questionNaireType === '2'" size="small" type="primary">開講希望講座内容</el-tag>
        </template>
    </el-table-column>
    <el-table-column prop="questionNaireName" header-align="center" align="center" label="アンケート件名">
    </el-table-column>
    <el-table-column prop="questionNaireOverview" header-align="center" align="center" label="アンケート概要">
    </el-table-column>
    <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
      <template slot-scope="scope">
        <el-button type="primary" size="small" @click="routerJumpQuestion(scope)">質問管理</el-button>
        <el-button type="text" size="small" @click="addOrUpdateHandle(scope.row.questionNaireId)">変更</el-button>
        <el-button type="text" size="small" @click="deleteHandle(scope.row.questionNaireId)">削除</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
</div>
</template>

<script>
import AddOrUpdate from './questionnaire-add-or-update'
export default {
  data () {
    return {
      dataForm: {
        key: ''
      },
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false,
      optionsType: [{
        value: '0',
        label: '不明'
      },
      {
        value: '1',
        label: 'コース満足度調査'
      },
      {
        value: '2',
        label: '開講希望講座内容'
      }
      ]
    }
  },
  components: {
    AddOrUpdate
  },
  activated () {
    this.getDataList()
  },
  methods: {
    getDataListSearch () {
      this.dataListLoading = true
      this.pageIndex = 1
      this.pageSize = 10
      this.getDataList()
    },
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/questionnaire/list'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'questionNaireName': this.dataForm.key
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    },
    selectionChangeHandle (val) {
      this.dataListSelections = val
    },
    addOrUpdateHandle (id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs.addOrUpdate.init(id)
      })
    },
    deleteHandle (id) {
      var ids = id ? [id] : this.dataListSelections.map(item => {
        return item.questionNaireId
      })
      this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
        confirmButtonText: '確定',
        cancelButtonText: 'キャンセル',
        type: 'warning'
      }).then(() => {
        this.$http({
          url: this.$http.adornUrl('/service/questionnaire/delete'),
          method: 'post',
          data: this.$http.adornData(ids, false)
        }).then(({ data }) => {
          if (data && data.code === 0) {
            this.$message({
              message: '操作は成功しました。',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.getDataList()
              }
            })
          } else {
            this.$message.error(data.msg)
          }
        })
      })
    },
    routerJumpQuestion (scope) {
      this.$router.push(
        {
          name: 'questionNaireQuestions-page',
          query:
          {
            questionNaireId: scope.row.questionNaireId,
            questionNaireName: scope.row.questionNaireName,
            courseId: scope.row.courseId
          }
        })
    }
  }
}
</script>
