<template>
  <el-dialog
    :title="!dataForm.studentId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="150px">
    <!-- <el-form-item label="パスワード" prop="userPassword">
      <el-input v-model="dataForm.userPassword" placeholder="パスワード"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="ユーザー塩" prop="userSalt">
      <el-input v-model="dataForm.userSalt" placeholder="ユーザー塩"></el-input>
    </el-form-item> -->
    <el-form-item label="ユーザーID" prop="userName">
      <el-input v-model="dataForm.userName" placeholder="ユーザーID" maxlength="50" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="ユーザー名（漢字）" prop="userNameKanji">
      <el-input v-model="dataForm.userNameKanji" placeholder="ユーザー名（漢字）" maxlength="50" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="ユーザー名（カナ）" prop="userNameKana">
      <el-input v-model="dataForm.userNameKana" placeholder="ユーザー名（カナ）" maxlength="50" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="ニックネーム" prop="nickName">
      <el-input v-model="dataForm.nickName" placeholder="ニックネーム" maxlength="50" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="所属ご契約者様" prop="proxyGroupId">  
      <el-select 
        v-model="dataForm.proxyGroupId" 
        filterable 
        placeholder="所属ご契約者様を入力してください" 
        :disabled="(loginGroupType !=='1' || isModi === true)? true : false"
        @change="proxyGroupChange">
        <el-option
          v-for="item in proxyGroupSelect"
          :key="item.groupId"
          :label="item.groupName"
          :value="item.groupId">
        </el-option>  
      </el-select>
    </el-form-item> 
    <el-form-item label="クラス" prop="groupId">
      <el-select 
        v-model="dataForm.groupId" 
        filterable
        :disabled="(loginGroupType ==='3'  || isModi === true) ? true : false"
        placeholder="クラス名を入力してください">
        <el-option 
          v-for="group in groupList" 
          :key="group.groupId" 
          :label="group.groupName"
          :value="group.groupId">
        </el-option>
      </el-select>
      <!-- <el-input v-model="dataForm.groupName" placeholder="クラス名"></el-input> -->
    </el-form-item> 
    <el-form-item label="性別" prop="sex">
      <el-radio-group v-model="dataForm.sex">
        <el-radio :label="'0'">男性</el-radio>
        <el-radio :label="'1'">女性</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="生年月日" prop="birthday">
      <el-date-picker
        v-model="dataForm.birthday"
        type="date"
        placeholder="例:YYYYMMDD"
        format="yyyyMMdd"
        :picker-options="{
        disabledDate(time) {
          return time.getTime() > Date.now();
        }
      }">
      </el-date-picker>
    </el-form-item>
    <el-form-item label="職業" prop="profession">
      <el-select 
        v-model="dataForm.profession" 
        filterable
        placeholder="職業を選択してください">
        <el-option 
          v-for="item in professionList" 
          :key="item.value" 
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <!-- <el-input v-model="dataForm.groupName" placeholder="クラス名"></el-input> -->
    </el-form-item> 
    <el-form-item label="住所・郵便番号" prop="addressZipCode">
      <el-input v-model="dataForm.addressZipCode" placeholder="住所・郵便番号(例：0010010)" @blur="zipSelect" maxlength="7" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="住所・都道府県" prop="addressPrefecture">
      <el-input v-model="dataForm.addressPrefecture" placeholder="住所・都道府県" disabled></el-input>
    </el-form-item>
    <el-form-item label="住所・市区町村" prop="addressCity">
      <el-input v-model="dataForm.addressCity" placeholder="住所・市区町村" disabled></el-input>
    </el-form-item>
    <el-form-item label="住所・番地以下" prop="addressOthers">
      <el-input v-model="dataForm.addressOthers" placeholder="住所・番地以下" maxlength="100" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="住所・建物名" prop="addressBuildingName">
      <el-input v-model="dataForm.addressBuildingName" placeholder="住所・建物名" maxlength="500" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="メール" prop="email" >
      <el-input v-model="dataForm.email" placeholder="メール" maxlength="100" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡・携帯" prop="contactMobile">
      <el-input v-model="dataForm.contactMobile" placeholder="連絡・携帯(例：08012345678)" maxlength="11" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡・電話" prop="contactTel">
      <el-input v-model="dataForm.contactTel" placeholder="連絡・電話(例：0123456789)" maxlength="10" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡・FAX" prop="contactFax">
      <el-input v-model="dataForm.contactFax" placeholder="連絡・FAX(例：0123456789)" maxlength="10" show-word-limit></el-input>
    </el-form-item>
    <!-- <el-form-item label="適用開始日" prop="startTime">
      <el-input v-model="dataForm.startTime" placeholder="適用開始日"></el-input>
    </el-form-item>
    <el-form-item label="適用終了日" prop="overTime">
      <el-input v-model="dataForm.overTime" placeholder="適用終了日"></el-input>
    </el-form-item>
    <el-form-item label="作成者" prop="createUserId">
      <el-input v-model="dataForm.createUserId" placeholder="作成者"></el-input>
    </el-form-item>
    <el-form-item label="作成日時" prop="createTime">
      <el-input v-model="dataForm.createTime" placeholder="作成日時"></el-input>
    </el-form-item>
    <el-form-item label="更新者" prop="updateUserId">
      <el-input v-model="dataForm.updateUserId" placeholder="更新者"></el-input>
    </el-form-item>
    <el-form-item label="更新日時" prop="updateTime">
      <el-input v-model="dataForm.updateTime" placeholder="更新日時"></el-input>
    </el-form-item>
    <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item>  -->
    <el-form-item label="状態" prop="accountStatus">
        <el-radio-group v-model="dataForm.accountStatus" :disabled="loginGroupType !=='1' ? true : false">
          <el-radio :label="'1'">利用中</el-radio>
          <el-radio :label="'2'">利用停止</el-radio>
        </el-radio-group>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { isEmail, isMobile, isKana, isFixedPhone, isFax, isZipCode, isHalfEnglishAndNumberDouble } from '@/utils/validate'
  import moment from 'moment'
  export default {
    data () {
      var validateEmail = (rule, value, callback) => {
        if (!isEmail(value)) {
          callback(new Error('メールアドレスフォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateMobile = (rule, value, callback) => {
        if (!isMobile(value) && value !== null && value !== '') {
          callback(new Error('連絡・携帯番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateKana = (rule, value, callback) => {
        if (!isKana(value) && value !== null && value !== '') {
          callback(new Error('全角カタカナで入力してください'))
        } else {
          callback()
        }
      }
      var validateFixedPhone = (rule, value, callback) => {
        if (!isFixedPhone(value) && value !== null && value !== '') {
          callback(new Error('連絡・電話番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateFax = (rule, value, callback) => {
        if (!isFax(value) && value !== null && value !== '') {
          callback(new Error('連絡・FAX番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateZipCode = (rule, value, callback) => {
        if (!isZipCode(value) && value !== null && value !== '') {
          callback(new Error('ハイフンなし、数字7桁で入力してください'))
        } else {
          callback()
        }
      }
      var checkUserName = (rule, value, callback) => {
        if (!isHalfEnglishAndNumberDouble(value) && value !== null && value !== '') {
          callback(new Error('半角英数字で入力してください、数字とアルファベットをそれぞれ1字以上含めてください'))
        } else {
          callback()
        }
      }
      var checkUserNameLength = (rule, value, callback) => {
        if (!(value.length > 5)) {
          callback(new Error('6文字以上で入力しでください'))
        } else {
          callback()
        }
      }
      return {
        isModi: false,
        visible: false,
        loginGroupId: '',
        loginGroupType: '',
        // allGroupList: [],
        groupList: [],
        proxyGroupSelect: [],
        dataForm: {
          studentId: 0,
          // userPassword: '',
          // userSalt: '',
          userName: '',
          userNameKanji: '',
          userNameKana: '',
          nickName: '',
          proxyGroupId: '',
          groupId: null,
          sex: '0',
          birthday: '',
          addressZipCode: null,
          addressPrefecture: '',
          addressCity: '',
          addressOthers: '',
          addressBuildingName: '',
          email: '',
          contactMobile: '',
          contactTel: '',
          contactFax: '',
          accountStatus: '1',
          profession: ''
          // startTime: '',
          // overTime: '',
          // createUserId: '',
          // createTime: '',
          // updateUserId: '',
          // updateTime: '',
          // versionNo: '',
          // delFlag: ''
        },
        professionList: [{
          value: '0',
          label: '会社員'
        }, {
          value: '1',
          label: '公務員'
        }, {
          value: '2',
          label: '自営業'
        }, {
          value: '3',
          label: '会社役員・経営者'
        }, {
          value: '4',
          label: '専業主婦（夫）'
        }, {
          value: '5',
          label: '学生'
        }, {
          value: '6',
          label: 'パート・アルバイト'
        }, {
          value: '7',
          label: '無職'
        }, {
          value: '8',
          label: 'その他'
        }],
        dataRule: {
          // userPassword: [
          //   { required: true, message: 'パスワードを入力してください', trigger: 'blur' }
          // ],
          // userSalt: [
          //   { required: true, message: 'ユーザー塩を入力してください', trigger: 'blur' }
          // ],
          userName: [
            { required: true, message: 'ユーザーIDを入力してください', trigger: 'blur' },
            { validator: checkUserName, trigger: 'blur' },
            { validator: checkUserNameLength, trigger: 'blur' }
          ],
          userNameKanji: [
             { required: true, message: 'ユーザー名（漢字）を入力してください', trigger: 'blur' }
          ],
          userNameKana: [
            // { required: true, message: 'ユーザー名（カナ）を入力してください', trigger: 'blur' },
            { validator: validateKana, trigger: 'blur' }
          ],
          // nickName: [
          //   { required: true, message: 'ニックネームを入力してください', trigger: 'blur' }
          // ],
          proxyGroupId: [
            { required: true, message: '所属ご契約者様を選択してください', trigger: 'blur' }
          ],
          groupId: [
            { required: true, message: 'クラスを選択してください', trigger: 'blur' }
          ],
          sex: [
            { required: true, message: '性別を選択してください', trigger: 'blur' }
          ],
          profession: [
            { required: true, message: '職業を選択してください', trigger: 'blur' }
          ],
          // birthday: [
          //   { required: true, message: '生年月日を入力してください', trigger: 'blur' }
          // ],
          addressZipCode: [
            // { required: true, message: '住所・郵便番号を入力してください', trigger: 'blur' },
            { validator: validateZipCode, trigger: 'blur' }
          ],
          // addressPrefecture: [
          //   { required: true, message: '住所・都道府県を入力してください', trigger: 'blur' }
          // ],
          // addressCity: [
          //   { required: true, message: '住所・市区町村を入力してください', trigger: 'blur' }
          // ],
          // addressOthers: [
          //   { required: true, message: '住所・番地以下を入力してください', trigger: 'blur' }
          // ],
          // addressBuildingName: [
          //   { required: true, message: '住所・建物名を入力してください', trigger: 'blur' }
          // ],
          email: [
            { required: true, message: 'メールを入力してください', trigger: 'blur' },
            { validator: validateEmail, trigger: 'blur' }
          ],
          contactMobile: [
            // { required: true, message: '連絡・携帯を入力してください', trigger: 'blur' },
            { validator: validateMobile, trigger: 'blur' }
          ],
          contactTel: [
            // { required: true, message: '連絡・電話を入力してください', trigger: 'blur' },
            { validator: validateFixedPhone, trigger: 'blur' }
          ],
          contactFax: [
            // { required: true, message: '連絡・FAXを入力してください', trigger: 'blur' },
            { validator: validateFax, trigger: 'blur' }
          ],
          accountStatus: [
            { required: true, message: '状態を選択してください', trigger: 'blur' }
          ]
          // startTime: [
          //   { required: true, message: '適用開始日を入力してください', trigger: 'blur' }
          // ],
          // overTime: [
          //   { required: true, message: '適用終了日を入力してください', trigger: 'blur' }
          // ],
          // createUserId: [
          //   { required: true, message: '作成者を入力してください', trigger: 'blur' }
          // ],
          // createTime: [
          //   { required: true, message: '作成日時を入力してください', trigger: 'blur' }
          // ],
          // updateUserId: [
          //   { required: true, message: '更新者を入力してください', trigger: 'blur' }
          // ],
          // updateTime: [
          //   { required: true, message: '更新日時を入力してください', trigger: 'blur' }
          // ],
          // versionNo: [
          //   { required: true, message: 'バージョン番号を入力してください', trigger: 'blur' }
          // ],
          // delFlag: [
          //   { required: true, message: '削除フラグを入力してください', trigger: 'blur' }
          // ]
        }
      }
    },
    methods: {
      // groupFilter (val) {
      //   if (val) {
      //     let arr = this.allGroupList.filter((item) => {
      //       return item.groupName.includes(val)
      //     })
      //     if (arr.length > 50) {
      //       this.groupList = arr.slice(0, 50)
      //     } else {
      //       this.groupList = arr
      //     }
      //   }
      // },
      proxyGroupChange () {
        this.dataForm.groupId = ''
        this.$http({
          url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
          method: 'get',
          params: this.$http.adornParams({
            'proxyGroupId': this.dataForm.proxyGroupId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.groupList = data.list
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      zipSelect () {
        this.$refs.dataForm.validateField('addressZipCode', (valid) => {
          if (valid === '') {
            if (this.dataForm.addressZipCode !== '' && this.dataForm.addressZipCode !== null) {
              this.$http({
                url: this.$http.adornUrl(`/service/usergroup/zipInfo/${this.dataForm.addressZipCode}`),
                method: 'get',
                params: this.$http.adornParams()
              }).then(({data}) => {
                if (data && data.code === 0) {
                  this.dataForm.addressPrefecture = data.adAddress.kenName
                  this.dataForm.addressCity = data.adAddress.cityName + data.adAddress.townName
                } else {
                  this.$message.error(data.msg)
                }
              })
            }
          }
        })
      },
      // dateBlur () {
      //   if (this.dataForm.birthday !== '' && this.dataForm.birthday !== null) {
      //     console.log('555555555555')
      //     // birthday = moment(this.dataForm.birthday).format('YYYYMMDD')
      //   }
      //   // console.log('6666' + this.dataForm.birthday)
      // },
      init (id) {
        this.loginGroupType = this.$store.state.user.loginGroupType
        if (this.loginGroupType !== '1') {
          this.$http({
            url: this.$http.adornUrl(`/sys/user/info/${this.$store.state.user.id}`),
            method: 'get',
            params: this.$http.adornParams()
          }).then(({data}) => {
            if (data && data.code === 0) {
              if (this.loginGroupType === '2') {
                this.dataForm.proxyGroupId = data.user.groupId
              } else if (this.loginGroupType === '3') {
                this.dataForm.proxyGroupId = data.user.groupIdOf
                this.dataForm.groupId = data.user.groupId
              }
              this.$http({
                url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
                method: 'get',
                params: this.$http.adornParams({
                  'proxyGroupId': this.dataForm.proxyGroupId
                })
              }).then(({data}) => {
                if (data && data.code === 0) {
                  this.groupList = data.list
                } else {
                  this.$message.error(data.msg)
                }
              })
            }
          })
        }
        this.groupList = []
        this.dataForm.studentId = id || 0
        this.$http({
          url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.proxyGroupSelect = data.list
          } else {
            this.$message.error(data.msg)
          }
        }).then(() => {
          this.visible = true
          this.$nextTick(() => {
            this.$refs['dataForm'].resetFields()
          })
        }).then(() => {
          if (this.dataForm.studentId) {
            this.isModi = true
            this.$http({
              url: this.$http.adornUrl(`/service/student/info/${this.dataForm.studentId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.userPassword = data.student.userPassword
                // this.dataForm.userSalt = data.student.userSalt
                this.dataForm.userName = data.student.userName
                this.dataForm.userNameKanji = data.student.userNameKanji
                this.dataForm.userNameKana = data.student.userNameKana
                this.dataForm.nickName = data.student.nickName
                this.dataForm.groupId = data.student.groupId
                this.dataForm.sex = data.student.sex
                this.dataForm.profession = data.student.profession
                if (data.student.birthday.trim() !== '' && data.student.birthday.trim() !== null) {
                  this.dataForm.birthday = moment(data.student.birthday, 'YYYYMMDD')
                } else {
                  this.dataForm.birthday = data.student.birthday.trim()
                }
                this.dataForm.addressZipCode = data.student.addressZipCode
                this.dataForm.addressPrefecture = data.student.addressPrefecture
                this.dataForm.addressCity = data.student.addressCity
                this.dataForm.addressOthers = data.student.addressOthers
                this.dataForm.addressBuildingName = data.student.addressBuildingName
                this.dataForm.email = data.student.email
                this.dataForm.contactMobile = data.student.contactMobile
                this.dataForm.contactTel = data.student.contactTel
                this.dataForm.contactFax = data.student.contactFax
                this.dataForm.accountStatus = data.student.accountStatus
                // this.dataForm.startTime = data.student.startTime
                this.dataForm.proxyGroupId = data.student.groupIdOf
                this.$http({
                  url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
                  method: 'get',
                  params: this.$http.adornParams({
                    'proxyGroupId': data.student.groupIdOf
                  })
                }).then(({data}) => {
                  if (data && data.code === 0) {
                    this.groupList = data.list
                  } else {
                    this.$message.error(data.msg)
                  }
                })
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            let birthday = ''
            if (this.dataForm.birthday.trim() !== '' && this.dataForm.birthday.trim() !== null) {
              birthday = moment(this.dataForm.birthday).format('YYYYMMDD')
            }
            // this.dataForm.birthday = moment(this.dataForm.birthday).format('YYYYMMDD')
            this.$http({
              url: this.$http.adornUrl(`/service/student/${!this.dataForm.studentId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'studentId': this.dataForm.studentId || undefined,
                // 'userPassword': this.dataForm.userPassword,
                // 'userSalt': this.dataForm.userSalt,
                'userName': this.dataForm.userName,
                'userNameKanji': this.dataForm.userNameKanji,
                'userNameKana': this.dataForm.userNameKana,
                'nickName': this.dataForm.nickName,
                'groupId': this.dataForm.groupId,
                'sex': this.dataForm.sex,
                'profession': this.dataForm.profession,
                'birthday': birthday,
                'addressZipCode': this.dataForm.addressZipCode,
                'addressPrefecture': this.dataForm.addressPrefecture,
                'addressCity': this.dataForm.addressCity,
                'addressOthers': this.dataForm.addressOthers,
                'addressBuildingName': this.dataForm.addressBuildingName,
                'email': this.dataForm.email,
                'contactMobile': this.dataForm.contactMobile,
                'contactTel': this.dataForm.contactTel,
                'contactFax': this.dataForm.contactFax,
                'accountStatus': this.dataForm.accountStatus
                // 'startTime': this.dataForm.startTime,
                // 'overTime': this.dataForm.overTime,
                // 'createUserId': this.dataForm.createUserId,
                // 'createTime': this.dataForm.createTime,
                // 'updateUserId': this.dataForm.updateUserId,
                // 'updateTime': this.dataForm.updateTime,
                // 'versionNo': this.dataForm.versionNo,
                // 'delFlag': this.dataForm.delFlag
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
