<template>
<div class="mod-config">
  <!-- <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 所属クラスID: {{ prevPageData.groupIdOf }} </p>
    </el-col>
    <el-col :span=8>
      <p style="font-size: 16px"> 所属クラス名: {{ prevPageData.groupIdOfName }} </p>
    </el-col>
  </el-row> -->
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> クラスID: {{ prevPageData.groupId }} </p>
    </el-col>
    <el-col :span=8>
      <p style="font-size: 16px"> クラス名: {{ prevPageData.groupName }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 講座ID: {{ prevPageData.courseId }} </p>
    </el-col>
    <el-col :span=8>
      <p style="font-size: 16px"> 講座名: {{ prevPageData.courseTitle }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講者ID: {{ prevPageData.studentId }} </p>
    </el-col>
    <el-col :span=8>
      <p style="font-size: 16px"> ユーザーID: {{ prevPageData.userName }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講状態: {{ studyStatusStr }} </p>
    </el-col>
  </el-row>
  <!--
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講申請日時: {{ studentCourseManageData.courseRegTime }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講申請理由: {{ studentCourseManageData.courseRegReason }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講申請審査者: {{ studentCourseManageData.sysUserName }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講申請承認日時: {{ studentCourseManageData.regApprovalTime }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講申請承認連絡事項: {{ studentCourseManageData.regApprovalContact }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講申請拒否日時: {{ studentCourseManageData.regRejectTime }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講申請拒否理由: {{ studentCourseManageData.regRejectReason }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講受験開始日時: {{ studentCourseManageData.studyTestStartTime }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講受験終了日時: {{ studentCourseManageData.studyTestEndTime }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講キャンセル申請日時: {{ studentCourseManageData.cancelRegTime }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講キャンセル申請理由: {{ studentCourseManageData.cancelRegReason }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講キャンセル申請審査者: {{ studentCourseManageData.cancelSysUserName }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講キャンセル申請承認日時: {{ studentCourseManageData.cancelApprovalTime }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講キャンセル申請承認連絡事項: {{ studentCourseManageData.cancelApprovalContact }} </p>
    </el-col>
  </el-row> -->
  <p>教材別受講状況一覧</p>
  <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle" style="width: 100%;">
    <el-table-column type="index" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="subjectId" header-align="center" align="center" label="教科ID">
    </el-table-column>
    <el-table-column prop="subjectTitle" header-align="center" align="center" label="教科名">
    </el-table-column>
    <el-table-column prop="unitId" header-align="center" align="center" label="単元ID">
    </el-table-column>
    <el-table-column prop="unitName" header-align="center" align="center" label="単元名">
    </el-table-column>
    <el-table-column prop="teachingMaterialId" header-align="center" align="center" label="教材ID">
    </el-table-column>
    <el-table-column prop="teachingMaterialTitle" header-align="center" align="center" label="教材名">
    </el-table-column>
    <el-table-column prop="studyStatus" header-align="center" align="center" label="教材受講状態">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.studyStatus === '0'" size="small" type="primary">受講中</el-tag>
        <el-tag v-if="scope.row.studyStatus === '1'" size="small" type="primary">受講完了</el-tag>
        <el-tag v-if="scope.row.studyStatus === '2'" size="small" type="primary">スキップ</el-tag>
        <el-tag v-if="scope.row.studyStatus === '4'" size="small" type="primary">未受講</el-tag>
      </template>
    </el-table-column>
    <!-- 
    <el-table-column prop="studyStartTime" header-align="center" align="center" label="受講開始日時">
    </el-table-column>
    -->
    <!-- <el-table-column prop="studyEndTime" header-align="center" align="center" label="受講終了日時">
    </el-table-column> -->
    <el-table-column prop="updateTime" header-align="center" align="center" label="最終受講日時">
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
</div>
</template>

<script>
export default {
  data () {
    return {
      dataForm: {
        courseId: '',
        courseName: ''
      },
      optionsType: [{
        value: '0',
        label: '受講申請中'
      }, {
        value: '1',
        label: '受講申請承認済'
      }, {
        value: '2',
        label: '受講中'
      }, {
        value: '3',
        label: '受講終了'
      }, {
        value: '4',
        label: '受講申請拒否'
      }, {
        value: '5',
        label: 'キャンセル申請中'
      }, {
        value: '6',
        label: 'キャンセル承認済'
      }],
      studentCourseManageData: {

      },
      prevPageData: {
        groupId: '',
        groupName: '',
        courseId: '',
        courseTitle: '',
        studentId: '',
        userName: '',
        studyStatus: '',
        studentCourseId: ''
      },
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false
    }
  },
  computed: {
    studyStatusStr: function () {
      for (let index = 0; index < this.optionsType.length; index++) {
        const element = this.optionsType[index]
        if (element.value === this.prevPageData.studyStatus) {
          return element.label
        }
      }
      return ''
    }
  },
  activated () {
    this.getDataList()
  },
  created () {
    this.prevPageData.groupId = this.$route.query.groupId
    this.prevPageData.groupName = this.$route.query.groupName
    this.prevPageData.courseId = this.$route.query.courseId
    this.prevPageData.courseTitle = this.$route.query.rcourseTitle
    this.prevPageData.studentId = this.$route.query.studentId
    this.prevPageData.userName = this.$route.query.userName
    this.prevPageData.studyStatus = this.$route.query.studyStatus
    this.prevPageData.studentCourseId = this.$route.query.studentCourseId
    this.getStudentCourseManageDataList()
  },
  watch: {
    'prevPageData.groupId' () {
      let query = this.$route.query
      this.$store.commit('common/updateMainTabsQuery', query)
    }
  },
  filters: {
    toPercent (point) {
      var str = Number(point * 100).toFixed(2)
      str += '%'
      return str
    }
  },
  methods: {
    getStudentCourseManageDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/studentcoursemanage/info/' + this.prevPageData.studentCourseId),
        method: 'get'
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.studentCourseManageData = data.studentCourseManage
        }
        this.dataListLoading = false
      })
    },
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/studentcoursestudy/student/list'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'studentCourseId': this.prevPageData.studentCourseId
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    }
  }
}
</script>
