<template>
  <el-dialog
    :title="'詳細と承認'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="230px">
      <el-form-item label="受講者ID:" prop="studentId">
        {{dataForm.studentId}}
      </el-form-item>
      <el-form-item label="ユーザーID:" prop="userName">
        <div class="detail-div-line">{{dataForm.userName}}</div>
      </el-form-item>
      <el-form-item label="講座ID:" prop="courseId">
        {{dataForm.courseId}}
      </el-form-item>
      <el-form-item label="講座名:" prop="courseTitle">
        <div class="detail-div-line">{{dataForm.courseTitle}}</div>
      </el-form-item>
      <el-form-item label="クラスID:" prop="groupId">
        {{dataForm.groupId}}
      </el-form-item>
      <el-form-item label="クラス名:" prop="groupName">
        <div class="detail-div-line">{{dataForm.groupName}}</div>
      </el-form-item>
      <el-form-item label="受講状態:" prop="studyStatus">
        <el-tag v-if="dataForm.studyStatus === '0'" size="small" >受講申請中</el-tag>
        <el-tag v-if="dataForm.studyStatus === '1'" size="small" >受講申請承認済（未受講受験）</el-tag>
        <el-tag v-if="dataForm.studyStatus === '2'" size="small" >受講中</el-tag>
        <el-tag v-if="dataForm.studyStatus === '3'" size="small" >受講終了（全受験通過）</el-tag>
        <el-tag v-if="dataForm.studyStatus === '4'" size="small" >受講申請拒否</el-tag>
        <el-tag v-if="dataForm.studyStatus === '5'" size="small" >キャンセル申請中</el-tag>
        <el-tag v-if="dataForm.studyStatus === '6'" size="small" >キャンセル承認済</el-tag>
      </el-form-item>
      <el-form-item label="受講申請日時:" prop="courseRegTime">
        {{dataForm.courseRegTime}}
      </el-form-item>
      <el-form-item label="受講申請理由:" prop="courseRegReason">
        <div class="detail-div-line">{{dataForm.courseRegReason}}</div>
      </el-form-item>
      <el-form-item  
        label="受講申請審査者:" prop="sysUserName">
        <div class="detail-div-line">{{dataForm.sysUserName}}</div>
      </el-form-item>
      <el-form-item
        label="受講申請承認日時:" prop="regApprovalTime">
        {{dataForm.regApprovalTime}}
      </el-form-item>
      <el-form-item label="受講申請承認連絡事項:" prop="regApprovalContact">
        <div class="detail-div-line">{{dataForm.regApprovalContact}}</div>
        <!-- <el-input v-model="dataForm.regApprovalContact" placeholder="受講申請承認連絡事項"></el-input> -->
      </el-form-item>
      <el-form-item label="受講申請拒否日時:" prop="regRejectTime">
        {{dataForm.regRejectTime}}
      </el-form-item>
      <el-form-item label="受講申請拒否理由:" prop="regRejectReason">
        <div class="detail-div-line">{{dataForm.regRejectReason}}</div>
      </el-form-item>
      <el-form-item label="受講受験開始日時:" prop="studyTestStartTime">
        {{dataForm.studyTestStartTime}}
      </el-form-item>
      <el-form-item label="受講受験開始終了日時:" prop="studyTestEndTime">
        {{dataForm.studyTestEndTime}}
      </el-form-item>
      <el-form-item label="受講キャンセル申請日時:" prop="cancelRegTime">
        {{dataForm.cancelRegTime}}
      </el-form-item>
      <el-form-item label="受講キャンセル申請理由:" prop="cancelRegReason">
        <div class="detail-div-line" >{{dataForm.cancelRegReason}}</div>
      </el-form-item>
      <el-form-item label="受講キャンセル申請審査者:" prop="cancelSysUserName">
        <div class="detail-div-line">{{dataForm.cancelSysUserName}}</div>
      </el-form-item>
      <el-form-item label="受講キャンセル申請承認日時:" prop="cancelApprovalTime">
        {{dataForm.cancelApprovalTime}}
      </el-form-item>
      <el-form-item label="受講キャンセル申請承認連絡事項:" prop="cancelApprovalContact">
        <div class="detail-div-line">{{dataForm.cancelApprovalContact}}</div>
      </el-form-item>
      <el-form-item label="作成者:" prop="createUserId">
        {{dataForm.createUserId}}
      </el-form-item>
      <el-form-item label="作成日時:" prop="createTime">
        {{dataForm.createTime}}
      </el-form-item>
      <el-form-item label="更新者:" prop="updateUserId">
        {{dataForm.updateUserId}}
      </el-form-item>
      <el-form-item label="更新日時:" prop="updateTime">
        {{dataForm.updateTime}}
      </el-form-item>
      <el-form-item v-if="groupTypeCheck==='3' && dataForm.studyStatus ==='0'" label="受講申請承認:" prop="promiseStatus">
        <el-radio-group v-model="dataForm.promiseStatus">
          <el-radio label="1">承認</el-radio>
          <el-radio label="4">拒否</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-if="groupTypeCheck==='3' && dataForm.studyStatus ==='5'" label="受講キャンセル承認:" prop="promiseStatus">
        <el-radio-group v-model="dataForm.promiseStatus">
          <el-radio label="6">承認</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item v-if="groupTypeCheck==='3' && dataForm.studyStatus ==='0' && dataForm.promiseStatus ==='1'" label="受講申請承認連絡事項:" prop="primiseReason">
        <el-input type="textarea" v-model="dataForm.primiseReason" placeholder="受講申請承認連絡事項" autosize maxlength="1000" show-word-limit></el-input>
      </el-form-item>

      <el-form-item v-if="groupTypeCheck==='3' && dataForm.studyStatus ==='0' && dataForm.promiseStatus ==='4'" label="受講申請拒否理由:" prop="primiseReason">
        <el-input type="textarea" v-model="dataForm.primiseReason" placeholder="受講申請拒否理由" autosize maxlength="1000" show-word-limit></el-input>
      </el-form-item>

      <el-form-item v-if="groupTypeCheck==='3' && dataForm.studyStatus ==='5'" label="受講キャンセル申請承認連絡事項:" prop="primiseReason">
        <el-input type="textarea" v-model="dataForm.primiseReason" placeholder="受講キャンセル申請承認連絡事項" autosize maxlength="1000" show-word-limit></el-input>
      </el-form-item>

    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button v-if="groupTypeCheck==='3' && (dataForm.studyStatus ==='0' || dataForm.studyStatus ==='5')" type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        reasonLable: '',
        groupTypeCheck: '',
        dataForm: {
          studentCourseId: 0,
          studentId: '',
          userName: '',
          courseId: '',
          courseTitle: '',
          groupId: '',
          groupName: '',
          studyStatus: '',
          courseRegTime: '',
          courseRegReason: '',
          sysUserName: '',
          regApprovalTime: '',
          regApprovalContact: '',
          regRejectTime: '',
          regRejectReason: '',
          studyTestStartTime: '',
          studyTestEndTime: '',
          cancelRegTime: '',
          cancelRegReason: '',
          cancelSysUserName: '',
          cancelApprovalTime: '',
          cancelApprovalContact: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: '',
          promiseStatus: '',
          primiseReason: ''
        },
        dataRule: {
          promiseStatus: [
            { required: true, message: '項目を選択してください', trigger: 'blur' }
          ],
          primiseReason: [
            { required: true, message: '項目を入力してください', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id, groupTypeCheck) {
        this.dataForm.studentCourseId = id || 0
        this.groupTypeCheck = groupTypeCheck
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.studentCourseId) {
            this.$http({
              url: this.$http.adornUrl(`/service/studentcoursemanage/info/${this.dataForm.studentCourseId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.studentId = data.studentCourseManage.studentId
                this.dataForm.userName = data.studentCourseManage.userName
                this.dataForm.courseId = data.studentCourseManage.courseId
                this.dataForm.courseTitle = data.studentCourseManage.courseTitle
                this.dataForm.groupId = data.studentCourseManage.groupId
                this.dataForm.groupName = data.studentCourseManage.groupName
                this.dataForm.studyStatus = data.studentCourseManage.studyStatus
                this.dataForm.courseRegTime = data.studentCourseManage.courseRegTime
                this.dataForm.courseRegReason = data.studentCourseManage.courseRegReason
                this.dataForm.sysUserName = data.studentCourseManage.sysUserName
                this.dataForm.regApprovalTime = data.studentCourseManage.regApprovalTime
                this.dataForm.regApprovalContact = data.studentCourseManage.regApprovalContact
                this.dataForm.regRejectTime = data.studentCourseManage.regRejectTime
                this.dataForm.regRejectReason = data.studentCourseManage.regRejectReason
                this.dataForm.studyTestStartTime = data.studentCourseManage.studyTestStartTime
                this.dataForm.studyTestEndTime = data.studentCourseManage.studyTestEndTime
                this.dataForm.cancelRegTime = data.studentCourseManage.cancelRegTime
                this.dataForm.cancelRegReason = data.studentCourseManage.cancelRegReason
                this.dataForm.cancelSysUserName = data.studentCourseManage.cancelSysUserName
                this.dataForm.cancelApprovalTime = data.studentCourseManage.cancelApprovalTime
                this.dataForm.cancelApprovalContact = data.studentCourseManage.cancelApprovalContact
                this.dataForm.createUserId = data.studentCourseManage.createUserId
                this.dataForm.createTime = data.studentCourseManage.createTime
                this.dataForm.updateUserId = data.studentCourseManage.updateUserId
                this.dataForm.updateTime = data.studentCourseManage.updateTime
                this.dataForm.versionNo = data.studentCourseManage.versionNo
                this.dataForm.delFlag = data.studentCourseManage.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/studentcoursemanage/update`),
              method: 'post',
              data: this.$http.adornData({
                'studentCourseId': this.dataForm.studentCourseId,
                'promiseStatus': this.dataForm.promiseStatus,
                'primiseReason': this.dataForm.primiseReason
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
