<template>
  <div class="mod-config">
    <el-form :inline="true" >
      <el-form-item  v-if="loginGroupType ==='1'"> 
        <el-date-picker
          v-model="datePeriod"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="~"
          start-placeholder="開始日付"
          end-placeholder="終了日付">
        </el-date-picker>
      </el-form-item> 
      <el-form-item>  
        <el-select v-model="classId" placeholder="クラス" clearable filterable style="width:100%" :disabled="loginGroupType==='3' ? true : false">
          <el-option
            v-for="item in classSelectDrop"
            :key="item.groupId"
            :label="item.groupName"
            :value="item.groupId">
          </el-option>  
        </el-select>
      </el-form-item> 
      <el-form-item>  
        <el-select v-model="courseId" placeholder="講座" clearable filterable style="width:100%">
          <el-option
            v-for="item in courseSelectDrop"
            :key="item.courseId"
            :label="item.courseTitle"
            :value="item.courseId">
          </el-option>  
        </el-select>
      </el-form-item> 
      <el-form-item>
        <el-button @click="getDataList()">検索</el-button>
      </el-form-item>
    </el-form>
  <div class="mod-demo-echarts">
    <el-row :gutter="20">
      <el-col :span="12">
        <el-card>
          <div id="J_chartPieBoxMan" class="chart-box"></div>
        </el-card>
        <el-card>
          <div id="J_chartPieBoxWork" class="chart-box"></div>
        </el-card>
        <el-card>
          <div id="J_chartPieBoxAge" class="chart-box"></div>
        </el-card>       
      </el-col>
      <!-- <el-col :span="12">
        <el-card>
          <div id="J_chartPieBoxWork" class="chart-box"></div>
        </el-card>
      </el-col>
      <el-col :span="12">
        <el-card>
          <div id="J_chartPieBoxAge" class="chart-box"></div>
        </el-card>
      </el-col> -->
    </el-row>
  </div>
  </div>

</template>

<script>
  import echarts from 'echarts'
  export default {
    data () {
      return {
        datePeriod: '',
        classId: '',
        classSelectDrop: [],
        courseId: '',
        courseSelectDrop: [],
        chartPie: null,
        dataAnalyse: null,
        loginGroupType: '',
        loginGroupId: '',
        datePeriodBfore: null,
        datePeriodAfter: null
      }
    },
    mounted () {
      // this.getDataList()
    },
    activated () {
      this.loginGroupType = this.$store.state.user.loginGroupType
      this.loginGroupId = this.$store.state.user.loginGroupId
      if (this.chartPie) {
        this.chartPie.resize()
      }

      this.$http({
        url: this.$http.adornUrl(`/service/dataAnalyse/classSelectDrop`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.classSelectDrop = data.classSelectDrop
          if (this.loginGroupType === '3') {
            this.classId = this.loginGroupId
          }
        } else {
          this.$message.error(data.msg)
        }
      })

      this.$http({
        url: this.$http.adornUrl(`/service/dataAnalyse/courseSelectDrop`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.courseSelectDrop = data.courseSelectDrop
        } else {
          this.$message.error(data.msg)
        }
      })
    },
    methods: {
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        if (this.datePeriod !== null && this.datePeriod !== '') {
          this.datePeriodBfore = this.datePeriod[0]
          this.datePeriodAfter = this.datePeriod[1]
        } else {
          this.datePeriodBfore = null
          this.datePeriodAfter = null
        }
        this.$http({
          url: this.$http.adornUrl('/service/dataAnalyse/studentDataAnalyse'),
          method: 'get',
          params: this.$http.adornParams({
            'groupId': this.classId,
            'courseId': this.courseId,
            'datePeriodBfore': this.datePeriodBfore,
            'datePeriodAfter': this.datePeriodAfter
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataAnalyse = data.studentDataAnalyse
            this.initChartPieMan()
            this.initChartPieWork()
            this.initChartPieAge()
            if (this.dataAnalyse.manEcharts.length <= 0) {
              this.$message.warning('現在の検索条件にはデータがありません！')
            }
          }
        })
      },
      // 饼状图
      initChartPieMan () {
        var option = {
          title: {
            text: '男女比',
            left: 'center',
            top: 20
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
          },
          series: [{
            name: '男女比',
            type: 'pie',
            radius: '55%',
            label: {
              normal: {
                position: 'outside',
                formatter: '{b} : {c} ({d}%)'
              }
            },
            data: this.dataAnalyse.manEcharts
          }
          ]
        }
        this.chartPie = echarts.init(document.getElementById('J_chartPieBoxMan'))
        this.chartPie.setOption(option)
        window.addEventListener('resize', () => {
          this.chartPie.resize()
        })
      },
      initChartPieWork () {
        var option = {
          title: {
            text: '職業構成',
            left: 'center',
            top: 20
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
          },
          series: [{
            name: '職業構成',
            type: 'pie',
            radius: '55%',
            label: {
              normal: {
                position: 'outside',
                formatter: '{b} : {c} ({d}%)'
              }
            },
            data: this.dataAnalyse.workEcharts
          }
          ]
        }
        this.chartPie = echarts.init(document.getElementById('J_chartPieBoxWork'))
        this.chartPie.setOption(option)
        window.addEventListener('resize', () => {
          this.chartPie.resize()
        })
      },
      initChartPieAge () {
        var option = {
          title: {
            text: '年齢層',
            left: 'center',
            top: 20
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
          },
          series: [{
            name: '年齢層',
            type: 'pie',
            radius: '55%',
            label: {
              normal: {
                position: 'outside',
                formatter: '{b} : {c} ({d}%)'
              }
            },
            data: this.dataAnalyse.ageEcharts
          }
          ]
        }
        this.chartPie = echarts.init(document.getElementById('J_chartPieBoxAge'))
        this.chartPie.setOption(option)
        window.addEventListener('resize', () => {
          this.chartPie.resize()
        })
      }
    }
  }
</script>

<style lang="scss">
  .mod-demo-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
    .el-card {
      min-width: 900px;
    }
  }
</style>