<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item label="クラス名：">
        <el-input v-model="dataForm.groupName" placeholder="クラス名" clearable></el-input>
      </el-form-item>
      <el-form-item label="ユーザーID：">
        <el-input v-model="dataForm.userName" placeholder="ユーザーID" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('service:student:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button>
        <el-button v-if="isAuth('service:student:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
      <el-form-item>
        <el-button v-if="isAuth('service:student:export')" type="primary" @click="exportCsv()">CSVエクスポート</el-button>
        <el-button v-if="isAuth('service:student:import')" type="primary" @click="openCsvDialog()">CSVインポート</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column
        prop="studentId"
        header-align="center"
        align="center"
        label="受講者ID"
        width="100">
      </el-table-column>
      <!-- <el-table-column
        prop="userPassword"
        header-align="center"
        align="center"
        label="パスワード">
      </el-table-column>
      <el-table-column
        prop="userSalt"
        header-align="center"
        align="center"
        label="ユーザー塩">
      </el-table-column> -->
      <el-table-column
        prop="userName"
        header-align="center"
        align="center"
        label="ユーザーID">
      </el-table-column>
      <el-table-column
        prop="groupName"
        header-align="center"
        align="center"
        label="クラス名">
      </el-table-column>
      <el-table-column
        prop="groupNameOf"
        header-align="center"
        align="center"
        label="所属ご契約者様">
      </el-table-column>
      <!-- <el-table-column
        prop="userNameKana"
        header-align="center"
        align="center"
        label="ユーザー名（カナ）">
      </el-table-column>
      <el-table-column
        prop="nickName"
        header-align="center"
        align="center"
        label="ニックネーム">
      </el-table-column> -->
      <!-- <el-table-column
        prop="sex"
        header-align="center"
        align="center"
        label="性別">
      </el-table-column>
      <el-table-column
        prop="birthday"
        header-align="center"
        align="center"
        label="生年月日">
      </el-table-column> -->
      <!-- <el-table-column
        prop="addressZipCode"
        header-align="center"
        align="center"
        label="住所・郵便番号">
      </el-table-column> -->
      <!-- <el-table-column
        prop="addressPrefecture"
        header-align="center"
        align="center"
        label="住所・都道府県">
      </el-table-column>
      <el-table-column
        prop="addressCity"
        header-align="center"
        align="center"
        label="住所・市区町村">
      </el-table-column>
      <el-table-column
        prop="addressOthers"
        header-align="center"
        align="center"
        label="住所・番地以下">
      </el-table-column> -->
      <!-- <el-table-column
        prop="contactMobile"
        header-align="center"
        align="center"
        label="連絡・携帯">
      </el-table-column> -->
      <el-table-column
        prop="email"
        header-align="center"
        align="center"
        label="メール">
      </el-table-column>
      <el-table-column
        prop="accountStatus"
        header-align="center"
        align="center"
        label="状態"
        width="100">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.accountStatus === '0'" size="small" >仮登録済</el-tag>
          <el-tag v-if="scope.row.accountStatus === '1'" size="small" >利用中</el-tag>
          <el-tag v-if="scope.row.accountStatus === '2'" size="small" type="danger">利用停止</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="contactTel"
        header-align="center"
        align="center"
        label="連絡・電話">
      </el-table-column>
      <el-table-column
        prop="contactFax"
        header-align="center"
        align="center"
        label="連絡・FAX">
      </el-table-column> -->
      <!-- <el-table-column
        prop="startTime"
        header-align="center"
        align="center"
        label="適用開始日">
      </el-table-column>
      <el-table-column
        prop="overTime"
        header-align="center"
        align="center"
        label="適用終了日">
      </el-table-column> -->
      <!-- <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時">
      </el-table-column> -->
      <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="200"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="studentDetailHandle(scope.row.studentId)">詳細</el-button>
          <el-button v-if="isAuth('service:student:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.studentId)">変更</el-button>
          <el-button v-if="isAuth('service:student:delete')" type="text" size="small" @click="deleteHandle(scope.row.studentId)">削除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <student-detail v-if="studentDetailVisible" ref="studentDetail"></student-detail>
    <csv-upload :show.sync="csvUploadVisible" ref="csvUpload" @refreshDataList="getDataList"></csv-upload>
  </div>
</template>

<script>
  import AddOrUpdate from './student-add-or-update'
  import StudentDetail from './student-detail'
  import Papa from 'papaparse'
  import encoding from 'encoding-japanese'
  import CsvUpload from './student-csv-upload.vue'
  export default {
    data () {
      return {
        dataForm: {
          userName: '',
          groupName: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        studentDetailVisible: false,
        csvUploadVisible: false,
        loginGroupId: '',
        csvTitle: [
          '受講者ID',
          'ユーザーID',
          'ユーザー名（漢字）',
          'ユーザー名（カナ）',
          'ニックネーム',
          '所属ご契約者様ID',
          '所属ご契約者様名',
          'クラスID',
          'クラス名',
          '性別',
          '生年月日',
          '職業',
          '住所・郵便番号',
          '住所・都道府県',
          '住所・市区町村',
          '住所・番地以下',
          '住所・建物名',
          'メール',
          '連絡・携帯',
          '連絡・電話',
          '連絡・FAX',
          '状態']
      }
    },
    components: {
      AddOrUpdate,
      StudentDetail,
      CsvUpload
    },
    created () {
      this.$http({
        url: this.$http.adornUrl(`/service/usergroup/groupId`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.loginGroupId = data.groupId
        } else {
          this.$message.error(data.msg)
        }
      })
    },
    // activated () {
    //   this.getDataList()
    // },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/student/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'groupName': this.dataForm.groupName,
            'userName': this.dataForm.userName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      addOrUpdateHandle (id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(id)
        })
      },
      studentDetailHandle (id) {
        this.studentDetailVisible = true
        this.$nextTick(() => {
          this.$refs.studentDetail.init(id)
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.studentId
        })
        this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/student/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      exportCsv () {
        this.$http({
          url: this.$http.adornUrl('/service/student/export'),
          method: 'get',
          params: this.$http.adornParams({
            'groupName': this.dataForm.groupName,
            'userName': this.dataForm.userName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            if (data.studentList.length > 0) {
              console.log(data)
              this.$options.methods.csvFormat(data.studentList, this.csvTitle)
            } else {
              this.$message.warning('現在の検索条件にはデータがありません！')
            }
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      csvFormat (csvData, csvTitle) {
        var csv = Papa.unparse(csvData)
        var csvStringData = Papa.parse(csv)
        csvStringData.data.shift()
        csvStringData.data.unshift(csvTitle)
        var csvFileData = Papa.unparse(csvStringData.data)
        const strArray = encoding.stringToCode(csvFileData)
        const convertedArray = encoding.convert(strArray, 'SJIS', 'UNICODE')
        const UintArray = new Uint8Array(convertedArray)
        // 定义文件内容，类型必须为Blob 否则createObjectURL会报错
        let content = new Blob([UintArray])
        // 生成url对象
        let urlObject = window.URL || window.webkitURL || window
        let url = urlObject.createObjectURL(content)
        // 生成<a></a>DOM元素
        let el = document.createElement('a')
        // 链接赋值
        el.href = url
        el.download = '一般ユーザーエクスポートファイル.csv'
        // 必须点击否则不会下载
        el.click()
        // 移除链接释放资源
        urlObject.revokeObjectURL(url)
      },
      openCsvDialog () {
        this.csvUploadVisible = true
      }
    }
  }
</script>
