<template>
  <el-dialog
    :title="'不合格問題一覧'"
    :close-on-click-modal="false"
    :visible.sync="visible"
    v-if='visible'>
  <!-- <div class="app-container"> -->
    <el-form :model="dataFormHeader" ref="dataForm" label-width="190px">
    <el-form-item label="単元テスト名:" prop="testTitle">
        <div class="detail-div-line" >{{dataFormHeader.testTitle}}</div>
    </el-form-item>
    <el-form-item label="正答率:" prop="answerCorrectRate">
        <div class="detail-div-line" >{{dataFormHeader.answerCorrectRate}}{{'%'}}</div>
    </el-form-item>
    <el-form-item label="テスト結果:" prop="answerResult">
      <template>
        <el-tag v-if="dataFormHeader.answerResult === '0'" size="small" type="primary">合格</el-tag>
        <el-tag v-if="dataFormHeader.answerResult === '1'" size="small" type="primary">不合格</el-tag>
        <el-tag v-if="dataFormHeader.answerResult === '2'" size="small" type="primary">単元テスト終了</el-tag>
      </template>
        <!-- <div class="detail-div-line" >{{dataFormHeader.answerResult}}</div> -->
    </el-form-item>
    
    <div>
    <el-card slot="header" shadow="never" class="box-card" v-if="result.length">
      <div slot="header" class="clearfix center h3">
        <span>不合格問題一覧</span>
      </div>
      <div class="text item">
        <table v-for="(question, index) in result"
          :key="index" class="result-table"
        >
          <tr>
            <td class="rowspan-th" bgcolor="#cccccc">
              <span>問題{{index + 1}}</span>
            </td>
          </tr>
          <tr>
            <td class="bg">問題文</td>
          </tr>
          <tr>
            <td colspan="2"><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.questionContent}}</div></td>
          </tr>
          <tr>
            <td class="bg">解説文</td>
          </tr>
          <tr>
            <td><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.questionExplanation}}</div></td>
          </tr>
          <tr>
            <td class="bg">解答内容</td>
          </tr>
          <tr>
            <td class="text-block"><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.answerContent}}</div></td>
          </tr>
          <tr>
            <td class="bg">正解内容</td>
          </tr>
          <tr>
            <td class="text-block"><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.standardAnswers}}</div></td>
          </tr>
        </table>
      </div>
    </el-card>
    </div>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">閉じる</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loginGroupType: '',
        dataFormHeader: {
          testTitle: '',
          answerCorrectRate: '',
          answerResult: ''
        },
        result: {}
      }
    },
    methods: {
      init (testTitle, row) {
        console.log(row)
        this.dataFormHeader.testTitle = testTitle
        this.dataFormHeader.answerCorrectRate = row.answerCorrectRate
        this.dataFormHeader.answerResult = row.answerResult
        this.visible = true
        this.$nextTick(() => {
          if (row.studentId && row.studentTestId) {
            this.$http({
              url: this.$http.adornUrl('/service/studenttest/studentTestUnqualifiedProblem'),
              method: 'get',
              params: this.$http.adornParams({
                'studentId': row.studentId,
                'studentTestId': row.studentTestId
              })
            }).then(({ data }) => {
              if (data && data.code === 0) {
                this.result = data.result
                console.log(this.result)
                console.log(this.result.length)
              } else {
                this.result = {}
              }
              this.dataListLoading = false
            })
          }
        })
      }
    }
  }
</script>

<style lang="less">
@import "../styles/test.less";
@import "../styles/mediaQuery.less";
.result-page-content {
  padding-bottom: 30px;
}
.result-table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid @lightBorderColor;
  td {
    border-bottom: 1px solid @lightBorderColor;
    border-right: 1px solid @lightBorderColor;
    padding: 20px;
  }
  .bg {
    background: @tableBg;
  }
  .rowspan-td {
    min-width:30px;
    text-align: center;
    position: relative;
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.test-table {
  margin: 30px 0;
  display: flex;
  overflow: hidden;
  border: 1px solid @lightBorderColor;
  .col-title {
    flex: 0 0 30%;
    white-space: nowrap;
    background-color: @tableBg;
  }
  .col-order {
    flex: 0 0 10%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @tableBg;
  }
  .content {
    margin: -1px;
    padding: 20px;
    border: 1px solid @lightBorderColor;
    border-right: 0;
  }
  .col-content {
    flex: 1;
  }
}
.el-card__header {
  background: #F5F7FA;
  .center {
    text-align: center;
  }
  .h3 {
    font-size: 20px;
  }
}

.grid-content {
  padding: 20px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
.text-block {
  white-space: pre-wrap;
}
.result-content {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:40px 16px;
  padding-top: 0;
}
</style>