<template>
<div class="mod-config">
  <el-row>
    <el-col :span=10>
      <p style="font-size: 16px bold"> <b>クラス名:</b> {{ prevPageData.groupName }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=10>
      <p style="font-size: 16px"> <b>講座名:</b> {{ prevPageData.courseTitle }} </p>
    </el-col>
    <el-col :span=10>
      <p style="font-size: 16px"> <b>ユーザーID:</b> {{ prevPageData.userName }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=10>
      <p style="font-size: 16px"> <b>単元名:</b> {{ prevPageData.unitName }} </p>
    </el-col>
    <el-col :span=10>
      <p style="font-size: 16px"> <b>単元テスト名:</b> {{ prevPageData.testTitle }} </p>
    </el-col>
  </el-row>

  <p><b>単元テスト履歴</b></p>
  <el-table :data="dataList" border v-loading="dataListLoading" style="width: 100%;">
    <el-table-column type="index" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="answerStartTime" header-align="center" align="center" label="テスト開始時刻">
    </el-table-column>
    <el-table-column prop="answerResult" header-align="center" align="center" label="結果">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.answerResult === '0'" size="small" type="primary">合格</el-tag>
        <el-tag v-if="scope.row.answerResult === '1'" size="small" type="primary">不合格</el-tag>
        <el-tag v-if="scope.row.answerResult === '2'" size="small" type="primary">単元テスト終了</el-tag>
      </template>
    </el-table-column>
    <el-table-column header-align="center" align="center" label="正解率">
      <template slot-scope="scope">
      {{scope.row.answerCorrectRate}}{{'%'}}
      </template>
    </el-table-column>
    <el-table-column prop="answerStatus" header-align="center" align="center" label="テスト状態">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.answerStatus === '0'" size="small" type="primary">解答中</el-tag>
        <el-tag v-if="scope.row.answerStatus === '1'" size="small" type="primary">解答済</el-tag>
        <el-tag v-if="scope.row.answerStatus === '2'" size="small" type="primary">テスト中断</el-tag>
        <el-tag v-if="scope.row.answerStatus === '3'" size="small" type="primary">スキップ</el-tag>
      </template>
    </el-table-column>
    <el-table-column fixed="right" header-align="center" align="center" width="200" label="不合格問題一覧">
      <template v-if="scope.row.answerStatus==='1'" slot-scope="scope">
        <el-button type="text" size="small" @click="toStudentTestUnqualifiedProblem(prevPageData.testTitle,scope)">不合格問題一覧</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <student-unit-test-unqualified-problem v-if="studentUnitTestUnqualifiedProblemVisible" ref="studentUnitTestUnqualifiedProblem"></student-unit-test-unqualified-problem>
</div>
</template>

<script>
import StudentUnitTestUnqualifiedProblem from './student-unit-test-unqualified-problem'
export default {
  data () {
    return {
      prevPageData: {
        groupName: '',
        courseTitle: '',
        userName: '',
        unitName: '',
        testTitle: '',
        studentId: '',
        unitTestId: ''
      },
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      studentUnitTestUnqualifiedProblemVisible: false
    }
  },
  components: {
    StudentUnitTestUnqualifiedProblem
  },
  activated () {
    this.prevPageData.groupName = this.$route.query.groupName
    this.prevPageData.courseTitle = this.$route.query.courseTitle
    this.prevPageData.userName = this.$route.query.userName
    this.prevPageData.unitName = this.$route.query.unitName
    this.prevPageData.testTitle = this.$route.query.testTitle
    this.prevPageData.studentId = this.$route.query.studentId
    this.prevPageData.unitTestId = this.$route.query.unitTestId
    this.getDataList()
  },
  watch: {
    'prevPageData.studentId' () {
      let query = this.$route.query
      this.$store.commit('common/updateMainTabsQuery', query)
    }
  },
  methods: {
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/studenttest/studenttestHistoryList'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'studentId': this.prevPageData.studentId,
          'unitTestId': this.prevPageData.unitTestId
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    },
    toStudentTestUnqualifiedProblem (testTitle, scope) {
      this.studentUnitTestUnqualifiedProblemVisible = true
      this.$nextTick(() => {
        this.$refs.studentUnitTestUnqualifiedProblem.init(testTitle, scope.row)
      })
    }
  }
}
</script>
