<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="180px">
    <!-- <el-form-item label="パスワード" prop="userPassword">
      <el-input v-model="dataForm.userPassword" placeholder="パスワード"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="ユーザー塩" prop="userSalt">
      <el-input v-model="dataForm.userSalt" placeholder="ユーザー塩"></el-input>
    </el-form-item> -->
    <el-form-item label="ユーザーID:" prop="userName">
      <div class="detail-div-line" >{{dataForm.userName}}</div>
    </el-form-item>
    <el-form-item label="ユーザー名（漢字）:" prop="userNameKanji">
      <div class="detail-div-line" >{{dataForm.userNameKanji}}</div>
    </el-form-item>
    <el-form-item label="ユーザー名（カナ）:" prop="userNameKana">
      <div class="detail-div-line" >{{dataForm.userNameKana}}</div>
    </el-form-item>
    <el-form-item label="ニックネーム:" prop="nickName">
      <div class="detail-div-line" >{{dataForm.nickName}}</div>
    </el-form-item>
    <el-form-item label="クラス名:" prop="groupName">
      <div class="detail-div-line" >{{dataForm.groupName}}</div>
    </el-form-item> 
     <el-form-item label="クラス所属ご契約者様名:" prop="groupNameOf">
        <div class="detail-div-line" >{{dataForm.groupNameOf}}</div>
    </el-form-item>
    <el-form-item label="性別:" prop="sex">
      <el-tag v-if="dataForm.sex === '0'" size="small" type="primary">男性</el-tag>
      <el-tag v-if="dataForm.sex === '1'" size="small" type="primary">女性</el-tag>
    </el-form-item>
    <el-form-item label="職業:" prop="profession">
      <el-tag v-if="dataForm.profession === '0'" size="small" type="primary">会社員</el-tag>
      <el-tag v-if="dataForm.profession === '1'" size="small" type="primary">公務員</el-tag>
      <el-tag v-if="dataForm.profession === '2'" size="small" type="primary">自営業</el-tag>
      <el-tag v-if="dataForm.profession === '3'" size="small" type="primary">会社役員・経営者</el-tag>
      <el-tag v-if="dataForm.profession === '4'" size="small" type="primary">専業主婦（夫）</el-tag>
      <el-tag v-if="dataForm.profession === '5'" size="small" type="primary">学生</el-tag>
      <el-tag v-if="dataForm.profession === '6'" size="small" type="primary">パート・アルバイト</el-tag>
      <el-tag v-if="dataForm.profession === '7'" size="small" type="primary">無職</el-tag>
      <el-tag v-if="dataForm.profession === '8'" size="small" type="primary">その他</el-tag>
    </el-form-item>
    <el-form-item label="生年月日:" prop="birthday">
      {{dataForm.birthday}}
    </el-form-item>
    <el-form-item label="住所・郵便番号:" prop="addressZipCode">
      {{dataForm.addressZipCode}}
    </el-form-item>
    <el-form-item label="住所・都道府県:" prop="addressPrefecture">
      <div class="detail-div-line" >{{dataForm.addressPrefecture}}</div>
    </el-form-item>
    <el-form-item label="住所・市区町村:" prop="addressCity">
     <div class="detail-div-line" > {{dataForm.addressCity}}</div>
    </el-form-item>
    <el-form-item label="住所・番地以下:" prop="addressOthers">
      <div class="detail-div-line" >{{dataForm.addressOthers}}</div>
    </el-form-item>
    <el-form-item label="住所・建物名:" prop="addressBuildingName">
      <div class="detail-div-line" >{{dataForm.addressBuildingName}}</div>
    </el-form-item>
    <el-form-item label="メール:" prop="email" >
      <div class="detail-div-line" >{{dataForm.email}}</div>
    </el-form-item>
    <el-form-item label="連絡・携帯:" prop="contactMobile">
      {{dataForm.contactMobile}}
    </el-form-item>
    <el-form-item label="連絡・電話:" prop="contactTel">
      {{dataForm.contactTel}}
    </el-form-item>
    <el-form-item label="連絡・FAX:" prop="contactFax">
      {{dataForm.contactFax}}
    </el-form-item>
    <el-form-item label="状態:" prop="accountStatus">
      <el-tag v-if="dataForm.accountStatus === '0'" size="small" type="primary">仮登録済</el-tag>
      <el-tag v-if="dataForm.accountStatus === '1'" size="small" type="primary">利用中</el-tag>
      <el-tag v-if="dataForm.accountStatus === '2'" size="small" type="primary">利用停止</el-tag>
    </el-form-item>
    <!-- <el-form-item label="適用開始日" prop="startTime">
      <el-input v-model="dataForm.startTime" placeholder="適用開始日"></el-input>
    </el-form-item>
    <el-form-item label="適用終了日" prop="overTime">
      <el-input v-model="dataForm.overTime" placeholder="適用終了日"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="作成者:" prop="createUserId">
      {{dataForm.createUserId}}
    </el-form-item> -->
    <el-form-item label="作成日時:" prop="createTime">
      {{dataForm.createTime}}
    </el-form-item>
    <!-- <el-form-item label="更新者:" prop="updateUserId">
      {{dataForm.updateUserId}}
    </el-form-item>
    <el-form-item label="更新日時:" prop="updateTime">
      {{dataForm.updateTime}}
    </el-form-item> -->
    <!-- <el-form-item label="バージョン番号:" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ:" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item>  -->
    </el-form>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        // allGroupList: [],
        // groupList: [],
        dataForm: {
          studentId: 0,
          // userPassword: '',
          // userSalt: '',
          userName: '',
          userNameKanji: '',
          userNameKana: '',
          nickName: '',
          groupId: null,
          groupName: '',
          sex: '0',
          profession: '',
          birthday: '',
          addressZipCode: '',
          addressPrefecture: '',
          addressCity: '',
          addressOthers: '',
          addressBuildingName: '',
          email: '',
          contactMobile: '',
          contactTel: '',
          contactFax: '',
          accountStatus: '1',
          // startTime: '',
          // overTime: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: '',
          groupNameOf: ''
          // versionNo: '',
          // delFlag: ''
        }
      }
    },
    methods: {
      init (id) {
        this.groupList = []
        this.dataForm.studentId = id || 0
        this.$http({
          url: this.$http.adornUrl('/service/usergroup/selectDrop'),
          method: 'get',
          params: this.$http.adornParams({
            'groupType': '3'
          })
        }).then(({data}) => {
          this.allGroupList = data && data.code === 0 ? data.list : []
        }).then(() => {
          this.visible = true
          this.$nextTick(() => {
            this.$refs['dataForm'].resetFields()
          })
        }).then(() => {
          if (this.dataForm.studentId) {
            this.$http({
              url: this.$http.adornUrl(`/service/student/info/${this.dataForm.studentId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.userPassword = data.student.userPassword
                // this.dataForm.userSalt = data.student.userSalt
                this.dataForm.userName = data.student.userName
                this.dataForm.userNameKanji = data.student.userNameKanji
                this.dataForm.userNameKana = data.student.userNameKana
                this.dataForm.nickName = data.student.nickName
                this.dataForm.groupId = data.student.groupId
                this.dataForm.groupName = data.student.groupName
                this.dataForm.sex = data.student.sex
                this.dataForm.profession = data.student.profession
                this.dataForm.birthday = data.student.birthday
                this.dataForm.addressZipCode = data.student.addressZipCode
                this.dataForm.addressPrefecture = data.student.addressPrefecture
                this.dataForm.addressCity = data.student.addressCity
                this.dataForm.addressOthers = data.student.addressOthers
                this.dataForm.addressBuildingName = data.student.addressBuildingName
                this.dataForm.email = data.student.email
                this.dataForm.contactMobile = data.student.contactMobile
                this.dataForm.contactTel = data.student.contactTel
                this.dataForm.contactFax = data.student.contactFax
                this.dataForm.accountStatus = data.student.accountStatus
                // this.dataForm.startTime = data.student.startTime
                // this.dataForm.overTime = data.student.overTime
                this.dataForm.createUserId = data.student.createUserId
                this.dataForm.createTime = data.student.createTime
                this.dataForm.updateUserId = data.student.updateUserId
                this.dataForm.updateTime = data.student.updateTime
                this.dataForm.groupNameOf = data.student.groupNameOf
                // this.dataForm.versionNo = data.student.versionNo
                // this.dataForm.delFlag = data.student.delFlag
              }
            })
          }
        })
      }
    }
  }
</script>
