<template>
<div class="mod-config">
  <el-form :inline="true" :model="dataForm" >
    <!-- <el-row v-if="groupId === '1'">
      <el-col :span=8>
        <el-form-item label="ご契約者様ID">
          <el-input v-model="dataForm.groupId" placeholder="ご契約者様ID" size="mini"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span=8>
        <el-form-item label="ご契約者様名">
         <el-input v-model="dataForm.groupName" placeholder="ご契約者様名" size="mini"></el-input>
        </el-form-item>
      </el-col>
    </el-row> -->
    <el-row v-show="groupType === '1' || groupType === '2'">
      <!-- <el-col :span=8>
        <el-form-item label="グループID">
          <el-input v-model="dataForm.groupId" placeholder="グループID" size="mini"></el-input>
        </el-form-item>
      </el-col> -->
      <el-col :span=8>
        <el-form-item label="クラス名">
         <el-input v-model="dataForm.groupName" placeholder="クラス名" size="mini"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
        <el-row>
      <!-- <el-col :span=8>
        <el-form-item label="講座ID">
          <el-input v-model="dataForm.courseId" placeholder="講座ID" size="mini"></el-input>
        </el-form-item>
      </el-col> -->
      <el-col :span=8>
        <el-form-item label="講座名">
         <el-input v-model="dataForm.courseName" placeholder="講座名" size="mini"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span=8>
        <el-form-item label="ユーザーID">
         <el-input v-model="dataForm.userName" placeholder="ユーザーID" size="mini"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span=8>
        <el-form-item label="単元名">
         <el-input v-model="dataForm.unitName" placeholder="単元名" size="mini"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span=8>
        <el-form-item label="単元テスト名">
         <el-input v-model="dataForm.testTitle" placeholder="単元テスト名" size="mini"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
        <!-- <el-row>
      <el-col :span=8>
        <el-form-item label="受講状態">
          <el-select v-model="dataForm.studyStatus" placeholder="Select">
            <el-option
              v-for="item in optionsStatus"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row> -->
    <el-row>
      <el-col :span=8>
      </el-col>
      <el-col :span=8>
      </el-col>
      <el-col :span=8>
        <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
      </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <el-table :data="dataList" border v-loading="dataListLoading" style="width: 100%;">
    <el-table-column type="index" header-align="center" align="center" width="50">
    </el-table-column>
    <!-- <el-table-column prop="groupIdOf" header-align="center" align="center" label="所属グループID">
    </el-table-column>
    <el-table-column prop="groupIdOfName" header-align="center" align="center" label="所属クラス名">
    </el-table-column> -->
      <!-- <el-table-column prop="groupId" header-align="center" align="center" label="グループID">
    </el-table-column> -->
      <el-table-column prop="groupName" header-align="center" align="center" label="クラス名">
    </el-table-column>
      <!-- <el-table-column prop="studentId" header-align="center" align="center" label="受講者ID">
    </el-table-column> -->
      <el-table-column prop="userName" header-align="center" align="center" label="ユーザーID">
    </el-table-column>
      <!-- <el-table-column prop="courseId" header-align="center" align="center" label="講座ID">
    </el-table-column> -->
      <el-table-column prop="courseTitle" header-align="center" align="center" label="講座名">
    </el-table-column>
    <!-- <el-table-column prop="studyStatus" header-align="center" align="center" label="受講状態" width="200"> 
      <template slot-scope="scope">
        <el-tag v-if="scope.row.studyStatus === '0'" size="small" type="primary">受講申請中</el-tag>
        <el-tag v-if="scope.row.studyStatus === '1'" size="small" type="primary">受講申請承認済</el-tag>
        <el-tag v-if="scope.row.studyStatus === '2'" size="small" type="primary">受講中</el-tag>
        <el-tag v-if="scope.row.studyStatus === '3'" size="small" type="primary">受講終了 </el-tag>
        <el-tag v-if="scope.row.studyStatus === '4'" size="small" type="primary">受講申請拒否 </el-tag>
        <el-tag v-if="scope.row.studyStatus === '5'" size="small" type="primary">キャンセル申請中 </el-tag>
        <el-tag v-if="scope.row.studyStatus === '6'" size="small" type="primary">キャンセル承認済 </el-tag>
      </template>
    </el-table-column> -->
      <el-table-column prop="unitName" header-align="center" align="center" label="単元名">
    </el-table-column>
      <el-table-column prop="testTitle" header-align="center" align="center" label="単元テスト名">
    </el-table-column>
    <el-table-column fixed="right" header-align="center" align="center" width="200" label="単元テスト履歴">
      <template slot-scope="scope">
        <el-button type="text" size="small" @click="toStudentTestHistory(scope)">履歴</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
</div>
</template>

<script>
export default {
  data () {
    return {
      dataForm: {
        groupId: '',
        groupName: '',
        courseId: '',
        courseName: '',
        studentId: '',
        userName: '',
        studyStatus: '',
        unitId: '',
        unitName: '',
        unitTestId: '',
        testTitle: ''
      },
      optionsStatus: [{
        value: '',
        label: 'すべて'
      }, {
        value: '0',
        label: '受講申請中'
      }, {
        value: '1',
        label: '受講申請承認済'
      }, {
        value: '2',
        label: '受講中'
      }, {
        value: '3',
        label: '受講終了'
      }, {
        value: '4',
        label: '受講申請拒否'
      }, {
        value: '5',
        label: 'キャンセル申請中'
      }, {
        value: '6',
        label: 'キャンセル承認済'
      }],
      groupId: '',
      groupType: '',
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false
    }
  },
  activated () {
    this.getUserInfo()
    this.getDataList()
  },
  filters: {
    toPercent (point) {
      var str = Number(point * 100).toFixed(2)
      str += '%'
      return str
    }
  },
  methods: {
    getUserInfo () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/sys/user/info'),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.userId = data.user.userId
          this.userName = data.user.userName
          this.groupId = data.user.groupId
          this.dataListLoading = false
          this.getGroupType()
        }
      })
    },
    getGroupType () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/usergroup/info/' + this.groupId),
        method: 'get'
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.groupType = data.userGroup.groupType
          this.dataListLoading = false
        }
      })
    },
    getDataListSearch () {
      this.dataListLoading = true
      this.pageIndex = 1
      this.pageSize = 10
      this.getDataList()
    },
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/studentcoursemanage/student/unitTestList'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'groupId': this.dataForm.groupId,
          'groupName': this.dataForm.groupName,
          'studentId': this.dataForm.studentId,
          'userName': this.dataForm.userName,
          'studyStatus': this.dataForm.studyStatus,
          'courseId': this.dataForm.courseId,
          'courseName': this.dataForm.courseName,
          'unitName': this.dataForm.unitName,
          'testTitle': this.dataForm.testTitle
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    toStudentTestHistory (scope) {
      this.$router.push(
        {
          name: 'student-unit-test-history',
          query:
          {
            groupName: scope.row.groupName,
            courseTitle: scope.row.courseTitle,
            userName: scope.row.userName,
            unitName: scope.row.unitName,
            testTitle: scope.row.testTitle,
            studentId: scope.row.studentId,
            unitTestId: scope.row.unitTestId
          }
        })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    }
  }
}
</script>
