<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item v-if="grouTypeCheck !='3'" label="クラス名：">
        <el-input v-model="dataForm.groupName" placeholder="クラス名" clearable></el-input>
      </el-form-item>
      <el-form-item label="ユーザ名：">
        <el-input v-model="dataForm.userName" placeholder="ユーザ名" clearable></el-input>
      </el-form-item>
      <el-form-item label="講座名：">
        <el-input v-model="dataForm.courseTitle" placeholder="講座名" clearable></el-input>
      </el-form-item>
      <el-form-item label="受講状態：">
      <el-select v-model="dataForm.studyStatus" placeholder="選択してください">
        <el-option v-for="item in optionsType" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <!--
        No73問題対応、暫く非表示する
        <el-button v-if="isAuth('service:studentcoursemanage:update')" type="primary" @click="allAdmit()" :disabled="dataListSelections.length <= 0">承認</el-button>
        <el-button v-if="isAuth('service:studentcoursemanage:update')" type="primary" @click="allRefuse()" :disabled="dataListSelections.length <= 0">拒否</el-button>
        -->
        <el-button v-if="isAuth('service:studentcoursemanage:export')" type="primary" @click="exportCsv()">CSVエクスポート</el-button>
        <!-- <el-button v-if="isAuth('service:student:import')" type="primary" @click="openCsvDialog()">CSVインポート</el-button>
        <el-button v-if="isAuth('service:student:import')" type="primary" @click="templateCsvDownload()">CSVインポートト用テンプレート</el-button>-->
      </el-form-item> 
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
    <el-table-column 
      type="index" 
      header-align="center" 
      align="center" 
      width="50">
    </el-table-column>
      <el-table-column
        prop="studentCourseId"
        header-align="center"
        align="center"
        label="受講者コースID"
        width="120">
      </el-table-column>
      <el-table-column
        prop="studentId"
        header-align="center"
        align="center"
        label="受講者ID"
        width="80">
      </el-table-column>      
      <el-table-column
        prop="userName"
        header-align="center"
        align="center"
        label="ユーザーID"
        width="100">
      </el-table-column>
      <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID"
        width="80">
      </el-table-column>
      <el-table-column
        prop="courseTitle"
        header-align="center"
        align="center"
        label="講座名"
        width="150">
      </el-table-column>
      <el-table-column
        prop="groupId"
        header-align="center"
        align="center"
        label="クラスID"
        width="150">
      </el-table-column>
      <el-table-column
        prop="groupName"
        header-align="center"
        align="center"
        label="クラス名"
        width="150">
      </el-table-column>
      <el-table-column
        prop="studyStatus"
        header-align="center"
        align="center"
        label="受講状態"
        width="200">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.studyStatus === '0'" size="small" >受講申請中</el-tag>
          <el-tag v-if="scope.row.studyStatus === '1'" size="small" >受講申請承認済（未受講受験）</el-tag>
          <el-tag v-if="scope.row.studyStatus === '2'" size="small" >受講中</el-tag>
          <el-tag v-if="scope.row.studyStatus === '3'" size="small" >受講終了（全受験通過）</el-tag>
          <el-tag v-if="scope.row.studyStatus === '4'" size="small" >受講申請拒否</el-tag>
          <!-- <el-tag v-if="scope.row.studyStatus === '5'" size="small" >キャンセル申請中</el-tag>
          <el-tag v-if="scope.row.studyStatus === '6'" size="small" >キャンセル承認済</el-tag> -->
        </template>
      </el-table-column>
      <el-table-column
        prop="openStartTime"
        header-align="center"
        align="center"
        label="講座公開日"
        width="100">
      </el-table-column>
      <el-table-column
        prop="openEndTime"
        header-align="center"
        align="center"
        label="講座終了日"
        width="100">
      </el-table-column>
      <!-- <el-table-column
        prop="courseRegTime"
        header-align="center"
        align="center"
        label="受講申請日時">
      </el-table-column>
      <el-table-column
        prop="courseRegReason"
        header-align="center"
        align="center"
        label="受講申請理由">
      </el-table-column>
      <el-table-column
        prop="sysUserId"
        header-align="center"
        align="center"
        label="受講申請審査者">
      </el-table-column>
      <el-table-column
        prop="regApprovalTime"
        header-align="center"
        align="center"
        label="受講申請承認日時">
      </el-table-column>
      <el-table-column
        prop="regApprovalContact"
        header-align="center"
        align="center"
        label="受講申請承認連絡事項">
      </el-table-column>
      <el-table-column
        prop="regRejectTime"
        header-align="center"
        align="center"
        label="受講申請拒否日時">
      </el-table-column>
      <el-table-column
        prop="regRejectReason"
        header-align="center"
        align="center"
        label="受講申請拒否理由">
      </el-table-column>
      <el-table-column
        prop="studyTestStartTime"
        header-align="center"
        align="center"
        label="受講受験開始日時">
      </el-table-column>
      <el-table-column
        prop="studyTestEndTime"
        header-align="center"
        align="center"
        label="受講受験開始終了日時">
      </el-table-column>
      <el-table-column
        prop="cancelRegTime"
        header-align="center"
        align="center"
        label="受講キャンセル申請日時">
      </el-table-column>
      <el-table-column
        prop="cancelRegReason"
        header-align="center"
        align="center"
        label="受講キャンセル申請理由">
      </el-table-column>
      <el-table-column
        prop="cancelSysUserId"
        header-align="center"
        align="center"
        label="受講キャンセル申請審査者">
      </el-table-column>
      <el-table-column
        prop="cancelApprovalTime"
        header-align="center"
        align="center"
        label="受講キャンセル申請承認日時">
      </el-table-column>
      <el-table-column
        prop="cancelApprovalContact"
        header-align="center"
        align="center"
        label="受講キャンセル申請承認連絡事項">
      </el-table-column>
      <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時">
      </el-table-column>
      <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        label="削除">
        <template slot-scope="scope">
          <el-button v-if="isAuth('service:studentcoursemanage:delete')" type="text" size="small" @click="deleteHandle(scope.row.studentCourseId)">削除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <csv-upload :show.sync="csvUploadVisible" ref="csvUpload" @refreshDataList="getDataList"></csv-upload>
    <!-- <studentcourse-detail v-if="studentCourseDetailVisible" ref="studentCourseDetail" @refreshDataList="getDataList"></studentcourse-detail> -->
  </div>
</template>
<script>
  import StudentcourseDetail from './studentcoursemanage-detail'
  import Papa from 'papaparse'
  import CsvUpload from './studentcoursemanage-upload.vue'
  import encoding from 'encoding-japanese'
  export default {
    data () {
      return {
        dataForm: {
          userName: '',
          groupName: '',
          courseTitle: '',
          studyStatus: ''
        },
        dataListSelections: [],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        grouTypeCheck: '',
        studentCourseDetailVisible: false,
        csvUploadVisible: false,
        optionsType: [{
          value: '',
          label: 'すべて'
        },
        {
          value: '0',
          label: '受講申請中'
        }, {
          value: '1',
          label: '受講申請承認済（未受講受験）'
        }, {
          value: '2',
          label: '受講中'
        }, {
          value: '3',
          label: '受講終了（全受験通過）'
        }, {
          value: '4',
          label: '受講申請拒否'
        }],
        loginGroupId: '',
        csvTitle: [
          '受講者コースID',
          '受講者ID',
          'ユーザーID',
          'クラスID',
          'クラス名',
          '講座ID',
          '講座名',
          '受講状態',
          '講座公開日',
          '講座終了日'],
        csvImportTemplate: [
          '受講者ID',
          '講座ID',
          '受講状態']
      }
    },
    components: {
      StudentcourseDetail,
      CsvUpload
    },
    created () {
      this.$http({
        url: this.$http.adornUrl(`/service/usergroup/groupType`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.grouTypeCheck = data.groupType
        } else {
          this.$message.error(data.msg)
        }
      })
      this.$http({
        url: this.$http.adornUrl(`/service/usergroup/groupId`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.loginGroupId = data.groupId
        } else {
          this.$message.error(data.msg)
        }
      })
    },
    activated () {
      this.getDataList()
    },
    methods: {
      selectTable (row, index) {
        if (row.studyStatus === '0') {
          return true
        } else {
          return false
        }
      },
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/studentcoursemanage/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userName': this.dataForm.userName,
            'groupName': this.dataForm.groupName,
            'courseTitle': this.dataForm.courseTitle,
            'studyStatus': this.dataForm.studyStatus
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // studentCourseDetailHandle (id) {
      //   this.studentCourseDetailVisible = true
      //   this.$nextTick(() => {
      //     this.$refs.studentCourseDetail.init(id, this.grouTypeCheck)
      //   })
      // },
      exportCsv () {
        this.$http({
          url: this.$http.adornUrl('/service/studentcoursemanage/export'),
          method: 'get',
          params: this.$http.adornParams({
            'userName': this.dataForm.userName,
            'groupName': this.dataForm.groupName,
            'courseTitle': this.dataForm.courseTitle,
            'studyStatus': this.dataForm.studyStatus
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            if (data.studentList.length > 0) {
              this.$options.methods.csvFormat(data.studentList, this.csvTitle)
            } else {
              this.$message.warning('現在の検索条件にはデータがありません！')
            }
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      csvFormat (csvData, csvTitle) {
        var csv = Papa.unparse(csvData)
        var csvStringData = Papa.parse(csv)
        csvStringData.data.shift()
        csvStringData.data.unshift(csvTitle)
        var csvFileData = Papa.unparse(csvStringData.data)
        const strArray = encoding.stringToCode(csvFileData)
        const convertedArray = encoding.convert(strArray, 'SJIS', 'UNICODE')
        const UintArray = new Uint8Array(convertedArray)
        // 定义文件内容，类型必须为Blob 否则createObjectURL会报错
        let content = new Blob([UintArray])
        // 生成url对象
        let urlObject = window.URL || window.webkitURL || window
        let url = urlObject.createObjectURL(content)
        // 生成<a></a>DOM元素
        let el = document.createElement('a')
        // 链接赋值
        el.href = url
        el.download = '講座受講管理エクスポートファイル.csv'
        // 必须点击否则不会下载
        el.click()
        // 移除链接释放资源
        urlObject.revokeObjectURL(url)
      },
      allAdmit () {
        var ids = this.dataListSelections.map(item => {
          return item.studentCourseId
        })
        // this.$confirm(`[id=${ids.join(',')}]を[${'承認'}]しますか?`, '確認', {
        this.$confirm(`[id=${ids.join(',')}]申請を許可します。よろしいですか？`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/studentcoursemanage/update'),
            method: 'post',
            data: this.$http.adornData({
              'studentCourseIds': ids,
              'studyStatus': '1'
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      allRefuse () {
        var ids = this.dataListSelections.map(item => {
          return item.studentCourseId
        })
        this.$confirm(`[id=${ids.join(',')}]申請を拒否します。よろしいですか？`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/studentcoursemanage/update'),
            method: 'post',
            data: this.$http.adornData({
              'studentCourseIds': ids,
              'studyStatus': '4'
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      deleteHandle (id) {
        var ids = id
        this.$confirm(`[id=${id}]を削除しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/studentcoursemanage/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      openCsvDialog () {
        this.csvUploadVisible = true
      },
      templateCsvDownload () {
        // 定义文件内容，类型必须为Blob 否则createObjectURL会报错
        let content = new Blob([this.csvImportTemplate])
        // 生成url对象
        let urlObject = window.URL || window.webkitURL || window
        let url = urlObject.createObjectURL(content)
        // 生成<a></a>DOM元素
        let el = document.createElement('a')
        // 链接赋值
        el.href = url
        el.download = '講座受講管理インポート用テンプレートファイル.csv'
        // 必须点击否则不会下载
        el.click()
        // 移除链接释放资源
        urlObject.revokeObjectURL(url)
      }
    }
  }
</script>
