<template>
  <div class="mod-config">
    <el-form :inline="true" >
      <el-form-item  v-if="loginGroupType ==='1'"> 
        <el-date-picker
          v-model="datePeriod"
          type="daterange"
          value-format="yyyy-MM-dd"
          range-separator="~"
          start-placeholder="開始日付"
          end-placeholder="終了日付">
        </el-date-picker>
      </el-form-item> 
      <el-form-item>  
        <el-select v-model="classId" placeholder="クラス" clearable filterable style="width:100%" :disabled="loginGroupType==='3' ? true : false">
          <el-option
            v-for="item in classSelectDrop"
            :key="item.groupId"
            :label="item.groupName"
            :value="item.groupId">
          </el-option>  
        </el-select>
      </el-form-item> 
      <el-form-item>  
        <el-select v-model="courseId" placeholder="講座" clearable filterable style="width:100%" required>
          <el-option
            v-for="item in courseSelectDrop"
            :key="item.courseId"
            :label="item.courseTitle"
            :value="item.courseId">
          </el-option>  
        </el-select>
      </el-form-item> 
      <el-form-item>
        <el-button @click="getDataList()">検索</el-button>
        <el-button type="primary" @click="exportCsv()">CSVエクスポート</el-button>
      </el-form-item>
    </el-form>
     <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column 
        type="index" 
        header-align="center" 
        align="center" 
        width="50">
      </el-table-column>
      <el-table-column
        prop="groupName"
        header-align="center"
        align="center"
        label="クラス名">
      </el-table-column>
      <el-table-column
        prop="courseName"
        header-align="center"
        align="center"
        label="講座名">
      </el-table-column>
      <el-table-column
        prop="subjectName"
        header-align="center"
        align="center"
        label="教科名">
      </el-table-column>
      <el-table-column
        prop="unitName"
        header-align="center"
        align="center"
        label="単元名">
      </el-table-column>
      <el-table-column
        prop="teachingMaterialName"
        header-align="center"
        align="center"
        label="教材名">
      </el-table-column>
      <el-table-column
        prop="completeNum"
        header-align="center"
        align="center"
        label="受講完了人数">
      </el-table-column>
      <el-table-column
        prop="completePercent"
        header-align="center"
        align="center"
        label="受講完了率">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>

</template>

<script>
  import Papa from 'papaparse'
  import encoding from 'encoding-japanese'
  export default {
    data () {
      return {
        classId: '',
        classSelectDrop: [],
        courseId: '',
        courseSelectDrop: [],
        loginGroupType: '',
        loginGroupId: '',
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        datePeriod: '',
        csvTitle: [
          'クラス名',
          'ユーザーID',
          '講座名',
          '教科名',
          '単元名',
          '教材名',
          '教材受講状態',
          '最終受講日時'],
        datePeriodBfore: null,
        datePeriodAfter: null
      }
    },
    mounted () {
      // this.getDataList()
    },
    activated () {
      this.loginGroupType = this.$store.state.user.loginGroupType
      this.loginGroupId = this.$store.state.user.loginGroupId

      this.$http({
        url: this.$http.adornUrl(`/service/dataAnalyse/classSelectDrop`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.classSelectDrop = data.classSelectDrop
          if (this.loginGroupType === '3') {
            this.classId = this.loginGroupId
          }
        } else {
          this.$message.error(data.msg)
        }
      })

      this.$http({
        url: this.$http.adornUrl(`/service/dataAnalyse/courseSelectDrop`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.courseSelectDrop = data.courseSelectDrop
        } else {
          this.$message.error(data.msg)
        }
      })
    },
    methods: {
      // 获取数据列表
      getDataList () {
        if (this.courseId === '' || this.courseId === null) {
          this.$message.warning('講座を選択してください!')
          return
        }
        if (this.datePeriod !== null && this.datePeriod !== '') {
          this.datePeriodBfore = this.datePeriod[0]
          this.datePeriodAfter = this.datePeriod[1]
        } else {
          this.datePeriodBfore = null
          this.datePeriodAfter = null
        }
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/dataAnalyse/teachingMaterialDataAnalyse'),
          method: 'get',
          params: this.$http.adornParams({
            'groupId': this.classId,
            'courseId': this.courseId,
            'datePeriodBfore': this.datePeriodBfore,
            'datePeriodAfter': this.datePeriodAfter,
            'page': this.pageIndex,
            'limit': this.pageSize
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      exportCsv () {
        if (this.courseId === '' || this.courseId === null) {
          this.$message.warning('講座を選択してください!')
          return
        }
        if (this.datePeriod !== null && this.datePeriod !== '') {
          this.datePeriodBfore = this.datePeriod[0]
          this.datePeriodAfter = this.datePeriod[1]
        } else {
          this.datePeriodBfore = null
          this.datePeriodAfter = null
        }
        this.$http({
          url: this.$http.adornUrl('/service/dataAnalyse/teachingMaterialDataAnalyseExport'),
          method: 'get',
          params: this.$http.adornParams({
            'groupId': this.classId,
            'courseId': this.courseId,
            'datePeriodBfore': this.datePeriodBfore,
            'datePeriodAfter': this.datePeriodAfter
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            if (data.teachingMaterialDataAnalyseExportList.length > 0) {
              this.$options.methods.csvFormat(data.teachingMaterialDataAnalyseExportList, this.csvTitle)
            } else {
              this.$message.warning('現在の検索条件にはデータがありません！')
            }
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      csvFormat (csvData, csvTitle) {
        var csv = Papa.unparse(csvData)
        var csvStringData = Papa.parse(csv)
        csvStringData.data.shift()
        csvStringData.data.unshift(csvTitle)
        var csvFileData = Papa.unparse(csvStringData.data)
        const strArray = encoding.stringToCode(csvFileData)
        const convertedArray = encoding.convert(strArray, 'SJIS', 'UNICODE')
        const UintArray = new Uint8Array(convertedArray)
        // 定义文件内容，类型必须为Blob 否则createObjectURL会报错
        let content = new Blob([UintArray])
        // 生成url对象
        let urlObject = window.URL || window.webkitURL || window
        let url = urlObject.createObjectURL(content)
        // 生成<a></a>DOM元素
        let el = document.createElement('a')
        // 链接赋值
        el.href = url
        el.download = '教材別の受講完了状況の詳細.csv'
        // 必须点击否则不会下载
        el.click()
        // 移除链接释放资源
        urlObject.revokeObjectURL(url)
      }
    }
  }
</script>