<template>
  <div class="mod-config">
    <el-form :inline="true" >
      <el-form-item>  
        <el-select v-model="classId" placeholder="クラス" clearable filterable style="width:100%" :disabled="loginGroupType==='3' ? true : false">
          <el-option
            v-for="item in classSelectDrop"
            :key="item.groupId"
            :label="item.groupName"
            :value="item.groupId">
          </el-option>  
        </el-select>
      </el-form-item> 
      <el-form-item>  
        <el-select v-model="courseId" placeholder="講座" clearable filterable style="width:100%" required>
          <el-option
            v-for="item in courseSelectDrop"
            :key="item.courseId"
            :label="item.courseTitle"
            :value="item.courseId">
          </el-option>  
        </el-select>
      </el-form-item> 
      <el-form-item>
        <el-input v-model="unitName" placeholder="単元名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="testTitle" placeholder="単元テスト名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">検索</el-button>
      </el-form-item>
    </el-form>
     <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column 
        type="index" 
        header-align="center" 
        align="center" 
        width="50">
      </el-table-column>
      <el-table-column
        prop="groupName"
        header-align="center"
        align="center"
        label="クラス名">
      </el-table-column>
      <el-table-column
        prop="courseName"
        header-align="center"
        align="center"
        label="講座名">
      </el-table-column>
      <el-table-column
        prop="unitName"
        header-align="center"
        align="center"
        label="単元名">
      </el-table-column>
      <el-table-column
        prop="testTitle"
        header-align="center"
        align="center"
        label="単元テスト名">
      </el-table-column>
      <el-table-column
        prop="firstAvgCorrectPercent"
        header-align="center"
        align="center"
        label="初回正解率">
      </el-table-column>
      <el-table-column
        prop="lastAvgCorrectPercent"
        header-align="center"
        align="center"
        label="最終正解率">
      </el-table-column>
      <el-table-column
        prop="avgCorrectPercent"
        header-align="center"
        align="center"
        label="平均正解率">
      </el-table-column>
      <el-table-column
        prop="testQuestionsNum"
        header-align="center"
        align="center"
        label="出題数">
      </el-table-column>
      <el-table-column
        prop="passQuestionsNum"
        header-align="center"
        align="center"
        label="合格問題数">
      </el-table-column>
      <el-table-column
        prop="avgPassPercent"
        header-align="center"
        align="center"
        label="平均合格率">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        label="設問"
        width="130">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="exportCsv(scope.row)">出題内容エクスポート</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>

</template>

<script>
  import Papa from 'papaparse'
  import encoding from 'encoding-japanese'
  export default {
    data () {
      return {
        classId: '',
        classSelectDrop: [],
        courseId: '',
        courseSelectDrop: [],
        loginGroupType: '',
        loginGroupId: '',
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        unitName: '',
        testTitle: '',
        csvTitle: [
          'クラス名',
          '講座名',
          '単元名',
          '単元テスト名',
          '問題内容',
          '固定フラグ',
          '出題形式',
          '初回正解率',
          '平均正解率']
      }
    },
    mounted () {
      // this.getDataList()
    },
    activated () {
      this.loginGroupType = this.$store.state.user.loginGroupType
      this.loginGroupId = this.$store.state.user.loginGroupId

      this.$http({
        url: this.$http.adornUrl(`/service/dataAnalyse/classSelectDrop`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.classSelectDrop = data.classSelectDrop
          if (this.loginGroupType === '3') {
            this.classId = this.loginGroupId
          }
        } else {
          this.$message.error(data.msg)
        }
      })

      this.$http({
        url: this.$http.adornUrl(`/service/dataAnalyse/courseSelectDrop`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.courseSelectDrop = data.courseSelectDrop
        } else {
          this.$message.error(data.msg)
        }
      })
    },
    methods: {
      // 获取数据列表
      getDataList () {
        if (this.courseId === '' || this.courseId === null) {
          this.$message.warning('講座を選択してください!')
          return
        }
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/dataAnalyse/testDataAnalyse'),
          method: 'get',
          params: this.$http.adornParams({
            'groupId': this.classId,
            'courseId': this.courseId,
            'unitName': this.unitName,
            'testTitle': this.testTitle,
            'page': this.pageIndex,
            'limit': this.pageSize
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      exportCsv (row) {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/dataAnalyse/testQuestionsDataAnalyseExport'),
          method: 'get',
          params: this.$http.adornParams({
            'groupId': row.groupId,
            'groupName': row.groupName,
            'courseId': row.courseId,
            'unitTestId': row.unitTestId,
            'courseName': row.courseName,
            'unitName': row.unitName,
            'testTitle': row.testTitle
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            if (data.testQuestionsExportList.length > 0) {
              this.$options.methods.csvFormat(data.testQuestionsExportList, this.csvTitle)
            } else {
              this.$message.warning('現在の検索条件にはデータがありません！')
            }
          } else {
            this.$message.error(data.msg)
          }
          this.dataListLoading = false
        })
      },
      csvFormat (csvData, csvTitle) {
        var csv = Papa.unparse(csvData)
        var csvStringData = Papa.parse(csv)
        csvStringData.data.shift()
        csvStringData.data.unshift(csvTitle)
        var csvFileData = Papa.unparse(csvStringData.data)
        const strArray = encoding.stringToCode(csvFileData)
        const convertedArray = encoding.convert(strArray, 'SJIS', 'UNICODE')
        const UintArray = new Uint8Array(convertedArray)
        // 定义文件内容，类型必须为Blob 否则createObjectURL会报错
        let content = new Blob([UintArray])
        // 生成url对象
        let urlObject = window.URL || window.webkitURL || window
        let url = urlObject.createObjectURL(content)
        // 生成<a></a>DOM元素
        let el = document.createElement('a')
        // 链接赋值
        el.href = url
        el.download = '出題内容別の理解度の把握.csv'
        // 必须点击否则不会下载
        el.click()
        // 移除链接释放资源
        urlObject.revokeObjectURL(url)
      }
    }
  }
</script>