<template>
<div class="mod-config">
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 講座ID: {{ prevPageData.courseId }} </p>
    </el-col>
    <el-col :span=8>
      <p style="font-size: 16px"> 講座名: {{ prevPageData.courseTitle }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講者数: {{ prevPageData.studyCount }} </p>
    </el-col>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講者/総数の割合: {{ prevPageData.studyCountPercent | toPercent }} </p>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span=8>
      <p style="font-size: 16px"> 受講状態: {{ studyStatusStr }} </p>
    </el-col>
  </el-row>
  <p>教材別受講状況一覧</p>
  <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle" style="width: 100%;">
    <el-table-column type="index" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="groupIdOf" header-align="center" align="center" label="所属クラスID">
    </el-table-column>
    <el-table-column prop="groupIdOfName" header-align="center" align="center" label="所属クラス名">
    </el-table-column>
    <el-table-column prop="groupId" header-align="center" align="center" label="クラスID">
    </el-table-column>
    <el-table-column prop="groupName" header-align="center" align="center" label="クラス名">
    </el-table-column>
    <el-table-column prop="studentId" header-align="center" align="center" label="受講者ID">
    </el-table-column>
    <el-table-column prop="userName" header-align="center" align="center" label="ユーザーID">
    </el-table-column>
    <el-table-column prop="subjectId" header-align="center" align="center" label="教科ID">
    </el-table-column>
    <el-table-column prop="subjectTitle" header-align="center" align="center" label="教科名">
    </el-table-column>
    <el-table-column prop="unitId" header-align="center" align="center" label="単元ID">
    </el-table-column>
    <el-table-column prop="unitName" header-align="center" align="center" label="単元名">
    </el-table-column>
    <el-table-column prop="teachingMaterialId" header-align="center" align="center" label="教材ID">
    </el-table-column>
    <el-table-column prop="teachingMaterialTitle" header-align="center" align="center" label="教材名">
    </el-table-column>
    <el-table-column prop="studyStatus" header-align="center" align="center" label="教材受講状態">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.studyStatus === '0'" size="small" type="primary">受講中</el-tag>
        <el-tag v-if="scope.row.studyStatus === '1'" size="small" type="primary">受講完了</el-tag>
        <el-tag v-if="scope.row.studyStatus === '2'" size="small" type="primary">スキップ</el-tag>
      </template>
    </el-table-column>
    <!-- <el-table-column fixed="right" header-align="center" align="center" width="150" label="受講者別受講状況">
      <template slot-scope="scope">
        <el-button type="text" size="small" @click="addOrUpdateHandle(scope.row.infoId)">詳細へ</el-button>
      </template>
    </el-table-column> -->
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
</div>
</template>

<script>
export default {
  data () {
    return {
      dataForm: {
        courseId: '',
        courseName: ''
      },
      optionsType: [{
        value: '0',
        label: '新規講座開講のお知らせ'
      }, {
        value: '1',
        label: '講座内容の訂正'
      }, {
        value: '2',
        label: '講座内容の追加'
      }, {
        value: '3',
        label: '講座内容の削除'
      }],
      prevPageData: null,
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false
    }
  },
  computed: {
    studyStatusStr: function () {
      for (let index = 0; index < this.optionsType.length; index++) {
        const element = this.optionsType[index]
        if (element.value === this.prevPageData.studyStatus) {
          return element.label
        }
      }
      return ''
    }
  },
  activated () {
    this.getDataList()
  },
  created () {
    this.prevPageData = this.$route.query.data
  },
  filters: {
    toPercent (point) {
      var str = Number(point * 100).toFixed(2)
      str += '%'
      return str
    }
  },
  methods: {
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/studentcoursestudy/list'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'studentCourseId': this.prevPageData.studentCourseId
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    }
  }
}
</script>
