<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm">
      <el-form-item label="講座名:">
        <el-input v-model="dataForm.courseTitle" placeholder="講座名" clearable></el-input>
      </el-form-item>
      <el-form-item label="教科名:">
        <el-input v-model="dataForm.subjectTitle" placeholder="教科名" clearable></el-input>
      </el-form-item>
      <el-form-item label="単元名:">
        <el-input v-model="dataForm.unitName" placeholder="単元名" clearable></el-input>
      </el-form-item>
      <el-form-item label="テスト名:">
        <el-input v-model="dataForm.testTitle" placeholder="テスト名" clearable></el-input>
      </el-form-item>
      <el-form-item label="テストステータス:">
        <el-select v-model="dataForm.testStatus" placeholder="テストステータス">
          <el-option key="1" label="公開" value="0"></el-option>
          <el-option key="2" label="非公開" value="1"></el-option>   
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getDataListSearch()">検索</el-button>
        <!-- <el-button v-if="isAuth('service:unittest:save')" type="primary" @click="addOrUpdateHandle()" :disabled="dataList.length > 0">追加</el-button> -->
        <!-- <el-button v-if="isAuth('service:unittest:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button> -->
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <!-- <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50">
      </el-table-column> -->
      <el-table-column
        prop="courseTitle"
        header-align="center"
        align="center"
        label="講座名"
        >
      </el-table-column>
      <el-table-column
        prop="subjectTitle"
        header-align="center"
        align="center"
        label="教科名"
        >
      </el-table-column>
            <el-table-column
        prop="unitName"
        header-align="center"
        align="center"
        label="単元名"
        >
      </el-table-column>
      <el-table-column
        prop="unitTestId"
        header-align="center"
        align="center"
        label="単元テストID"
        >
      </el-table-column>
      <!-- <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID">
      </el-table-column>
      <el-table-column
        prop="subjectId"
        header-align="center"
        align="center"
        label="教科ID">
      </el-table-column>
      <el-table-column
        prop="unitId"
        header-align="center"
        align="center"
        label="単元ID">
      </el-table-column> -->
      <!-- <el-table-column
        prop="unitId"
        header-align="center"
        align="center"
        label="単元ID">
      </el-table-column> -->
      <el-table-column
        prop="testTitle"
        header-align="center"
        align="center"
        label="テスト名"
>
      </el-table-column>
      <!-- <el-table-column
        prop="testOutline"
        header-align="center"
        align="center"
        label="テスト概要">
      </el-table-column>
      <el-table-column
        prop="testDetail"
        header-align="center"
        align="center"
        label="テスト説明">
      </el-table-column> -->
      <el-table-column
        prop="testStatus"
        header-align="center"
        align="center"
        label="テストステータス"
        >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.testStatus === '1'" size="small" type="danger">非公開</el-tag>
          <el-tag v-else size="small">公開</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="openOpenTime"
        header-align="center"
        align="center"
        label="公開開始日時">
      </el-table-column>
      <el-table-column
        prop="openEndTime"
        header-align="center"
        align="center"
        label="公開終了日時">
      </el-table-column> -->
      <!-- <el-table-column
        prop="testConditionFlag"
        header-align="center"
        align="center"
        label="テスト時間制限有無"
        width="150">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.testConditionFlag === '1'" size="small" type="danger">有</el-tag>
          <el-tag v-else size="small">無</el-tag>
        </template>
      </el-table-column> -->
      <!-- <el-table-column
        prop="testConditionTime"
        header-align="center"
        align="center"
        label="テスト時間制限（分）">
      </el-table-column> -->
      <el-table-column
        prop="testType"
        header-align="center"
        align="center"
        label="テスト方式"
        >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.testType === '1'" size="small" type="danger">固定出題</el-tag>
          <el-tag v-else size="small">ランダム出題</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="passFlag"
        header-align="center"
        align="center"
        label="合格設定有無">
      </el-table-column> -->
      <!-- <el-table-column
        prop="testQuestionsNum"
        header-align="center"
        align="center"
        label="出題数"
        width="100">
      </el-table-column> -->
      <!-- <el-table-column
        prop="passQuestionsNum"
        header-align="center"
        align="center"
        label="合格題数">
      </el-table-column>
      <el-table-column
        prop="passQuestionsRate"
        header-align="center"
        align="center"
        label="合格率">
      </el-table-column>-->
      <!-- <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者ID"
        width="100">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時"
        width="180">
      </el-table-column> -->
      <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column>  -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="small" @click="routerJumpQuestion(scope)">問題管理</el-button>
          <!-- <el-button type="text" size="small" @click="addOrUpdateHandle(scope.row.unitTestId)">変更</el-button> -->
          <!-- <el-button type="text" size="small" @click="deleteHandle(scope.row.unitTestId)">削除</el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update> -->
  </div>
</template>

<script>
  // import AddOrUpdate from './unittest-add-or-update'
  export default {
    data () {
      return {
        dataForm: {
          courseId: '',
          courseTitle: '',
          subjectId: '',
          subjectName: '',
          unitId: '',
          unitName: '',
          testTitle: '',
          testStatus: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: []
        // addOrUpdateVisible: false
      }
    },
    // activated () {
    //   this.getDataList()
    // },
    created () {
      // this.dataForm.courseId = this.$route.query.courseId
      // this.dataForm.courseTitle = this.$route.query.courseTitle
      // this.dataForm.subjectId = this.$route.query.subjectId
      // this.dataForm.subjectTitle = this.$route.query.subjectTitle
      // this.dataForm.unitId = this.$route.query.unitId
      // this.dataForm.unitName = this.$route.query.unitName
      // console.log(this.courseTitle)
    },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/unittest/unittestSearchList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'courseTitle': this.dataForm.courseTitle,
            'subjectTitle': this.dataForm.subjectTitle,
            'unitName': this.dataForm.unitName,
            'testTitle': this.dataForm.testTitle,
            'testStatus': this.dataForm.testStatus
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      routerJumpQuestion (scope) {
        this.$router.push(
          {
            name: 'testquestions-page',
            query:
            {
              courseId: this.dataForm.courseId,
              courseTitle: this.dataForm.courseTitle,
              subjectId: this.dataForm.subjectId,
              subjectTitle: this.dataForm.subjectTitle,
              unitId: this.dataForm.unitId,
              unitName: this.dataForm.unitName,
              unitTestId: scope.row.unitTestId,
              testTitle: scope.row.testTitle
            }
          })
      }
    }
  }
</script>
