<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item v-if="grouTypeCheck !='3'" label="グループ種別：">
      <el-select v-model="dataForm.groupType" placeholder="グループ種別">
        <el-option
          v-for="item in groupType"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>  
      </el-select>
    </el-form-item> 
      <el-form-item v-if="grouTypeCheck !='3'" label="グループ名：">
        <el-input v-model="dataForm.groupName" placeholder="グループ名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button v-if="grouTypeCheck !='3'" @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('service:usergroup:save') && grouTypeCheck !='3' " type="primary" @click="addOrUpdateHandle()">追加</el-button>
        <!-- <el-button v-if="isAuth('service:usergroup:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button> -->
        <!-- <el-button type="primary" @click="exportCsv()">エクスポート</el-button>
        <el-button type="primary" @click="openCsvDialog()">CSVインポート</el-button> -->
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <!-- <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50"
        >
      </el-table-column> -->
      <el-table-column
        prop="groupId"
        header-align="center"
        align="center"
        label="グループID"
         width="100">
      </el-table-column>
      <el-table-column
        prop="groupName"
        header-align="center"
        align="center"
        label="グループ名">
      </el-table-column>
      <el-table-column
        prop="groupNameOf"
        header-align="center"
        align="center"
        label="所属グループ名">
      </el-table-column>
      <el-table-column
        prop="groupType"
        header-align="center"
        align="center"
        label="グループ種別"
        width="160">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.groupType === '1'" size="small" type="primary">運営事務局</el-tag>
          <el-tag v-if="scope.row.groupType === '2'" size="small" type="primary">ご契約者様</el-tag>          
          <el-tag v-if="scope.row.groupType === '3'" size="small" type="primary">クラス</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="groupDetail"
        header-align="center"
        align="center"
        label="グループ説明">
      </el-table-column> -->
      <!-- <el-table-column
        prop="groupZipCode"
        header-align="center"
        align="center"
        label="郵便番号">
      </el-table-column> -->
      <el-table-column
        prop="groupPrefecture"
        header-align="center"
        align="center"
        label="都道府県">
      </el-table-column>
      <!-- <el-table-column
        prop="groupAddressCity"
        header-align="center"
        align="center"
        label="市区町村">
      </el-table-column> -->
      <!-- <el-table-column
        prop="groupAddressOthers"
        header-align="center"
        align="center"
        label="その他住所">
      </el-table-column> -->
      <!-- <el-table-column
        prop="contactTel1"
        header-align="center"
        align="center"
        label="連絡先電話１">
      </el-table-column> -->
      <!-- <el-table-column
        prop="contactFax1"
        header-align="center"
        align="center"
        label="連絡先FAX１">
      </el-table-column>
      <el-table-column
        prop="contactTel2"
        header-align="center"
        align="center"
        label="連絡先電話２">
      </el-table-column>
      <el-table-column
        prop="contactFax2"
        header-align="center"
        align="center"
        label="連絡先FAX２">
      </el-table-column> -->
      <el-table-column
        prop="contactEmail"
        header-align="center"
        align="center"
        label="連絡先メール">
      </el-table-column>
      <!-- <el-table-column
        prop="managerName"
        header-align="center"
        align="center"
        label="責任者氏名">
      </el-table-column>
      <el-table-column
        prop="managerNameKana"
        header-align="center"
        align="center"
        label="責任者氏名（カナ）">
      </el-table-column>
      <el-table-column
        prop="managerDepartName"
        header-align="center"
        align="center"
        label="責任者部署">
      </el-table-column>
      <el-table-column
        prop="managerPosition"
        header-align="center"
        align="center"
        label="責任者職位">
      </el-table-column>
      <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時">
      </el-table-column>
      <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="userGroupDetailHandle(scope.row.groupId)">詳細</el-button>
          <!-- <el-button v-if="isAuth('service:usergroup:update') && (scope.row.groupIdOf === loginGroupId || scope.row.groupId === loginGroupId)" type="text" size="small" @click="addOrUpdateHandle(scope.row.groupId, scope.row.groupType)">変更</el-button>
          <el-button v-if="isAuth('service:usergroup:delete') && scope.row.groupType !== grouTypeCheck && (scope.row.groupIdOf === loginGroupId)" type="text" size="small" @click="deleteHandle(scope.row.groupId)">削除</el-button> -->
          <el-button v-if="isAuth('service:usergroup:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.groupId, scope.row.groupType)">変更</el-button>
          <el-button v-if="isAuth('service:usergroup:delete')&& scope.row.groupType !== '1' " type="text" size="small" @click="deleteHandle(scope.row.groupId)">削除</el-button>
 
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <!-- <csv-upload :show.sync="csvUploadVisible" ref="csvUpload" @refreshDataList="getDataList"></csv-upload>   -->
    <usergroup-detail v-if="usergroupDetailVisible" ref="usergroupDetail"></usergroup-detail>
  </div>
</template>

<script>
  import AddOrUpdate from './usergroup-add-or-update'
  // import CsvUpload from './usergroup-csv-upload'
  // import Papa from 'papaparse'
  import UsergroupDetail from './usergroup-detail'
  export default {
    data () {
      return {
        dataForm: {
          key: '',
          groupName: '',
          groupType: ''
        },
        groupType: [],
        grouTypeCheck: '',
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        csvUploadVisible: false,
        usergroupDetailVisible: false,
        loginGroupId: ''
      }
    },
    components: {
      AddOrUpdate,
      // CsvUpload,
      UsergroupDetail
    },
    created () {
      this.$http({
        url: this.$http.adornUrl(`/service/usergroup/groupType`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.grouTypeCheck = data.groupType
          if (data.groupType === '1') {
            this.groupType.push({ value: '', label: 'すべて' })
            this.groupType.push({ value: '1', label: '運営事務局' })
            this.groupType.push({ value: '2', label: 'ご契約者様' })
            this.groupType.push({ value: '3', label: 'クラス' })
          } else if (data.groupType === '2') {
            this.groupType.push({ value: '', label: 'すべて' })
            this.groupType.push({ value: '2', label: 'ご契約者様' })
            this.groupType.push({ value: '3', label: 'クラス' })
          } else if (data.groupType === '3') {
            this.getDataList()
          }
        } else {
          this.$message.error(data.msg)
        }
      })
    },
    // activated () {
    //   this.getDataList()
    // },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/usergroup/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'groupName': this.dataForm.groupName,
            'groupType': this.dataForm.groupType
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      addOrUpdateHandle (id, type) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(id, type)
        })
      },
      userGroupDetailHandle (id) {
        this.usergroupDetailVisible = true
        this.$nextTick(() => {
          this.$refs.usergroupDetail.init(id)
        })
      },
      deleteHandle (id) {
        var ids = id
        this.$confirm(`[id=${id}]を削除しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/usergroup/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      }
    }
      // openCsvDialog () {
      //   this.csvUploadVisible = true
      //   // console.log(this.csvUploadVisible)
      // },
    //   exportCsv () {
    //     var csv = Papa.unparse(this.dataList)
    //     // 定义文件内容，类型必须为Blob 否则createObjectURL会报错
    //     let content = new Blob([csv])
    //     // 生成url对象
    //     let urlObject = window.URL || window.webkitURL || window
    //     let url = urlObject.createObjectURL(content)
    //     // 生成<a></a>DOM元素
    //     let el = document.createElement('a')
    //     // 链接赋值
    //     el.href = url
    //     el.download = '文件导出.csv'
    //     // 必须点击否则不会下载
    //     el.click()
    //     // 移除链接释放资源
    //     urlObject.revokeObjectURL(url)
    //   }
    // },
    // importCsv () {
    //   let selectedFile = null
    //   selectedFile = this.$refs.refFile.files[0]
    //   if (selectedFile === undefined) {
    //     return
    //   }
    //   var reader = new FileReader()
    //   reader.readAsDataURL(selectedFile)
    //   reader.onload = evt => {
    //     // 检查编码
    //     // let encoding = this.checkEncoding(evt.target.result);
    //     // 将csv转换成二维数组
    //     Papa.parse(selectedFile, {
    //       encoding: 'ANSI',
    //       complete: res => {
    //         // UTF8 \r\n与\n混用时有可能会出问题
    //         let data = res.data
    //         if (data[data.length - 1] === '') {
    //           // 去除最后的空行
    //           data.pop()
    //         }
    //         console.log(data)
    //       }
    //     })
    //   }
    // }
  
  }
</script>
