<template>
  <el-dialog
    :title="!dataForm.groupId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="160px">
    <el-form-item label="グループ名" prop="groupName">
      <el-input 
        v-model="dataForm.groupName" 
        placeholder="グループ名" 
        maxlength="100" 
        show-word-limit 
        type="textarea" 
        autosize 
        :disabled="(dataForm.groupId && loginGroupType !=='1') ? true : false">
      </el-input>
    </el-form-item>
    <el-form-item label="グループ種別" prop="groupType">
      <el-select 
        v-model="dataForm.groupType" 
        placeholder="グループ種別" 
        :disabled="(dataForm.groupId && loginGroupType !=='1') ? true : false" 
        >
        <el-option
          v-for="item in groupType"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>  
      </el-select>
    </el-form-item> 
    <el-form-item v-if="dataForm.groupType==='3'" label="所属ご契約者様" prop="proxyGroupId">  
      <el-select 
        v-model="dataForm.proxyGroupId" 
        placeholder="所属ご契約者様"
        :disabled="(dataForm.groupId && loginGroupType !=='1') ? true : false">
        <el-option
          v-for="item in proxyGroupSelect"
          :key="item.groupId"
          :label="item.groupName"
          :value="item.groupId">
        </el-option>  
      </el-select>
    </el-form-item>  
    <el-form-item label="グループ説明" prop="groupDetail">
      <el-input 
        v-model="dataForm.groupDetail" 
        placeholder="グループ説明" 
        maxlength="200" show-word-limit 
        type="textarea" 
        autosize
        :disabled="(dataForm.groupId && loginGroupType !=='1') ? true : false">
      </el-input>
    </el-form-item>
    <!-- <el-form-item v-if="dataForm.groupType==='3'" label="講座" prop="courseIds"> -->
    <el-form-item v-if="dataForm.groupType==='3'" label="講座" prop="courseIds">  
      <el-select v-model="dataForm.courseIds" placeholder="講座" clearable filterable multiple style="width:100%"
       :disabled="(dataForm.groupId && loginGroupType !=='1') ? true : false">>
        <el-option
          v-for="item in courseSelect"
          :key="item.courseId"
          :label="item.courseTitle"
          :value="item.courseId">
        </el-option>  
      </el-select>
    </el-form-item>  
    <!-- <el-form-item v-if="dataForm.groupType==='3'" label="講座" prop="courseId" clearable>   -->
      <!-- <el-select v-model="dataForm.courseId" placeholder="講座">
        <el-option
          v-for="item in courseSelect"
          :key="item.courseId"
          :label="item.courseTitle"
          :value="item.courseId">
        </el-option>  
      </el-select>
    </el-form-item>   -->
    <el-form-item v-if="dataForm.groupType==='3'" label="契約受講者数" prop="userMaxNum">
      <el-input v-model="dataForm.userMaxNum" 
      placeholder="契約受講者数" 
      maxlength="10" 
      show-word-limit style="width:210px" 
      :disabled="loginGroupType!=='1' ? true : false"></el-input>
      <!-- <span style="color:red">0は無制限です</span> -->
    </el-form-item>  
    <el-form-item label="郵便番号" prop="groupZipCode">
      <el-input v-model="dataForm.groupZipCode" placeholder="郵便番号(例：0010010)" @blur="zipSelect" maxlength="7" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="都道府県" prop="groupPrefecture">
      <el-input v-model="dataForm.groupPrefecture" placeholder="都道府県" disabled></el-input>
    </el-form-item>
    <el-form-item label="市区町村" prop="groupAddressCity">
      <el-input v-model="dataForm.groupAddressCity" placeholder="市区町村" disabled></el-input>
    </el-form-item>
    <el-form-item label="その他住所" prop="groupAddressOthers">
      <el-input v-model="dataForm.groupAddressOthers" placeholder="その他住所" maxlength="100" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡先電話１" prop="contactTel1">
      <el-input v-model="dataForm.contactTel1" placeholder="連絡先電話１(例：0123456789また08012345678)" maxlength="11" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡先FAX１" prop="contactFax1">
      <el-input v-model="dataForm.contactFax1" placeholder="連絡先FAX１(例：0123456789)" maxlength="10" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡先電話２" prop="contactTel2">
      <el-input v-model="dataForm.contactTel2" placeholder="連絡先電話２(例：0123456789また08012345678)" maxlength="11" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡先FAX２" prop="contactFax2">
      <el-input v-model="dataForm.contactFax2" placeholder="連絡先FAX２(例：0123456789)" maxlength="10" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="連絡先メール" prop="contactEmail">
      <el-input v-model="dataForm.contactEmail" placeholder="連絡先メール" maxlength="100" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="責任者氏名" prop="managerName">
      <el-input v-model="dataForm.managerName" placeholder="責任者氏名" maxlength="50" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="責任者氏名（カナ）" prop="managerNameKana">
      <el-input v-model="dataForm.managerNameKana" placeholder="責任者氏名（カナ）" maxlength="50" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="責任者部署" prop="managerDepartName">
      <el-input v-model="dataForm.managerDepartName" placeholder="責任者部署" maxlength="100" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="責任者職位" prop="managerPosition">
      <el-input v-model="dataForm.managerPosition" placeholder="責任者職位" maxlength="100" show-word-limit></el-input>
    </el-form-item>
    <div v-if="dataForm.groupType==='3'">
      <hr>    

      <el-row>
      <el-col :span="8">
        <el-form-item label="公開期間" prop="startTime">
          <el-date-picker
            v-model="dataForm.startTime"
            type="date"
            placeholder="公開開始日付"
            value-format="yyyy-MM-dd"
            size="10"
            :picker-options="pickerOptionsBefore"
            :disabled="loginGroupType!=='1' ? true : false"
            >
          </el-date-picker>
        </el-form-item>
      </el-col>
      <el-col :span="1">
        <el-form-item>
          ～
        </el-form-item>
     </el-col>
      <el-col :span="8">
        <el-form-item label="" prop="endTime">
          <el-date-picker
            v-model="dataForm.endTime"
            type="date"
            placeholder="公開終了日付"
            value-format="yyyy-MM-dd"
            size="10"
            :picker-options="pickerOptionsAfter"
            :disabled="loginGroupType!=='1' ? true : false">
          </el-date-picker>
      </el-form-item>
    </el-col>
    </el-row>

      <hr>
      <el-form-item label="タイトル" prop="certificateTitle">
        <el-input v-model="dataForm.certificateTitle" placeholder="タイトル"></el-input>
      </el-form-item>
      <el-form-item label="本文" prop="certificateContent">
        <el-input v-model="dataForm.certificateContent" placeholder="本文" type="textarea" autosize maxlength="256" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="発行機関名" prop="issuerName">
        <el-input v-model="dataForm.issuerName" placeholder="発行機関名"></el-input>
      </el-form-item>
      <el-form-item label="発行機関サブ名" prop="issuerNameSub">
        <el-input v-model="dataForm.issuerNameSub" placeholder="発行機関サブ名"></el-input>
      </el-form-item>
      <el-form-item label="発行機関責任者肩書" prop="issuerResponsiblePartyTitle">
        <el-input v-model="dataForm.issuerResponsiblePartyTitle" placeholder="発行機関責任者肩書"></el-input>
      </el-form-item>
      <el-form-item label="発行機関責任者名" prop="issuerResponsiblePartyName">
        <el-input v-model="dataForm.issuerResponsiblePartyName" placeholder="発行機関責任者名"></el-input>
      </el-form-item>
      <!-- <el-form-item label="終了証テンプレートPATH" prop="certificateTemplatePath">
        <el-input v-model="dataForm.certificateTemplatePath" placeholder="/s3/sample_path/sample_template.pdf"></el-input>
      </el-form-item> -->
    </div>
    <!-- <el-form-item label="作成者" prop="createUserId">
      <el-input v-model="dataForm.createUserId" placeholder="作成者"></el-input>
    </el-form-item>
    <el-form-item label="作成日時" prop="createTime">
      <el-input v-model="dataForm.createTime" placeholder="作成日時"></el-input>
    </el-form-item>
    <el-form-item label="更新者" prop="updateUserId">
      <el-input v-model="dataForm.updateUserId" placeholder="更新者"></el-input>
    </el-form-item>
    <el-form-item label="更新日時" prop="updateTime">
      <el-input v-model="dataForm.updateTime" placeholder="更新日時"></el-input>
    </el-form-item>
    <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { isEmail, isFixedPhoneOrMobile, isZipCode, isFax, isKana } from '@/utils/validate'
  import moment from 'moment'
  export default {
    data () {
      var validateEmail = (rule, value, callback) => {
        if (!isEmail(value)) {
          callback(new Error('メールフォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateFixedPhoneOrMobile = (rule, value, callback) => {
        if (!isFixedPhoneOrMobile(value) && value !== null && value !== '') {
          callback(new Error('連絡先電話番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateZipCode = (rule, value, callback) => {
        if (!isZipCode(value) && value !== null && value !== '') {
          callback(new Error('ハイフンなし、数字7桁で入力してください'))
        } else {
          callback()
        }
      }
      var validateFax = (rule, value, callback) => {
        if (!isFax(value) && value !== null && value !== '') {
          callback(new Error('連絡先FAX番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateKana = (rule, value, callback) => {
        if (!isKana(value) && value !== null && value !== '') {
          callback(new Error('責任者氏名（カナ）フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateNumber = (rule, value, callback) => {
        if (!/^([1-9]\d*|[0]{1,1})$/.test(value)) {
          callback(new Error('整数を入力してください'))
        } else {
          callback()
        }
      }
      return {
        visible: false,
        dataForm: {
          groupId: 0,
          groupName: '',
          groupType: '',
          groupDetail: '',
          groupZipCode: '',
          groupPrefecture: null,
          groupAddressCity: '',
          groupAddressOthers: '',
          contactTel1: '',
          contactFax1: '',
          contactTel2: '',
          contactFax2: '',
          contactEmail: '',
          managerName: '',
          managerNameKana: '',
          managerDepartName: '',
          managerPosition: '',
          courseIds: [],
          // courseId: '',
          userMaxNum: 0,
          proxyGroupId: '',
          groupCertificateTemplateId: '',
          certificateTitle: '',
          certificateContent: '',
          issuerName: '',
          issuerNameSub: '',
          issuerResponsiblePartyTitle: '',
          issuerResponsiblePartyName: '',
          certificateTemplatePath: '',
          startTime: '',
          endTime: ''
          // createUserId: '',
          // createTime: '',
          // updateUserId: '',
          // updateTime: '',
          // versionNo: '',
          // delFlag: ''
        },
        groupType: [],
        courseSelect: [],
        proxyGroupSelect: [],
        loginGroupType: '',
        dataRule: {
          groupName: [
            { required: true, message: 'グループ名を入力してください', trigger: 'blur' }
          ],
          // groupDetail: [
          //   { required: true, message: 'グループ説明を入力してください', trigger: 'blur' }
          // ],
          groupType: [
            { required: true, message: 'グループ種別を選択してください', trigger: 'blur' }
          ],
          proxyGroupId: [
            { required: true, message: '所属ご契約者様を選択してください', trigger: 'blur' }
          ],
          groupZipCode: [
            // { required: true, message: '郵便番号を入力してください', trigger: 'blur' },
            { validator: validateZipCode, trigger: 'blur' }
          ],
          // groupPrefecture: [
          //   { required: true, message: '都道府県を入力してください', trigger: 'blur' }
          // ],
          // groupAddressCity: [
          //   { required: true, message: '市区町村を入力してください', trigger: 'blur' }
          // ],
          // groupAddressOthers: [
          //   { required: true, message: 'その他住所を入力してください', trigger: 'blur' }
          // ],
          contactTel1: [
            // { required: true, message: '連絡先電話１を入力してください', trigger: 'blur' },
            { validator: validateFixedPhoneOrMobile, trigger: 'blur' }
          ],
          contactFax1: [
            // { required: true, message: '連絡先FAX１を入力してください', trigger: 'blur' },
            { validator: validateFax, trigger: 'blur' }
          ],
          contactTel2: [
            // { required: true, message: '連絡先電話２を入力してください', trigger: 'blur' },
            { validator: validateFixedPhoneOrMobile, trigger: 'blur' }
          ],
          contactFax2: [
            // { required: true, message: '連絡先FAX２を入力してください', trigger: 'blur' },
            { validator: validateFax, trigger: 'blur' }
          ],
          contactEmail: [
            { required: true, message: '連絡先メールを入力してください', trigger: 'blur' },
            { validator: validateEmail, trigger: 'blur' }
          ],
          // managerName: [
          //   { required: true, message: '責任者氏名を入力してください', trigger: 'blur' }
          // ],
          managerNameKana: [
            // { required: true, message: '責任者氏名（カナ）を入力してください', trigger: 'blur' },
            { validator: validateKana, trigger: 'blur' }
          ],
          userMaxNum: [
            { required: true, message: '契約受講者数を入力してください', trigger: 'blur' },
            { validator: validateNumber, trigger: 'blur' }

          ],
          startTime: [
            { required: true, message: '公開開始日付', trigger: 'blur' }
          ],
          endTime: [
            { required: true, message: '公開終了日付', trigger: 'blur' }
          ]
        },
        pickerOptionsBefore: {
          disabledDate: (time) => {
            if (this.dataForm.endTime) {
              return time.getTime() > new Date(this.dataForm.endTime).getTime() || time.getTime() < Date.now() - 8.64e7
            } else {
              // 还没有选择结束时间的时候，让他只能选择今天之后的时间包括今天
              return time.getTime() < Date.now() - 8.64e7
            }
          }
        },
        pickerOptionsAfter: {
          disabledDate: (time) => {
            if (this.dataForm.startTime) {
              // 可以选择同一天
              return time.getTime() < new Date(this.dataForm.startTime).getTime()
            } else {
              return time.getTime() < Date.now()
            }
          }
        }
      }
    },
    created () {
      this.dataForm.startTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
      this.dataForm.endTime = moment((new Date()).setMonth((new Date()).getMonth() + 3)).format('YYYY-MM-DD HH:mm:ss')
    },
    methods: {
      zipSelect () {
        this.$refs.dataForm.validateField('groupZipCode', (valid) => {
          if (valid === '') {
            if (this.dataForm.groupZipCode !== '' && this.dataForm.groupZipCode !== null) {
              this.$http({
                url: this.$http.adornUrl(`/service/usergroup/zipInfo/${this.dataForm.groupZipCode}`),
                method: 'get',
                params: this.$http.adornParams()
              }).then(({data}) => {
                if (data && data.code === 0) {
                  this.dataForm.groupPrefecture = data.adAddress.kenName
                  this.dataForm.groupAddressCity = data.adAddress.cityName + data.adAddress.townName
                } else {
                  this.$message.error(data.msg)
                }
              })
            }
          }
        })
      },
      // groupTypeChange () {
      //   if (this.dataForm.groupType === '3') {
      //     this.$http({
      //       url: this.$http.adornUrl(`/service/course/courseSelect`),
      //       method: 'get',
      //       params: this.$http.adornParams()
      //     }).then(({data}) => {
      //       if (data && data.code === 0) {
      //         this.courseSelect = data.courseSelect
      //       } else {
      //         this.$message.error(data.msg)
      //       }
      //     })
      //   }
      // },
      // proxyGroupChange () {
      //   console.log(this.dataForm.proxyGroupId)
      //   this.$http({
      //     url: this.$http.adornUrl(`/service/course/courseSelect`),
      //     method: 'get',
      //     params: this.$http.adornParams({
      //       'proxyGroupId': this.dataForm.proxyGroupId
      //     })
      //   }).then(({data}) => {
      //     if (data && data.code === 0) {
      //       this.courseSelect = data.courseSelect
      //     } else {
      //       this.$message.error(data.msg)
      //     }
      //   })
      // },
      init (id, type) {
        this.dataForm.groupId = id || 0
        this.visible = true
        this.groupType = []
        this.loginGroupType = this.$store.state.user.loginGroupType
        if (this.loginGroupType === '1') {
          if (type === '1') {
            this.groupType.push({ value: '1', label: '運営事務局' })
          }
          this.groupType.push({ value: '2', label: 'ご契約者様' })
          this.groupType.push({ value: '3', label: 'クラス' })
        } else if (this.loginGroupType === '2') {
          if (type === '2') {
            this.groupType.push({ value: '2', label: 'ご契約者様' })
          }
          this.groupType.push({ value: '3', label: 'クラス' })
          this.dataForm.groupType = '3'
        } else if (this.loginGroupType === '3') {
          this.groupType.push({ value: '3', label: 'クラス' })
        }
        this.$http({
          url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.proxyGroupSelect = data.list
          } else {
            this.$message.error(data.msg)
          }
        })
        this.$http({
          url: this.$http.adornUrl(`/service/course/courseSelect`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.courseSelect = data.courseSelect
          } else {
            this.$message.error(data.msg)
          }
        })
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.groupId) {
            this.$http({
              url: this.$http.adornUrl(`/service/usergroup/info/${this.dataForm.groupId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.groupName = data.userGroup.groupName
                this.dataForm.groupType = data.userGroup.groupType
                this.dataForm.proxyGroupId = data.userGroup.groupIdOf
                this.dataForm.groupDetail = data.userGroup.groupDetail
                this.dataForm.groupZipCode = data.userGroup.groupZipCode
                this.dataForm.groupPrefecture = data.userGroup.groupPrefecture
                this.dataForm.groupAddressCity = data.userGroup.groupAddressCity
                this.dataForm.groupAddressOthers = data.userGroup.groupAddressOthers
                this.dataForm.contactTel1 = data.userGroup.contactTel1
                this.dataForm.contactFax1 = data.userGroup.contactFax1
                this.dataForm.contactTel2 = data.userGroup.contactTel2
                this.dataForm.contactFax2 = data.userGroup.contactFax2
                this.dataForm.contactEmail = data.userGroup.contactEmail
                this.dataForm.managerName = data.userGroup.managerName
                this.dataForm.managerNameKana = data.userGroup.managerNameKana
                this.dataForm.managerDepartName = data.userGroup.managerDepartName
                this.dataForm.managerPosition = data.userGroup.managerPosition
                this.dataForm.courseIds = data.userGroup.courseIds
                this.dataForm.userMaxNum = data.userGroup.userMaxNum
                this.dataForm.groupCertificateTemplateId = data.userGroup.groupCertificateTemplateId
                this.dataForm.certificateTitle = data.userGroup.certificateTitle
                this.dataForm.certificateContent = data.userGroup.certificateContent
                this.dataForm.issuerName = data.userGroup.issuerName
                this.dataForm.issuerNameSub = data.userGroup.issuerNameSub
                this.dataForm.issuerResponsiblePartyTitle = data.userGroup.issuerResponsiblePartyTitle
                this.dataForm.issuerResponsiblePartyName = data.userGroup.issuerResponsiblePartyName
                this.dataForm.certificateTemplatePath = data.userGroup.certificateTemplatePath
                this.dataForm.startTime = data.userGroup.startTime
                this.dataForm.endTime = data.userGroup.endTime
                // this.dataForm.createUserId = data.userGroup.createUserId
                // this.dataForm.createTime = data.userGroup.createTime
                // this.dataForm.updateUserId = data.userGroup.updateUserId
                // this.dataForm.updateTime = data.userGroup.updateTime
                // this.dataForm.versionNo = data.userGroup.versionNo
                // this.dataForm.delFlag = data.userGroup.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/usergroup/${!this.dataForm.groupId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'groupId': this.dataForm.groupId || undefined,
                'groupName': this.dataForm.groupName,
                'groupIdOf': this.dataForm.proxyGroupId,
                'groupType': this.dataForm.groupType,
                'groupDetail': this.dataForm.groupDetail,
                'groupZipCode': this.dataForm.groupZipCode,
                'groupPrefecture': this.dataForm.groupPrefecture,
                'groupAddressCity': this.dataForm.groupAddressCity,
                'groupAddressOthers': this.dataForm.groupAddressOthers,
                'contactTel1': this.dataForm.contactTel1,
                'contactFax1': this.dataForm.contactFax1,
                'contactTel2': this.dataForm.contactTel2,
                'contactFax2': this.dataForm.contactFax2,
                'contactEmail': this.dataForm.contactEmail,
                'managerName': this.dataForm.managerName,
                'managerNameKana': this.dataForm.managerNameKana,
                'managerDepartName': this.dataForm.managerDepartName,
                'managerPosition': this.dataForm.managerPosition,
                'courseIds': this.dataForm.courseIds,
                'userMaxNum': this.dataForm.userMaxNum,
                'groupCertificateTemplateId': this.dataForm.groupCertificateTemplateId,
                'certificateTitle': this.dataForm.certificateTitle,
                'certificateContent': this.dataForm.certificateContent,
                'issuerName': this.dataForm.issuerName,
                'issuerNameSub': this.dataForm.issuerNameSub,
                'issuerResponsiblePartyTitle': this.dataForm.issuerResponsiblePartyTitle,
                'issuerResponsiblePartyName': this.dataForm.issuerResponsiblePartyName,
                'certificateTemplatePath': this.dataForm.certificateTemplatePath,
                'startTime': this.dataForm.startTime,
                'endTime': this.dataForm.endTime
                // 'createUserId': this.dataForm.createUserId,
                // 'createTime': this.dataForm.createTime,
                // 'updateUserId': this.dataForm.updateUserId,
                // 'updateTime': this.dataForm.updateTime,
                // 'versionNo': this.dataForm.versionNo,
                // 'delFlag': this.dataForm.delFlag
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
