<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="160px">
    <el-form-item label="グループ名:" prop="groupName">
        <div class="detail-div-line" >{{dataForm.groupName}}</div>
    </el-form-item>
    <el-form-item label="所属グループ名:" prop="groupNameOf">
        <div class="detail-div-line" >{{dataForm.groupNameOf}}</div>
    </el-form-item>
    <el-form-item label="グループ種別:" prop="groupType">
      <el-tag v-if="dataForm.groupType === '1'" size="small" type="primary">運営事務局</el-tag>
      <el-tag v-if="dataForm.groupType === '2'" size="small" type="primary">ご契約者様</el-tag>
      <el-tag v-if="dataForm.groupType === '3'" size="small" type="primary">クラス</el-tag>
    </el-form-item>
    <el-form-item label="グループ説明:" prop="groupDetail">
        <div class="detail-div-line" >{{dataForm.groupDetail}}</div>
    </el-form-item>
    <el-form-item label="契約受講者数:" prop="userMaxNum">
      <span v-if="dataForm.userMaxNum===0">無制限</span>
      <span v-if="dataForm.userMaxNum>0">{{dataForm.userMaxNum}}</span>
    </el-form-item> 
    <el-form-item v-if="dataForm.groupType === '3' " label="講座:" prop="courseIds">
      <el-select v-model="dataForm.courseIds" placeholder="講座" style="width:100%" disabled multiple>
        <el-option
          v-for="item in courseSelect"
          :key="item.courseId"
          :label="item.courseTitle"
          :value="item.courseId">
        </el-option>  
      </el-select>
    </el-form-item>     
    <el-form-item label="郵便番号:" prop="groupZipCode">
        {{dataForm.groupZipCode}}
    </el-form-item>
    <el-form-item label="都道府県:" prop="groupPrefecture">
        <div class="detail-div-line" >{{dataForm.groupPrefecture}}</div>
    </el-form-item>
    <el-form-item label="市区町村:" prop="groupAddressCity">
        <div class="detail-div-line" >{{dataForm.groupAddressCity}}</div>
    </el-form-item>
    <el-form-item label="その他住所:" prop="groupAddressOthers">
        <div class="detail-div-line" >{{dataForm.groupAddressOthers}}</div>
    </el-form-item>
    <el-form-item label="連絡先電話１:" prop="contactTel1">
        {{dataForm.contactTel1}}
    </el-form-item>
    <el-form-item label="連絡先FAX１:" prop="contactFax1">
        {{dataForm.contactFax1}}
    </el-form-item>
    <el-form-item label="連絡先電話２:" prop="contactTel2">
        {{dataForm.contactTel2}}
    </el-form-item>
    <el-form-item label="連絡先FAX２:" prop="contactFax2">
        {{dataForm.contactFax2}}
    </el-form-item>
    <el-form-item label="連絡先メール:" prop="contactEmail">
        <div class="detail-div-line" >{{dataForm.contactEmail}}</div>
    </el-form-item>
    <el-form-item label="責任者氏名:" prop="managerName">
        <div class="detail-div-line" >{{dataForm.managerName}}</div>
    </el-form-item>
    <el-form-item label="責任者氏名（カナ）:" prop="managerNameKana">
        <div class="detail-div-line" >{{dataForm.managerNameKana}}</div>
    </el-form-item>
    <el-form-item label="責任者部署:" prop="managerDepartName">
        <div class="detail-div-line" >{{dataForm.managerDepartName}}</div>
    </el-form-item>
    <el-form-item label="責任者職位:" prop="managerPosition">
       <div class="detail-div-line" > {{dataForm.managerPosition}}</div>
    </el-form-item>
    <!-- <el-form-item label="作成者:" prop="createUserId">
        {{dataForm.createUserId}}
    </el-form-item> -->
    <el-form-item label="作成日時:" prop="createTime">
        {{dataForm.createTime}}
    </el-form-item>
    <!-- <el-form-item label="更新者:" prop="updateUserId"> -->
        <!-- {{dataForm.updateUserId}}
    </el-form-item>
    <el-form-item label="更新日時:" prop="updateTime">
        {{dataForm.updateTime}}
    </el-form-item> -->
    <!-- <el-form-item label="バージョン番号" prop="versionNo">
        {{dataForm.versionNo}}
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
        {{dataForm.delFlag}}
    </el-form-item> -->
    <div v-if="dataForm.groupType==='3'">
      <hr>
      <el-form-item label="有効期間開始日:" prop="startDate">
        {{dataForm.startDate}}
      </el-form-item>
      <el-form-item label="有効期間終了日:" prop="endDate">
        {{dataForm.endDate}}
      </el-form-item>

      <hr>
      <el-form-item label="タイトル:" prop="certificateTitle">
          {{dataForm.certificateTitle}}
      </el-form-item>
      <el-form-item label="本文:" prop="certificateContent">
          {{dataForm.certificateContent}}
      </el-form-item>
      <el-form-item label="発行機関名:" prop="issuerName">
          {{dataForm.issuerName}}
      </el-form-item>
      <el-form-item label="発行機関サブ名:" prop="issuerNameSub">
          {{dataForm.issuerNameSub}}
      </el-form-item>
      <el-form-item label="発行機関責任者肩書:" prop="issuerResponsiblePartyTitle">
          {{dataForm.issuerResponsiblePartyTitle}}
      </el-form-item>
      <el-form-item label="発行機関責任者名:" prop="issuerResponsiblePartyName">
          {{dataForm.issuerResponsiblePartyName}}
      </el-form-item>
      <!-- <el-form-item label="終了証テンプレートPATH:" prop="certificateTemplatePath">
          {{dataForm.certificateTemplatePath}}
      </el-form-item> -->
    </div>
    </el-form>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          groupId: 0,
          groupName: '',
          groupType: '',
          groupDetail: '',
          groupZipCode: '',
          groupPrefecture: '',
          groupAddressCity: '',
          groupAddressOthers: '',
          contactTel1: '',
          contactFax1: '',
          contactTel2: '',
          contactFax2: '',
          contactEmail: '',
          managerName: '',
          managerNameKana: '',
          managerDepartName: '',
          managerPosition: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: '',
          groupNameOf: '',
          courseIds: [],
          userMaxNum: 0,
          groupCertificateTemplateId: '',
          certificateTitle: '',
          certificateContent: '',
          issuerName: '',
          issuerNameSub: '',
          issuerResponsiblePartyTitle: '',
          issuerResponsiblePartyName: '',
          certificateTemplatePath: '',
          reserve1: '',
          reserve2: '',
          reserve3: '',
          reserve4: '',
          reserve5: '',
          reserve6: '',
          startDate: '',
          endDate: ''
          // versionNo: '',
          // delFlag: ''
        }
      }
    },
    methods: {
      init (id) {
        this.$http({
          url: this.$http.adornUrl(`/service/course/courseSelect`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.courseSelect = data.courseSelect
          } else {
            this.$message.error(data.msg)
          }
        })
        this.dataForm.groupId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.groupId) {
            this.$http({
              url: this.$http.adornUrl(`/service/usergroup/info/${this.dataForm.groupId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.groupName = data.userGroup.groupName
                this.dataForm.groupType = data.userGroup.groupType
                this.dataForm.groupDetail = data.userGroup.groupDetail
                this.dataForm.groupZipCode = data.userGroup.groupZipCode
                this.dataForm.groupPrefecture = data.userGroup.groupPrefecture
                this.dataForm.groupAddressCity = data.userGroup.groupAddressCity
                this.dataForm.groupAddressOthers = data.userGroup.groupAddressOthers
                this.dataForm.contactTel1 = data.userGroup.contactTel1
                this.dataForm.contactFax1 = data.userGroup.contactFax1
                this.dataForm.contactTel2 = data.userGroup.contactTel2
                this.dataForm.contactFax2 = data.userGroup.contactFax2
                this.dataForm.contactEmail = data.userGroup.contactEmail
                this.dataForm.managerName = data.userGroup.managerName
                this.dataForm.managerNameKana = data.userGroup.managerNameKana
                this.dataForm.managerDepartName = data.userGroup.managerDepartName
                this.dataForm.managerPosition = data.userGroup.managerPosition
                this.dataForm.createUserId = data.userGroup.createUserId
                this.dataForm.createTime = data.userGroup.createTime
                this.dataForm.updateUserId = data.userGroup.updateUserId
                this.dataForm.updateTime = data.userGroup.updateTime
                this.dataForm.groupNameOf = data.userGroup.groupNameOf
                this.dataForm.courseIds = data.userGroup.courseIds
                this.dataForm.userMaxNum = data.userGroup.userMaxNum
                this.dataForm.groupCertificateTemplateId = data.userGroup.groupCertificateTemplateId
                this.dataForm.certificateTitle = data.userGroup.certificateTitle
                this.dataForm.certificateContent = data.userGroup.certificateContent
                this.dataForm.issuerName = data.userGroup.issuerName
                this.dataForm.issuerNameSub = data.userGroup.issuerNameSub
                this.dataForm.issuerResponsiblePartyTitle = data.userGroup.issuerResponsiblePartyTitle
                this.dataForm.issuerResponsiblePartyName = data.userGroup.issuerResponsiblePartyName
                this.dataForm.certificateTemplatePath = data.userGroup.certificateTemplatePath
                this.dataForm.reserve1 = data.userGroup.reserve1
                this.dataForm.reserve2 = data.userGroup.reserve2
                this.dataForm.reserve3 = data.userGroup.reserve3
                this.dataForm.reserve4 = data.userGroup.reserve4
                this.dataForm.reserve5 = data.userGroup.reserve5
                this.dataForm.reserve6 = data.userGroup.reserve6
                this.dataForm.certificateTitle = data.userGroup.certificateTitle
                this.dataForm.certificateContent = data.userGroup.certificateContent
                this.dataForm.startDate = data.userGroup.startTime
                this.dataForm.endDate = data.userGroup.endTime
                // this.dataForm.versionNo = data.userGroup.versionNo
                // this.dataForm.delFlag = data.userGroup.delFlag
              }
            })
          }
        })
      }
    }
  }
</script>
