<template>
  <div class="home">
    <!-- <CourseSearch></CourseSearch> -->
    <div class="app-list-sorter-wrap clearfix">
<!--      <el-alert-->
<!--        :title="'受講可能な講座は'+this.listTotal+'件です。'"-->
<!--        type="success"-->
<!--        :closable="false"-->
<!--      >-->
<!--      </el-alert> -->
      <!-- <div class="app-list-sorter-page">
        <span style="font-weight:bold">
          受講可能の講座は{{this.listTotal}}件です。
        </span>
        {{pageText}}
      </div> -->
      <div class="app-list-sorter-page" style="text-align: right;margin-top:10px;">
        <span style="font-weight:bold;">
          新着順
        </span>
      </div>
      <!-- <div class="app-list-sorter-right">
        <span>並び替え</span>
        <el-select v-model="sortBy" size="medium" style="width: 110px">
          <el-option
            v-for="item in sortByOptions"
            :key="item.key"
            :label="item.value"
            :value="item.key">
          </el-option>
        </el-select>
      </div> -->
    </div>
    <div v-loading="tableIsLoading">
      <div class="app-list-wrap">
        <div class="app-list" v-for="(item, index) in courseList" :key="index">
          <div class="app-list-left">
            <el-image class="app-list-left-img" :src="item.courseImagePath"
              alt="コース画像" fit="contain"
              @click="goDetail(item.courseId)"
            >
              <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline"></i>
              </div>
            </el-image>
          </div>
          <div class="app-list-right">
            <div>
              <div class="app-list-right-title" @click="goDetail(item.courseId)">
                {{item.courseTitle}}
              </div>
              <!-- <router-link :to="'/course/'+item.id">{{item.title}}</router-link> -->
              <div class="app-list-right-cateandtag">
                <div class="app-list-right-category">
                  カテゴリ：{{item.courseTypeName}}
                </div>
                <!-- <div class="app-list-right-tags">
                  <div class="app-list-right-tag" v-for="tag in item.tags" :key="tag">
                    {{tag}}
                  </div>
                </div> -->
              </div>
              <div class="app-list-right-desc"><strong style="white-space:pre-wrap; word-wrap:break-word;line-height:1.5em">{{item.courseOutline}}</strong></div>
            </div>
            <!-- <div class="app-list-right-timeandauthor">
              <div class="app-list-right-time">学習時間の目安：{{item.time}}分</div>
              <div class="app-list-right-author">Provided by：{{item.author}}</div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <el-pagination
      background
      :page-size="listSize"
      :pager-count="7"
      layout="prev, pager, next"
      :total="listTotal"
      @current-change="pageChange"
    >
    </el-pagination> -->
  </div>
</template>

<script>
import request from '@/utils/request';
// import CourseSearch from '@/components/CourseSearch.vue';

export default {
  name: 'Home',
  components: {
    // CourseSearch,
  },
  data() {
    return {
      tableIsLoading: false,
      listTotal: 325,
      listPage: 1,
      listSize: 20,
      sortBy: '0',
      sortByOptions: [
        {
          key: '0',
          value: '新着順',
        },
        {
          key: '1',
          value: '人気順',
        },
        {
          key: '2',
          value: '評価順',
        },
      ],
      courseList: [],
    };
  },
  computed: {
    pageText() {
      const pageStart = (this.listSize * this.listPage) + 1;
      const pageEnd = this.listSize * (this.listPage + 1);
      return ` 件中 ${pageStart}～${pageEnd} 件を表示`;
    },
  },
  methods: {
    getCourseList(data) {
      this.tableIsLoading = true;
      request('getCourseList', data).then((res) => {
        this.listTotal = res.count;
        this.courseList = res.studentCourseResponseResourceList;
      }).finally(() => {
        this.tableIsLoading = false;
      });
    },
    pageChange() {
      this.getCourseList();
    },
    goDetail(id) {
      this.$router.push({
        path: `/course/${id}`,
      }).catch(() => {});
    },
  },
  mounted() {
    this.getCourseList();
  },
};
</script>

<style lang="less">
.home {
  margin: 30px 0;

  // .app-list-sorter-page {
  //   display: block;
  // }
}
@media (max-width: 767px) {
  .home {
    margin: 10px 0;
  }
}
</style>
