<template>
  <div class="common-layout">
      <div border=1>
      <br>
      <iframe :src="videoUrl" width="100%" height="360" border="1" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      <br>
      </div>
      <br>
      <el-button native-type="button" type="primary" plain @click="goBack" target="_blank"> 戻る </el-button>
  </div>
</template>

<script>
import Bread from '@/components/Bread.vue';
export default {
  components: {
    Bread,
    // CourseSearch,
  },
  data() {
    return {
      videoUrl: '',
    }
  },
  created() {
    this.videoUrl = this.$route.params.videoUrl;
    // for test
    //this.videoUrl = "https://player.vimeo.com/video/568314027?h=9142c15731";
    this.bread = [
        {
          path: '',
          name: '戻る',
        },
      ];
  },
  methods: {
    goBack() {
      history.go(-1);
    },
  }
}
// to the Top
window.scrollTo(0,0);
</script>

<style lang="less" scoped>
iframe {
  border: 2px black solid;
}

#app {
  height: 100%;

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    overflow: hidden;

    .el-header {
      position: fixed;
      z-index: 10000;
      width: 100%;
      padding: 0;
      background: #172436;

      .app-header {
        position: relative;
        color: #fff;

        .app-header-logo {
          width: 200px;
          height: 100%;
          float: left;
          position: relative;
          background: url(../assets/logo.gif) no-repeat;
          background-size: contain;
          background-position: center;
        }

        .app-header-title {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
        }

        .app-header-right {
          float: right;
          height: 100%;
          display: flex;
          align-items: center;

          .app-header-badge {
            font-size: 20px;
          }
          & > div {
            padding: 0 10px;
            cursor: pointer;
            position: relative;
            transition: color .3s;
            font-size: 14px;

            &:hover {
              color: #ccc;
            }

            &:after {
              display: block;
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 1px;
              // background-color: #94CE58;
              background-color: #ddd;
            }

            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;

              &:after {
                display: none;
              }
            }

            span {
              font-size: 14px;
              vertical-align: middle;
            }
            .app-header-bell {
              margin-right: 10px;
              font-size: 20px;
              vertical-align: middle;
            }
          }
        }
      }
    }
    .el-main {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: auto;
      margin-top: 60px;
      padding: 0;

      .app-main {
        flex: 1;
        height: 1024px;
      }
    }
    .el-footer {
      padding: 20px 0;
      display: flex;
      width: 100%;
      background: #172436;
      color: #fff;

      .app-footer-top {
        margin: 10px;
        text-align: center;
      }

      .app-footer-list-wrap {
        display: flex;
        justify-content: space-between;

        .app-footer-list {
          font-size: 18px;
          // flex: 1;

          .app-footer-list-group {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            .app-footer-list-title {
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 16px;
            }
            .app-footer-list-items {
              .app-footer-list-item {
                position: relative;
                padding-left: 12px;
                font-size: 13px;
                margin-bottom: 12px;

                &::before {
                  background: url(../assets/icon_aroow_right_white.svg) no-repeat;
                  background-position: center;
                  background-size: contain;
                  content: '';
                  height: 6px;
                  left: 0;
                  position: absolute;
                  top: 4px;
                  // top: 50%;
                  // transform: translateY(-50%);
                  width: 6px;
                }

                a {
                  color: inherit;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                    color: #ccc;
                  }
                }
              }
            }
          }
        }
      }

      .app-footer-copyright {
        margin-top: 20px;
        text-align: center;

        span {
          vertical-align: middle;
          font-size: 14px;
        }
        .el-link {
          color: #fff;

          &:hover {
            color: #409EFF;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #app {
    .app-container {
      .el-header {
        height: 40px!important;
        .app-header {
          padding: 0 5px;
          .app-header-logo {
            width: 120px;
          }
          .app-header-title {
            font-size: 14px;
          }
        }
      }
      .el-main {
        margin-top: 40px;
      }
      .el-footer {
        .app-footer-list-wrap {
          flex-direction: column;
        }
      }
      .el-backtop {
        display: none;
      }
    }
  }
}
</style>
