<template>
  <div class="result-content">
    <Bread :list="bread"></Bread>
    <div class="result-page-content">
      <el-card slot="header" shadow="never" class="box-card">
        <div slot="header" class="clearfix">
          <span>単元テスト名</span>
        </div>
        <div class="text item">
          {{result.testTitle}}
        </div>
      </el-card>
      <div class="test-table">
        <div class="col-title">
          <div class="content">
            正答率
          </div>
          <div class="content">
            テスト結果
          </div>
        </div>
        <div class="col-content">
          <div class="content">
            {{result.answerCorrectRate}}%
          </div>
          <div class="content">
            {{answerResultDict[result.answerResult]}}
          </div>
        </div>
      </div>
      <el-card slot="header" shadow="never" class="box-card" v-if="result.noPassedAnsweres.length">
        <div slot="header" class="clearfix center h3">
          <span>不合格問題一覧</span>
        </div>
        <div class="text item">
          <table v-for="(question, index) in result.noPassedAnsweres"
            :key="index" class="result-table"
          >
            <tr>
              <td class="rowspan-th" bgcolor="#cccccc">
                <span>問題{{index + 1}}</span>
              </td>
            </tr>
            <tr>
              <td class="bg">問題文</td>
            </tr>
            <tr>
              <td colspan="2"><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.questionContent}}</div></td>
            </tr>
            <tr>
              <td class="bg">解答内容</td>
            </tr>
            <tr>
              <td class="text-block"><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.answerContent}}</div></td>
            </tr>
            <tr>
              <td class="bg">正解内容</td>
            </tr>
            <tr>
              <td class="text-block"><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.standardAnswers}}</div></td>
            </tr>
            <tr>
              <td class="bg">解説文</td>
            </tr>
            <tr>
              <td><div style="white-space:pre-wrap; word-wrap:break-word;">{{question.questionExplanation}}</div></td>
            </tr>
          </table>
        </div>
      </el-card>
      <br>
      <el-button native-type="button" type="primary" plain @click="goUnit"> 教材一覧に戻る </el-button>
    </div>
  </div>
</template>

<script>
import Bread from '@/components/Bread.vue';
import { Notification } from 'element-ui';

export default {
  name: 'TestResult',
  components: {
    Bread,
  },
  data() {
    return {
      answerResultDict: ['合格', '不合格', '単元テスト終了'],
      result: {},
      tableData: [],
      bread: [],
    };
  },
  methods: {
    goUnit() {
      const { courseId, subjectId,unitId} = this.$route.query;
      this.$router.push({
        path: `/unit/${this.result.unitId}/${courseId}/${subjectId}`,
      }).catch(() => {});
    },
  },
  created() {
    if (!window.testResult) {
      Notification({
        title: 'エラー',
        message: 'No data',
        duration: 0,
        offset: 75,
      });
    } else {
      this.result = window.testResult;
      try{
      this.tableData = this.result.noPassedAnsweres.filter((item) => item.answerResult === '1');
      } catch (e){
        //
      }
      this.bread = [
        {
          path: '/',
          name: 'トップページ',
        },
        {
          path: `/course/${this.result.courseId}`,
          name: this.result.courseName,
        },
        {
          path: `/subject/${this.result.subjectId}/${this.result.courseId}`,
          name: this.result.subjectName,
        },
        {
          path: `/unit/${this.result.unitId}/${this.result.courseId}/${this.result.subjectId}`,
          name: this.result.unitName,
        },
        {
          name: this.result.testName,
        },
      ];
    }
  },
};
</script>

<style lang="less">
@import "../styles/test.less";
@import "../styles/mediaQuery.less";
.result-page-content {
  padding-bottom: 30px;
}
.result-table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid @lightBorderColor;
  td {
    border-bottom: 1px solid @lightBorderColor;
    border-right: 1px solid @lightBorderColor;
    padding: 20px;
  }
  .bg {
    background: @tableBg;
  }
  .rowspan-td {
    min-width:30px;
    text-align: center;
    position: relative;
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.test-table {
  margin: 30px 0;
  display: flex;
  overflow: hidden;
  border: 1px solid @lightBorderColor;
  .col-title {
    flex: 0 0 30%;
    white-space: nowrap;
    background-color: @tableBg;
  }
  .col-order {
    flex: 0 0 10%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @tableBg;
  }
  .content {
    margin: -1px;
    padding: 20px;
    border: 1px solid @lightBorderColor;
    border-right: 0;
  }
  .col-content {
    flex: 1;
  }
}
.el-card__header {
  background: #F5F7FA;
  .center {
    text-align: center;
  }
  .h3 {
    font-size: 20px;
  }
}

.grid-content {
  padding: 20px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
.text-block {
  white-space: pre-wrap;
}
.result-content {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:40px 16px;
  padding-top: 0;
}
</style>
