<template>
  <div class="unit">
    <Bread :list="bread"></Bread>
    <div class="unit-info">
      <div class="unit-info-title">{{unitInfo.title}}</div>
      <div class="unit-info-wrap">
        <div class="unit-info-left">
          <el-image class="unit-info-img" :src="unitInfo.pic" alt="コース画像" fit="contain">
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
          </el-image>
        </div>
        <div class="unit-info-right">
<!--          <div class="unit-info-item">-->
<!--            <div class="unit-info-item-label">講座</div>-->
<!--            <div class="unit-info-item-value">{{unitInfo.courseName}}</div>-->
<!--          </div>-->
<!--          <div class="unit-info-item">-->
<!--            <div class="unit-info-item-label">教科</div>-->
<!--            <div class="unit-info-item-value">{{unitInfo.subjectName}}</div>-->
<!--          </div>-->
          <div class="unit-info-desc" style="font-size:17px;white-space:pre-wrap; word-wrap:break-word;line-height:1.5em">
            <strong>{{unitInfo.abstract}}</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="unit-apply">{{isLogin?'受講申請はこちらへ。':'ログインして受講申請ください。'}}</div> -->
    <div class="unit-detail">
      <div style="font-size:17px;white-space:pre-wrap; word-wrap:break-word;line-height:1.5em">{{unitInfo.unitDetail}}</div>
      <!-- <div class="unit-detail-item"
        v-for="(item, index) in unitInfo.detail" :key="index"
      >
        <div class="unit-detail-title">{{item.name}}</div>
        <div class="unit-detail-content">
          <div class="unit-detail-content-item-wrap" v-for="(i, idx) in item.value" :key="idx">
            <div class="unit-detail-content-item" v-if="typeof i === 'string'">
              · {{i}}
            </div>
            <div v-else class="unit-detail-content-item">
              <div class="unit-detail-content-item-title">
                {{`${idx+1}. ${i.name}`}}
              </div>
              <div class="unit-detail-content-item-value">
                {{i.value}}
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="unit-detail-item" v-if="test.history &&test.history.length">
        <br>
        <div class="unit-detail-title">単元テスト履歴</div>
        <div class="unit-detail-content">
          <div style="margin-bottom: 10px;">{{
            (test.status==="0" || test.status==="2")
              ?'単元確認テストは合格しました。'
              :'単元確認テストは不合格です。'
          }}
          </div>
          <el-table
            :data="test.history"
            style="width: 100%"
            :border="true"
          >
            <el-table-column
              prop="time"
              label="テスト開始時刻"
            >
            </el-table-column>
            <el-table-column
              prop="result"
              label="結果"
            >
              <template slot-scope="scope">
                {{testResultObj[scope.row.result]}}
              </template>
            </el-table-column>
            <el-table-column
              prop="rate"
              label="正解率"
            >
            </el-table-column>
            <el-table-column
              prop="status"
              label="テスト状態"
            >
              <template slot-scope="scope">
                {{testStatusObj[scope.row.status]}}
              </template>
            </el-table-column>
            <el-table-column header-align="center" align="center" label="不合格問題一覧">
             <template v-if="scope.row.status==='1'" slot-scope="scope">
              <el-button type="text" size="small" @click="goToResult(scope.row.studentTestId)">不合格問題一覧</el-button>
            </template>
           </el-table-column>
          </el-table>
        </div>
      </div>
      <div class="unit-detail-item">
        <br>
        <div class="unit-detail-title">教材一覧</div>
        <div class="unit-detail-content">
          <div class="app-list-sorter-wrap clearfix">
<!--            <el-alert-->
<!--              :title="'受講可能な講座は'+this.listTotal+'件です。'"-->
<!--              type="success"-->
<!--              :closable="false"-->
<!--            >-->
            <!-- </el-alert> -->
            <div class="app-list-sorter-page" style="text-align: right;margin-top:10px;">
              <span style="font-weight:bold;">

              </span>
            </div>
            <!-- <div class="app-list-sorter-page">
              <span style="font-weight:bold">{{this.listTotal}}</span>{{pageText}}
            </div>
            <div class="app-list-sorter-right">
              <span>並び替え</span>
              <el-select v-model="sortBy" size="medium" style="width: 110px">
                <el-option
                  v-for="item in sortByOptions"
                  :key="item.key"
                  :label="item.value"
                  :value="item.key">
                </el-option>
              </el-select>
            </div> -->
          </div>
          <div v-loading="tableIsLoading">
            <div class="app-list-wrap">
              <div class="app-list" v-for="(item, index) in materialList" :key="index">
                <div class="app-list-left">
                  <div v-if="item.contentType != '01' && item.contentType != '03'">
                    <el-image class="app-list-left-img" :src="item.pic"
                              alt="コース画像" fit="contain" @click.native="download(item.id,item.contentUrl)">
                      <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i>
                      </div>
                    </el-image>
                  </div>
                  <div v-if="item.contentType == '01'">
                    <el-image class="app-list-left-img" :src="item.pic"
                              alt="コース画像" fit="contain" @click.native="showVideo(item.contentUrl)">
                      <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i>
                      </div>
                    </el-image>
                  </div>
                  <div v-if="item.contentType == '03'">
                    <el-image class="app-list-left-img" :src="item.pic"
                              alt="コース画像" fit="contain" @click.native="showPDF(item.contentUrl)">
                      <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i>
                      </div>
                    </el-image>
                  </div>
                </div>
                <div class="app-list-right">
                  <div>
                    <div v-if="item.contentType != '01' && item.contentType != '03'">
                      <div class="app-list-right-title" @click="download(item.id,item.contentUrl)">
                         <strong style="white-space:pre-wrap; word-wrap:break-word;">{{item.title}}</strong>
                      </div>
                    </div>
                    <div v-if="item.contentType == '01'">
                      <div class="app-list-right-title">
                         <strong style="white-space:pre-wrap; word-wrap:break-word;">{{item.title}}</strong>
                      </div>
                      <el-button native-type="button" type="primary" plain @click="showVideo(item.contentUrl)" @target="_blank">この教材を開く</el-button>
                    </div>
                    <div v-if="item.contentType == '03'">
                      <div class="app-list-right-title">
                         <strong style="white-space:pre-wrap; word-wrap:break-word;">{{item.title}}</strong>
                      </div>
                      <el-button native-type="button" type="primary" plain @click="showPDF(item.contentUrl)" target="_blank">この教材を開く</el-button>
                      <el-button native-type="button" type="success" plain @click="download(item.id, item.contentUrl)" target="_blank">この教材をダウンロードする</el-button>
                    </div>
                    <br>
                    <div class="app-list-right-desc"><strong style="font-size:17px;white-space:pre-wrap; word-wrap:break-word;line-height:1.5em">{{item.desc}}</strong></div>
                    <br>
                    <br>
                    <div class="app-list-right-desc"><font color="red" font-size="17px" bold>{{item.scsStudyStatus == '1'?'受講完了':'未受講'}}</font></div>
                    <br>
                    <div v-if="item.scsStudyStatus != '1'">
                      <el-button native-type="button" type="danger" plain @click="goEndTimeUpdate(item.id)">受講完了後、このボタンを押してください。</el-button>
                    </div>
                    <div v-if="item.scsStudyStatus == '1'">
                      <el-button native-type="button" type="danger" plain disabled>受講が完了しました。</el-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <el-pagination
            background
            :page-size="listSize"
            :pager-count="7"
            layout="prev, pager, next"
            :total="listTotal"
            @current-change="pageChange"
          >
           v-if="unitInfo.testFlg"
          </el-pagination> -->
        </div>
      </div>
      <div style="text-align:center" v-if="unitInfo.testFlg">
        <el-button native-type="button" type="danger" @click="goTest()"> 単元確認テスト開始 </el-button>
      </div>
    </div>

    <hr>
    <el-button native-type="button" type="primary" plain @click="goBack"> 単元一覧に戻る </el-button>
  </div>
</template>

<script>
import Bread from '@/components/Bread.vue';
import request from '@/utils/request';
import downloadRequest from '@/utils/downloadRequest';
import dayjs from 'dayjs';

export default {
  name: 'Unit',
  components: {
    Bread,
  },
  inject: ['isLogin'],
  data() {
    return {
      bread: [],
      tableIsLoading: false,
      unitID: '',
      unitInfo: {
        // id: 0,
        title: '',
        pic: '',
        courseId: '',
        courseName: '',
        subjectId: '',
        subjectName: '',
        abstract: '',
        detail: '',
        // detail: [
        //   {
        //     name: '単元説明００１',
        //     value: [
        //       '例文：論理的思考の重要性、構成されている要素を理解できます。',
        //       '「OJT（on-the-job training）」とは何かが分かる',
        //       'OJT研修の手順を理解できる',
        //     ],
        //   },
        // ],
      },
      test: {
        status: "1",
        history: [],
      //   history: [
      //     {
      //       time: dayjs().format('YYYY-MM-DD HH:mm:ss'),
      //       result: 1,
      //       rate: '80%',
      //       status: 1,
      //     },
      //     {
      //       time: dayjs().format('YYYY-MM-DD HH:mm:ss'),
      //       result: 0,
      //       rate: '40%',
      //       status: 0,
      //     },
      //   ],
      },
      testResultObj: {
        0: '合格',
        1: '不合格',
        2: '単元テスト終了'
      },
      testStatusObj: {
        0: '解答中',
        1: '解答済',
        2: 'テスト中断',
        3: 'スキップ',
      },
      listTotal: 325,
      listPage: 1,
      listSize: 20,
      sortBy: '0',
      sortByOptions: [
        {
          key: '0',
          value: '新着順',
        },
        {
          key: '1',
          value: '人気順',
        },
        {
          key: '2',
          value: '評価順',
        },
      ],
      materialList: [],
    };
  },
  computed: {
    pageText() {
      const pageStart = (this.listSize * this.listPage) + 1;
      const pageEnd = this.listSize * (this.listPage + 1);
      return ` 件中 ${pageStart}～${pageEnd} 件を表示`;
    },
  },
  created() {
    this.unitID = this.$route.params.id;
    request('getUnitDetail', {
      courseId: this.$route.params.courseId,
      subjectId: this.$route.params.subjectId,
      unitId: this.unitID,
    }).then((res) => {
      this.unitInfo = {
        title: res.unitName,
        pic: res.unitImagePath,
        courseId: this.$route.params.courseId,
        courseName: res.courseTitle,
        subjectId: this.$route.params.subjectId,
        subjectName: res.subjectTitle,
        abstract: res.unitOutline,
        unitDetail: res.unitDetail,
        testFlg: res.testFlg,
      };
      const {
        count,
        studentTeachingMaterialResponseResourceList: list,
      } = res.studentTeachingMaterialResponseResourceList;

      this.listTotal = count;
      this.materialList = list.map((item) => ({
        id: item.teachingMaterialId,
        pic: item.teachingMaterialImagePath,
        title: item.teachingMaterialTitle,
        desc: item.teachingMaterialOutline,
        scsStudyStatus: item.scsStudyStatus,
        contentType:item.contentType,
        contentUrl:item.contentUrl,
      }));

      const {
        // count: testCount,
        studentStudentTestResponseResourceList: testList,
      } = res.studentStudentTestResponseResourceList;
      this.test = {
        // 不合格1以外は合格とみなす。
        status: testList.find((item) => item.answerResult === '1') ? '1' : '0',
        history: testList.map((item) => ({
          time: dayjs(item.answerStartTime).format('YYYY-MM-DD HH:mm:ss'),
          result: item.answerResult,
          rate: item.answerCorrectRate + "%",
          status: item.answerStatus,
          studentTestId: item.studentTestId
        })),
      };
      this.bread = [
        {
          path: '/',
          name: 'トップページ',
        },
        {
          path: `/course/${this.$route.params.courseId}`,
          name: this.unitInfo.courseName,
        },
        {
          path: `/subject/${this.$route.params.subjectId}/${this.$route.params.courseId}`,
          name: this.unitInfo.subjectName,
        },
        {
          name: this.unitInfo.title,
        },
      ];
    });
  },
  methods: {
    // getMaterialList(data) {
    //   this.tableIsLoading = true;
    //   request('getMaterialList', data).then((res) => {
    //     this.materialList = res;
    //   }).finally(() => {
    //     this.tableIsLoading = false;
    //   });
    // },
    // pageChange() {
    //   this.getMaterialList();
    // },
    goBack() {
      this.$router.push({
        path: `/subject/${this.$route.params.subjectId}/${this.$route.params.courseId}`,
      }).catch(() => {});
    },
    goTest() {
      //const { courseId, subjectId } = this.$route.query;
      const courseId = this.$route.params.courseId;
      const subjectId = this.$route.params.subjectId;
      const unitId = this.$route.params.id;

      this.$router.push({
        path: `/test?courseId=${courseId}&subjectId=${subjectId}&unitId=${unitId}`,
      }).catch(() => {});
    },
    goMaterial(id) {
      const { courseId, subjectId } = this.$route.params;

      this.$router.push({
        path: `/material/${id}/${courseId}/${subjectId}/${this.$route.params.id}`,
      }).catch(() => {});
    },
    showPDF(url) {
      this.$router.push({
        name: 'showPDF',
        path: '/showPDF',
        params: {
            pdfUrl: url
          }
      }).catch(() => {});
    },
    showVideo(url) {
      this.$router.push({
        name: 'showVideo',
        path: '/showVideo',
        params: {
            videoUrl: url
          }
      }).catch(() => {});
    },
    download(id,url) {
      downloadRequest('download', url, {
          courseId : this.$route.params.courseId,
          subjectId :  this.$route.params.subjectId,
          unitId :  this.$route.params.id,
          materialId : id,
        });
    },
    goEndTimeUpdate(id) {
      request('endTimeUpdate', {
          courseId : this.$route.params.courseId,
          subjectId :  this.$route.params.subjectId,
          unitId :  this.$route.params.id,
          materialId :  id,
        }).then((res) => {
          this.materialList.forEach(it => {
            if(it.id == id){
              const position = this.materialList.indexOf(it);
              it.scsStudyStatus = res;
              this.$set(this.materialList, position, it);
            }
          })
        });
    },
    goToResult(studentTestId) {
      const params = {
        courseId: this.$route.params.courseId,
        subjectId: this.$route.params.subjectId,
        unitId: this.$route.params.id,
        studentTestId: studentTestId
      };
      request('noPassedAnsweres', params).then((res) => {
        window.testResult = res;
        this.$router.push({
        path: `/test/${studentTestId}/result?courseId=${this.$route.params.courseId}&subjectId=${this.$route.params.subjectId}`,
      });
      });
    },
  },
  mounted() {
    // this.getMaterialList();
  },
};
</script>

<style lang="less">
html {
  font-size:17px;
  line-height:1.5em;
}
.unit {
  margin: 30px 0;

  .unit-info {
    margin-bottom: 20px;

    .unit-info-title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 60px;
    }
    .unit-info-wrap {
      display: flex;

      .unit-info-left {
        margin-right: 10px;
        box-sizing: border-box;
        // border: 1px solid #ccc;

        .unit-info-img {
          width: 320px;
          height: 282px;
        }
      }
      .unit-info-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        // border: 1px solid #ccc;
        box-sizing: border-box;

        .unit-info-item {
          font-size: 17px;
          // border-bottom: 1px solid #ccc;

          .unit-info-item-label {
            padding: 8px;
            width: 180px;
            display: inline-block;
            // background-color: #eee;
          }
          .unit-info-item-value {
            padding: 8px;
            display: inline-block;
          }
        }
        .unit-info-desc {
          flex: 1;
          padding: 8px;
          font-size: 17px;
          white-space:pre-wrap;
          word-wrap:break-word;
        }
      }
    }
  }
  .unit-apply {
    background-color: #F1DCDB;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .unit-detail {
    .unit-detail-item {
      margin-bottom: 20px;

      .unit-detail-title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 5px;
      }
      .unit-detail-content {
        font-size: 15px;
        padding: 10px 0;

        .unit-detail-content-item-wrap {
          .unit-detail-content-item {
            margin-bottom: 15px;

            .unit-detail-content-item-title {
              margin-bottom: 8px;
            }
            .unit-detail-content-item-value {
              font-size: 14px;
              color: #777;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .unit {
    .unit-info {
      .unit-info-wrap {
        flex-direction: column;
        .unit-info-left {
          margin-right: 0;
          text-align: center;
          .unit-info-img {
            height: 160px;
          }
        }
        .unit-info-right {
          .unit-info-item {
            .unit-info-item-label {
              width: 80px
            }
          }
        }
      }
    }
  }
}
</style>
