<template>
  <div class="my-password app-my-wrap">
    <div class="app-my-title">
      メール変更
    </div>
    <div class="app-my-content">
      <el-form ref="resetMailForm" :model="form" class="app-form" :rules="rules">
        <el-form-item prop="password">
          <el-input type="password" v-model="form.password" autocomplete="off"
            placeholder="パスワード"
          ></el-input>
        </el-form-item>
        <el-form-item prop="mail">
          <el-input v-model="form.mail" autocomplete="off"
            placeholder="新しいメール"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">確認</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import tools from '@/utils/tools';

const { checkEmail } = tools;

export default {
  data() {
    return {
      form: {
        password: '',
        mail: '',
      },
      rules: {
        password: [
          { required: true, message: '必須です。', trigger: 'blur' },
        ],
        mail: [
          { validator: checkEmail, trigger: 'blur' },
        ],
      },
    };
  },
  methods: {
    onSubmit() {
      this.$refs.resetMailForm.validate((valid) => {
        if (valid) {
          console.log('submit!');
          return true;
        }
        console.log('error submit!!');
        return false;
      });
    },
  },
};
</script>

<style lang="less" scoped>
</style>
