<template>
  <div class="my-qa app-my-wrap">
    <div class="app-my-title">
      お問い合わせ
    </div>
    <div class="app-my-content">
      <div class="my-qa-item">
        <span class="my-qa-label">お問い合わせ項目</span>
        <span>{{detail.category}}</span>
      </div>
      <div class="my-qa-item">
        <span class="my-qa-label">お問い合わせ件名</span>
        <span>{{detail.title}}</span>
      </div>
      <el-form ref="newQaForm" :model="form" class="app-form" :rules="rules">
        <el-form-item label="お問い合わせ内容" prop="content">
          <el-input
            type="textarea"
            :autosize="{ minRows: 6, maxRows: 10}"
            v-model="form.content"
          >
          </el-input>
        </el-form-item>
        <div class="my-qas-button" @click="submit">
          送信する
        </div>
      </el-form>
      <div class="my-qa-list">
        <!-- <div class="my-qa-item" v-for="(item, index) in detail.history" :key="index"></div> -->
        <el-card v-for="(item, index) in detail.history" :key="index" style="margin-bottom: 20px">
          <div slot="header" class="clearfix">
            <span style="display:inline-block;width:80px">from</span>
            <span>{{item.from}}</span>
            <span style="float: right; padding: 3px 0">{{item.time}}</span>
          </div>
          <div style="margin-bottom: 18px">
            {{item.content}}
          </div>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import request from '@/utils/request';

export default {
  data() {
    return {
      form: {
        content: '',
      },
      rules: {},
      detail: {},
    };
  },
  created() {
    request('getQaDetail').then((res) => {
      console.log(res);
      this.detail = res;
    });
  },
  methods: {
    submit() {
      this.$refs.newQaForm.validate((valid) => {
        if (valid) {
          console.log(this.form);
        }
        console.log('error submit!!');
        return false;
      });
    },
  },
};
</script>

<style lang="less" scoped>
.my-qa {
  .my-qa-item {
    font-size: 14px;
    height: 40px;
    line-height: 40px;

    .my-qa-label {
      margin-right: 40px;
      color: #606266;
    }
  }
  .app-form {
    .my-qas-table-text {
      div {
        line-height: 30px;
        height: 30px;
      }
      .my-qas-indent {
        margin-left: 20px;
      }
    }
    .my-qas-button {
      background-color: #F1DCDB;
      padding: 15px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 18px;
      cursor: pointer;
    }
  }
}
</style>
