<template>
  <div class="my-qas app-my-wrap">
    <div class="app-my-title">
      お問い合わせ
    </div>
    <div class="app-my-content">
      <div class="my-qas-button" @click="addQa">
        新規お問い合わせ
      </div>
      <el-table
        :data="tableData"
        :show-header="false"
        style="width: 100%"
      >
        <el-table-column
          prop="time"
          label="time"
        >
        </el-table-column>
        <el-table-column
          prop="category"
          label="category"
        >
        </el-table-column>
        <el-table-column
          prop="title"
          label="コース"
        >
          <template slot-scope="scope">
            <router-link class="app-header-logo" :to="`/mypage/qa/${scope.row.id}`">
              {{scope.row.title}}
            </router-link>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import request from '@/utils/request';

export default {
  data() {
    return {
      tableData: [],
    };
  },
  created() {
    request('getQaList').then((res) => {
      console.log(res);
      this.tableData = res;
    });
  },
  methods: {
    addQa() {
      this.$router.push({
        path: '/mypage/qa/new',
      }).catch(() => {});
    },
  },
};
</script>

<style lang="less" scoped>
.my-qas {
  .my-qas-button {
    background-color: #F1DCDB;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 18px;
    cursor: pointer;
  }
}
</style>
