<template>
  <el-dialog
    :title="!dataForm.teachingMaterialId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="220px">
    <!-- <el-form-item label="講座ID" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID"></el-input>
    </el-form-item>
    <el-form-item label="教科ID" prop="subjectId">
      <el-input v-model="dataForm.subjectId" placeholder="教科ID"></el-input>
    </el-form-item>
    <el-form-item label="単元ID" prop="unitId">
      <el-input v-model="dataForm.unitId" placeholder="単元ID"></el-input>
    </el-form-item> -->
    <el-form-item label="表示順" prop="dispNo">
      <el-input v-model="dataForm.dispNo" placeholder="表示順" maxlength="50" show-word-limit type="text" autosize></el-input>
    </el-form-item>
    <el-form-item label="教材名" prop="teachingMaterialTitle">
      <el-input v-model="dataForm.teachingMaterialTitle" placeholder="教材名" maxlength="50" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="教材画像" prop="teachingMaterialImagePath">
      <el-input v-model="dataForm.teachingMaterialImagePath" placeholder="教材画像PATH" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <!-- <el-form-item label="教材AWS S3 BUCKET名" prop="teachingMaterialS3BucketName">
      <el-input v-model="dataForm.teachingMaterialS3BucketName" placeholder="教材AWS S3 BUCKET名" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="教材AWS S3 オブジェクトキー" prop="teachingMaterialS3ObjectKey">
      <el-input v-model="dataForm.teachingMaterialS3ObjectKey" placeholder="教材AWS S3 オブジェクトキー" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item> -->
    <el-form-item label="教材概要" prop="teachingMaterialOutline">
      <!-- <Ueditor @ready="editorReady1" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.teachingMaterialOutline" placeholder="教材概要" autosize maxlength="500" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="教材説明" prop="teachingMaterialDetail">
      <!-- <Ueditor @ready="editorReady2" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.teachingMaterialDetail" placeholder="教材説明" autosize maxlength="1000" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="教材ステータス" prop="teachingMaterialStatus">
      <el-radio-group v-model="dataForm.teachingMaterialStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="コンテンツ種別" prop="contentType">
      <el-select 
        v-model="dataForm.contentType"  
        disabled
        >
        <el-option
          v-for="item in contentTypeSelect"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>  
      </el-select>
      <!-- <el-radio-group v-model="dataForm.contentType">
        <el-radio label="00">動画</el-radio>
        <el-radio label="01">画像</el-radio>
        <el-radio label="02">pdf</el-radio>
        <el-radio label="03">word</el-radio>
        <el-radio label="04">excel</el-radio>
        <el-radio label="05">ppt</el-radio>
        <el-radio label="06">txt</el-radio>
        <el-radio label="07">不明</el-radio>
      </el-radio-group> -->
    </el-form-item>
    <el-form-item v-if="loginGroupType==='1'" label="コンテンツURL" prop="contentUrl">
      <el-input v-model="dataForm.contentUrl" placeholder="コンテンツURL" maxlength="100" show-word-limit type="textarea" autosize @blur="setContentType"></el-input>
    </el-form-item>
    <!-- <el-form-item label="コンテンツ（動画）放送時間（分）" prop="contentVideoTime">
      <el-input v-model="dataForm.contentVideoTime" placeholder="コンテンツ（動画）放送時間（分）"></el-input>
    </el-form-item>
    <el-form-item label="コンテンツページ数" prop="contentPages">
      <el-input v-model="dataForm.contentPages" placeholder="コンテンツページ数"></el-input>
    </el-form-item>
    <el-form-item label="コンテンツ文字数" prop="contentLettersNum">
      <el-input v-model="dataForm.contentLettersNum" placeholder="コンテンツ文字数"></el-input>
    </el-form-item>
    <el-form-item label="受講解放条件区分" prop="conditionKbn">
      <el-input v-model="dataForm.conditionKbn" placeholder="受講解放条件区分"></el-input>
    </el-form-item>
    <el-form-item label="公開開始日時" prop="openStartTime">
      <el-input v-model="dataForm.openStartTime" placeholder="公開開始日時"></el-input>
    </el-form-item>
    <el-form-item label="公開終了日時" prop="openEndTime">
      <el-input v-model="dataForm.openEndTime" placeholder="公開終了日時"></el-input>
    </el-form-item>
    <el-form-item label="作成者" prop="createUserId">
      <el-input v-model="dataForm.createUserId" placeholder="作成者"></el-input>
    </el-form-item>
    <el-form-item label="作成日時" prop="createTime">
      <el-input v-model="dataForm.createTime" placeholder="作成日時"></el-input>
    </el-form-item>
    <el-form-item label="更新者" prop="updateUserId">
      <el-input v-model="dataForm.updateUserId" placeholder="更新者"></el-input>
    </el-form-item>
    <el-form-item label="更新日時" prop="updateTime">
      <el-input v-model="dataForm.updateTime" placeholder="更新日時"></el-input>
    </el-form-item>
    <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import Ueditor from '../../../demo/ueditor'
  export default {
    components: {
      Ueditor
    },
    data () {
      return {
        visible: false,
        loginGroupType: '',
        dataForm: {
          teachingMaterialId: 0,
          dispNo: '',
          courseId: '',
          subjectId: '',
          unitId: '',
          teachingMaterialTitle: '',
          teachingMaterialImagePath: '',
          // teachingMaterialS3BucketName: '',
          // teachingMaterialS3ObjectKey: '',
          teachingMaterialOutline: '',
          teachingMaterialDetail: '',
          teachingMaterialStatus: '0',
          contentType: '',
          contentUrl: ''
          // contentVideoTime: '',
          // contentPages: '',
          // contentLettersNum: '',
          // conditionKbn: '',
          // openStartTime: '',
          // openEndTime: '',
          // createUserId: '',
          // createTime: '',
          // updateUserId: '',
          // updateTime: '',
          // versionNo: '',
          // delFlag: ''
        },
        contentTypeSelect: [ {
          value: '01', label: '動画' },
          {value: '02', label: '画像'},
          {value: '03', label: 'pdf'},
          {value: '04', label: 'word'},
          {value: '05', label: 'excel'},
          {value: '06', label: 'ppt'},
          {value: '07', label: 'txt'}
        ],
        dataRule: {
          // courseId: [
          //   { required: true, message: '講座ID不能为空', trigger: 'blur' }
          // ],
          // subjectId: [
          //   { required: true, message: '教科ID不能为空', trigger: 'blur' }
          // ],
          // unitId: [
          //   { required: true, message: '単元ID不能为空', trigger: 'blur' }
          // ],
          teachingMaterialTitle: [
            { required: true, message: '教材名を入力してください', trigger: 'blur' }
          ],
          // teachingMaterialImagePath: [
          //   { required: true, message: '教材画像を入力してください', trigger: 'blur' }
          // ],
          // teachingMaterialS3BucketName: [
          //   { required: true, message: '教材AWS S3 BUCKET名不能为空', trigger: 'blur' }
          // ],
          // teachingMaterialS3ObjectKey: [
          //   { required: true, message: '教材AWS S3 オブジェクトキー不能为空', trigger: 'blur' }
          // ],
          // teachingMaterialOutline: [
          //   { required: true, message: '教材概要を入力してください', trigger: 'blur' }
          // ],
          // teachingMaterialDetail: [
          //   { required: true, message: '教材説明を入力してください', trigger: 'blur' }
          // ],
          teachingMaterialStatus: [
            { required: true, message: '教材ステータスを選択してください', trigger: 'blur' }
          ],
          contentType: [
            { required: true, message: 'コンテンツ種別を選択してください', trigger: 'blur' }
          ],
          contentUrl: [
            { required: true, message: 'コンテンツURLを入力してください', trigger: 'blur' }
          ]
          // contentVideoTime: [
          //   { required: true, message: 'コンテンツ（動画）放送時間（分）不能为空', trigger: 'blur' }
          // ],
          // contentPages: [
          //   { required: true, message: 'コンテンツページ数不能为空', trigger: 'blur' }
          // ],
          // contentLettersNum: [
          //   { required: true, message: 'コンテンツ文字数不能为空', trigger: 'blur' }
          // ],
          // conditionKbn: [
          //   { required: true, message: '受講解放条件区分不能为空', trigger: 'blur' }
          // ],
          // openStartTime: [
          //   { required: true, message: '公開開始日時不能为空', trigger: 'blur' }
          // ],
          // openEndTime: [
          //   { required: true, message: '公開終了日時不能为空', trigger: 'blur' }
          // ],
          // createUserId: [
          //   { required: true, message: '作成者不能为空', trigger: 'blur' }
          // ],
          // createTime: [
          //   { required: true, message: '作成日時不能为空', trigger: 'blur' }
          // ],
          // updateUserId: [
          //   { required: true, message: '更新者不能为空', trigger: 'blur' }
          // ],
          // updateTime: [
          //   { required: true, message: '更新日時不能为空', trigger: 'blur' }
          // ],
          // versionNo: [
          //   { required: true, message: 'バージョン番号不能为空', trigger: 'blur' }
          // ],
          // delFlag: [
          //   { required: true, message: '削除フラグ不能为空', trigger: 'blur' }
          // ]
        }
        // richEditor1: {
        //   instance: null
        // },
        // richEditor2: {
        //   instance: null
        // }
      }
    },
    methods: {
      // editorReady1 (instance) {
      //   this.richEditor1.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   console.log(this.dataForm.courseOutline)
      //   this.richEditor1.instance.setContent(this.dataForm.teachingMaterialOutline)
      // },
      // editorReady2 (instance) {
      //   this.richEditor2.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   this.richEditor2.instance.setContent(this.dataForm.teachingMaterialDetail)
      // },
      // courseReturn () {
      //   this.$options.methods.removeTextArea()
      //   this.visible = false
      // },
      // handleClose (done) {
      //   this.$options.methods.removeTextArea()
      //   done()
      // },
      // removeTextArea () {
      //   let editorTextArea = document.getElementsByName('editorValue')
      //   let length = editorTextArea.length
      //   for (let i = 0; i < length; i++) {
      //     document.getElementsByName('editorValue')[0].remove()
      //   }
      // },
      setContentType () {
        if (this.dataForm.contentUrl !== '') {
          var afterArr = (this.dataForm.contentUrl).split('.')
          if (afterArr.length !== 1) {
            var afterValue = afterArr[afterArr.length - 1].trim()
            if (afterValue === 'jpg' || afterValue === 'JPG') {
              this.dataForm.contentType = '02'
            } else if (afterValue === 'pdf') {
              this.dataForm.contentType = '03'
            } else if (afterValue === 'doc' || afterValue === 'docx') {
              this.dataForm.contentType = '04'
            } else if (afterValue === 'xls' || afterValue === 'xlsx') {
              this.dataForm.contentType = '05'
            } else if (afterValue === 'pptx') {
              this.dataForm.contentType = '06'
            } else if (afterValue === 'txt') {
              this.dataForm.contentType = '07'
            } else {
              this.dataForm.contentType = '01'
            }
          } else {
            this.dataForm.contentType = '01'
          }
        }
      },
      init (courseId, subjectId, unitId, id) {
        this.loginGroupType = this.$store.state.user.loginGroupType
        this.dataForm.courseId = courseId
        this.dataForm.subjectId = subjectId
        this.dataForm.unitId = unitId
        this.dataForm.teachingMaterialId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.teachingMaterialId) {
            this.$http({
              url: this.$http.adornUrl(`/service/teachingmaterial/info/${this.dataForm.teachingMaterialId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.teachingMaterial.courseId
                // this.dataForm.subjectId = data.teachingMaterial.subjectId
                // this.dataForm.unitId = data.teachingMaterial.unitId
                this.dataForm.dispNo = data.teachingMaterial.dispNo
                this.dataForm.teachingMaterialTitle = data.teachingMaterial.teachingMaterialTitle
                this.dataForm.teachingMaterialImagePath = data.teachingMaterial.teachingMaterialImagePath
                // this.dataForm.teachingMaterialS3BucketName = data.teachingMaterial.teachingMaterialS3BucketName
                // this.dataForm.teachingMaterialS3ObjectKey = data.teachingMaterial.teachingMaterialS3ObjectKey
                this.dataForm.teachingMaterialOutline = data.teachingMaterial.teachingMaterialOutline
                this.dataForm.teachingMaterialDetail = data.teachingMaterial.teachingMaterialDetail
                this.dataForm.teachingMaterialStatus = data.teachingMaterial.teachingMaterialStatus
                this.dataForm.contentType = data.teachingMaterial.contentType
                this.dataForm.contentUrl = data.teachingMaterial.contentUrl
                // this.dataForm.contentVideoTime = data.teachingMaterial.contentVideoTime
                // this.dataForm.contentPages = data.teachingMaterial.contentPages
                // this.dataForm.contentLettersNum = data.teachingMaterial.contentLettersNum
                // this.dataForm.conditionKbn = data.teachingMaterial.conditionKbn
                // this.dataForm.openStartTime = data.teachingMaterial.openStartTime
                // this.dataForm.openEndTime = data.teachingMaterial.openEndTime
                // this.dataForm.createUserId = data.teachingMaterial.createUserId
                // this.dataForm.createTime = data.teachingMaterial.createTime
                // this.dataForm.updateUserId = data.teachingMaterial.updateUserId
                // this.dataForm.updateTime = data.teachingMaterial.updateTime
                // this.dataForm.versionNo = data.teachingMaterial.versionNo
                // this.dataForm.delFlag = data.teachingMaterial.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        // this.dataForm.teachingMaterialOutline = this.richEditor1.instance.getContent()
        // this.dataForm.teachingMaterialDetail = this.richEditor2.instance.getContent()
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/teachingmaterial/${!this.dataForm.teachingMaterialId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'teachingMaterialId': this.dataForm.teachingMaterialId || undefined,
                'dispNo': this.dataForm.dispNo,
                'courseId': this.dataForm.courseId,
                'subjectId': this.dataForm.subjectId,
                'unitId': this.dataForm.unitId,
                'teachingMaterialTitle': this.dataForm.teachingMaterialTitle,
                'teachingMaterialImagePath': this.dataForm.teachingMaterialImagePath,
                // 'teachingMaterialS3BucketName': this.dataForm.teachingMaterialS3BucketName,
                // 'teachingMaterialS3ObjectKey': this.dataForm.teachingMaterialS3ObjectKey,
                'teachingMaterialOutline': this.dataForm.teachingMaterialOutline,
                'teachingMaterialDetail': this.dataForm.teachingMaterialDetail,
                'teachingMaterialStatus': this.dataForm.teachingMaterialStatus,
                'contentType': this.dataForm.contentType,
                'contentUrl': this.dataForm.contentUrl
                // 'contentVideoTime': this.dataForm.contentVideoTime,
                // 'contentPages': this.dataForm.contentPages,
                // 'contentLettersNum': this.dataForm.contentLettersNum,
                // 'conditionKbn': this.dataForm.conditionKbn,
                // 'openStartTime': this.dataForm.openStartTime,
                // 'openEndTime': this.dataForm.openEndTime,
                // 'createUserId': this.dataForm.createUserId,
                // 'createTime': this.dataForm.createTime,
                // 'updateUserId': this.dataForm.updateUserId,
                // 'updateTime': this.dataForm.updateTime,
                // 'versionNo': this.dataForm.versionNo,
                // 'delFlag': this.dataForm.delFlag
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作は成功しました。',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    // this.$options.methods.removeTextArea()
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
