<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="220px">
    <el-form-item label="表示順:" prop="teachingMaterialTitle">
        <div class="detail-div-line">{{dataForm.dispNo}}</div>
    </el-form-item>
    <el-form-item label="教材名:" prop="teachingMaterialTitle">
        <div class="detail-div-line">{{dataForm.teachingMaterialTitle}}</div>
    </el-form-item>
    <el-form-item label="教材画像:" prop="teachingMaterialImagePath" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.teachingMaterialImagePath}}</div>
    </el-form-item>
    <!-- <el-form-item label="教材AWS S3 BUCKET名:" prop="teachingMaterialS3BucketName" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.teachingMaterialS3BucketName}}</div>
    </el-form-item>
    <el-form-item label="教材AWS S3 オブジェクトキー:" prop="teachingMaterialS3ObjectKey" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.teachingMaterialS3ObjectKey}}</div>
    </el-form-item> -->
    <el-form-item label="教材概要:" prop="teachingMaterialOutline">
      <div class="detail-div-line">{{dataForm.teachingMaterialOutline}}</div> 
    </el-form-item>
    <el-form-item label="教材説明:" prop="teachingMaterialDetail">
      <div class="detail-div-line">{{dataForm.teachingMaterialDetail}}</div> 
    </el-form-item>
    <el-form-item label="教材ステータス:" prop="teachingMaterialStatus">
      <el-tag v-if="dataForm.teachingMaterialStatus === '0'" size="small" type="primary">公開</el-tag>          
      <el-tag v-if="dataForm.teachingMaterialStatus === '1'" size="small" type="danger">非公開</el-tag>  
    </el-form-item>
    <el-form-item label="コンテンツ種別:" prop="contentType">
      <el-tag v-if="dataForm.contentType === '01'" size="small" type="primary">動画</el-tag>          
      <el-tag v-if="dataForm.contentType === '02'" size="small" type="primary">画像</el-tag>
      <el-tag v-if="dataForm.contentType === '03'" size="small" type="primary">pdf</el-tag>
      <el-tag v-if="dataForm.contentType === '04'" size="small" type="primary">word</el-tag>          
      <el-tag v-if="dataForm.contentType === '05'" size="small" type="primary">excel</el-tag>
      <el-tag v-if="dataForm.contentType === '06'" size="small" type="primary">ppt</el-tag>
      <el-tag v-if="dataForm.contentType === '07'" size="small" type="primary">txt</el-tag>          
      <el-tag v-if="dataForm.contentType === '08'" size="small" type="danger">不明</el-tag>
    </el-form-item>
    <el-form-item  v-if="loginGroupType==='1'" label="コンテンツURL:" prop="contentUrl">
        {{dataForm.contentUrl}}
    </el-form-item>
    <!-- <el-form-item label="コンテンツ（動画）放送時間（分）" prop="contentVideoTime">
        {{dataForm.contentVideoTime}}
    </el-form-item>
    <el-form-item label="コンテンツページ数" prop="contentPages">
        {{dataForm.contentPages}}
    </el-form-item>
    <el-form-item label="コンテンツ文字数" prop="contentLettersNum">
        {{dataForm.contentLettersNum}}
    </el-form-item>
    <el-form-item label="受講解放条件区分" prop="conditionKbn">
        {{dataForm.conditionKbn}}
    </el-form-item>-->
    <!-- <el-form-item label="公開開始日時:" prop="openStartTime">
        {{dataForm.openStartTime}}
    </el-form-item>
    <el-form-item label="公開終了日時:" prop="openEndTime">
        {{dataForm.openEndTime}}
    </el-form-item>
    <el-form-item label="作成者:" prop="createUserId">
        {{dataForm.createUserId}}
    </el-form-item> -->
    <el-form-item label="作成日時:" prop="createTime">
        {{dataForm.createTime}}
    </el-form-item>
    <!-- <el-form-item label="更新者:" prop="updateUserId">
        {{dataForm.updateUserId}}
    </el-form-item>
    <el-form-item label="更新日時:" prop="updateTime">
        {{dataForm.updateTime}}
    </el-form-item> -->
    <!-- <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item>  -->
    </el-form>
    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loginGroupType: '',
        dataForm: {
          teachingMaterialId: 0,
          dispNo: '',
          courseId: '',
          subjectId: '',
          unitId: '',
          teachingMaterialTitle: '',
          teachingMaterialImagePath: '',
          // teachingMaterialS3BucketName: '',
          // teachingMaterialS3ObjectKey: '',
          teachingMaterialOutline: '',
          teachingMaterialDetail: '',
          teachingMaterialStatus: '',
          contentType: '',
          contentUrl: '',
          // contentVideoTime: '',
          // contentPages: '',
          // contentLettersNum: '',
          // conditionKbn: '',
          openStartTime: '',
          openEndTime: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: ''
          // versionNo: '',
          // delFlag: ''
        }
      }
    },
    methods: {
      init (id) {
        this.loginGroupType = this.$store.state.user.loginGroupType
        this.dataForm.teachingMaterialId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.teachingMaterialId) {
            this.$http({
              url: this.$http.adornUrl(`/service/teachingmaterial/info/${this.dataForm.teachingMaterialId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.teachingMaterial.courseId
                // this.dataForm.subjectId = data.teachingMaterial.subjectId
                // this.dataForm.unitId = data.teachingMaterial.unitId
                this.dataForm.dispNo = data.teachingMaterial.dispNo
                this.dataForm.teachingMaterialTitle = data.teachingMaterial.teachingMaterialTitle
                this.dataForm.teachingMaterialImagePath = data.teachingMaterial.teachingMaterialImagePath
                // this.dataForm.teachingMaterialS3BucketName = data.teachingMaterial.teachingMaterialS3BucketName
                // this.dataForm.teachingMaterialS3ObjectKey = data.teachingMaterial.teachingMaterialS3ObjectKey
                this.dataForm.teachingMaterialOutline = data.teachingMaterial.teachingMaterialOutline
                this.dataForm.teachingMaterialDetail = data.teachingMaterial.teachingMaterialDetail
                this.dataForm.teachingMaterialStatus = data.teachingMaterial.teachingMaterialStatus
                this.dataForm.contentType = data.teachingMaterial.contentType
                this.dataForm.contentUrl = data.teachingMaterial.contentUrl
                // this.dataForm.contentVideoTime = data.teachingMaterial.contentVideoTime
                // this.dataForm.contentPages = data.teachingMaterial.contentPages
                // this.dataForm.contentLettersNum = data.teachingMaterial.contentLettersNum
                // this.dataForm.conditionKbn = data.teachingMaterial.conditionKbn
                this.dataForm.openStartTime = data.teachingMaterial.openStartTime
                this.dataForm.openEndTime = data.teachingMaterial.openEndTime
                this.dataForm.createUserId = data.teachingMaterial.createUserId
                this.dataForm.createTime = data.teachingMaterial.createTime
                this.dataForm.updateUserId = data.teachingMaterial.updateUserId
                this.dataForm.updateTime = data.teachingMaterial.updateTime
                // this.dataForm.versionNo = data.teachingMaterial.versionNo
                // this.dataForm.delFlag = data.teachingMaterial.delFlag
              }
            })
          }
        })
      }
    }
  }
</script>
