<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item label="講座名:" prop="courseTitle">
        {{dataForm.courseTitle}}
        <!-- <el-input v-model="dataForm.courseTitle" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item label="教科名:" prop="subjectTitle">
        {{dataForm.subjectTitle}}
        <!-- <el-input v-model="dataForm.subjectTitle" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item label="単元名:" prop="unitName">
        {{dataForm.unitName}}
        <!-- <el-input v-model="dataForm.unitName" :disabled="true" ></el-input> -->
      </el-form-item>
      <!-- <el-form-item>
        <el-input v-model="dataForm.key" placeholder="役割名称" clearable></el-input>
      </el-form-item> -->
      <el-form-item>
        <el-input v-model="dataForm.teachingMaterialTitle" placeholder="教材名" style="width:196px" clearable></el-input>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('service:teachingmaterial:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button>
        <el-button v-if="isAuth('service:teachingmaterial:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column
        prop="teachingMaterialId"
        header-align="center"
        align="center"
        label="教材ID"
        width="70">
      </el-table-column>
      <el-table-column
        prop="dispNo"
        header-align="center"
        align="center"
        label="表示順"
        width="70">
      </el-table-column>
      <!-- <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID">
      </el-table-column>
      <el-table-column
        prop="subjectId"
        header-align="center"
        align="center"
        label="教科ID">
      </el-table-column>
      <el-table-column
        prop="unitId"
        header-align="center"
        align="center"
        label="単元ID">
      </el-table-column> -->
      <el-table-column
        prop="teachingMaterialTitle"
        header-align="center"
        align="center"
        label="教材名"
        >
      </el-table-column>
      <!-- <el-table-column
        prop="teachingMaterialImagePath"
        header-align="center"
        align="center"
        label="教材画像PATH">
      </el-table-column> -->
      <!-- <el-table-column
        prop="teachingMaterialS3BucketName"
        header-align="center"
        align="center"
        label="教材AWS S3 BUCKET名">
      </el-table-column>
      <el-table-column
        prop="teachingMaterialS3ObjectKey"
        header-align="center"
        align="center"
        label="教材AWS S3 オブジェクトキー">
      </el-table-column> -->
      <!-- <el-table-column
        prop="teachingMaterialOutline"
        header-align="center"
        align="center"
        label="教材概要">
      </el-table-column>
      <el-table-column
        prop="teachingMaterialDetail"
        header-align="center"
        align="center"
        label="教材説明">
      </el-table-column> -->
      <el-table-column
        prop="teachingMaterialStatus"
        header-align="center"
        align="center"
        label="教材ステータス"
        width="150">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.teachingMaterialStatus === '1'" size="small" type="danger">非公開</el-tag>
          <el-tag v-else size="small">公開</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="contentType"
        header-align="center"
        align="center"
        label="コンテンツ種別"
        width="150">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.contentType === '01'" size="small">動画</el-tag>
          <el-tag v-if="scope.row.contentType === '02'" size="small">画像</el-tag>
          <el-tag v-if="scope.row.contentType === '03'" size="small">pdf</el-tag>
          <el-tag v-if="scope.row.contentType === '04'" size="small">word</el-tag>
          <el-tag v-if="scope.row.contentType === '05'" size="small">excel</el-tag>
          <el-tag v-if="scope.row.contentType === '06'" size="small">ppt</el-tag>
          <el-tag v-if="scope.row.contentType === '07'" size="small">txt</el-tag>
          <el-tag v-if="scope.row.contentType === '08'" size="small" type="danger">不明</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="contentUrl"
        header-align="center"
        align="center"
        label="コンテンツURL">
      </el-table-column> -->
      <!-- <el-table-column
        prop="contentVideoTime"
        header-align="center"
        align="center"
        label="コンテンツ（動画）放送時間（分）">
      </el-table-column>
      <el-table-column
        prop="contentPages"
        header-align="center"
        align="center"
        label="コンテンツページ数">
      </el-table-column>
      <el-table-column
        prop="contentLettersNum"
        header-align="center"
        align="center"
        label="コンテンツ文字数">
      </el-table-column>
      <el-table-column
        prop="conditionKbn"
        header-align="center"
        align="center"
        label="受講解放条件区分">
      </el-table-column>
      <el-table-column
        prop="openStartTime"
        header-align="center"
        align="center"
        label="公開開始日時">
      </el-table-column>
      <el-table-column
        prop="openEndTime"
        header-align="center"
        align="center"
        label="公開終了日時">
      </el-table-column> -->
      <!-- <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者ID"
        width="100">
      </el-table-column> -->
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時"
        width="180">
      </el-table-column>
      <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="200"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="teachingmaterialDetailHandle(scope.row.teachingMaterialId)">詳細</el-button>
          <el-button v-if="isAuth('service:teachingmaterial:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.teachingMaterialId)">変更</el-button>
          <el-button v-if="isAuth('service:teachingmaterial:delete')" type="text" size="small" @click="deleteHandle(scope.row.teachingMaterialId)">削除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <teachingmaterial-detail v-if="teachingmaterialDetailVisible" ref="teachingmaterialDetail"></teachingmaterial-detail>

  </div>
</template>

<script>
  import AddOrUpdate from './teachingmaterial-add-or-update'
  import TeachingmaterialDetail from './teachingmaterial-detail'
  export default {
    data () {
      return {
        dataForm: {
          courseId: '',
          dispNo: '',
          courseTitle: '',
          subjectId: '',
          subjectName: '',
          unitId: '',
          unitName: '',
          teachingMaterialTitle: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        teachingmaterialDetailVisible: false
      }
    },
    components: {
      AddOrUpdate,
      TeachingmaterialDetail
    },
    activated () {
      this.dataForm.courseId = this.$route.query.courseId
      this.dataForm.courseTitle = this.$route.query.courseTitle
      this.dataForm.subjectId = this.$route.query.subjectId
      this.dataForm.subjectTitle = this.$route.query.subjectTitle
      this.dataForm.unitId = this.$route.query.unitId
      this.dataForm.unitName = this.$route.query.unitName
      this.getDataList()
    },
    watch: {
      'dataForm.unitId' () {
        let query = this.$route.query
        this.$store.commit('common/updateMainTabsQuery', query)
      }
    },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/teachingmaterial/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'unitId': this.dataForm.unitId,
            'teachingMaterialTitle': this.dataForm.teachingMaterialTitle
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      addOrUpdateHandle (id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(this.dataForm.courseId, this.dataForm.subjectId, this.dataForm.unitId, id)
        })
      },
      teachingmaterialDetailHandle (id) {
        this.teachingmaterialDetailVisible = true
        this.$nextTick(() => {
          this.$refs.teachingmaterialDetail.init(id)
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.teachingMaterialId
        })
        this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/teachingmaterial/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      }
    }
  }
</script>
