<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item label="講座名:" prop="courseTitle">
        {{dataForm.courseTitle}}
        <!-- <el-input v-model="dataForm.courseTitle" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item label="教科名:" prop="subjectTitle">
        {{dataForm.subjectTitle}}
        <!-- <el-input v-model="dataForm.subjectTitle" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.unitName" placeholder="単元名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('service:unit:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button>
        <el-button v-if="isAuth('service:unit:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column
        prop="unitId"
        header-align="center"
        align="center"
        label="単元ID"
        width="70">
      </el-table-column>
      <el-table-column
        prop="dispNo"
        header-align="center"
        align="center"
        label="表示順"
        width="70">
      </el-table-column>
      <!-- <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID">
      </el-table-column>
      <el-table-column
        prop="subjectId"
        header-align="center"
        align="center"
        label="教科ID">
      </el-table-column> -->
      <el-table-column
        prop="unitName"
        header-align="center"
        align="center"
        label="単元名"
        >
      </el-table-column>
      <!-- <el-table-column
        prop="unitIamgePath"
        header-align="center"
        align="center"
        label="単元画像">
      </el-table-column> -->
      <!-- <el-table-column
        prop="unitS3BucketName"
        header-align="center"
        align="center"
        label="単元AWS S3 BUCKET名">
      </el-table-column>
      <el-table-column
        prop="unitS3ObjectKey"
        header-align="center"
        align="center"
        label="単元AWS S3 オブジェクトキー">
      </el-table-column> -->
      <!-- <el-table-column
        prop="unitOutline"
        header-align="center"
        align="center"
        label="単元概要">
      </el-table-column>
      <el-table-column
        prop="unitDetail"
        header-align="center"
        align="center"
        label="単元説明">
      </el-table-column> -->
      <el-table-column
        prop="unitStatus"
        header-align="center"
        align="center"
        label="単元ステータス"
        width="150">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.unitStatus === '1'" size="small" type="danger">非公開</el-tag>
          <el-tag v-else size="small">公開</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="openStartTime"
        header-align="center"
        align="center"
        label="公開開始日時">
      </el-table-column>
      <el-table-column
        prop="openEndTime"
        header-align="center"
        align="center"
        label="公開終了日時">
      </el-table-column> -->
      <!-- <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者ID"
        width="100">
      </el-table-column> -->
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時"
        width="180">
      </el-table-column>
      <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="400"
        label="操作">
        <template slot-scope="scope">
          <el-button v-if="isAuth('service:teachingmaterial:list')" type="primary" size="small" @click="routerJumpTeachingMaterial(scope)">教材管理</el-button>
          <el-button v-if="isAuth('service:unittest:list')" type="primary" size="small" @click="routerJumpTest(scope)">単元テスト管理</el-button>
          <el-button type="text" size="small" @click="unitDetailHandle(scope.row.unitId)">詳細</el-button>
          <el-button v-if="isAuth('service:unit:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.unitId)">変更</el-button>
          <el-button v-if="isAuth('service:unit:delete')" type="text" size="small" @click="deleteHandle(scope.row.unitId)">削除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <unit-detail v-if="unitDetailVisible" ref="unitDetail"></unit-detail>

  </div>
</template>

<script>
  import AddOrUpdate from './unit-add-or-update'
  import UnitDetail from './unit-detail'
  export default {
    data () {
      return {
        dataForm: {
          courseId: '',
          dispNo: '',
          courseTitle: '',
          subjectId: '',
          subjectTitle: '',
          unitName: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        unitDetailVisible: false
      }
    },
    components: {
      AddOrUpdate,
      UnitDetail
    },
    activated () {
      this.dataForm.courseId = this.$route.query.courseId
      this.dataForm.courseTitle = this.$route.query.courseTitle
      this.dataForm.subjectId = this.$route.query.subjectId
      this.dataForm.subjectTitle = this.$route.query.subjectTitle
      this.getDataList()
    },
    watch: {
      'dataForm.subjectId' () {
        let query = this.$route.query
        this.$store.commit('common/updateMainTabsQuery', query)
      }
    },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/unit/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'subjectId': this.dataForm.subjectId,
            'unitName': this.dataForm.unitName

          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      addOrUpdateHandle (id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(this.dataForm.courseId, this.dataForm.subjectId, id)
        })
      },
      unitDetailHandle (id) {
        this.unitDetailVisible = true
        this.$nextTick(() => {
          this.$refs.unitDetail.init(id)
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.unitId
        })
        this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/unit/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      routerJumpTest (scope) {
        this.$router.push(
          {
            name: 'unittest-page',
            query:
            {
              courseId: this.dataForm.courseId,
              courseTitle: this.dataForm.courseTitle,
              subjectId: this.dataForm.subjectId,
              subjectTitle: this.dataForm.subjectTitle,
              unitId: scope.row.unitId,
              unitName: scope.row.unitName
            }
          })
      },
      routerJumpTeachingMaterial (scope) {
        this.$router.push(
          {
            name: 'teachingmaterial-page',
            query:
            {
              courseId: this.dataForm.courseId,
              courseTitle: this.dataForm.courseTitle,
              subjectId: this.dataForm.subjectId,
              subjectTitle: this.dataForm.subjectTitle,
              unitId: scope.row.unitId,
              unitName: scope.row.unitName
            }
          })
      }
    }
  }
</script>
