<template>
  <el-dialog
    :title="!dataForm.unitId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="220px">
    <!-- <el-form-item label="講座ID" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID"></el-input>
    </el-form-item>
    <el-form-item label="教科ID" prop="subjectId">
      <el-input v-model="dataForm.subjectId" placeholder="教科ID"></el-input>
    </el-form-item> -->
    <el-form-item label="表示順" prop="dispNo">
      <el-input v-model="dataForm.dispNo" placeholder="表示順" maxlength="10" show-word-limit type="text" autosize></el-input>
    </el-form-item>
    <el-form-item label="単元名" prop="unitName">
      <el-input v-model="dataForm.unitName" placeholder="単元名" maxlength="50" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="単元画像" prop="unitIamgePath">
      <el-input v-model="dataForm.unitIamgePath" placeholder="単元画像" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <!-- <el-form-item label="単元AWS S3 BUCKET名" prop="unitS3BucketName">
      <el-input v-model="dataForm.unitS3BucketName" placeholder="単元AWS S3 BUCKET名" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="単元AWS S3 オブジェクトキー" prop="unitS3ObjectKey">
      <el-input v-model="dataForm.unitS3ObjectKey" placeholder="単元AWS S3 オブジェクトキー" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item> -->
    <el-form-item label="単元概要" prop="unitOutline">
      <!-- <Ueditor @ready="editorReady1" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.unitOutline" placeholder="単元概要" autosize maxlength="500" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="単元説明" prop="unitDetail">
      <!-- <Ueditor @ready="editorReady2" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.unitDetail" placeholder="単元説明" autosize maxlength="1000" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="単元ステータス" prop="unitStatus">
      <el-radio-group v-model="dataForm.unitStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
    <!-- <el-input v-model="dataForm.unitStatus" placeholder="単元ステータス"></el-input> -->
    </el-form-item>
    <!-- <el-form-item label="公開開始日時" prop="openStartTime">
      <el-input v-model="dataForm.openStartTime" placeholder="公開開始日時"></el-input>
    </el-form-item>
    <el-form-item label="公開終了日時" prop="openEndTime">
      <el-input v-model="dataForm.openEndTime" placeholder="公開終了日時"></el-input>
    </el-form-item>
    <el-form-item label="作成者" prop="createUserId">
      <el-input v-model="dataForm.createUserId" placeholder="作成者"></el-input>
    </el-form-item>
    <el-form-item label="作成日時" prop="createTime">
      <el-input v-model="dataForm.createTime" placeholder="作成日時"></el-input>
    </el-form-item>
    <el-form-item label="更新者" prop="updateUserId">
      <el-input v-model="dataForm.updateUserId" placeholder="更新者"></el-input>
    </el-form-item>
    <el-form-item label="更新日時" prop="updateTime">
      <el-input v-model="dataForm.updateTime" placeholder="更新日時"></el-input>
    </el-form-item>
    <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import Ueditor from '../../../demo/ueditor'
  export default {
    components: {
      Ueditor
    },
    data () {
      return {
        visible: false,
        dataForm: {
          unitId: 0,
          dispNo: 0,
          courseId: '',
          subjectId: '',
          unitName: '',
          unitIamgePath: '',
          // unitS3BucketName: '',
          // unitS3ObjectKey: '',
          unitOutline: '',
          unitDetail: '',
          unitStatus: '0'
          // openStartTime: '',
          // openEndTime: '',
          // createUserId: '',
          // createTime: '',
          // updateUserId: '',
          // updateTime: '',
          // versionNo: '',
          // delFlag: ''
        },
        dataRule: {
          // courseId: [
          //   { required: true, message: '講座ID不能为空', trigger: 'blur' }
          // ],
          // subjectId: [
          //   { required: true, message: '教科ID不能为空', trigger: 'blur' }
          // ],
          unitName: [
            { required: true, message: '単元名を入力してください', trigger: 'blur' }
          ],
          // unitIamgePath: [
          //   { required: true, message: '単元画像を入力してください', trigger: 'blur' }
          // ],
          // unitS3BucketName: [
          //   { required: true, message: '単元AWS S3 BUCKET名不能为空', trigger: 'blur' }
          // ],
          // unitS3ObjectKey: [
          //   { required: true, message: '単元AWS S3 オブジェクトキー不能为空', trigger: 'blur' }
          // ],
          // unitOutline: [
          //   { required: true, message: '単元概要を入力してください', trigger: 'blur' }
          // ],
          // unitDetail: [
          //   { required: true, message: '単元説明を入力してください', trigger: 'blur' }
          // ],
          unitStatus: [
            { required: true, message: '単元ステータスを選択してください', trigger: 'blur' }
          ]
          // openStartTime: [
          //   { required: true, message: '公開開始日時不能为空', trigger: 'blur' }
          // ],
          // openEndTime: [
          //   { required: true, message: '公開終了日時不能为空', trigger: 'blur' }
          // ],
          // createUserId: [
          //   { required: true, message: '作成者不能为空', trigger: 'blur' }
          // ],
          // createTime: [
          //   { required: true, message: '作成日時不能为空', trigger: 'blur' }
          // ],
          // updateUserId: [
          //   { required: true, message: '更新者不能为空', trigger: 'blur' }
          // ],
          // updateTime: [
          //   { required: true, message: '更新日時不能为空', trigger: 'blur' }
          // ],
          // versionNo: [
          //   { required: true, message: 'バージョン番号不能为空', trigger: 'blur' }
          // ],
          // delFlag: [
          //   { required: true, message: '削除フラグ不能为空', trigger: 'blur' }
          // ]
        }
        // richEditor1: {
        //   instance: null
        // },
        // richEditor2: {
        //   instance: null
        // }
      }
    },
    methods: {
      // editorReady1 (instance) {
      //   this.richEditor1.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   console.log(this.dataForm.courseOutline)
      //   this.richEditor1.instance.setContent(this.dataForm.unitOutline)
      // },
      // editorReady2 (instance) {
      //   this.richEditor2.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   this.richEditor2.instance.setContent(this.dataForm.unitDetail)
      // },
      // courseReturn () {
      //   this.$options.methods.removeTextArea()
      //   this.visible = false
      // },
      // handleClose (done) {
      //   this.$options.methods.removeTextArea()
      //   done()
      // },
      // removeTextArea () {
      //   let editorTextArea = document.getElementsByName('editorValue')
      //   let length = editorTextArea.length
      //   for (let i = 0; i < length; i++) {
      //     document.getElementsByName('editorValue')[0].remove()
      //   }
      // },
      init (courseId, subjectId, id) {
        this.dataForm.courseId = courseId
        this.dataForm.subjectId = subjectId
        this.dataForm.unitId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.unitId) {
            this.$http({
              url: this.$http.adornUrl(`/service/unit/info/${this.dataForm.unitId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.unit.courseId
                // this.dataForm.subjectId = data.unit.subjectId
                this.dataForm.dispNo = data.unit.dispNo
                this.dataForm.unitName = data.unit.unitName
                this.dataForm.unitIamgePath = data.unit.unitIamgePath
                // this.dataForm.unitS3BucketName = data.unit.unitS3BucketName
                // this.dataForm.unitS3ObjectKey = data.unit.unitS3ObjectKey
                this.dataForm.unitOutline = data.unit.unitOutline
                this.dataForm.unitDetail = data.unit.unitDetail
                this.dataForm.unitStatus = data.unit.unitStatus
                // this.dataForm.openStartTime = data.unit.openStartTime
                // this.dataForm.openEndTime = data.unit.openEndTime
                // this.dataForm.createUserId = data.unit.createUserId
                // this.dataForm.createTime = data.unit.createTime
                // this.dataForm.updateUserId = data.unit.updateUserId
                // this.dataForm.updateTime = data.unit.updateTime
                // this.dataForm.versionNo = data.unit.versionNo
                // this.dataForm.delFlag = data.unit.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        // this.dataForm.unitOutline = this.richEditor1.instance.getContent()
        // this.dataForm.unitDetail = this.richEditor2.instance.getContent()
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/unit/${!this.dataForm.unitId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'unitId': this.dataForm.unitId || undefined,
                'dispNo': this.dataForm.dispNo,
                'courseId': this.dataForm.courseId,
                'subjectId': this.dataForm.subjectId,
                'unitName': this.dataForm.unitName,
                'unitIamgePath': this.dataForm.unitIamgePath,
                // 'unitS3BucketName': this.dataForm.unitS3BucketName,
                // 'unitS3ObjectKey': this.dataForm.unitS3ObjectKey,
                'unitOutline': this.dataForm.unitOutline,
                'unitDetail': this.dataForm.unitDetail,
                'unitStatus': this.dataForm.unitStatus,
                'openStartTime': this.dataForm.openStartTime
                // 'openEndTime': this.dataForm.openEndTime,
                // 'createUserId': this.dataForm.createUserId,
                // 'createTime': this.dataForm.createTime,
                // 'updateUserId': this.dataForm.updateUserId,
                // 'updateTime': this.dataForm.updateTime,
                // 'versionNo': this.dataForm.versionNo,
                // 'delFlag': this.dataForm.delFlag
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作は成功しました。',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    // this.$options.methods.removeTextArea()
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
