<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="220px">
    <el-form-item label="表示順:" prop="dispNo">
        <div class="detail-div-line">{{dataForm.dispNo}}</div>
    </el-form-item>
    <el-form-item label="単元名:" prop="unitName">
        <div class="detail-div-line">{{dataForm.unitName}}</div>
    </el-form-item>
    <el-form-item label="単元画像:" prop="unitIamgePath" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.unitIamgePath}}</div>
    </el-form-item>
    <!-- <el-form-item label="単元AWS S3 BUCKET名:" prop="unitS3BucketName" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.unitS3BucketName}}</div>
    </el-form-item>
    <el-form-item label="単元AWS S3 オブジェクトキー:" prop="unitS3ObjectKey" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.unitS3ObjectKey}}</div>
    </el-form-item> -->
    <el-form-item label="単元概要:" prop="unitOutline">
      <div class="detail-div-line">{{dataForm.unitOutline}}</div> 
    </el-form-item>
    <el-form-item label="単元説明:" prop="unitDetail">
      <div class="detail-div-line">{{dataForm.unitDetail}}</div> 
    </el-form-item>
    <el-form-item label="単元ステータス:" prop="unitStatus">
      <el-tag v-if="dataForm.unitStatus === '0'" size="small" type="primary">公開</el-tag>          
      <el-tag v-if="dataForm.unitStatus === '1'" size="small" type="danger">非公開</el-tag>  
    </el-form-item>
    <!-- <el-form-item label="公開開始日時:" prop="openStartTime">
        {{dataForm.openStartTime}}
    </el-form-item>
    <el-form-item label="公開終了日時:" prop="openEndTime">
        {{dataForm.openEndTime}}
    </el-form-item>
    <el-form-item label="作成者:" prop="createUserId">
        {{dataForm.createUserId}}
    </el-form-item> -->
    <el-form-item label="作成日時:" prop="createTime">
        {{dataForm.createTime}}
    </el-form-item>
    <!-- <el-form-item label="更新者:" prop="updateUserId">
        {{dataForm.updateUserId}}
    </el-form-item>
    <el-form-item label="更新日時:" prop="updateTime">
        {{dataForm.updateTime}}
    </el-form-item> -->
    <!-- <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loginGroupType: '',
        dataForm: {
          unitId: 0,
          dispNo: '',
          courseId: '',
          subjectId: '',
          unitName: '',
          unitIamgePath: '',
          // unitS3BucketName: '',
          // unitS3ObjectKey: '',
          unitOutline: '',
          unitDetail: '',
          unitStatus: '',
          openStartTime: '',
          openEndTime: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: ''
          // versionNo: '',
          // delFlag: ''
        }
      }
    },
    methods: {
      init (id) {
        this.loginGroupType = this.$store.state.user.loginGroupType
        this.dataForm.unitId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.unitId) {
            this.$http({
              url: this.$http.adornUrl(`/service/unit/info/${this.dataForm.unitId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.unit.courseId
                // this.dataForm.subjectId = data.unit.subjectId
                this.dataForm.dispNo = data.unit.dispNo
                this.dataForm.unitName = data.unit.unitName
                this.dataForm.unitIamgePath = data.unit.unitIamgePath
                // this.dataForm.unitS3BucketName = data.unit.unitS3BucketName
                // this.dataForm.unitS3ObjectKey = data.unit.unitS3ObjectKey
                this.dataForm.unitOutline = data.unit.unitOutline
                this.dataForm.unitDetail = data.unit.unitDetail
                this.dataForm.unitStatus = data.unit.unitStatus
                this.dataForm.openStartTime = data.unit.openStartTime
                this.dataForm.openEndTime = data.unit.openEndTime
                this.dataForm.createUserId = data.unit.createUserId
                this.dataForm.createTime = data.unit.createTime
                this.dataForm.updateUserId = data.unit.updateUserId
                this.dataForm.updateTime = data.unit.updateTime
                // this.dataForm.versionNo = data.unit.versionNo
                // this.dataForm.delFlag = data.unit.delFlag
              }
            })
          }
        })
      }
    }
  }
</script>
