<template>
<div class="app-container">
  <el-form :model="queryParam" ref="queryForm" :inline="true">
    <!-- <el-form-item label="講座：">
      <el-select v-model="value" placeholder="Select">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </el-form-item> -->
    <el-form-item label="インフォメーション種別：">
      <el-input></el-input>
    </el-form-item>
    <el-form-item label="インフォメーションステータス：">
      <el-input></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm">検索</el-button>
      <router-link :to="{path:'/course-info/detail'}" class="link-left">
        <el-button type="primary">新規登録</el-button>
      </router-link>
    </el-form-item>
  </el-form>
  <el-table v-loading="listLoading" :data="tableData" @selection-change="selectionChangeHandle" border fit highlight-current-row style="width: 100%" @row-click="openDetails()">
    <el-table-column type="selection" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="infoId" label="ID" width="90px" header-align="center" align="center" />
    <el-table-column prop="courseId" label="講座" width="160px" header-align="center" align="center" />
    <el-table-column prop="infoName" label="件名" width="160px" header-align="center" align="center" />
    <el-table-column prop="infoType" label="種別" width="160px" header-align="center" align="center" />
    <el-table-column prop="infoOverview" label="概要" header-align="center" align="center" />
    <el-table-column prop="createTime" label="作成日時" header-align="center" align="center" />

    <el-table-column align="center" width="160px">
      <template slot-scope="scope">
        <el-button size="mini" @click="$router.push({path:'/exam/paper/edit',query:{id:row.id}})">詳細</el-button>
        <el-button size="mini" type="danger" @click="deleteHandle(scope.row.infoId)" class="link-left">削除</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <!-- <pagination v-show="total>0" :total="total" :page.sync="queryParam.pageIndex" :limit.sync="queryParam.pageSize"
                @pagination="search"/> -->
</div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      queryParam: {
        id: ''
      },
      tableData: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      listLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false
    }
  },
  created () {
    this.initSubject()
    this.search()
  },
  methods: {
    submitForm () {
      this.listLoading = true
      this.pageIndex = 1
      this.pageSize = 10
      this.getDataList()
    },
    search () {
      this.listLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/courseinfo/list'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize
          // 'key': this.queryParam.id
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.tableData = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.tableData = []
          this.totalPage = 0
        }
        this.listLoading = false
      })
    },
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.search()
    },
    // 当前页
    currentChangeHandle (val) {
      this.pageIndex = val
      this.search()
    },
    // 多选
    selectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 删除
    deleteHandle (id) {
      // var ids = id ? [id] : this.dataListSelections.map(item => {
      //   return item.id
      // })
      var infoIds = [id]
      this.$confirm(`削除しますか[id=${id}]？`, '確認', {
        confirmButtonText: '確定',
        cancelButtonText: 'キャンセル',
        type: 'warning'
      }).then(() => {
        this.$http({
          url: this.$http.adornUrl('/service/courseinfo/delete'),
          method: 'post',
          data: this.$http.adornData(infoIds, false)
        }).then(({ data }) => {
          if (data && data.code === 0) {
            this.$message({
              message: '成功しました。',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.search()
              }
            })
          } else {
            this.$message.error(data.msg)
          }
        })
      })
    },
    ...mapActions('exam', { initSubject: 'initSubject' })
  }
  // computed: {
  //   ...mapGetters('enumItem', ['enumFormat']),
  //   ...mapState('enumItem', {
  //     levelEnum: state => state.user.levelEnum
  //   }),
  //   ...mapGetters('exam', ['subjectEnumFormat']),
  //   ...mapState('exam', { subjects: state => state.subjects })
  // }
}
</script>
