<template>
  <div id="app">
    <el-container class="app-container">
      <el-header>
        <div class="app-header common-layout">
          <router-link class="app-header-logo" to="/"></router-link>
          <div class="app-header-title"></div>
          <div v-if="!isLogin && !isForgot" class="app-header-right">
            <el-dropdown trigger="click" @command="handleCommand">
              <span class="el-dropdown-link">
                <el-avatar size="small" style="margin-right: 10px"
                  :src="myPageLogo"
                ></el-avatar>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-if="!isMyPage" command="goMyPage">マイページ</el-dropdown-item>
                <el-dropdown-item command="goInformations">インフォメーション</el-dropdown-item>
                <el-dropdown-item command="goCourses">講座受講一覧</el-dropdown-item>
                <el-dropdown-item command="goQas">お問い合わせ</el-dropdown-item>
                <el-dropdown-item command="goSetprofile">本人情報</el-dropdown-item>
                <el-dropdown-item command="goSetpassword">パスワード変更</el-dropdown-item>
                <el-dropdown-item command="logout">ログアウト</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </el-header>
      <el-main>
        <div class="app-main common-layout">
          <router-view v-if="isRouterAlive"></router-view>
        </div>
      </el-main>
      <el-footer height="auto">
        <div class="app-footer common-layout">
          <!-- <el-divider></el-divider> -->
          <div class="app-footer-list-title">サービスについて</div>
          <br>
          <div class="app-footer-list-wrap">
            <div class="app-footer-list" v-for="(list, listIndex) in footerList" :key="listIndex">
              <div class="app-footer-list-group"
                v-for="(listData, listDataIndex) in list" :key="listDataIndex"
              >
                <div class="app-footer-list-items">
                  <div class="app-footer-list-item"
                    v-for="(item, listItemIndex) in listData.items" :key="listItemIndex"
                  >
                    <a :href="item.to" target="_blank">{{item.title}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="app-footer-copyright">
            <span>Copyright Ⓒ 2021 東京法規出版 All Rights Reserved.</span>
          </div>
        </div>
      </el-footer>
      <el-backtop></el-backtop>
    </el-container>
  </div>
</template>

<script>
import Cookies from 'js-cookie';
import request from '@/utils/request';
// import footerLogo from './assets/footer_logo.png';
import footerLogo from './assets/logo.gif';
import myPageLogo from './assets/user.png';

export default {
  name: 'App',
  provide() {
    return {
      reload: this.reload,
      isLogin: this.isLogin,
      isForgot: this.isForgot,
    };
  },
  data() {
    return {
      myPageLogo,
      footerLogo,
      isRouterAlive: true,
      activeIndex: '1',
      isLogin: false,
      isMyPage: false,
      messageNum: 0,
      footerList: [
        [
          {
            title: '重要事項',
            items: [
              {
                title: '個人情報保護方針',
                to: '/privacy.html',
              },
              {
                title: '利用規約',
                to: '/terms.html',
              },
            ],
          },
        ],
        [
          {
            title: '重要事項',
            items: [
              {
                title: '免責事項',
                to: '/disclaimer.html',
              },
              {
                title: '推奨ブラウザ',
                to: '/recommendedBrowser.html',
              },
            ],
          },
        ],
        [
          {
            title: '重要事項',
            items: [
              {
                title: 'ご利用ガイド',
                to: '/guide/guide.html',
              },
              {
                title: 'よくあるご質問',
                to: '/guide/faq.html',
              },
            ],
          },
        ],
        [
          {
            title: '受講受験ナビ',
            items: [
              {
                title: '運営会社',
                to: 'https://www.tkhs.co.jp/company/outline.html',
              },
            ],
          },
        ],
        [],
        [],
      ],
    };
  },
  watch: {
    $route(to) {
      console.log(to);
      this.isMyPage = /^\/mypage/.test(to.path);
      console.log(this.isMyPage, 222);
      this.isLogin = to.name === 'Login';
      this.isForgot = to.name === 'Forgot';
    },
  },
  computed: {
    badgeRight() {
      if (this.messageNum === 0) {
        return '0';
      }
      if (this.messageNum < 10) {
        return '10px';
      }
      return '20px';
    },
  },
  methods: {
    reload() {
      this.isRouterAlive = false;
      this.$nextTick(() => {
        this.isRouterAlive = true;
      });
    },
    goPage(path) {
      this.$router.push({
        path,
      }).catch(() => {});
    },
    goMyPage() {
      this.goPage('/mypage');
    },
    // goMyQas() {
    //   this.goPage('/mypage/qas');
    // },
    goInformations() {
      this.goPage('/mypage/informations');
    },
    goCourses() {
      this.goPage('/mypage/courses');
    },
    goQas() {
      this.goPage('/mypage/qas');
    },
    goSetprofile() {
      this.goPage('/mypage/setprofile');
    },
    goSetpassword() {
      this.goPage('/mypage/setpassword');
    },
    handleCommand(command) {
      this[command]();
    },
    logout() {
      request('logout').finally(() => {
        Cookies.remove('token');

        this.$router.push({
          path: '/login',
        }).catch(() => {});
      });
    },
  },
};
</script>

<style lang="less" scoped>
#app {
  height: 100%;

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    overflow: hidden;

    .el-header {
      position: fixed;
      z-index: 10000;
      width: 100%;
      padding: 0;
      background: #172436;

      .app-header {
        position: relative;
        color: #fff;

        .app-header-logo {
          width: 200px;
          height: 100%;
          float: left;
          position: relative;
          background: url(assets/studypack_logo.png) no-repeat;
          background-size: contain;
          background-position: center;
        }

        .app-header-title {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
        }

        .app-header-right {
          float: right;
          height: 100%;
          display: flex;
          align-items: center;

          .app-header-badge {
            font-size: 20px;
          }
          & > div {
            padding: 0 10px;
            cursor: pointer;
            position: relative;
            transition: color .3s;
            font-size: 14px;

            &:hover {
              color: #ccc;
            }

            &:after {
              display: block;
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 1px;
              // background-color: #94CE58;
              background-color: #ddd;
            }

            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;

              &:after {
                display: none;
              }
            }

            span {
              font-size: 14px;
              vertical-align: middle;
            }
            .app-header-bell {
              margin-right: 10px;
              font-size: 20px;
              vertical-align: middle;
            }
          }
        }
      }
    }
    .el-main {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: auto;
      margin-top: 60px;
      padding: 0;

      .app-main {
        flex: 1;
        // margin: 0 auto;
        // max-width: 1400px;
        // padding: 0 24px;
      }
    }
    .el-footer {
      padding: 20px 0;
      display: flex;
      width: 100%;
      background: #172436;
      color: #fff;

      .app-footer-top {
        margin: 10px;
        text-align: center;
      }

      .app-footer-list-wrap {
        display: flex;
        justify-content: space-between;

        .app-footer-list {
          font-size: 18px;
          // flex: 1;

          .app-footer-list-group {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }

            .app-footer-list-title {
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 16px;
            }
            .app-footer-list-items {
              .app-footer-list-item {
                position: relative;
                padding-left: 12px;
                font-size: 15px;
                margin-bottom: 12px;

                &::before {
                  background: url(assets/icon_aroow_right_white.svg) no-repeat;
                  background-position: center;
                  background-size: contain;
                  content: '';
                  height: 6px;
                  left: 0;
                  position: absolute;
                  top: 4px;
                  // top: 50%;
                  // transform: translateY(-50%);
                  width: 6px;
                }

                a {
                  color: inherit;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                    color: #ccc;
                  }
                }
              }
            }
          }
        }
      }

      .app-footer-copyright {
        margin-top: 5px;
        text-align: center;

        span {
          vertical-align: middle;
          font-size: 14px;
        }
        .el-link {
          color: #fff;

          &:hover {
            color: #409EFF;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #app {
    .app-container {
      .el-header {
        height: 40px!important;
        .app-header {
          padding: 0 5px;
          .app-header-logo {
            width: 120px;
          }
          .app-header-title {
            font-size: 14px;
          }
        }
      }
      .el-main {
        margin-top: 40px;
      }
      .el-footer {
        .app-footer-list-wrap {
          flex-direction: column;
        }
      }
      .el-backtop {
        display: none;
        background-color: #ccc
      }
    }
  }
}
</style>
