html, body {
  height: 100%;
  width: 100%;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Meiryo", "メイリオ", "sans-serif";
}
body {
  padding-left: calc(100vw - 100%);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.common-layout {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.el-form-item__label {
  font-weight: bold;
}
.el-dropdown-link {
  cursor: pointer;
  color: #fff;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.image-slot {
  font-size: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
  color: #909399;
}

.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.el-pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.app-list-sorter-wrap {
  color: #333;
  font-size: 15px;
  margin-bottom: 24px;

  .app-list-sorter-page {
    display: block;
    // display: inline-block;
    line-height: 32px;
    height: 32px;
  }
  .app-list-sorter-right {
    float: right;
    & > span {
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}

.app-list-wrap {
  .app-list {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;

    &:last-child {
      border-bottom: none;
    }
    .app-list-left {
      width: 275px;
      margin-right: 20px;

      .app-list-left-img {
        width: 258px;
        height: 160px;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
    .app-list-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .app-list-right-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
          color: #409EFF;
        }
      }
      .app-list-right-cateandtag {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .app-list-right-category {
          height: 24px;
          line-height: 24px;
          font-size: 14px;
        }
        .app-list-right-tags {
          .app-list-right-tag {
            display: inline-block;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            border-radius: 12px;
            background-color: #ddd;
            padding: 2px 8px;
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .app-list-right-desc {
        font-size: 14px;
      }
      .app-list-right-timeandauthor {
        color: rgb(118, 118, 118);
        font-size: 12px;

        .app-list-right-time {
          display: inline-block;
          width: 180px;
        }
        .app-list-right-author {
          display: inline-block;
        }
      }
    }
  }
}

.app-form {
  .el-input {
    width: 100%;
  }
  input {
    padding: 16px;
    height: 48px;
    line-height: 48px;
  }
  .el-button {
    padding: 16px;
    width: 100%;
  }
}

.app-my-wrap {
  color: #333;

  .app-my-title {
    background-color: #faf8f5;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    // margin-bottom: 40px;
    padding: 20px 0;
  }
  .app-my-content {
    padding: 20px;
    background-color: #fff;
  }
}

.app-my-new {
  position: relative;

  &::after {
    content: "new";
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    bottom: 1px;
    right: -34px;
    border-radius: 14px;
    color: #fff;
    background-color: red;
    padding: 0 3px;
  }
}

@media (max-width: 767px) {
  .common-layout {
    margin: 0 auto;
    padding: 0 20px;
  }
  .app-list-wrap {
    .app-list {
      flex-direction: column;
      .app-list-left {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 0;

        .app-list-left-img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border: 1px solid #ccc;
          margin-bottom: 10px;
        }
      }
      .app-list-right {
        .app-list-right-title {
          margin-bottom: 10px;
        }
        .app-list-right-cateandtag {
          margin-bottom: 5px;
        }
      }
    }
  }
}
 