<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="220px">
    <!-- <el-form-item label="講座ID" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID"></el-input>
    </el-form-item> -->
    <el-form-item label="表示順:" prop="dispNo">
        <div class="detail-div-line">{{dataForm.dispNo}}</div> 
    </el-form-item>
    <el-form-item label="教科名:" prop="subjectTitle">
        <div class="detail-div-line">{{dataForm.subjectTitle}}</div> 
    </el-form-item>
    <el-form-item label="教科画像:" prop="subjectImagePath" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.subjectImagePath}}</div> 
    </el-form-item>
    <!-- <el-form-item label="教科AWS S3 BUCKET名:" prop="subjectS3BucketName" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.subjectS3BucketName}}</div> 
    </el-form-item>
    <el-form-item label="教科AWS S3 オブジェクトキー:" prop="subjectS3ObjectKey" v-if="loginGroupType ==='1'">
        <div class="detail-div-line">{{dataForm.subjectS3ObjectKey}}</div> 
    </el-form-item> -->
    <el-form-item label="教科概要:" prop="subjectOutline">
      <div class="detail-div-line">{{dataForm.subjectOutline}}</div> 
    </el-form-item>
    <el-form-item label="教科説明:" prop="subjectDetail">
      <div class="detail-div-line">{{dataForm.subjectDetail}}</div> 
    </el-form-item>
    <el-form-item label="教科ステータス:" prop="subjectStatus">
      <el-tag v-if="dataForm.subjectStatus === '0'" size="small" type="primary">公開</el-tag>          
      <el-tag v-if="dataForm.subjectStatus === '1'" size="small" type="danger">非公開</el-tag>  
    </el-form-item>
    <!-- <el-form-item label="公開開始日時:" prop="openStartTime">
        {{dataForm.openStartTime}}
    </el-form-item>
    <el-form-item label="公開終了日時:" prop="openEndTime">
        {{dataForm.openEndTime}}
    </el-form-item>
    <el-form-item label="作成者:" prop="createUserId">
        {{dataForm.createUserId}}
    </el-form-item> -->
    <el-form-item label="作成日時:" prop="createTime">
        {{dataForm.createTime}}
    </el-form-item>
    <!-- <el-form-item label="更新者:" prop="updateUserId">
        {{dataForm.updateUserId}}
    </el-form-item>
    <el-form-item label="更新日時:" prop="updateTime">
        {{dataForm.updateTime}}
    </el-form-item> -->
    <!-- <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loginGroupType: '',
        dataForm: {
          subjectId: 0,
          courseId: '',
          dispNo: '',
          subjectTitle: '',
          subjectImagePath: '',
          // subjectS3BucketName: '',
          // subjectS3ObjectKey: '',
          subjectOutline: '',
          subjectDetail: '',
          subjectStatus: '',
          openStartTime: '',
          openEndTime: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: ''
          // versionNo: '',
          // delFlag: ''
        }
      }
    },
    methods: {
      init (id) {
        this.loginGroupType = this.$store.state.user.loginGroupType
        this.dataForm.subjectId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.subjectId) {
            this.$http({
              url: this.$http.adornUrl(`/service/subject/info/${this.dataForm.subjectId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.subject.courseId
                this.dataForm.subjectTitle = data.subject.subjectTitle
                this.dataForm.subjectImagePath = data.subject.subjectImagePath
                // this.dataForm.subjectS3BucketName = data.subject.subjectS3BucketName
                // this.dataForm.subjectS3ObjectKey = data.subject.subjectS3ObjectKey
                this.dataForm.dispNo = data.subject.dispNo
                this.dataForm.subjectOutline = data.subject.subjectOutline
                this.dataForm.subjectDetail = data.subject.subjectDetail
                this.dataForm.subjectStatus = data.subject.subjectStatus
                this.dataForm.openStartTime = data.subject.openStartTime
                this.dataForm.openEndTime = data.subject.openEndTime
                this.dataForm.createUserId = data.subject.createUserId
                this.dataForm.createTime = data.subject.createTime
                this.dataForm.updateUserId = data.subject.updateUserId
                this.dataForm.updateTime = data.subject.updateTime
                // this.dataForm.versionNo = data.subject.versionNo
                // this.dataForm.delFlag = data.subject.delFlag
              }
            })
          }
        })
      }
    }
  }
</script>
