<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item label="講座名:" prop="courseTitle">
        {{dataForm.courseTitle}}
        <!-- <el-input v-model="dataForm.courseTitle" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.subjectName" placeholder="教科名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('service:subject:save')" type="primary" @click="addOrUpdateHandle(dataForm.courseId)">追加</el-button>
        <el-button v-if="isAuth('service:subject:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        >
      </el-table-column>
      <el-table-column
        prop="subjectId"
        header-align="center"
        align="center"
        label="教科ID"
        width="70px">
      </el-table-column>
      <el-table-column
        prop="dispNo"
        header-align="center"
        align="center"
        label="表示順"
        width="70px">
      </el-table-column>
      <!-- <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID">
      </el-table-column> -->
      <el-table-column
        prop="subjectTitle"
        header-align="center"
        align="center"
        label="教科名"
       >
      </el-table-column>
      <!-- <el-table-column
        prop="subjectImagePath"
        header-align="center"
        align="center"
        label="教科画像">
      </el-table-column> -->
      <!-- <el-table-column
        prop="subjectS3BucketName"
        header-align="center"
        align="center"
        label="教科AWS S3 BUCKET名">
      </el-table-column>
      <el-table-column
        prop="subjectS3ObjectKey"
        header-align="center"
        align="center"
        label="教科AWS S3 オブジェクトキー">
      </el-table-column> -->
      <!-- <el-table-column
        prop="subjectOutline"
        header-align="center"
        align="center"
        label="教科概要">
      </el-table-column>
      <el-table-column
        prop="subjectDetail"
        header-align="center"
        align="center"
        label="教科説明">
      </el-table-column> -->
      <el-table-column
        prop="subjectStatus"
        header-align="center"
        align="center"
        label="教科ステータス"
        >
        <template slot-scope="scope">
          <el-tag v-if="scope.row.subjectStatus === '1'" size="small" type="danger">非公開</el-tag>
          <el-tag v-else size="small">公開</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="openStartTime"
        header-align="center"
        align="center"
        label="公開開始日時">
      </el-table-column>
      <el-table-column
        prop="openEndTime"
        header-align="center"
        align="center"
        label="公開終了日時">
      </el-table-column> -->
      <!-- <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者ID"
        >
      </el-table-column> -->
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時"
        >
      </el-table-column>
      <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="250"
        label="操作">
        <template slot-scope="scope">
          <el-button v-if="isAuth('service:unit:list')" type="primary" size="small" @click="routerJump(scope)">単元管理</el-button>
          <el-button type="text" size="small" @click="subjectDetailHandle(scope.row.subjectId)">詳細</el-button>
          <el-button v-if="isAuth('service:subject:update')" type="text" size="small" @click="addOrUpdateHandle(dataForm.courseId,scope.row.subjectId)">変更</el-button>
          <el-button v-if="isAuth('service:subject:delete')" type="text" size="small" @click="deleteHandle(scope.row.subjectId)">削除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <subject-detail v-if="subjectDetailVisible" ref="subjectDetail"></subject-detail>
  </div>
</template>

<script>
  import AddOrUpdate from './subject-add-or-update'
  import SubjectDetail from './subject-detail'

  export default {
    data () {
      return {
        dataForm: {
          courseId: '',
          courseTitle: '',
          subjectName: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        subjectDetailVisible: false
      }
    },
    components: {
      AddOrUpdate,
      SubjectDetail
    },
    activated () {
      this.dataForm.courseId = this.$route.query.courseId
      this.dataForm.courseTitle = this.$route.query.courseTitle
      this.getDataList()
    },
    watch: {
      'dataForm.courseId' () {
        let query = this.$route.query
        this.$store.commit('common/updateMainTabsQuery', query)
      }
    },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/subject/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'courseId': this.dataForm.courseId,
            'subjectName': this.dataForm.subjectName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      addOrUpdateHandle (courseId, id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(courseId, id)
        })
      },
      subjectDetailHandle (id) {
        this.subjectDetailVisible = true
        this.$nextTick(() => {
          this.$refs.subjectDetail.init(id)
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.subjectId
        })
        this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/subject/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      routerJump (scope) {
        this.$router.push(
          {
            name: 'unit-page',
            query:
            {
              courseId: this.dataForm.courseId,
              courseTitle: this.dataForm.courseTitle,
              subjectId: scope.row.subjectId,
              subjectTitle: scope.row.subjectTitle
            }
          })
      }
    }
  }
</script>
