<template>
  <el-dialog
    :title="!dataForm.subjectId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="220px">
    <!-- <el-form-item label="講座ID" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID"></el-input>
    </el-form-item> -->
    <el-form-item label="表示順" prop="dispNo">
      <el-input v-model="dataForm.dispNo" placeholder="表示順" maxlength="10" show-word-limit type="text" autosize></el-input>
    </el-form-item>
    <el-form-item label="教科名" prop="subjectTitle">
      <el-input v-model="dataForm.subjectTitle" placeholder="教科名" maxlength="50" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="教科画像" prop="subjectImagePath">
      <el-input v-model="dataForm.subjectImagePath" placeholder="教科画像" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <!-- <el-form-item label="教科AWS S3 BUCKET名" prop="subjectS3BucketName">
      <el-input v-model="dataForm.subjectS3BucketName" placeholder="教科AWS S3 BUCKET名" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="教科AWS S3 オブジェクトキー" prop="subjectS3ObjectKey">
      <el-input v-model="dataForm.subjectS3ObjectKey" placeholder="教科AWS S3 オブジェクトキー" maxlength="100" show-word-limit type="textarea" autosize></el-input>
    </el-form-item> -->
    <el-form-item label="教科概要" prop="subjectOutline">
      <!-- <Ueditor @ready="editorReady1" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.subjectOutline" placeholder="教科概要" autosize maxlength="500" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="教科説明" prop="subjectDetail">
      <!-- <Ueditor @ready="editorReady2" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.subjectDetail" placeholder="教科説明" autosize maxlength="1000" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="教科ステータス" prop="subjectStatus">
      <el-radio-group v-model="dataForm.subjectStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
      <!-- <el-input v-model="dataForm.subjectStatus" placeholder="教科ステータス"></el-input> -->
    </el-form-item>
    <!-- <el-form-item label="公開開始日時" prop="openStartTime">
      <el-input v-model="dataForm.openStartTime" placeholder="公開開始日時"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="公開終了日時" prop="openEndTime">
      <el-input v-model="dataForm.openEndTime" placeholder="公開終了日時"></el-input>
    </el-form-item>
    <el-form-item label="作成者" prop="createUserId">
      <el-input v-model="dataForm.createUserId" placeholder="作成者"></el-input>
    </el-form-item>
    <el-form-item label="作成日時" prop="createTime">
      <el-input v-model="dataForm.createTime" placeholder="作成日時"></el-input>
    </el-form-item>
    <el-form-item label="更新者" prop="updateUserId">
      <el-input v-model="dataForm.updateUserId" placeholder="更新者"></el-input>
    </el-form-item>
    <el-form-item label="更新日時" prop="updateTime">
      <el-input v-model="dataForm.updateTime" placeholder="更新日時"></el-input>
    </el-form-item>
    <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import Ueditor from '../../../demo/ueditor'
  export default {
    components: {
      Ueditor
    },
    data () {
      return {
        visible: false,
        dataForm: {
          subjectId: 0,
          dispNo: 0,
          courseId: '',
          subjectTitle: '',
          subjectImagePath: '',
          // subjectS3BucketName: '',
          // subjectS3ObjectKey: '',
          subjectOutline: '',
          subjectDetail: '',
          subjectStatus: '0'
          // openStartTime: '',
          // openEndTime: '',
          // createUserId: ''
          // createTime: '',
          // updateUserId: '',
          // updateTime: '',
          // versionNo: '',
          // delFlag: ''
        },
        dataRule: {
          // courseId: [
          //   { required: true, message: '講座ID不能为空', trigger: 'blur' }
          // ],
          subjectTitle: [
            { required: true, message: '教科名を入力してください', trigger: 'blur' }
          ],
          // subjectImagePath: [
          //   { required: true, message: '教科画像を入力してください', trigger: 'blur' }
          // ],
          // subjectS3BucketName: [
          //   { required: true, message: '教科AWS S3 BUCKET名不能为空', trigger: 'blur' }
          // ],
          // subjectS3ObjectKey: [
          //   { required: true, message: '教科AWS S3 オブジェクトキー不能为空', trigger: 'blur' }
          // ],
          // subjectOutline: [
          //   { required: true, message: '教科概要を入力してください', trigger: 'blur' }
          // ],
          // subjectDetail: [
          //   { required: true, message: '教科説明を入力してください', trigger: 'blur' }
          // ],
          subjectStatus: [
            { required: true, message: '教科ステータスを選択してください', trigger: 'blur' }
          ]
          // openStartTime: [
          //   { required: true, message: '公開開始日時不能为空', trigger: 'blur' }
          // ],
          // openEndTime: [
          //   { required: true, message: '公開終了日時不能为空', trigger: 'blur' }
          // ],
          // createUserId: [
          //   { required: true, message: '作成者不能为空', trigger: 'blur' }
          // ],
          // createTime: [
          //   { required: true, message: '作成日時不能为空', trigger: 'blur' }
          // ],
          // updateUserId: [
          //   { required: true, message: '更新者不能为空', trigger: 'blur' }
          // ],
          // updateTime: [
          //   { required: true, message: '更新日時不能为空', trigger: 'blur' }
          // ],
          // versionNo: [
          //   { required: true, message: 'バージョン番号不能为空', trigger: 'blur' }
          // ],
          // delFlag: [
          //   { required: true, message: '削除フラグ不能为空', trigger: 'blur' }
          // ]
        }
        // richEditor1: {
        //   instance: null
        // },
        // richEditor2: {
        //   instance: null
        // }
      }
    },
    methods: {
      // editorReady1 (instance) {
      //   this.richEditor1.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   console.log(this.dataForm.courseOutline)
      //   this.richEditor1.instance.setContent(this.dataForm.subjectOutline)
      // },
      // editorReady2 (instance) {
      //   this.richEditor2.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   this.richEditor2.instance.setContent(this.dataForm.subjectDetail)
      // },
      // courseReturn () {
      //   this.$options.methods.removeTextArea()
      //   this.visible = false
      // },
      // handleClose (done) {
      //   this.$options.methods.removeTextArea()
      //   done()
      // },
      // removeTextArea () {
      //   let editorTextArea = document.getElementsByName('editorValue')
      //   let length = editorTextArea.length
      //   for (let i = 0; i < length; i++) {
      //     document.getElementsByName('editorValue')[0].remove()
      //   }
      // },
      init (courseId, id) {
        this.dataForm.courseId = courseId
        this.dataForm.subjectId = id || 0

        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.subjectId) {
            this.$http({
              url: this.$http.adornUrl(`/service/subject/info/${this.dataForm.subjectId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.subject.courseId
                this.dataForm.dispNo = data.subject.dispNo
                this.dataForm.subjectTitle = data.subject.subjectTitle
                this.dataForm.subjectImagePath = data.subject.subjectImagePath
                // this.dataForm.subjectS3BucketName = data.subject.subjectS3BucketName
                // this.dataForm.subjectS3ObjectKey = data.subject.subjectS3ObjectKey
                this.dataForm.subjectOutline = data.subject.subjectOutline
                this.dataForm.subjectDetail = data.subject.subjectDetail
                this.dataForm.subjectStatus = data.subject.subjectStatus
                // this.dataForm.openStartTime = data.subject.openStartTime
                // this.dataForm.openEndTime = data.subject.openEndTime
                // this.dataForm.createUserId = data.subject.createUserId
                // this.dataForm.createTime = data.subject.createTime
                // this.dataForm.updateUserId = data.subject.updateUserId
                // this.dataForm.updateTime = data.subject.updateTime
                // this.dataForm.versionNo = data.subject.versionNo
                // this.dataForm.delFlag = data.subject.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        // this.dataForm.subjectOutline = this.richEditor1.instance.getContent()
        // this.dataForm.subjectDetail = this.richEditor2.instance.getContent()
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/subject/${!this.dataForm.subjectId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'subjectId': this.dataForm.subjectId || undefined,
                'dispNo': this.dataForm.dispNo,
                'courseId': this.dataForm.courseId,
                'subjectTitle': this.dataForm.subjectTitle,
                'subjectImagePath': this.dataForm.subjectImagePath,
                // 'subjectS3BucketName': this.dataForm.subjectS3BucketName,
                // 'subjectS3ObjectKey': this.dataForm.subjectS3ObjectKey,
                'subjectOutline': this.dataForm.subjectOutline,
                'subjectDetail': this.dataForm.subjectDetail,
                'subjectStatus': this.dataForm.subjectStatus
                // 'openStartTime': this.dataForm.openStartTime,
                // 'openEndTime': this.dataForm.openEndTime,
                // 'createUserId': '111'
                // 'createTime': this.dataForm.createTime,
                // 'updateUserId': this.dataForm.updateUserId,
                // 'updateTime': this.dataForm.updateTime,
                // 'versionNo': this.dataForm.versionNo,
                // 'delFlag': this.dataForm.delFlag
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作は成功しました。',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    // this.$options.methods.removeTextArea()
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
