<template>
  <el-dialog
    :title="!dataForm.userId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="150px">
      <el-form-item label="ユーザー名" prop="userName">
        <el-input v-model="dataForm.userName" placeholder="ユーザー名" maxlength="50" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="ユーザー名（漢字）" prop="userNameKanji">
        <el-input v-model="dataForm.userNameKanji" placeholder="ユーザー名（漢字）" maxlength="50" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="ユーザー名（カナ）" prop="userNameKana">
        <el-input v-model="dataForm.userNameKana" placeholder="ユーザー名（カナ）" maxlength="50" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="ロール" prop="roleId" >
        <el-select v-model="dataForm.roleId" 
          :disabled="(loginGroupType !=='1' || dataForm.roleId === 1) ? true : false"
          @change="roleChange">
          <el-option 
            v-for="role in roleList" 
            :key="role.roleId" 
            :label="role.roleName"
            :value="role.roleId">
          </el-option>
        </el-select>
      </el-form-item> 
      <el-form-item v-if="dataForm.roleId === 4 || dataForm.roleId === 6" label="所属ご契約者様" prop="proxyGroupId">  
        <el-select 
          v-model="dataForm.proxyGroupId" 
          filterable
          placeholder="所属ご契約者様を入力してください"
          :disabled="(loginGroupType !=='1') ? true : false"
          @change="proxyGroupChange">
          <el-option
            v-for="item in proxyGroupSelect"
            :key="item.groupId"
            :label="item.groupName"
            :value="item.groupId">
          </el-option>  
        </el-select>
      </el-form-item> 
      <el-form-item v-if="dataForm.roleId === 6" label="所属クラス" prop="normalGroupId">
        <el-select 
          v-model="dataForm.normalGroupId" 
          :disabled="(loginGroupType ==='3') ? true : false"
          filterable  
          placeholder="所属クラス名を入力してください">
          <el-option 
            v-for="group in normalGroupSelect" 
            :key="group.groupId" 
            :label="group.groupName"
            :value="group.groupId">
          </el-option>
        </el-select>
        <!-- <el-input v-model="dataForm.groupName" placeholder="グループ名"></el-input> -->
      </el-form-item> 
   
      <el-form-item label="メールアドレス" prop="email">
        <el-input v-model="dataForm.email" placeholder="メールアドレス" maxlength="100" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="連絡・携帯" prop="mobile">
        <el-input v-model="dataForm.mobile" placeholder="連絡・携帯(例：08012345678)" maxlength="11" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="連絡・電話" prop="tel">
        <el-input v-model="dataForm.tel" placeholder="連絡・電話(例：0123456789)" maxlength="10" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="連絡・FAX" prop="fax">
        <el-input v-model="dataForm.fax" placeholder="連絡・FAX(例：0123456789)" maxlength="10" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="性別" prop="sex">
        <el-radio-group v-model="dataForm.sex">
          <el-radio :label="0">男性</el-radio>
          <el-radio :label="1">女性</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="部署名" prop="departName">
        <el-input v-model="dataForm.departName" placeholder="部署名" maxlength="100" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="職位名" prop="positionName">
        <el-input v-model="dataForm.positionName" placeholder="職位名" maxlength="100" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="状態" size="mini" prop="status">
        <el-radio-group v-model="dataForm.status" :disabled="(dataForm.userId === $store.state.user.id || loginGroupType ==='3') ? true : false">
          <el-radio :label="0">無効</el-radio>
          <el-radio :label="1">正常</el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { isEmail, isMobile, isKana, isFixedPhone, isFax, isHalfEnglishAndNumber } from '@/utils/validate'
  export default {
    data () {
      var validateEmail = (rule, value, callback) => {
        if (!isEmail(value)) {
          callback(new Error('メールアドレスフォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateMobile = (rule, value, callback) => {
        if (!isMobile(value) && value !== null && value !== '') {
          callback(new Error('連絡・携帯番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateKana = (rule, value, callback) => {
        if (!isKana(value)) {
          callback(new Error('全角カタカナで入力してください'))
        } else {
          callback()
        }
      }
      var validateFixedPhone = (rule, value, callback) => {
        if (!isFixedPhone(value) && value !== null && value !== '') {
          callback(new Error('連絡・電話番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var validateFax = (rule, value, callback) => {
        if (!isFax(value) && value !== null && value !== '') {
          callback(new Error('連絡・FAX番号フォーマットエラー'))
        } else {
          callback()
        }
      }
      var checkUserName = (rule, value, callback) => {
        if (!isHalfEnglishAndNumber(value)) {
          callback(new Error('半角英数字で入力してください'))
        } else {
          callback()
        }
      }
      return {
        visible: false,
        roleList: [],
        // allGroupList: [],
        normalGroupSelect: [],
        loginUserRoleId: 0,
        loginGroupType: '',
        proxyGroupSelect: [],
        dataForm: {
          userId: 0,
          userName: '',
          userNameKanji: '',
          userNameKana: '',
          normalGroupId: null,
          roleId: null,
          email: '',
          mobile: '',
          tel: '',
          fax: '',
          sex: 0,
          departName: '',
          positionName: '',
          status: 1,
          proxyGroupId: ''
        },
        groupId: '',
        dataRule: {
          userName: [
            { required: true, message: 'ユーザ名を入力してください', trigger: 'blur' },
            { validator: checkUserName, trigger: 'blur' }
          ],
          userNameKanji: [
            { required: true, message: 'ユーザー名（漢字）を入力してください', trigger: 'blur' }
          ],
          userNameKana: [
            { required: true, message: 'ユーザー名（カナ）を入力してください', trigger: 'blur' },
            { validator: validateKana, trigger: 'blur' }
          ],
          // userPassword: [
          //   { validator: validatePassword, trigger: 'blur' }
          // ],
          // comfirmPassword: [
          //   { validator: validateComfirmPassword, trigger: 'blur' }
          // ],
          roleId: [
            { required: true, message: 'ロールを選択してください', trigger: 'blur' }
          ],
          normalGroupId: [
            { required: true, message: '所属クラスを選択してください', trigger: 'blur' }
          ],
          email: [
            { required: true, message: 'メールアドレスを入力してください', trigger: 'blur' },
            { validator: validateEmail, trigger: 'blur' }
          ],
          mobile: [
            // { required: true, message: '連絡・携帯を入力してください', trigger: 'blur' },
            { validator: validateMobile, trigger: 'blur' }
          ],
          tel: [
            // { required: true, message: '連絡・電話を入力してください', trigger: 'blur' },
            { validator: validateFixedPhone, trigger: 'blur' }
          ],
          fax: [
            // { required: true, message: '連絡・FAXを入力してください', trigger: 'blur' },
            { validator: validateFax, trigger: 'blur' }
          ],
          sex: [
            { required: true, message: '性別を選択してください', trigger: 'blur' }
          ],
          // departName: [
          //   { required: true, message: '部署名を入力してください', trigger: 'blur' }
          // ],
          // positionName: [
          //   { required: true, message: '職位名を入力してください', trigger: 'blur' }
          // ],
          status: [
            { required: true, message: '状態を選択してください', trigger: 'blur' }
          ],
          proxyGroupId: [
            { required: true, message: '所属ご契約者様を選択してください', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      // groupFilter (val) {
      //   if (val) {
      //     let arr = this.groupList.filter((item) => {
      //       return item.groupName.includes(val)
      //     })
      //     if (arr.length > 50) {
      //       this.groupList = arr.slice(0, 50)
      //     } else {
      //       this.groupList = arr
      //     }
      //   }
      // },
      roleChange () {
        this.dataForm.proxyGroupId = ''
        this.dataForm.normalGroupId = ''
      },
      proxyGroupChange () {
        this.dataForm.normalGroupId = ''
        this.$http({
          url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
          method: 'get',
          params: this.$http.adornParams({
            'proxyGroupId': this.dataForm.proxyGroupId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.normalGroupSelect = data.list
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      // groupChange (groupId) {
      //   this.dataForm.roleId = null
      //   this.$http({
      //     url: this.$http.adornUrl(`/service/usergroup/groupType`),
      //     method: 'get',
      //     params: this.$http.adornParams({
      //       'groupId': groupId
      //     })
      //   }).then(({data}) => {
      //     if (data && data.code === 0) {
      //       this.roleListData(data.groupType)
      //     } else {
      //       this.$message.error(data.msg)
      //     }
      //   })
      // },
      roleListData (groupType) {
        this.roleList = []
        // if (this.dataForm.roleId === 1) {
        //   this.roleList.push({ roleId: 1, roleName: '事務局システム管理者' })
        // } else {
        if (groupType === '1') {
          this.roleList.push({ roleId: 2, roleName: '事務局管理者' })
          this.roleList.push({ roleId: 4, roleName: 'ご契約者様管理者' })
          this.roleList.push({ roleId: 6, roleName: 'クラス管理者' })
          // this.roleList.push({ roleId: 3, roleName: '事務局担当者' })
        } else if (groupType === '2') {
          if (this.dataForm.userId !== 0) {
            this.roleList.push({ roleId: 4, roleName: 'ご契約者様管理者' })
            this.roleList.push({ roleId: 6, roleName: 'クラス管理者' })
          } else {
            this.roleList.push({ roleId: 6, roleName: 'クラス管理者' })
            this.dataForm.roleId = 6
            this.dataForm.proxyGroupId = this.$store.state.user.loginGroupId
            this.$http({
              url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
              method: 'get',
              params: this.$http.adornParams({
                'proxyGroupId': this.$store.state.user.loginGroupId
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.normalGroupSelect = data.list
              } else {
                this.$message.error(data.msg)
              }
            })
          }
          // this.roleList.push({ roleId: 5, roleName: 'ご契約者様担当者' })
        } else if (groupType === '3') {
          this.roleList.push({ roleId: 6, roleName: 'クラス管理者' })
          this.dataForm.roleId = 6
          // this.roleList.push({ roleId: 7, roleName: 'クラス担当者' })
        }
        // }
      },
      init (userId) {
        // this.$http({
        //   url: this.$http.adornUrl(`/service/usergroup/loginUserRole`),
        //   method: 'get',
        //   params: this.$http.adornParams()
        // }).then(({data}) => {
        //   if (data && data.code === 0) {
        //     this.loginUserRoleId = data.loginUserRoleId
        //   }
        // })
        this.visible = true
        this.groupList = []
        this.roleList = []
        this.dataForm.userId = userId || 0
        this.loginGroupType = this.$store.state.user.loginGroupType
        this.roleListData(this.loginGroupType)
        this.$http({
          url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.proxyGroupSelect = data.list
          } else {
            this.$message.error(data.msg)
          }
        })
        // this.$http({
        //   url: this.$http.adornUrl('/service/usergroup/selectDrop'),
        //   method: 'get',
        //   params: this.$http.adornParams()
        // }).then(({data}) => {
        //   this.groupList = data && data.code === 0 ? data.list : []
        // }).then(() => {
        //   this.visible = true
        //   this.$nextTick(() => {
        //     this.$refs['dataForm'].resetFields()
        //   })
        // }).then(() => {
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.userId) {
            this.$http({
              url: this.$http.adornUrl(`/sys/user/info/${this.dataForm.userId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.userName = data.user.userName
                this.dataForm.userNameKanji = data.user.userNameKanji
                this.dataForm.userNameKana = data.user.userNameKana
                this.dataForm.groupId = data.user.groupId
                this.dataForm.roleId = data.user.roleId
                this.dataForm.email = data.user.email
                this.dataForm.mobile = data.user.mobile
                this.dataForm.tel = data.user.tel
                this.dataForm.fax = data.user.fax
                this.dataForm.sex = data.user.sex
                this.dataForm.departName = data.user.departName
                this.dataForm.positionName = data.user.positionName
                this.dataForm.userName = data.user.userName
                this.dataForm.status = data.user.status

                if (data.user.roleId === 4) {
                  this.dataForm.proxyGroupId = data.user.groupId
                } else if (data.user.roleId === 6) {
                  this.$http({
                    url: this.$http.adornUrl(`/service/usergroup/selectDrop`),
                    method: 'get',
                    params: this.$http.adornParams({
                      'proxyGroupId': data.user.groupIdOf
                    })
                  }).then(({data}) => {
                    if (data && data.code === 0) {
                      this.normalGroupSelect = data.list
                    } else {
                      this.$message.error(data.msg)
                    }
                  })
                  this.dataForm.proxyGroupId = data.user.groupIdOf
                  this.dataForm.normalGroupId = data.user.groupId
                }
                // this.dataForm.createUserId = data.user.createUserId
                // this.dataForm.createTime = data.user.createTime
                // this.dataForm.updateUserId = data.user.updateUserId
                // this.dataForm.updateTime = data.user.updateTime
                // this.groupList.push({ 'groupId': data.user.groupId, 'groupName': data.user.groupName })
                // this.roleListData(data.user.groupType)
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        if (this.dataForm.roleId === 2) {
          this.groupId = 1
        } else if (this.dataForm.roleId === 4) {
          this.groupId = this.dataForm.proxyGroupId
        } else if (this.dataForm.roleId === 6) {
          this.groupId = this.dataForm.normalGroupId
        }
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/sys/user/${!this.dataForm.userId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'userId': this.dataForm.userId || undefined,
                'userName': this.dataForm.userName,
                'userNameKanji': this.dataForm.userNameKanji,
                'userNameKana': this.dataForm.userNameKana,
                'groupId': this.groupId,
                'roleId': this.dataForm.roleId,
                // 'userPassword': this.dataForm.userPassword,
                // 'salt': this.dataForm.userSalt,
                'email': this.dataForm.email,
                'mobile': this.dataForm.mobile,
                'tel': this.dataForm.tel,
                'fax': this.dataForm.fax,
                'sex': this.dataForm.sex,
                'departName': this.dataForm.departName,
                'positionName': this.dataForm.positionName,
                'status': this.dataForm.status
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
