<template>
  <div class="mod-user">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item label="グループ名：">
        <el-input v-model="dataForm.groupName" placeholder="グループ名" clearable></el-input>
      </el-form-item>
      <el-form-item label="ユーザ名：">
        <el-input v-model="dataForm.userName" placeholder="ユーザ名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-button v-if="isAuth('sys:user:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button>
        <el-button v-if="isAuth('sys:user:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
      <el-form-item>
        <el-button v-if="isAuth('sys:user:export')" type="primary" @click="exportCsv()">CSVエクスポート</el-button>
        <el-button v-if="isAuth('sys:user:import')" type="primary" @click="openCsvDialog()">CSVインポート</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        width="80"
        label="ID">
      </el-table-column>
      <el-table-column
        prop="userName"
        header-align="center"
        align="center"
        label="ユーザ名">
      </el-table-column>
      <el-table-column
        prop="groupName"
        header-align="center"
        align="center"
        label="グループ名">
      </el-table-column>
      <el-table-column
        prop="groupNameOf"
        header-align="center"
        align="center"
        label="所属先">
      </el-table-column>
      <el-table-column
        prop="roleName"
        header-align="center"
        align="center"
        label="ロール名">
      </el-table-column>
      <el-table-column
        prop="email"
        header-align="center"
        align="center"
        label="メールアドレス">
      </el-table-column>
      <!-- <el-table-column
        prop="mobile"
        header-align="center"
        align="center"
        label="連絡・携帯">
      </el-table-column> -->
      <el-table-column
        prop="status"
        header-align="center"
        align="center"
        label="状態">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 0" size="small" type="danger">無効</el-tag>
          <el-tag v-else size="small">正常</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        width="180"
        label="新規時間">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="userDetailHandle(scope.row.userId)">詳細</el-button>
          <el-button v-if="isAuth('sys:user:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.userId)">変更</el-button>
          <el-button v-if="isAuth('sys:user:delete') && scope.row.userId !== $store.state.user.id" type="text" size="small" @click="deleteHandle(scope.row.userId)">削除</el-button>
          <el-button v-if="loginGroupType ==='1' && scope.row.userId !== $store.state.user.id" type="text" size="small" @click="resetPasswordHandle(scope.row.userId)">リセットパスワード</el-button>       
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <user-detail v-if="userDetailVisible" ref="userDetail"></user-detail>
    <csv-upload :show.sync="csvUploadVisible" ref="csvUpload" @refreshDataList="getDataList"></csv-upload>

 </div>
</template>

<script>
  import AddOrUpdate from './user-add-or-update'
  import UserDetail from './user-detail'
  import Papa from 'papaparse'
  import CsvUpload from './user-csv-upload'
  import encoding from 'encoding-japanese'
  export default {
    data () {
      return {
        dataForm: {
          userName: '',
          groupName: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        userDetailVisible: false,
        csvUploadVisible: false,
        loginGroupId: '',
        loginGroupType: '',
        csvTitle: [
          '運用者ID',
          '運用者ユーザー名',
          'ユーザー名（漢字）',
          'ユーザー名（カナ）',
          'ロールID',
          'ロール名',
          'グループID',
          'グループ名',
          '所属先ID',
          '所属先',
          'メール',
          '連絡・携帯',
          '連絡・電話',
          '連絡・FAX',
          '性別',
          '部署名',
          '職位名',
          '状態']
      }
    },
    components: {
      AddOrUpdate,
      UserDetail,
      CsvUpload
    },
    created () {
      this.loginGroupType = this.$store.state.user.loginGroupType
      this.$http({
        url: this.$http.adornUrl(`/service/usergroup/groupId`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({data}) => {
        if (data && data.code === 0) {
          this.loginGroupId = data.groupId
        } else {
          this.$message.error(data.msg)
        }
      })
    },
    // activated () {
    //   this.getDataList()
    // },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/sys/user/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'groupName': this.dataForm.groupName,
            'userName': this.dataForm.userName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // getDataList1 () {
      //   this.dataListLoading = true
      //   this.$http({
      //     url: this.$http.adornUrl('/sys/user/list'),
      //     method: 'get',
      //     params: this.$http.adornParams({
      //       'groupName': this.dataForm.groupName,
      //       'userName': this.dataForm.userName
      //     })
      //   }).then(({data}) => {
      //     if (data && data.code === 0) {
      //       this.dataList = data.page.list
      //       this.totalPage = data.page.totalCount
      //     } else {
      //       this.dataList = []
      //       this.totalPage = 0
      //     }
      //     this.dataListLoading = false
      //   })
      // },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 新增 / 修改
      addOrUpdateHandle (id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(id)
        })
      },
      userDetailHandle (id) {
        this.userDetailVisible = true
        this.$nextTick(() => {
          this.$refs.userDetail.init(id)
        })
      },
      // 删除
      deleteHandle (id) {
        var userIds = id ? [id] : this.dataListSelections.map(item => {
          return item.userId
        })
        this.$confirm(`[id=${userIds.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/sys/user/delete'),
            method: 'post',
            data: this.$http.adornData(userIds, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {})
      },
      resetPasswordHandle (id) {
        this.$confirm(`[id=${id}]パスワードをリセットしますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/sys/user/resetPassword'),
            method: 'post',
            data: this.$http.adornData(id, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {})
      },
      exportCsv () {
        this.$http({
          url: this.$http.adornUrl('/sys/user/export'),
          method: 'get',
          params: this.$http.adornParams({
            'groupName': this.dataForm.groupName,
            'userName': this.dataForm.userName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            if (data.sysUserList.length > 0) {
              this.$options.methods.csvFormat(data.sysUserList, this.csvTitle)
            } else {
              this.$message.warning('現在の検索条件にはデータがありません！')
            }
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      csvFormat (csvData, csvTitle) {
        var csv = Papa.unparse(csvData)
        var csvStringData = Papa.parse(csv)
        csvStringData.data.shift()
        csvStringData.data.unshift(csvTitle)
        var csvFileData = Papa.unparse(csvStringData.data)
        const strArray = encoding.stringToCode(csvFileData)
        const convertedArray = encoding.convert(strArray, 'SJIS', 'UNICODE')
        const UintArray = new Uint8Array(convertedArray)
        // 定义文件内容，类型必须为Blob 否则createObjectURL会报错
        let content = new Blob([UintArray])
        // 生成url对象
        let urlObject = window.URL || window.webkitURL || window
        let url = urlObject.createObjectURL(content)
        // 生成<a></a>DOM元素
        let el = document.createElement('a')
        // 链接赋值
        el.href = url
        el.download = '運用者ユーザーエクスポートファイル.csv'
        // 必须点击否则不会下载
        el.click()
        // 移除链接释放资源
        urlObject.revokeObjectURL(url)
      },
      openCsvDialog () {
        this.csvUploadVisible = true
      }
    }
  }
</script>
