<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="180px">
      <el-form-item label="ユーザー名:" prop="userName">
        {{dataForm.userName}}
        <!-- <el-input v-model="dataForm.userName" placeholder="ユーザ名"></el-input> -->
      </el-form-item>
      <el-form-item label="ユーザー名（漢字）:" prop="userNameKanji">
        {{dataForm.userNameKanji}}
        <!-- <el-input v-model="dataForm.userNameKanji" placeholder="ユーザ名"></el-input> -->
      </el-form-item>
      <el-form-item label="ユーザー名（カナ）:" prop="userNameKana">
        {{dataForm.userNameKana}}
        <!-- <el-input v-model="dataForm.userNameKana" placeholder="ユーザー名（カナ）"></el-input> -->
      </el-form-item> 
      <el-form-item label="グループ名:" prop="groupName">
        {{dataForm.groupName}}
      </el-form-item>
      <el-form-item label="所属先:" prop="groupNameOf">
        <div class="detail-div-line" >{{dataForm.groupNameOf}}</div>
      </el-form-item>
      <el-form-item label="ロール名:" prop="roleName">
        {{dataForm.roleName}}
      </el-form-item>      
      <el-form-item label="メールアドレス:" prop="email">
        {{dataForm.email}}
      </el-form-item>
      <el-form-item label="連絡・携帯:" prop="mobile">
        {{dataForm.mobile}}
      </el-form-item>
      <el-form-item label="連絡・電話:" prop="tel">
        {{dataForm.tel}}
      </el-form-item>
      <el-form-item label="連絡・FAX:" prop="fax">
        {{dataForm.fax}}
      </el-form-item>
      <el-form-item label="性別:" prop="sex">
        <el-tag v-if="dataForm.sex === 0" size="small" type="primary">男性</el-tag>
        <el-tag v-if="dataForm.sex === 1" size="small" type="primary">女性</el-tag>  
      </el-form-item>
      <el-form-item label="部署名:" prop="departName">
        {{dataForm.departName}}
      </el-form-item>
      <el-form-item label="職位名:" prop="positionName">
        {{dataForm.positionName}}
      </el-form-item>
      <el-form-item label="状態:" size="mini" prop="status">
        <el-tag v-if="dataForm.status === 0" size="small" type="primary">無効</el-tag>
        <el-tag v-if="dataForm.status === 1" size="small" type="primary">正常</el-tag>  
      </el-form-item>
      <!-- <el-form-item label="作成者:" prop="createUserId">
          {{dataForm.createUserId}}
      </el-form-item> -->
      <el-form-item label="作成日時:" prop="createTime">
          {{dataForm.createTime}}
      </el-form-item>
      <!-- <el-form-item label="更新者:" prop="updateUserId">
          {{dataForm.updateUserId}}
      </el-form-item>
      <el-form-item label="更新日時:" prop="updateTime">
          {{dataForm.updateTime}}
      </el-form-item> -->
    </el-form>
    
    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        roleList: [],
        dataForm: {
          userId: 0,
          userName: '',
          userNameKanji: '',
          userNameKana: '',
          groupName: '',
          roleName: '',
          email: '',
          mobile: '',
          tel: '',
          fax: '',
          sex: 0,
          departName: '',
          positionName: '',
          status: 1,
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: '',
          groupNameOf: ''
        }
      }
    },
    methods: {
      init (userId) {
        this.dataForm.userId = userId
        this.visible = true
        this.$nextTick(() => {
          if (this.dataForm.userId) {
            this.$http({
              url: this.$http.adornUrl(`/sys/user/info/${this.dataForm.userId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.userName = data.user.userName
                this.dataForm.userNameKanji = data.user.userNameKanji
                this.dataForm.userNameKana = data.user.userNameKana
                this.dataForm.groupName = data.user.groupName
                this.dataForm.roleName = data.user.roleName
                this.dataForm.email = data.user.email
                this.dataForm.mobile = data.user.mobile
                this.dataForm.tel = data.user.tel
                this.dataForm.fax = data.user.fax
                this.dataForm.sex = data.user.sex
                this.dataForm.departName = data.user.departName
                this.dataForm.positionName = data.user.positionName
                this.dataForm.userName = data.user.userName
                this.dataForm.status = data.user.status
                this.dataForm.createUserId = data.user.createUserId
                this.dataForm.createTime = data.user.createTime
                this.dataForm.updateUserId = data.user.updateUserId
                this.dataForm.updateTime = data.user.updateTime
                this.dataForm.groupNameOf = data.user.groupNameOf
              }
            })
          }
        })
      }
    }
  }
</script>
