<template>
  <el-dialog
    title="CSVファイルインポート"
    :close-on-click-modal="false"
    :visible.sync="visible"
    @close="$emit('update:show', false);visible = false"
    v-if="visible">
      <div>
        <el-form ref="file" label-width="120px">
          <el-form-item label="CSVインポートト：">
            <el-upload
                    class="upload-demo"
                    ref="upload"
                    drag
                    accept=".csv"
                    action=""
                    :multiple="false"
                    :limit="1"
                    :on-change="handleChange"
                    :auto-upload="false">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">ドロップして<em>アップロード</em></div>
                    <div class="el-upload__tip" slot="tip">CSVファイルのみ</div>
            </el-upload>
          </el-form-item>
        </el-form>
      </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="$emit('update:show', false)">キャンセル</el-button>
      <el-button type="primary" @click="importCsv" :disabled="!uploadFile">インポート</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import Papa from 'papaparse'
  export default {
    data () {
      return {
        visible: this.show,
        uploadFile: null
      }
    },
    props: {
      show: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      show () {
        this.visible = this.show
      }
    },
    methods: {
      handleChange (file) {
        this.uploadFile = file
      },
      importCsv () {
        let selectedFile = null
        let csvJson
        selectedFile = this.uploadFile.raw
        if (selectedFile === undefined) {
          return
        }
        var reader = new FileReader()
        reader.readAsDataURL(selectedFile)
        reader.onload = evt => {
          // 检查编码
          // let encoding = this.checkEncoding(evt.target.result);
          // 将csv转换成二维数组
          Papa.parse(selectedFile, {
            encoding: 'SJIS',
            complete: res => {
              // UTF8 \r\n与\n混用时有可能会出问题
              let csvData = res.data
              // if (csvData[csvData.length - 1]) {
              //   // 去除最后的空行
              //   csvData.pop()
              // }
              csvJson = JSON.stringify(csvData)
              this.$http({
                url: this.$http.adornUrl(`/sys/user/import`),
                method: 'post',
                data: this.$http.adornData({
                  csvJson
                })
              }).then(({data}) => {
                if (data && data.code === 0) {
                  this.$message({
                    message: '成功しました。',
                    type: 'success',
                    duration: 1500,
                    onClose: () => {
                      this.visible = false
                      this.$emit('refreshDataList')
                    }
                  })
                } else {
                  this.$message.error(data.msg)
                }
              })
            }
          })
        }
      }
    }
  }
</script>
