<template>
  <div class="app-container">
    <el-form :model="form" ref="form" label-width="130px" v-loading="formLoading" :rules="rules">
      <el-form-item label="講座名:" prop="courseTitle">
        {{form.courseTitle}}
      </el-form-item>
      <el-form-item label="教科名:" prop="subjectTitle">
        {{form.subjectTitle}}
      </el-form-item>
      <el-form-item label="単元名:" prop="unitName">
        {{form.unitName}}
      </el-form-item>
      <el-form-item label="単元テスト名:" prop="testTitle">
        {{form.testTitle}}
      </el-form-item>      
      <el-form-item label="問題名:" prop="questionTitle">
        <el-input v-model="form.questionTitle" maxlength="50" show-word-limit type="textarea" autosize disabled/>
      </el-form-item>
      <el-form-item label="固定フラグ:" prop="fixFlag">
        <el-radio-group v-model="form.fixFlag" disabled>
          <el-radio label="0">固定</el-radio>
          <el-radio label="1">固定しない</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="問題文:" prop="questionContent">
        <el-input type="textarea" v-model="form.questionContent" @change="questionItemReset($event)" autosize maxlength="1000" show-word-limit disabled/>
      </el-form-item>
      <el-form-item label="表示画像URL:" prop="imageCatalogPath">
        <el-input type="textarea" v-model="form.imageCatalogPath" autosize maxlength="100" show-word-limit disabled/>
      </el-form-item>
      <el-form-item label="標準解答:" required>
        <el-form-item :v-if="item.flag!=='delete'" :label="item.prefix" :key="item.prefix"  v-for="(item,index) in form.items"  :prop="'items.' + index + '.content'" :rules="{
      required: true, message: '解答'+item.prefix+'を入力してください', trigger: 'blur'}" label-width="50px" class="question-item-label">
          <!-- <el-input v-model="item.prefix"  style="width:50px;" /> -->
          <el-input v-model="item.content" class="question-item-content-input" maxlength="1000" show-word-limit type="textarea" autosize disabled/>
           <!-- <el-button type="danger" size="mini" class="question-item-remove" icon="el-icon-delete" @click="questionItemRemove(index)"></el-button> -->
        </el-form-item>
      </el-form-item>
      <!-- <el-form-item label="標準解答:" prop="standardAnswers" >
        <el-checkbox-group v-model="form.standardAnswers">
          <el-checkbox v-for="item in form.items"  :key="item.prefix"  :label="item.prefix">{{item.prefix}}</el-checkbox>
        </el-checkbox-group>
      </el-form-item> -->
      <!-- <el-form-item label="問題文:" prop="questionContent">
        <el-input type="textarea" v-model="form.questionContent" />
      </el-form-item> -->
      <el-form-item label="解説文:" prop="questionExplanation" >
        <el-input type="textarea" v-model="form.questionExplanation" autosize maxlength="1000" show-word-limit disabled/>
      </el-form-item>
      <el-form-item label="備考:" prop="questionRemarks">
        <el-input type="textarea" v-model="form.questionRemarks" autosize maxlength="1000" show-word-limit disabled/>
      </el-form-item>
      <el-form-item label="問題ステータス:" prop="questionStatus">
      <el-radio-group v-model="form.questionStatus" disabled>
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
      <!-- <el-input v-model="dataForm.testStatus" placeholder="テストステータス"></el-input> -->
    </el-form-item>
      <!-- <el-form-item label="標準解答:" prop="standardAnswers" required>
        <el-radio-group v-model="form.standardAnswers">
          <el-radio  v-for="item in form.items"  :key="item.prefix"  :label="item.prefix">{{item.prefix}}</el-radio>
        </el-radio-group>
      </el-form-item> -->
      <!-- <el-form-item>
        <el-button type="primary" @click="submitForm">確定</el-button>
      </el-form-item> -->
    </el-form>
  </div>
</template>

<script>
export default {
  data () {
    var validateQuestionContent = (rule, value, callback) => {
      let testValue = value.replace(/\s*/g, '')
      if (!/（）/.test(testValue)) {
        callback(new Error('問題文（）を入力してください'))
      } else {
        callback()
      }
    }
    return {
      form: {
        testQuestionsId: null,
        questionTitle: '',
        fixFlag: '1',
        questionContent: '',
        questionExplanation: '',
        questionRemarks: '',
        // items: [
        //   { testQuestionsChoicesId: '', prefix: '1', content: '' },
        //   { testQuestionsChoicesId: '', prefix: '2', content: '' },
        //   { testQuestionsChoicesId: '', prefix: '3', content: '' },
        //   { testQuestionsChoicesId: '', prefix: '4', content: '' }
        // ],
        items: [],
        questionStatus: '0',
        standardAnswers: [],
        courseId: '',
        courseTitle: '',
        subjectId: '',
        subjectName: '',
        unitId: '',
        unitName: '',
        unitTestId: '',
        testTitle: '',
        imageCatalogPath: ''
      },
      formLoading: false,
      rules: {
        questionTitle: [
          { required: true, message: '問題名を入力してください', trigger: 'blur' }
        ],
        fixFlag: [
          { required: true, message: '固定フラグを選択してください', trigger: 'blur' }
        ],
        questionContent: [
          { required: true, message: '問題文を入力してください', trigger: 'blur' },
          { validator: validateQuestionContent, trigger: 'blur' }
        ],
        questionExplanation: [
          { required: true, message: '解説文を入力してください', trigger: 'blur' }
        ],
        // questionRemarks: [
        //   { required: true, message: '備考を入力してください', trigger: 'blur' }
        // ],
        questionStatus: [
          { required: true, message: '問題ステータスを選択してください', trigger: 'blur' }
        ],
        standardAnswers: [
          { required: true, message: '標準解答を選択してください', trigger: 'change' }
        ],
        items: [
          { required: true, message: '選択肢を入力してください', trigger: 'blur' }
        ]
      },
      richEditor: {
        dialogVisible: false,
        object: null,
        parameterName: '',
        instance: null
      }
    }
  },
  activated () {
    this.form.courseId = this.$route.query.courseId
    this.form.courseTitle = this.$route.query.courseTitle
    this.form.subjectId = this.$route.query.subjectId
    this.form.subjectTitle = this.$route.query.subjectTitle
    this.form.unitId = this.$route.query.unitId
    this.form.unitName = this.$route.query.unitName
    this.form.unitTestId = this.$route.query.unitTestId
    this.form.testTitle = this.$route.query.testTitle
    this.form.testQuestionsId = this.$route.query.testQuestionsId
    this.form.items = []
    this.getData()
  },
  watch: {
    'form.testQuestionsId' () {
      let query = this.$route.query
      this.$store.commit('common/updateMainTabsQuery', query)
    }
  },
  methods: {
    getData () {
      if (this.form.testQuestionsId) {
        this.$http({
          url: this.$http.adornUrl(`/service/testquestions/info/${this.form.testQuestionsId}`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.form.questionTitle = data.testQuestions.questionTitle
            this.form.fixFlag = data.testQuestions.fixFlag
            this.form.questionContent = data.testQuestions.questionContent
            this.form.questionExplanation = data.testQuestions.questionExplanation
            this.form.questionRemarks = data.testQuestions.questionRemarks
            this.form.questionStatus = data.testQuestions.questionStatus
            this.form.imageCatalogPath = data.testQuestions.imageCatalogPath
            // this.form.standardAnswers = data.testQuestions.standardAnswers.split(',')
            let standardAnswers = data.testQuestions.standardAnswers.split(',')
            standardAnswers.forEach((item, i) => {
              this.form.items.push({ prefix: (i + 1) + '', content: item })
            })
          }
        })
      }
    },
    questionItemReset (e) {
      // console.log(e.target.value)
      let spanRegex = new RegExp('（）', 'g')
      // let _this = this
      let newFormItem = []
      let gapfillingItems = this.form.questionContent.replace(/\s*/g, '').match(spanRegex)
      if (gapfillingItems === null) {
        return false
      }
      gapfillingItems.forEach(function (span, index) {
        let pairRegex = /（）/
        pairRegex.test(span)
        newFormItem.push({ prefix: (index + 1) + '', content: '' })
      })

      // newFormItem.forEach(function (item) {
      //   _this.form.items.some((oldItem, index) => {
      //     if (oldItem.prefix === item.prefix) {
      //       item.content = oldItem.content
      //       item.prefix = oldItem.prefix
      //       return true
      //     }
      //   })
      // })
      this.form.items = newFormItem
      // console.log(this.form.item)
      return true
    },
    // questionItemRemove (index) {
    //   // this.form.standardAnswers = []
    //   let prefixValue = this.form.items[index].prefix
    //   this.form.items.splice(index, 1)
    //   this.form.standardAnswers.forEach((item, i) => {
    //     if (prefixValue === item) {
    //       this.form.standardAnswers.splice(i, 1)
    //     }
    //   })
    // },
    // questionItemAdd () {
    //   let items = this.form.items
    //   if (items.length !== 0) {
    //     let last = items[items.length - 1]
    //     // let newLastPrefix = String.fromCharCode(last.prefix.charCodeAt() + 1)
    //     let newLastPrefix = (parseInt(last.prefix) + 1).toString()
    //     items.push({ testQuestionsChoicesId: '', prefix: newLastPrefix, content: '' })
    //   } else {
    //     items.push({ testQuestionsChoicesId: '', prefix: '1', content: '' })
    //   }
    // },
    submitForm () {
      let standardAnswersStr = ''
      this.form.items.forEach((item, i) => {
        standardAnswersStr = standardAnswersStr + item.content + ','
      })
      standardAnswersStr = standardAnswersStr.substring(0, standardAnswersStr.length - 1)
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.$http({
            url: this.$http.adornUrl(`/service/testquestions/${!this.form.testQuestionsId ? 'save' : 'update'}`),
            method: 'post',
            data: this.$http.adornData({
              'testQuestionsId': this.form.testQuestionsId || undefined,
              'courseId': this.form.courseId,
              'subjectId': this.form.subjectId,
              'unitId': this.form.unitId,
              'unitTestId': this.form.unitTestId,
              'questionTitle': this.form.questionTitle,
              'fixFlag': this.form.fixFlag,
              'questionType': '3',
              'imageCatalogPath': this.form.imageCatalogPath,
              // 'imageCatalogS3BucketName': this.form.imageCatalogS3BucketName,
              // 'imageCatalogS3ObjectKey': this.form.imageCatalogS3ObjectKey,
              'questionContent': this.form.questionContent,
              'questionExplanation': this.form.questionExplanation,
              'questionRemarks': this.form.questionRemarks,
              'questionStatus': this.form.questionStatus,
              'standardAnswers': standardAnswersStr
              // 'items': this.form.items
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success'
              })
              let mainTabs = this.$store.state.common.mainTabs.slice()
              let mainTabsActiveName = this.$store.state.common.mainTabsActiveName.slice()
              mainTabs = mainTabs.filter(item => item.name !== mainTabsActiveName)
              this.$store.commit('common/updateMainTabs', mainTabs)
              this.$router.push(
                {
                  path: '/modules/service/testquestions/testquestions',
                  query:
                  {
                    courseId: this.form.courseId,
                    courseTitle: this.form.courseTitle,
                    subjectId: this.form.subjectId,
                    subjectTitle: this.form.subjectTitle,
                    unitId: this.form.unitId,
                    unitName: this.form.unitName,
                    unitTestId: this.form.unitTestId,
                    testTitle: this.form.testTitle
                  }
                })
            } else {
              this.$message.error(data.msg)
            }
          })
        }
      })
    },
    resetForm () {
      this.$refs['form'].resetFields()
    }
  }
}
</script>
