<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" >
      <el-form-item label="講座名:" prop="courseTitle">
        {{dataForm.courseTitle}}
        <!-- <el-input v-model="dataForm.courseTitle" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item label="教科名:" prop="subjectTitle">
        {{dataForm.subjectTitle}}
        <!-- <el-input v-model="dataForm.subjectTitle" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item label="単元名:" prop="unitName">
        {{dataForm.unitName}}
        <!-- <el-input v-model="dataForm.unitName" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item label="単元テスト名:" prop="testTitle">
        {{dataForm.testTitle}}
        <!-- <el-input v-model="dataForm.unitName" :disabled="true" ></el-input> -->
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.questionTitle" placeholder="問題名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="dataForm.questionType" clearable placeholder="出題形式">
          <el-option
            v-for="item in editUrlEnum"
            :key="item.key"
            :label="item.name"
            :value="item.key">
          </el-option>
        </el-select>
      </el-form-item>
      
      <el-form-item>
        <el-button @click="getDataListSearch()">検索</el-button>
        <el-popover placement="bottom" trigger="click">
          <el-button type="warning" size="mini" v-for="item in editUrlEnum" :key="item.key"
                     @click="routerJumpQuestion(item)">{{item.name}}
          </el-button>
          <el-button v-if="isAuth('service:testquestions:save')" slot="reference" type="primary" class="link-left">追加</el-button>
        </el-popover>
        <!-- <el-button v-if="isAuth('service:testquestions:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button> -->
        <el-button v-if="isAuth('service:testquestions:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column
        prop="testQuestionsId"
        header-align="center"
        align="center"
        label="テスト問題ID">
      </el-table-column>
      <!-- <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID">
      </el-table-column>
      <el-table-column
        prop="subjectId"
        header-align="center"
        align="center"
        label="教科ID">
      </el-table-column>
      <el-table-column
        prop="unitId"
        header-align="center"
        align="center"
        label="単元ID">
      </el-table-column>
      <el-table-column
        prop="unitTestId"
        header-align="center"
        align="center"
        label="単元テストID">
      </el-table-column> -->
      <el-table-column
        prop="questionTitle"
        header-align="center"
        align="center"
        label="問題名">
      </el-table-column>
      <el-table-column
        prop="fixFlag"
        header-align="center"
        align="center"
        label="固定フラグ">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.fixFlag === '0'" size="small">固定</el-tag>
          <el-tag v-if="scope.row.fixFlag === '1'" size="small">固定しない</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="questionType"
        header-align="center"
        align="center"
        label="出題形式">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.questionType === '0'" size="small">択一</el-tag>
          <el-tag v-if="scope.row.questionType === '1'" size="small">複数回答</el-tag>
          <el-tag v-if="scope.row.questionType === '2'" size="small">順序一致</el-tag>
          <el-tag v-if="scope.row.questionType === '3'" size="small">記述</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="imageCatalogPath"
        header-align="center"
        align="center"
        label="イメージカタログ画像PATH">
      </el-table-column>
      <el-table-column
        prop="imageCatalogS3BucketName"
        header-align="center"
        align="center"
        label="イメージカタログ画像AWS S3 BUCKET名">
      </el-table-column>
      <el-table-column
        prop="imageCatalogS3ObjectKey"
        header-align="center"
        align="center"
        label="イメージカタログ画像AWS S3 オブジェクトキー">
      </el-table-column> -->
      <!-- <el-table-column
        prop="questionContent"
        header-align="center"
        align="center"
        label="問題文">
      </el-table-column>
      <el-table-column
        prop="questionExplanation"
        header-align="center"
        align="center"
        label="解説文">
      </el-table-column> -->
      <!-- <el-table-column
        prop="questionRemarks"
        header-align="center"
        align="center"
        label="備考">
      </el-table-column> -->
      <el-table-column
        prop="questionStatus"
        header-align="center"
        align="center"
        label="問題ステータス">
       <template slot-scope="scope">
          <el-tag v-if="scope.row.questionStatus === '1'" size="small" type="danger">非公開</el-tag>
          <el-tag v-else size="small">公開</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column
        prop="openStartTime"
        header-align="center"
        align="center"
        label="公開開始日時">
      </el-table-column>
      <el-table-column
        prop="openEndTime"
        header-align="center"
        align="center"
        label="公開終了日時">
      </el-table-column>
      <el-table-column
        prop="choicesNumber"
        header-align="center"
        align="center"
        label="選択肢数">
      </el-table-column>
      <el-table-column
        prop="standardAnswers"
        header-align="center"
        align="center"
        label="標準解答">
      </el-table-column> -->
      <!-- <el-table-column
        prop="createUserId"
        header-align="center"
        align="center"
        label="作成者ID">
      </el-table-column> -->
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="作成日時"
        width="180px">
      </el-table-column>
      <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="detailHandle(scope.row)">詳細</el-button>
          <el-button v-if="isAuth('service:testquestions:update')" type="text" size="small" @click="updateHandle(scope.row)">変更</el-button>
          <el-button v-if="isAuth('service:testquestions:delete')" type="text" size="small" @click="deleteHandle(scope.row.testQuestionsId)">削除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update> -->
  </div>
</template>

<script>
  // import AddOrUpdate from './testquestions-add-or-update'
  export default {
    data () {
      return {
        dataForm: {
          courseId: '',
          courseTitle: '',
          subjectId: '',
          subjectName: '',
          unitId: '',
          unitName: '',
          unitTestId: '',
          testTitle: '',
          questionTitle: '',
          questionType: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        editUrlEnum: [{ key: '0', value: 'single-choice', name: '択一' },
        { key: '1', value: 'multiple-choice', name: '複数回答' },
        { key: '2', value: 'multiple-choice-order', name: '順序一致' },
        { key: '3', value: 'gap-filling', name: '記述' }],
        editDetailUrlEnum: [{ key: '0', value: 'single-choice-detail', name: '択一' },
        { key: '1', value: 'multiple-choice-detail', name: '複数回答' },
        { key: '2', value: 'multiple-choice-order-detail', name: '順序一致' },
        { key: '3', value: 'gap-filling-detail', name: '記述' }]

      }
    },
    // components: {
    //   AddOrUpdate
    // },
    activated () {
      this.dataForm.courseId = this.$route.query.courseId
      this.dataForm.courseTitle = this.$route.query.courseTitle
      this.dataForm.subjectId = this.$route.query.subjectId
      this.dataForm.subjectTitle = this.$route.query.subjectTitle
      this.dataForm.unitId = this.$route.query.unitId
      this.dataForm.unitName = this.$route.query.unitName
      this.dataForm.unitTestId = this.$route.query.unitTestId
      this.dataForm.testTitle = this.$route.query.testTitle
      this.getDataList()
    },
    watch: {
      'dataForm.unitTestId' () {
        let query = this.$route.query
        this.$store.commit('common/updateMainTabsQuery', query)
      }
    },
    methods: {
      getDataListSearch () {
        this.dataListLoading = true
        this.pageIndex = 1
        this.pageSize = 10
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/service/testquestions/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'unitTestId': this.dataForm.unitTestId,
            'questionTitle': this.dataForm.questionTitle,
            'questionType': this.dataForm.questionType
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // ページ数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      updateHandle (row) {
        this.editUrlEnum.forEach((item, i) => {
          if (row.questionType === item.key) {
            this.$router.push(
              {
                name: item.value,
                query:
                {
                  courseId: this.dataForm.courseId,
                  courseTitle: this.dataForm.courseTitle,
                  subjectId: this.dataForm.subjectId,
                  subjectTitle: this.dataForm.subjectTitle,
                  unitId: this.dataForm.unitId,
                  unitName: this.dataForm.unitName,
                  unitTestId: this.dataForm.unitTestId,
                  testTitle: this.dataForm.testTitle,
                  testQuestionsId: row.testQuestionsId
                }
              })
          }
        })
      },
      detailHandle (row) {
        this.editDetailUrlEnum.forEach((item, i) => {
          if (row.questionType === item.key) {
            this.$router.push(
              {
                name: item.value,
                query:
                {
                  courseId: this.dataForm.courseId,
                  courseTitle: this.dataForm.courseTitle,
                  subjectId: this.dataForm.subjectId,
                  subjectTitle: this.dataForm.subjectTitle,
                  unitId: this.dataForm.unitId,
                  unitName: this.dataForm.unitName,
                  unitTestId: this.dataForm.unitTestId,
                  testTitle: this.dataForm.testTitle,
                  testQuestionsId: row.testQuestionsId
                }
              })
          }
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.testQuestionsId
        })
        this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
          confirmButtonText: '確定',
          cancelButtonText: 'キャンセル',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/service/testquestions/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        })
      },
      routerJumpQuestion (item) {
        this.$router.push(
          {
            name: item.value,
            query:
            {
              courseId: this.dataForm.courseId,
              courseTitle: this.dataForm.courseTitle,
              subjectId: this.dataForm.subjectId,
              subjectTitle: this.dataForm.subjectTitle,
              unitId: this.dataForm.unitId,
              unitName: this.dataForm.unitName,
              unitTestId: this.dataForm.unitTestId,
              testTitle: this.dataForm.testTitle
            }
          })
      }
    }
  }
</script>
