@media (max-width: 767px) {
  .rowspan-td.bg {
    min-width:10px!important;
    max-width:25px;
  }
  .input-area {
    flex-direction: column;
    align-items: flex-start;
    label {
      margin-bottom: 16px;
    }
  }
}