main {
  width: 100%;
}

@media screen and (max-width: 767px) {

}

/* 装飾用 */

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}
header{
  padding: 30px 0;
  background: #333c5e;
  text-align:center;
  color:#FFF;
  font-size: 1.5rem;
  width: 100%;
}
footer{
  padding: 30px 0;
  background: #333c5e;
  text-align:center;
  color:#FFF;
  bottom: 0;
  width: 100%;
}
main{
  padding: 40px;
}

/* タイトル */
h1.terms {
  text-align:center;
  font-size: 1.5rem;
}

h2.terms {
  border-bottom: solid 3px black;
  font-size: 1.3rem;
}

/* カッコつき数字リスト */
.number{
  counter-reset:item;
  list-style:none;
  margin:0px;
}
.number li:before{
  content:"(" counters(item, "-") ")";
  counter-increment:item;
  margin-right:0.5em;
}
.number li{
  padding-left:1.5em;
  text-indent:-1.5em;
}