<template>
  <el-dialog
    :title="'詳細'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="180px">
    <el-form-item label="テスト名:" prop="testTitle">
      <div class="detail-div-line">{{dataForm.testTitle}}</div>
    </el-form-item>
    <el-form-item label="テスト概要:" prop="testOutline">
      <div class="detail-div-line">{{dataForm.testOutline}}</div> 
    </el-form-item>
    <el-form-item label="テスト説明:" prop="testDetail">
      <div class="detail-div-line">{{dataForm.testDetail}}</div> 
    </el-form-item>
    <el-form-item label="テストステータス:" prop="testStatus">
      <el-tag v-if="dataForm.testStatus === '0'" size="small" type="primary">公開</el-tag>          
      <el-tag v-if="dataForm.testStatus === '1'" size="small" type="danger">非公開</el-tag>  
    </el-form-item>
    <!-- <el-form-item label="公開開始日時:" prop="openOpenTime">
        {{dataForm.openOpenTime}}
    </el-form-item>
    <el-form-item label="公開終了日時:" prop="openEndTime">
        {{dataForm.openEndTime}}
    </el-form-item> -->
    <el-form-item label="テスト時間制限有無:" prop="testConditionFlag">
        <el-tag v-if="dataForm.testConditionFlag === '0'" size="small" type="primary">無</el-tag> 
        <el-tag v-if="dataForm.testConditionFlag === '1'" size="small" type="primary">有</el-tag>          
    </el-form-item>
    <el-form-item v-if="dataForm.testConditionFlag==='1'" label="テスト時間制限（分）:" prop="testConditionTime">
        {{dataForm.testConditionTime}}
    </el-form-item>
    <!-- <el-form-item label="テスト時間制限有無" prop="testConditionFlag">
      <el-input v-model="dataForm.testConditionFlag" placeholder="テスト時間制限有無"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="テスト時間制限（分）" prop="testConditionTime">
      <el-input v-model="dataForm.testConditionTime" placeholder="テスト時間制限（分）"></el-input>
    </el-form-item> -->
    <el-form-item label="テスト方式:" prop="testType">
      <el-tag v-if="dataForm.testType === '0'" size="small" type="primary">ランダム出題</el-tag>          
      <el-tag v-if="dataForm.testType === '1'" size="small" type="primary">固定出題</el-tag>      
    </el-form-item>
    <!-- <el-form-item label="合格設定有無" prop="passFlag">
      <el-input v-model="dataForm.passFlag" placeholder="合格設定有無"></el-input>
    </el-form-item> -->
    <el-form-item label="出題数:" prop="testQuestionsNum">
        {{dataForm.testQuestionsNum}}
    </el-form-item>
    <el-form-item label="合格題数:" prop="passQuestionsNum">
         {{dataForm.passQuestionsNum}}
    </el-form-item>
    <!-- <el-form-item label="合格率" prop="passQuestionsRate">
      <el-input v-model="dataForm.passQuestionsRate" placeholder="合格率"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="作成者:" prop="createUserId">
        {{dataForm.createUserId}}
    </el-form-item> -->
    <el-form-item label="作成日時:" prop="createTime">
        {{dataForm.createTime}}
    </el-form-item>
    <!-- <el-form-item label="更新者:" prop="updateUserId">
        {{dataForm.updateUserId}}
    </el-form-item>
    <el-form-item label="更新日時:" prop="updateTime">
        {{dataForm.updateTime}}
    </el-form-item> -->
    <!--<el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          unitTestId: 0,
          courseId: '',
          subjectId: '',
          unitId: '',
          testTitle: '',
          testOutline: '',
          testDetail: '',
          testStatus: '',
          openOpenTime: '',
          openEndTime: '',
          // testConditionFlag: '',
          // testConditionTime: '',
          testType: '',
          // passFlag: '',
          testQuestionsNum: '',
          passQuestionsNum: '',
          // passQuestionsRate: '',
          createUserId: '',
          createTime: '',
          updateUserId: '',
          updateTime: '',
          testConditionFlag: '',
          testConditionTime: ''
          // versionNo: '',
          // delFlag: ''
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.unitTestId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.unitTestId) {
            this.$http({
              url: this.$http.adornUrl(`/service/unittest/info/${this.dataForm.unitTestId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.unitTest.courseId
                // this.dataForm.subjectId = data.unitTest.subjectId
                // this.dataForm.unitId = data.unitTest.unitId
                // this.dataForm.unitId = data.unitTest.unitId
                this.dataForm.testTitle = data.unitTest.testTitle
                this.dataForm.testOutline = data.unitTest.testOutline
                this.dataForm.testDetail = data.unitTest.testDetail
                this.dataForm.testStatus = data.unitTest.testStatus
                this.dataForm.openOpenTime = data.unitTest.openOpenTime
                this.dataForm.openEndTime = data.unitTest.openEndTime
                // this.dataForm.testConditionFlag = data.unitTest.testConditionFlag
                // this.dataForm.testConditionTime = data.unitTest.testConditionTime
                this.dataForm.testType = data.unitTest.testType
                // this.dataForm.passFlag = data.unitTest.passFlag
                this.dataForm.testQuestionsNum = data.unitTest.testQuestionsNum
                this.dataForm.passQuestionsNum = data.unitTest.passQuestionsNum
                // this.dataForm.passQuestionsRate = data.unitTest.passQuestionsRate
                this.dataForm.createUserId = data.unitTest.createUserId
                this.dataForm.createTime = data.unitTest.createTime
                this.dataForm.updateUserId = data.unitTest.updateUserId
                this.dataForm.updateTime = data.unitTest.updateTime
                this.dataForm.testConditionFlag = data.unitTest.testConditionFlag
                this.dataForm.testConditionTime = data.unitTest.testConditionTime
                // this.dataForm.versionNo = data.unitTest.versionNo
                // this.dataForm.delFlag = data.unitTest.delFlag
              }
            })
          }
        })
      }
    }
  }
</script>
