<template>
  <el-dialog
    :title="!dataForm.unitTestId ? '追加' : '変更'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="180px">
    <!-- <el-form-item label="講座ID" prop="courseId">
      <el-input v-model="dataForm.courseId" placeholder="講座ID"></el-input>
    </el-form-item>
    <el-form-item label="教科ID" prop="subjectId">
      <el-input v-model="dataForm.subjectId" placeholder="教科ID"></el-input>
    </el-form-item>
    <el-form-item label="単元ID" prop="unitId">
      <el-input v-model="dataForm.unitId" placeholder="単元ID"></el-input>
    </el-form-item>
    <el-form-item label="単元ID" prop="unitId">
      <el-input v-model="dataForm.unitId" placeholder="単元ID"></el-input>
    </el-form-item> -->
    <el-form-item label="テスト名" prop="testTitle">
      <el-input v-model="dataForm.testTitle" placeholder="テスト名" maxlength="50" show-word-limit  type="textarea" autosize></el-input>
    </el-form-item>
    <el-form-item label="テスト概要" prop="testOutline">
      <!-- <Ueditor @ready="editorReady1" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.testOutline" placeholder="テスト概要" autosize maxlength="500" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="テスト説明" prop="testDetail">
      <!-- <Ueditor @ready="editorReady2" v-if='visible'/> -->
      <el-input type="textarea" v-model="dataForm.testDetail" placeholder="テスト説明" autosize maxlength="1000" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="テストステータス" prop="testStatus">
      <el-radio-group v-model="dataForm.testStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
      <!-- <el-input v-model="dataForm.testStatus" placeholder="テストステータス"></el-input> -->
    </el-form-item>
    <el-form-item label="テスト時間制限有無" prop="testConditionFlag">
      <el-radio-group v-model="dataForm.testConditionFlag">
        <el-radio label="0">無</el-radio>
        <el-radio label="1">有</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item v-if="dataForm.testConditionFlag==='1'" label="テスト時間制限（分）" prop="testConditionTime">
      <el-input v-model="dataForm.testConditionTime" placeholder="テスト時間制限（分）" maxlength="10" show-word-limit></el-input>
    </el-form-item>
    <!-- <el-form-item label="公開開始日時" prop="openOpenTime">
      <el-input v-model="dataForm.openOpenTime" placeholder="公開開始日時"></el-input>
    </el-form-item>
    <el-form-item label="公開終了日時" prop="openEndTime">
      <el-input v-model="dataForm.openEndTime" placeholder="公開終了日時"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="テスト時間制限有無" prop="testConditionFlag">
      <el-input v-model="dataForm.testConditionFlag" placeholder="テスト時間制限有無"></el-input>
    </el-form-item> -->
    <!-- <el-form-item label="テスト時間制限（分）" prop="testConditionTime">
      <el-input v-model="dataForm.testConditionTime" placeholder="テスト時間制限（分）"></el-input>
    </el-form-item> -->
    <el-form-item label="テスト方式" prop="testType">
      <el-radio-group v-model="dataForm.testType">
        <el-radio label="0">ランダム出題</el-radio>
        <el-radio label="1">固定出題</el-radio>
      </el-radio-group>
      <!-- <el-input v-model="dataForm.testType" placeholder="テスト方式"></el-input> -->
    </el-form-item>
    <!-- <el-form-item label="合格設定有無" prop="passFlag">
      <el-input v-model="dataForm.passFlag" placeholder="合格設定有無"></el-input>
    </el-form-item> -->
    <el-form-item label="出題数" prop="testQuestionsNum">
      <el-input v-model="dataForm.testQuestionsNum" placeholder="出題数" maxlength="10" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="合格題数" prop="passQuestionsNum">
      <el-input v-model="dataForm.passQuestionsNum" placeholder="合格題数" maxlength="10" show-word-limit></el-input>
    </el-form-item>
    <!-- <el-form-item label="合格率" prop="passQuestionsRate">
      <el-input v-model="dataForm.passQuestionsRate" placeholder="合格率"></el-input>
    </el-form-item>
    <el-form-item label="作成者" prop="createUserId">
      <el-input v-model="dataForm.createUserId" placeholder="作成者"></el-input>
    </el-form-item>
    <el-form-item label="作成日時" prop="createTime">
      <el-input v-model="dataForm.createTime" placeholder="作成日時"></el-input>
    </el-form-item>
    <el-form-item label="更新者" prop="updateUserId">
      <el-input v-model="dataForm.updateUserId" placeholder="更新者"></el-input>
    </el-form-item>
    <el-form-item label="更新日時" prop="updateTime">
      <el-input v-model="dataForm.updateTime" placeholder="更新日時"></el-input>
    </el-form-item>
    <el-form-item label="バージョン番号" prop="versionNo">
      <el-input v-model="dataForm.versionNo" placeholder="バージョン番号"></el-input>
    </el-form-item>
    <el-form-item label="削除フラグ" prop="delFlag">
      <el-input v-model="dataForm.delFlag" placeholder="削除フラグ"></el-input>
    </el-form-item> -->
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import Ueditor from '../../../demo/ueditor'
  export default {
    components: {
      Ueditor
    },
    data () {
      var validateNumber = (rule, value, callback) => {
        if (!/^([1-9]\d*|[0]{1,1})$/.test(value)) {
          callback(new Error('整数を入力してください'))
        } else {
          if (value > this.dataForm.testQuestionsNum) {
            callback(new Error('出題数未満の数字を入力してください'))
          } else {
            callback()
          }
        }
      }
      return {
        visible: false,
        dataForm: {
          unitTestId: 0,
          courseId: '',
          subjectId: '',
          unitId: '',
          testTitle: '',
          testOutline: '',
          testDetail: '',
          testStatus: '0',
          // openOpenTime: '',
          // openEndTime: '',
          // testConditionFlag: '',
          // testConditionTime: '',
          testType: '0',
          // passFlag: '',
          testQuestionsNum: '',
          testConditionFlag: '0',
          testConditionTime: '',
          passQuestionsNum: ''
          // passQuestionsRate: '',
          // createUserId: '',
          // createTime: '',
          // updateUserId: '',
          // updateTime: '',
          // versionNo: '',
          // delFlag: ''
        },
        dataRule: {
          // courseId: [
          //   { required: true, message: '講座ID不能为空', trigger: 'blur' }
          // ],
          // subjectId: [
          //   { required: true, message: '教科ID不能为空', trigger: 'blur' }
          // ],
          // unitId: [
          //   { required: true, message: '単元ID不能为空', trigger: 'blur' }
          // ],
          testTitle: [
            { required: true, message: 'テスト名を入力してください', trigger: 'blur' }
          ],
          // testOutline: [
          //   { required: true, message: 'テスト概要を入力してください', trigger: 'blur' }
          // ],
          // testDetail: [
          //   { required: true, message: 'テスト説明を入力してください', trigger: 'blur' }
          // ],
          testStatus: [
            { required: true, message: 'テストステータスを選択してください', trigger: 'blur' }
          ],
          // openOpenTime: [
          //   { required: true, message: '公開開始日時不能为空', trigger: 'blur' }
          // ],
          // openEndTime: [
          //   { required: true, message: '公開終了日時不能为空', trigger: 'blur' }
          // ],
          // testConditionFlag: [
          //   { required: true, message: 'テスト時間制限有無不能为空', trigger: 'blur' }
          // ],
          // testConditionTime: [
          //   { required: true, message: 'テスト時間制限（分）不能为空', trigger: 'blur' }
          // ],
          testType: [
            { required: true, message: 'テスト方式を選択してください', trigger: 'blur' }
          ],
          testConditionFlag: [
            { required: true, message: 'テスト時間制限有無を選択してください', trigger: 'blur' }
          ],
          testConditionTime: [
            { required: true, message: 'テスト時間制限（分）を入力してください', trigger: 'blur' },
            { validator: validateNumber, trigger: 'blur' }
          ],
          // passFlag: [
          //   { required: true, message: '合格設定有無不能为空', trigger: 'blur' }
          // ],
          testQuestionsNum: [
            { required: true, message: '出題数を入力してください', trigger: 'blur' },
            { validator: validateNumber, trigger: 'blur' }
          ],
          passQuestionsNum: [
            { required: true, message: '合格題数を入力してください', trigger: 'blur' },
            { validator: validateNumber, trigger: 'blur' }
          ]
          // passQuestionsRate: [
          //   { required: true, message: '合格率不能为空', trigger: 'blur' }
          // ],
          // createUserId: [
          //   { required: true, message: '作成者不能为空', trigger: 'blur' }
          // ],
          // createTime: [
          //   { required: true, message: '作成日時不能为空', trigger: 'blur' }
          // ],
          // updateUserId: [
          //   { required: true, message: '更新者不能为空', trigger: 'blur' }
          // ],
          // updateTime: [
          //   { required: true, message: '更新日時不能为空', trigger: 'blur' }
          // ],
          // versionNo: [
          //   { required: true, message: 'バージョン番号不能为空', trigger: 'blur' }
          // ],
          // delFlag: [
          //   { required: true, message: '削除フラグ不能为空', trigger: 'blur' }
          // ]
        }
        // richEditor1: {
        //   instance: null
        // },
        // richEditor2: {
        //   instance: null
        // }
      }
    },
    methods: {
      // editorReady1 (instance) {
      //   this.richEditor1.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   console.log(this.dataForm.courseOutline)
      //   this.richEditor1.instance.setContent(this.dataForm.testOutline)
      // },
      // editorReady2 (instance) {
      //   this.richEditor2.instance = instance
      //   // let currentContent = this.richEditor.object[this.richEditor.parameterName]
      //   this.richEditor2.instance.setContent(this.dataForm.testDetail)
      // },
      // courseReturn () {
      //   this.$options.methods.removeTextArea()
      //   this.visible = false
      // },
      // handleClose (done) {
      //   this.$options.methods.removeTextArea()
      //   done()
      // },
      // removeTextArea () {
      //   let editorTextArea = document.getElementsByName('editorValue')
      //   let length = editorTextArea.length
      //   for (let i = 0; i < length; i++) {
      //     document.getElementsByName('editorValue')[0].remove()
      //   }
      // },
      init (courseId, subjectId, unitId, id) {
        this.dataForm.courseId = courseId
        this.dataForm.subjectId = subjectId
        this.dataForm.unitId = unitId
        this.dataForm.unitTestId = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.unitTestId) {
            this.$http({
              url: this.$http.adornUrl(`/service/unittest/info/${this.dataForm.unitTestId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                // this.dataForm.courseId = data.unitTest.courseId
                // this.dataForm.subjectId = data.unitTest.subjectId
                // this.dataForm.unitId = data.unitTest.unitId
                // this.dataForm.unitId = data.unitTest.unitId
                this.dataForm.testTitle = data.unitTest.testTitle
                this.dataForm.testOutline = data.unitTest.testOutline
                this.dataForm.testDetail = data.unitTest.testDetail
                this.dataForm.testStatus = data.unitTest.testStatus
                // this.dataForm.openOpenTime = data.unitTest.openOpenTime
                // this.dataForm.openEndTime = data.unitTest.openEndTime
                // this.dataForm.testConditionFlag = data.unitTest.testConditionFlag
                // this.dataForm.testConditionTime = data.unitTest.testConditionTime
                this.dataForm.testType = data.unitTest.testType
                // this.dataForm.passFlag = data.unitTest.passFlag
                this.dataForm.testQuestionsNum = data.unitTest.testQuestionsNum
                this.dataForm.testConditionFlag = data.unitTest.testConditionFlag
                this.dataForm.testConditionTime = data.unitTest.testConditionTime
                this.dataForm.passQuestionsNum = data.unitTest.passQuestionsNum
                // this.dataForm.passQuestionsRate = data.unitTest.passQuestionsRate
                // this.dataForm.createUserId = data.unitTest.createUserId
                // this.dataForm.createTime = data.unitTest.createTime
                // this.dataForm.updateUserId = data.unitTest.updateUserId
                // this.dataForm.updateTime = data.unitTest.updateTime
                // this.dataForm.versionNo = data.unitTest.versionNo
                // this.dataForm.delFlag = data.unitTest.delFlag
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        // this.dataForm.testOutline = this.richEditor1.instance.getContent()
        // this.dataForm.testDetail = this.richEditor2.instance.getContent()
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/service/unittest/${!this.dataForm.unitTestId ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'unitTestId': this.dataForm.unitTestId || undefined,
                'courseId': this.dataForm.courseId,
                'subjectId': this.dataForm.subjectId,
                'unitId': this.dataForm.unitId,
                'testTitle': this.dataForm.testTitle,
                'testOutline': this.dataForm.testOutline,
                'testDetail': this.dataForm.testDetail,
                'testStatus': this.dataForm.testStatus,
                // 'openOpenTime': this.dataForm.openOpenTime,
                // 'openEndTime': this.dataForm.openEndTime,
                // 'testConditionFlag': this.dataForm.testConditionFlag,
                // 'testConditionTime': this.dataForm.testConditionTime,
                'testType': this.dataForm.testType,
                // 'passFlag': this.dataForm.passFlag,
                'testQuestionsNum': this.dataForm.testQuestionsNum,
                'testConditionFlag': this.dataForm.testConditionFlag,
                'testConditionTime': this.dataForm.testConditionTime,
                'passQuestionsNum': this.dataForm.passQuestionsNum
                // 'createUserId': this.dataForm.createUserId,
                // 'createTime': this.dataForm.createTime,
                // 'updateUserId': this.dataForm.updateUserId,
                // 'updateTime': this.dataForm.updateTime,
                // 'versionNo': this.dataForm.versionNo,
                // 'delFlag': this.dataForm.delFlag
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作は成功しました。',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    // this.$options.methods.removeTextArea()
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
