
/* 背景色 */
.bg-grey {
	background-color:#F3F3F3;
}

.bg-yel {
	background-color:#feffea;
}

/* 文字サイズ */
.fs-s {
	font-size:small;
	line-height:1.2em;
}
/* ステップフロー */
.step{
  list-style-type: none;
  display:table;
  width:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}
.step li{
  display:table-cell;
  position:relative;
  background: #504944;
  padding: 1em 0.5em 1em 2em;
  color: #fff;
}
.step li:last-child{
  padding-right: 1em;
}
.step li:last-child:before,
.step li:last-child:after{
  display:none;
}
.step li:before,
.step li:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
.step li:before{
  top:-15px;
  right:-1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li:after{
  top:-15px;
  right:-.8em;
  border-style: solid;
  border-color: transparent transparent transparent #504944;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li.is-current{
  background: #9bbb30;
  font-weight: bold;
}
.step li.is-current:after{
  border-color: transparent transparent transparent #9bbb30;
}


/* form-nav */

.progressbar {
  display: flex;
  flex-wrap: wrap;
}
.progressbar .item {
    position: relative;
    width: 33%;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    line-height: 1.5;
    background: #F5F5F5;
    color: #999999;
}
.progressbar .item:not(:last-child)::before,
.progressbar .item:not(:last-child)::after {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 100%;
    content: '';
    border: 37px solid transparent;
    border-left: 20px solid #F5F5F5;
    margin: auto;
}
.progressbar .item:not(:last-child)::before {
    margin-left: 1px;
    border-left-color: #FFF;
}

@media screen and (max-width: 767px) {
.progressbar .item {
    font-size: 11px;
    line-height: 1.4;
    padding: 10px 0;
}
.progressbar .item:not(:last-child)::before,
.progressbar .item:not(:last-child)::after {
    border-width: 25px;
    border-left-width: 12px;
}
}

/* active */

.progressbar .item.active {
    z-index: 1;
    background: #0070BD;
    color: #FFF;
}
.progressbar .item.active:not(:last-child)::after {
    border-left-color: #0070bd;
}
.progressbar .item.active:not(:last-child)::before {
    border-left: none;
}


/* step見出し */
h1.steph1 {
  position: relative;
  overflow: hidden;
  border: solid 2px #27acd9;
  font-size:28px;
  padding:10px;
  margin:10px 0;
  background-color: #E3F1FF;
}
h1.steph1 span {
  padding:10px;
  width:5em;
  color: #27acd9;
}

h3.steph3 {
	border-bottom: solid 3px #27acd9;
	padding: 10px 1em;
}

h4.steph4 {
	border-bottom: dashed 2px #27acd9;
	padding: 10px 0;
}

/* QA */
.qaContainer dt {
padding: 10px 10px 10px 35px;
border-radius: 5px;
background: #f8f9fa;
text-indent: -25px;
}
.qaContainer dt:before {
	content: "Q.";
	font-weight: bold;
	margin-right: 7px;
	color: #336699;
}
.qaContainer dd {
margin: 20px 10px 40px 35px;
text-indent: -25px;
}
.qaContainer dd:before {
	content: "A.";
	color: #CC6666;
	font-weight: bold;
	margin-right: 7px;
}

/* ヘッダーフッター */
header{
  padding: 30px 0;
  background: #333c5e;
  text-align:center;
  color:#FFF;
  width: 100%;
  font-size:25px;
}
footer{
  padding: 30px 0;
  background: #333c5e;
  text-align:center;
  color:#FFF;
  bottom: 0;
  width: 100%;
}

/* 左寄せ */
.text-left {
	text-align: left;
	display: inline-block;
}

/* タイトル */
h1.terms {
  text-align:center;
  font-size: 1.5rem;
}

h2.terms {
  border-bottom: solid 3px black;
  font-size: 1.2rem;
}

/* タブの文字色変更
.nav-pills .nav-link.active{
  background-color: grey;
}

.nav-pills .nav-link{
  color: grey;
}
 */

/* 文字サイズ追加 */
.fs-05 {
  font-size: 1.1rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
  margin-bottom: 1rem !important;
}

