<template>

  <div class="mod-demo-echarts">
    <!-- <el-form :inline="true" :model="dataForm">
      <el-form-item>
        <el-input v-model="dataForm.questionTitle" placeholder="問題名" clearable></el-input>
      </el-form-item>  
      <el-form-item>
        <el-button @click="getDataList()">検索</el-button>
      </el-form-item>
    </el-form> -->
    <el-row :gutter="20">
      <el-col :span="24">
        <el-card>
          <div id="J_chartBarBox" class="chart-box"></div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import echarts from 'echarts'
  export default {
    data () {
      return {
        chartBar: null,
        seriesData: [],
        titleText: ''
      }
    },
    mounted () {
      this.getSeriesData()
    },
    activated () {
      // 由于给echart添加了resize事件, 在组件激活时需要重新resize绘画一次, 否则出现空白bug
      if (this.chartBar) {
        this.chartBar.resize()
      }
    },
    // created () {
    //   this.getSeriesData()
    // },
    methods: {
      getSeriesData () {
        this.$http({
          url: this.$http.adornUrl('/service/home/homeData'),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.titleText = data.homeData.loginGroupName + '統計数量'
            this.seriesData = data.homeData.seriesData
            this.initChartBar()
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      // submitForm () {
        // this.seriesData = [1, 1, 1, 1]
        // this.initChartBar()
      // },
      // 柱状图
      initChartBar () {
        // this.$http({
        //   url: this.$http.adornUrl('/service/home/seriesData'),
        //   method: 'get',
        //   params: this.$http.adornParams()
        // }).then(({data}) => {
        //   if (data && data.code === 0) {
        //     this.seriesData = data.seriesData
        //   } else {
        //     this.$message.error(data.msg)
        //   }
        // })
        var option = {
          // 标题
          title: {
            text: this.titleText,
            subtext: 'StudyPackシステム',
            left: 'left'
            // borderColor: 'red',
            // borderWidth: 3
          },
          // 工具箱
          toolbox: {
            show: true,
            feature: {
              saveAsImage: {
                title: '画像保存',
                show: true
              },
              dataView: {
                title: 'データ',
                show: true,
                readOnly: true,
                lang: ['データ', '閉じる', '更新']
              }
            }
          },
          tooltip: {
            trigger: 'axis'
          },
          // 图例
          // legend: {
          //   data: ['数量']
          // },
          // x轴
          xAxis: {
            data: ['受講者合計', 'オンライン受講者人数', 'テスト合計', '講座合計']
          },
          yAxis: {},
          // 数据
          series: [{
            name: this.titleText,
            type: 'bar',
            data: this.seriesData,
            barWidth: '50%',
            itemStyle: {
              normal: {
                label: {
                  show: true,
                  position: 'top',
                  textStyle: {
                    color: 'black',
                    fontSize: 16
                  }
                }
              }
            }
          }
          ]
        }
        this.chartBar = echarts.init(document.getElementById('J_chartBarBox'))
        this.chartBar.setOption(option)
        window.addEventListener('resize', () => {
          this.chartBar.resize()
        })
      }
    }
  }
</script>

<style lang="scss">
  .mod-demo-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
  }
</style>
