<template>
  <div class="update-password-main">
    <h3 class="update-title">デフォルトのパスワード変更</h3>
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" label-width="130px">
      <el-form-item label="ユーザ名:">
        <span>{{ dataForm.userName }}</span>
      </el-form-item>
      <el-form-item label="旧パスワード:" prop="password">
        <el-input type="password" v-model="dataForm.password"></el-input>
      </el-form-item>
      <el-form-item label="新パスワード:" prop="newPassword">
        <el-input type="password" v-model="dataForm.newPassword"></el-input>
      </el-form-item>
      <el-form-item label="確認パスワード:" prop="confirmPassword">
        <el-input type="password" v-model="dataForm.confirmPassword"></el-input>
      </el-form-item>
    </el-form>
    <div style="text-align:center"> 
      <el-button >キャンセル</el-button>
      <el-button type="primary" @click="dataFormSubmit()">確定</el-button>
    </div>
  </div>
</template>

<script>
  import { clearLoginInfo } from '@/utils'
  export default {
    data () {
      var validateConfirmPassword = (rule, value, callback) => {
        if (this.dataForm.newPassword !== value) {
          callback(new Error('確認パスワードと新パスワードが一致しません'))
        } else {
          callback()
        }
      }
      return {
        visible: false,
        dataForm: {
          userName: '',
          password: '',
          newPassword: '',
          confirmPassword: ''
        },
        dataRule: {
          password: [
            { required: true, message: '旧パスワードを入力してください', trigger: 'blur' }
          ],
          newPassword: [
            { required: true, message: '新パスワードを入力してください', trigger: 'blur' }
          ],
          confirmPassword: [
            { required: true, message: '確認パスワードを入力してください', trigger: 'blur' },
            { validator: validateConfirmPassword, trigger: 'blur' }
          ]
        }
      }
    },
    // computed: {
    //   userName: {
    //     get () { return this.$store.state.user.name }
    //   }
      // mainTabs: {
      //   get () { return this.$store.state.common.mainTabs },
      //   set (val) { this.$store.commit('common/updateMainTabs', val) }
      // }
    // },
    created () {
      this.dataForm.userName = this.$route.query.userName
    },
    methods: {
      // 初始化
      init () {
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl('/sys/user/password'),
              method: 'post',
              data: this.$http.adornData({
                'password': this.dataForm.password,
                'newPassword': this.dataForm.newPassword
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$nextTick(() => {
                      this.mainTabs = []
                      clearLoginInfo()
                      this.$router.replace({ name: 'login' })
                    })
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>

<style lang="scss">
    .update-password-main {
      position: absolute;
      top: 0;
      right: 35%;
      padding: 150px 60px 300px;
      width: 480px;
      min-height: 100%;
      background-color: #fff;
    }
    .update-title {
      font-size: 16px;
      text-align:center
    }
</style>
