@import "normalize";       // api: https://github.com/necolas/normalize.css/
@import "variables";       // 站点变量
@import "base";

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  }
  
  label {
    font-weight: 700;
  }
  
  html {
    height: 100%;
    box-sizing: border-box;
  }
  
  #app {
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .detail-div-line {
    word-break:break-all;
  }

  .el-table th{
    background: #f8f6ee;
  }
  
  .no-padding {
    padding: 0px !important;
  }
  
  .padding-content {
    padding: 4px 0;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  a,
  a:focus,
  a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
  
  div:focus {
    outline: none;
  }
  
  .fr {
    float: right;
  }
  
  .fl {
    float: left;
  }
  
  .pr-5 {
    padding-right: 5px;
  }
  
  .pl-5 {
    padding-left: 5px;
  }
  
  .block {
    display: block;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .inlineBlock {
    display: block;
  }
  
  .clearfix {
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
  }
  
  aside {
    background: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    a {
      color: #337ab7;
      cursor: pointer;
  
      &:hover {
        color: rgb(32, 160, 255);
      }
    }
  }
  
  //main-container全局样式
  .app-container {
    padding: 20px;
  }
  
  .components-container {
    margin: 30px 50px;
    position: relative;
  }
  
  .pagination-container {
    margin-top: 30px;
  }
  
  .text-center {
    text-align: center
  }
  
  .sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  
    .subtitle {
      font-size: 20px;
      color: #fff;
    }
  
    &.draft {
      background: #d0d0d0;
    }
  
    &.deleted {
      background: #d0d0d0;
    }
  }
  
  .link-type,
  .link-type:focus {
    color: #337ab7;
    cursor: pointer;
  
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
  
  .filter-container {
    padding-bottom: 10px;
  
    .filter-item {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;
    }
  }
  
  //refine vue-multiselect plugin
  .multiselect {
    line-height: 16px;
  }
  
  .multiselect--active {
    z-index: 1000 !important;
  }
  
  .link-left {
    margin-left: 5px;
  }
  
  .question-item-label {
    margin-top: 10px;
    margin-bottom: 20px !important;
  }
  
  .question-item-remove {
    margin-left: 20px;
  }
  
  .question-item-content-input {
    margin-left: 8px;
    width: 60%;
  }
  
  .question-item-span {
    vertical-align: middle;
    font-size: 14px;
    color: #606266;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 10px;
  }
  
  .question-item-rate {
    line-height: 2.5;
  }
  
  .q-title {
    margin: 0px 5px;
  
    p {
      display: inline !important;
    }
  }
  
  
  .q-content {
    p {
      display: inline !important;
    }
  }
  
  .q-item-prefix {
    margin: 5px 10px;
  }
  
  .q-item-contain {
    display: inline-block;
  }
  
  .q-item-content {
    margin: 5px;
    white-space: normal;
  
    p {
      display: inline !important;
    }
  }
  
  .gapfilling-span {
    color: red;
    padding: 0px 30px;
    margin: 0px 5px;
    border-bottom: 3px double red;
  }
  
  .exampaper-item-box {
    margin-top: 20px;
  }
  
  .exampaper-item {
    margin: 5px 0px;
  }
  
  .ueditor-p {
    display: inline !important;
  }
  
  
  .foot-copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  
    span {
      line-height: 20px;
      text-align: center;
      color: #606266;
      margin: 0px 5px;
      font-size: 14px;
    }
  }
  
  .account-foot-copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  
    span {
      line-height: 20px;
      text-align: center;
      color: rgb(179, 185, 192);
      margin: 0px 5px;
      font-size: 14px;
    }
  }
  