<template>
  <div class="comps-filter">
    <el-input placeholder="コースを検索" v-model="searchKey" class="input-with-select">
      <el-select v-model="category" slot="prepend" class="comps-filter-select">
        <el-option
          v-for="item in categories"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>
      <el-button slot="append" icon="el-icon-search"></el-button>
    </el-input>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchKey: '',
      categories: [
        {
          value: '',
          label: 'すべてのカテゴリ',
        },
        {
          value: '1',
          label: 'カテゴリ1',
        },
        {
          value: '2',
          label: 'カテゴリ2',
        },
        {
          value: '3',
          label: 'カテゴリ3',
        },
        {
          value: '4',
          label: 'カテゴリ4',
        },
        {
          value: '5',
          label: 'カテゴリ5',
        },
      ],
      category: '',
    };
  },
  mounted() {
  },
};
</script>

<style lang="less">
  .comps-filter {
    margin-bottom: 20px;

    .input-with-select {
      .el-input-group__prepend {
        background-color: #fff;

        .comps-filter-select {
          width: 180px;
        }
      }
    }
  }

</style>
