<template>
<div class="app-container">
  <el-form :model="form" ref="form" label-width="130px" v-loading="formLoading" :rules="rules">
    <el-form-item label="アンケート件名:" prop="questionNaireName">
      {{form.questionNaireName}}
    </el-form-item>
    <el-form-item label="問題名:" prop="questionName" required>
      <el-input v-model="form.questionName" />
    </el-form-item>
    <el-form-item label="選択肢:" required>
      <el-form-item :v-if="item.flag!=='delete'" :label="''+(index+1)" :key="index+1" v-for="(item,index) in form.items" :prop="'items.' + index + '.content'" :rules="{
      required: true, message: '選択肢'+(index+1)+'を入力してください', trigger: 'blur'}" label-width="50px" class="question-item-label">
        <!-- <el-input v-model="item.prefix"  style="width:50px;" /> -->
        <el-input v-model="item.content" class="question-item-content-input" />
        <el-button type="danger" size="mini" class="question-item-remove" icon="el-icon-delete" @click="questionItemRemove(index)"></el-button>
      </el-form-item>
    </el-form-item>
    <el-form-item label="問題文:" prop="questionContent">
      <el-input type="textarea" v-model="form.questionContent" />
    </el-form-item>
    <el-form-item label="解説文:" prop="questionExplanation">
      <el-input type="textarea" v-model="form.questionExplanation" />
    </el-form-item>
    <el-form-item label="備考:" prop="questionRemarks">
      <el-input type="textarea" v-model="form.questionRemarks" />
    </el-form-item>
    <el-form-item label="問題ステータス:" prop="questionStatus">
      <el-radio-group v-model="form.questionStatus">
        <el-radio label="0">公開</el-radio>
        <el-radio label="1">非公開</el-radio>
      </el-radio-group>
      <!-- <el-input v-model="dataForm.testStatus" placeholder="テストステータス"></el-input> -->
    </el-form-item>
    <!-- <el-form-item label="標準解答:" prop="standardAnswers" required>
        <el-radio-group v-model="form.standardAnswers">
          <el-radio  v-for="item in form.items"  :key="item.prefix"  :label="item.prefix">{{item.prefix}}</el-radio>
        </el-radio-group>
      </el-form-item> -->
    <el-form-item>
      <el-button type="primary" @click="submitForm">確定</el-button>
      <!-- <el-button @click="resetForm">リセット</el-button> -->
      <el-button type="success" @click="questionItemAdd">追加選択肢</el-button>
    </el-form-item>
  </el-form>
</div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        questionNaireQuestionId: null,
        questionName: '',
        questionContent: '',
        questionExplanation: '',
        questionRemarks: '',
        items: [
          { questionNaireQuestionChoicesId: '', content: '' },
          { questionNaireQuestionChoicesId: '', content: '' },
          { questionNaireQuestionChoicesId: '', content: '' },
          { questionNaireQuestionChoicesId: '', content: '' }
        ],
        questionStatus: ''
      },
      formLoading: false,
      rules: {
        questionName: [
          { required: true, message: '問題名を入力してください', trigger: 'blur' }
        ],
        fixFlag: [
          { required: true, message: '固定フラグを選択してください', trigger: 'blur' }
        ],
        questionContent: [
          { required: true, message: '問題文を入力してください', trigger: 'blur' }
        ],
        questionExplanation: [
          { required: true, message: '解説文を入力してください', trigger: 'blur' }
        ],
        questionRemarks: [
          { required: true, message: '備考を入力してください', trigger: 'blur' }
        ],
        questionStatus: [
          { required: true, message: '問題ステータスを選択してください', trigger: 'blur' }
        ],
        standardAnswers: [
          { required: true, message: '標準解答を選択してください', trigger: 'change' }
        ],
        items: [
          { required: true, message: '選択肢を入力してください', trigger: 'blur' }
        ]
      },
      richEditor: {
        dialogVisible: false,
        object: null,
        parameterName: '',
        instance: null
      }
    }
  },
  created () {
    this.form.questionNaireId = this.$route.query.questionNaireId
    this.form.questionNaireName = this.$route.query.questionNaireName
    this.form.questionNaireQuestionId = this.$route.query.questionNaireQuestionId
    this.form.questionName = this.$route.query.questionName
    this.form.courseId = this.$route.query.courseId

    if (this.form.questionNaireQuestionId) {
      this.$http({
        url: this.$http.adornUrl(`/service/questionnairequestion/info/${this.form.questionNaireQuestionId}`),
        method: 'get',
        params: this.$http.adornParams()
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.form.questionName = data.questionNaireQuestion.questionName
          this.form.questionContent = data.questionNaireQuestion.questionContent
          this.form.questionExplanation = data.questionNaireQuestion.questionExplanation
          this.form.questionRemarks = data.questionNaireQuestion.questionRemarks
          this.form.questionStatus = data.questionNaireQuestion.questionStatus
          this.form.items = data.questionNaireQuestion.items
        }
      })
    }
  },
  methods: {
    questionItemRemove (index) {
      this.form.items.splice(index, 1)
    },
    questionItemAdd () {
      this.form.items.push({ questionNaireQuestionChoicesId: '', content: '' })
    },
    submitForm () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.$http({
            url: this.$http.adornUrl(`/service/questionnairequestion/${!this.form.questionNaireQuestionId ? 'save' : 'update'}`),
            method: 'post',
            data: this.$http.adornData({
              'questionNaireQuestionId': this.form.questionNaireQuestionId || undefined,
              'questionNaireId': this.form.questionNaireId,
              'courseId': this.form.courseId,
              'questionName': this.form.questionName,
              'questionType': '1',
              // 'imageCatalogPath': this.form.imageCatalogPath,
              // 'imageCatalogS3BucketName': this.form.imageCatalogS3BucketName,
              // 'imageCatalogS3ObjectKey': this.form.imageCatalogS3ObjectKey,
              'questionContent': this.form.questionContent,
              'questionExplanation': this.form.questionExplanation,
              'questionRemarks': this.form.questionRemarks,
              'questionStatus': this.form.questionStatus,
              'items': this.form.items
            })
          }).then(({ data }) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作は成功しました。',
                type: 'success'
              })
              let mainTabs = this.$store.state.common.mainTabs.slice()
              let mainTabsActiveName = this.$store.state.common.mainTabsActiveName.slice()
              mainTabs = mainTabs.filter(item => item.name !== mainTabsActiveName)
              this.$store.commit('common/updateMainTabs', mainTabs)
              this.$router.push({
                path: '/modules/service/questionnaire/testquestions',
                query: {
                  questionNaireId: this.form.questionNaireId,
                  questionNaireName: this.form.questionNaireName
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }
      })
    },
    resetForm () {
      this.$refs['form'].resetFields()
    }
  }
}
</script>
