<template>
<div class="mod-config">
  <el-form :inline="true" :model="dataForm" >
    <el-form-item label="アンケート名:" prop="testTitle">
      {{dataForm.questionNaireName}}
      <!-- <el-input v-model="dataForm.unitName" :disabled="true" ></el-input> -->
    </el-form-item>
    <el-form-item>
      <el-input v-model="dataForm.questionName" placeholder="問題名" clearable></el-input>
    </el-form-item>

    <el-form-item>
      <el-button @click="getDataListSearch()">検索</el-button>
      <el-popover placement="bottom" trigger="click">
        <el-button type="warning" size="mini" v-for="item in editUrlEnum" :key="item.key" @click="routerJumpQuestion(item)">{{item.name}}
        </el-button>
        <el-button v-if="isAuth('service:questionnairequestion:save')" slot="reference" type="primary" class="link-left">追加</el-button>
      </el-popover>
      <!-- <el-button v-if="isAuth('service:questionnairequestion:save')" type="primary" @click="addOrUpdateHandle()">追加</el-button> -->
      <el-button v-if="isAuth('service:questionnairequestion:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">複数削除</el-button>
    </el-form-item>
  </el-form>
  <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle" style="width: 100%;">
    <el-table-column type="selection" header-align="center" align="center" width="50">
    </el-table-column>
    <el-table-column prop="questionNaireQuestionId" header-align="center" align="center" label="テスト問題ID">
    </el-table-column>
    <!-- <el-table-column
        prop="courseId"
        header-align="center"
        align="center"
        label="講座ID">
      </el-table-column>
      <el-table-column
        prop="subjectId"
        header-align="center"
        align="center"
        label="教科ID">
      </el-table-column>
      <el-table-column
        prop="unitId"
        header-align="center"
        align="center"
        label="単元ID">
      </el-table-column>
      <el-table-column
        prop="unitTestId"
        header-align="center"
        align="center"
        label="単元テストID">
      </el-table-column> -->
    <el-table-column prop="questionName" header-align="center" align="center" label="問題名">
    </el-table-column>
    <el-table-column prop="questionType" header-align="center" align="center" label="出題形式">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.questionType === '0'" size="small">択一</el-tag>
        <el-tag v-if="scope.row.questionType === '1'" size="small">順不同</el-tag>
        <el-tag v-if="scope.row.questionType === '2'" size="small">記述</el-tag>
      </template>
    </el-table-column>
    <!-- <el-table-column
        prop="imageCatalogPath"
        header-align="center"
        align="center"
        label="イメージカタログ画像PATH">
      </el-table-column>
      <el-table-column
        prop="imageCatalogS3BucketName"
        header-align="center"
        align="center"
        label="イメージカタログ画像AWS S3 BUCKET名">
      </el-table-column>
      <el-table-column
        prop="imageCatalogS3ObjectKey"
        header-align="center"
        align="center"
        label="イメージカタログ画像AWS S3 オブジェクトキー">
      </el-table-column> -->
    <!-- <el-table-column
        prop="questionContent"
        header-align="center"
        align="center"
        label="問題文">
      </el-table-column>
      <el-table-column
        prop="questionExplanation"
        header-align="center"
        align="center"
        label="解説文">
      </el-table-column> -->
    <!-- <el-table-column
        prop="questionRemarks"
        header-align="center"
        align="center"
        label="備考">
      </el-table-column> -->
    <el-table-column prop="questionStatus" header-align="center" align="center" label="問題ステータス">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.questionStatus === '1'" size="small" type="danger">非公開</el-tag>
        <el-tag v-else size="small">公開</el-tag>
      </template>
    </el-table-column>
    <!-- <el-table-column
        prop="openStartTime"
        header-align="center"
        align="center"
        label="公開開始日時">
      </el-table-column>
      <el-table-column
        prop="openEndTime"
        header-align="center"
        align="center"
        label="公開終了日時">
      </el-table-column>
      <el-table-column
        prop="choicesNumber"
        header-align="center"
        align="center"
        label="選択肢数">
      </el-table-column>
      <el-table-column
        prop="standardAnswers"
        header-align="center"
        align="center"
        label="標準解答">
      </el-table-column> -->
    <el-table-column prop="createUserId" header-align="center" align="center" label="作成者ID">
    </el-table-column>
    <el-table-column prop="createTime" header-align="center" align="center" label="作成日時" width="180px">
    </el-table-column>
    <!-- <el-table-column
        prop="updateUserId"
        header-align="center"
        align="center"
        label="更新者">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        header-align="center"
        align="center"
        label="更新日時">
      </el-table-column>
      <el-table-column
        prop="versionNo"
        header-align="center"
        align="center"
        label="バージョン番号">
      </el-table-column>
      <el-table-column
        prop="delFlag"
        header-align="center"
        align="center"
        label="削除フラグ">
      </el-table-column> -->
    <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
      <template slot-scope="scope">
        <el-button type="text" size="small" @click="updateHandle(scope.row)">変更</el-button>
        <el-button type="text" size="small" @click="deleteHandle(scope.row.questionNaireQuestionId)">削除</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage" layout="total, sizes, prev, pager, next, jumper">
  </el-pagination>
  <!-- <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update> -->
</div>
</template>

<script>
// import AddOrUpdate from './questionnairequestion-add-or-update'
export default {
  data () {
    return {
      dataForm: {
        questionNaireId: '',
        questionNaireName: '',
        questionNaireQuestionId: '',
        questionName: '',
        courseId: ''
      },
      dataList: [],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false,
      editUrlEnum: [{ key: '0', value: 'questionNaire-single-choice', name: '択一' },
        { key: '1', value: 'questionNaire-multiple-choice', name: '順不同' },
        { key: '2', value: 'questionNaire-gap-filling', name: '記述' }
      ]
    }
  },
  // components: {
  //   AddOrUpdate
  // },
  activated () {
    this.getDataList()
  },
  created () {
    this.dataForm.questionNaireId = this.$route.query.questionNaireId
    this.dataForm.questionNaireName = this.$route.query.questionNaireName
    this.dataForm.courseId = this.$route.query.courseId
  },
  methods: {
    getDataListSearch () {
      this.dataListLoading = true
      this.pageIndex = 1
      this.pageSize = 10
      this.getDataList()
    },
    getDataList () {
      this.dataListLoading = true
      this.$http({
        url: this.$http.adornUrl('/service/questionnairequestion/list'),
        method: 'get',
        params: this.$http.adornParams({
          'page': this.pageIndex,
          'limit': this.pageSize,
          'questionName': this.dataForm.questionName
        })
      }).then(({ data }) => {
        if (data && data.code === 0) {
          this.dataList = data.page.list
          this.totalPage = data.page.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    },
    // ページ数
    sizeChangeHandle (val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    currentChangeHandle (val) {
      this.pageIndex = val
      this.getDataList()
    },
    selectionChangeHandle (val) {
      this.dataListSelections = val
    },
    updateHandle (row) {
      this.editUrlEnum.forEach((item, i) => {
        if (row.questionType === item.key) {
          this.$router.push({
            name: item.value,
            query: {
              courseId: this.dataForm.courseId,
              questionNaireId: this.dataForm.questionNaireId,
              questionNaireName: this.dataForm.questionNaireName,
              questionNaireQuestionId: row.questionNaireQuestionId,
              questionName: this.dataForm.questionName
            }
          })
        }
      })
    },
    deleteHandle (id) {
      var ids = id ? [id] : this.dataListSelections.map(item => {
        return item.questionnairequestionId
      })
      this.$confirm(`[id=${ids.join(',')}]を[${id ? '削除' : '複数削除'}]しますか?`, '確認', {
        confirmButtonText: '確定',
        cancelButtonText: 'キャンセル',
        type: 'warning'
      }).then(() => {
        this.$http({
          url: this.$http.adornUrl('/service/questionnairequestion/delete'),
          method: 'post',
          data: this.$http.adornData(ids, false)
        }).then(({ data }) => {
          if (data && data.code === 0) {
            this.$message({
              message: '操作は成功しました。',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.getDataList()
              }
            })
          } else {
            this.$message.error(data.msg)
          }
        })
      })
    },
    routerJumpQuestion (item) {
      this.$router.push({
        name: item.value,
        query: {
          courseId: this.dataForm.courseId,
          questionNaireId: this.dataForm.questionNaireId,
          questionNaireName: this.dataForm.questionNaireName,
          questionNaireQuestionId: this.dataForm.questionNaireQuestionId,
          questionName: this.dataForm.questionName
        }
      })
    }
  }
}
</script>
